Repository flyteorg/flyte, pull requests merged in 2023-11, with the labels that each got.

#3964 Fix: Set flyteadmin gRPC port to 80 in ingress if using TLS between load balancer and backend
  charts/flyte-core/templates/common/ingress.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_dataplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_dataplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
Labels: bug

#4373 Update order of cluster resources config to work with both uctl and flytectl
  rsts/deployment/configuration/general.rst
Labels: documentation

#4234 [flytepropeller] Add Tests in v1alpha.go including `array_test.go`, `branch_test.go`, `error_test.go`, and `iface_test.go` with 0.13% Coverage Improvment
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/array_test.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/branch_test.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/error_test.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/iface_test.go
Labels: hacktoberfest-accepted

#4357 Instrument opentelemetry
  cmd/single/start.go
  datacatalog/cmd/entrypoints/serve.go
  datacatalog/go.mod
  datacatalog/go.sum
  datacatalog/pkg/repositories/config/postgres.go
  datacatalog/pkg/repositories/gormimpl/artifact.go
  datacatalog/pkg/repositories/gormimpl/dataset.go
  datacatalog/pkg/repositories/gormimpl/reservation.go
  datacatalog/pkg/repositories/gormimpl/tag.go
  datacatalog/pkg/rpc/datacatalogservice/service.go
  flyteadmin/cmd/entrypoints/serve.go
  flyteadmin/go.mod
  flyteadmin/go.sum
  flyteadmin/pkg/repositories/database.go
  flyteadmin/pkg/repositories/gormimpl/description_entity_repo.go
  flyteadmin/pkg/repositories/gormimpl/execution_event_repo.go
  flyteadmin/pkg/repositories/gormimpl/execution_repo.go
  flyteadmin/pkg/repositories/gormimpl/launch_plan_repo.go
  flyteadmin/pkg/repositories/gormimpl/named_entity_repo.go
  flyteadmin/pkg/repositories/gormimpl/node_execution_event_repo.go
  flyteadmin/pkg/repositories/gormimpl/node_execution_repo.go
  flyteadmin/pkg/repositories/gormimpl/project_repo.go
  flyteadmin/pkg/repositories/gormimpl/resource_repo.go
  flyteadmin/pkg/repositories/gormimpl/task_execution_repo.go
  flyteadmin/pkg/repositories/gormimpl/task_repo.go
  flyteadmin/pkg/repositories/gormimpl/workflow_repo.go
  flyteadmin/pkg/server/service.go
  flytecopilot/go.mod
  flytecopilot/go.sum
  flyteidl/go.mod
  flyteidl/go.sum
  flyteplugins/go.mod
  flyteplugins/go.sum
  flytepropeller/cmd/controller/cmd/root.go
  flytepropeller/events/admin_eventsink.go
  flytepropeller/go.mod
  flytepropeller/go.sum
  flytepropeller/pkg/controller/handler.go
  flytepropeller/pkg/controller/nodes/catalog/datacatalog/datacatalog.go
  flytepropeller/pkg/controller/nodes/executor.go
  flytepropeller/pkg/controller/nodes/task/handler.go
  flytestdlib/go.mod
  flytestdlib/go.sum
  flytestdlib/otelutils/config.go
  flytestdlib/otelutils/config_flags.go
  flytestdlib/otelutils/config_flags_test.go
  flytestdlib/otelutils/factory.go
  flytestdlib/otelutils/factory_test.go
  flytestdlib/otelutils/k8s.go
  flytestdlib/storage/cached_rawstore.go
  flytestdlib/storage/protobuf_store.go
  go.mod
  go.sum
Labels: size:XXL

#4480 Delete the .github folder from each subdirectory
  datacatalog/.github/config.yml
  datacatalog/.github/workflows/checks.yml
  datacatalog/.github/workflows/upgrade_automation.yml
  flyteadmin/.github/workflows/checks.yml
  flyteadmin/.github/workflows/upgrade_automation.yml
  flytecopilot/.github/config.yml
  flytecopilot/.github/workflows/checks.yml
  flytecopilot/.github/workflows/upgrade_automation.yml
  flyteidl/.github/config.yml
  flyteidl/.github/workflows/boilerplate-automation.yml
  flyteidl/.github/workflows/buf_publish.yaml
  flyteidl/.github/workflows/master.yml
  flyteidl/.github/workflows/npmpublish.yaml
  flyteidl/.github/workflows/pythonpublish.yaml
  flyteidl/.github/workflows/release-automation.yaml
  flyteidl/.github/workflows/verification.yml
  flyteplugins/.github/workflows/boilerplate-automation.yml
  flyteplugins/.github/workflows/master.yml
  flyteplugins/.github/workflows/pull_request.yml
  flyteplugins/.github/workflows/upgrade_automation.yml
  flytepropeller/.github/workflows/checks.yml
  flytepropeller/.github/workflows/codeql-analysis.yml
  flytepropeller/.github/workflows/krew.yaml
  flytepropeller/.github/workflows/upgrade_automation.yml
  flytestdlib/.github/workflows/master.yml
  flytestdlib/.github/workflows/pull_request.yml
  flytestdlib/.github/workflows/upgrade_automation.yml
Labels: size:XXL

#4468 Fix the loop variable scheduler issue
  flyteadmin/scheduler/core/gocron_scheduler.go
  flyteadmin/scheduler/core/gocron_scheduler_test.go
Labels: size:L, lgtm

#4445 Databricks Plugin Setup Doc Enhancement
  rsts/deployment/plugins/webapi/databricks.rst
Labels: size:L

#4390 Store failed execution in flyteadmin
  flyteadmin/pkg/manager/impl/execution_manager.go
  flyteadmin/pkg/manager/impl/execution_manager_test.go
  flyteadmin/pkg/repositories/transformers/execution.go
  flyteadmin/pkg/repositories/transformers/execution_test.go
Labels: size:L

#4139 Moving from flyteadmin - Upgrade coreos/go-oidc to v3 to pickup claims parsing fixes
  flyteadmin/auth/auth_context.go
  flyteadmin/auth/authzserver/resource_server.go
  flyteadmin/auth/authzserver/resource_server_test.go
  flyteadmin/auth/handlers_test.go
  flyteadmin/auth/interfaces/context.go
  flyteadmin/auth/interfaces/mocks/authentication_context.go
  flyteadmin/auth/token.go
  flyteadmin/auth/token_test.go
  flyteadmin/go.mod
  flyteadmin/go.sum
  go.mod
  go.sum
Labels: size:L

#4495 Remove 'needs' from generate_flyte_manifest
  .github/workflows/generate_flyte_manifest.yml
Labels: size:XS

#4496 Modify how flytecopilot version is parsed from values file
  .github/workflows/create_release.yml
Labels: size:XS

#4497 Ignore component tags in goreleaser
  .goreleaser.yml
  CHANGELOG/CHANGELOG-v1.10.6-b0.md
Labels: size:S

#4498 Fix indentation of `shell: task`
  .github/workflows/create_release.yml
Labels: size:XS

#4489 Implemented simple echo plugin for testing
  flyteplugins/go/tasks/plugins/testing/config.go
  flyteplugins/go/tasks/plugins/testing/config_flags.go
  flyteplugins/go/tasks/plugins/testing/config_flags_test.go
  flyteplugins/go/tasks/plugins/testing/echo.go
  flytepropeller/plugins/loader.go
Labels: size:L, lgtm

#4467 Correctly handle resource overrides in KF plugins
  flyteplugins/go/tasks/pluginmachinery/flytek8s/non_interruptible.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/plugin_exec_context.go
  flyteplugins/go/tasks/plugins/k8s/dask/dask.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/common/common_operator.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/common/common_operator_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/mpi/mpi.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/mpi/mpi_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/pytorch/pytorch.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/pytorch/pytorch_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/tensorflow/tensorflow.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/tensorflow/tensorflow_test.go
  flyteplugins/go/tasks/plugins/k8s/spark/spark.go
Labels: size:XL, lgtm

#4507 Remove deprecated InjectDecoder
  flytepropeller/pkg/controller/controller.go
  flytepropeller/pkg/webhook/entrypoint.go
  flytepropeller/pkg/webhook/pod.go
  flytepropeller/pkg/webhook/pod_test.go
Labels: size:M

#4509 Fix $HOME resolution and webhook namespace
  cmd/single/start.go
  flyteadmin/pkg/runtime/cluster_resource_provider.go
  flytepropeller/cmd/controller/cmd/webhook.go
  flytepropeller/pkg/webhook/config/config.go
  flytepropeller/pkg/webhook/init_cert.go
  flytepropeller/pkg/webhook/pod.go
  rsts/community/contribute.rst
Labels: size:M
