Repository flyteorg/flyte, pull requests merged in 2023-10, with the labels that each got.

#4189 [Monorepo] Enable proxy-authorization in admin client
  flyteidl/clients/go/admin/auth_interceptor.go
  flyteidl/clients/go/admin/auth_interceptor_test.go
  flyteidl/clients/go/admin/client.go
  flyteidl/clients/go/admin/config.go
  flyteidl/clients/go/admin/config_flags.go
  flyteidl/clients/go/admin/config_flags_test.go
  flyteidl/clients/go/admin/pkce/auth_flow_orchestrator.go
  flyteidl/clients/go/admin/pkce/handle_app_call_back.go
  flyteidl/clients/go/admin/pkce/handle_app_call_back_test.go
  flytepropeller/pkg/controller/controller.go
Labels: flytectl, flyteidl

#4217 Fix: Prevent unintended use of proxy authorization when no command is provided
  flyteidl/clients/go/admin/auth_interceptor.go
  flyteidl/clients/go/admin/client.go
Labels: bug

#4022 Document simplified retry behaviour introduced in #3902
  rsts/concepts/tasks.rst
Labels: documentation
