Repository flyteorg/flyte, pull requests merged in 2023-12, with the labels that each got.

#4510 Add note on updating sandbox cluster configuration
  rsts/deployment/deployment/sandbox.rst
Labels: size:M, lgtm

#4512 Add New PR Template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: size:M

#4008 [Docs] Databricks Agent Doc
  rsts/deployment/agents/bigquery.rst
  rsts/deployment/agents/databricks.rst
  rsts/deployment/agents/index.rst
  rsts/deployment/agents/mmcloud.rst
  rsts/deployment/agents/sensor.rst
  rsts/deployment/plugins/webapi/snowflake.rst
Labels: size:L, lgtm

#4519 Bump version of goreleaser gh action to v5
  .github/workflows/create_release.yml
Labels: size:XS

#4471 Kf operators use `GetReplicaFunc` (Error Handling)
  flyteplugins/go/tasks/plugins/k8s/kfoperators/common/common_operator.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/mpi/mpi.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/mpi/mpi_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/pytorch/pytorch.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/pytorch/pytorch_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/tensorflow/tensorflow.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/tensorflow/tensorflow_test.go
Labels: size:M

#4529 Add LogLinks to taskInfo for agent
  flyteidl/gen/pb-cpp/flyteidl/admin/agent.pb.cc
  flyteidl/gen/pb-cpp/flyteidl/admin/agent.pb.h
  flyteidl/gen/pb-go/flyteidl/admin/agent.pb.go
  flyteidl/gen/pb-go/flyteidl/admin/agent.pb.validate.go
  flyteidl/gen/pb-go/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-java/flyteidl/admin/Agent.java
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/admin/agent_pb2.py
  flyteidl/gen/pb_python/flyteidl/admin/agent_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/protos/flyteidl/admin/agent.proto
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin_test.go
Labels: size:XXL, lgtm

#4518 Remove broken link from Understand How Flyte Handles Data page
  rsts/concepts/data_management.rst
Labels: bug, documentation, size:XS

#4310 Fix transient secret sync error handling
  flyteplugins/go/tasks/pluginmachinery/flytek8s/config/config.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper_test.go
Labels: size:M

#4532 [Spark plugin] Fix environment variable ValueFrom for pod templates
  flyteplugins/go/tasks/plugins/k8s/spark/spark.go
  flyteplugins/go/tasks/plugins/k8s/spark/spark_test.go
Labels: size:M, lgtm

#4524 fastcache should not cache lookup on node skip
  flytepropeller/pkg/controller/nodes/executor.go
Labels: size:XS, lgtm

#4528 Removed composition error from branch node
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/branch.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/branch_test.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/zz_generated.deepcopy.go
  flytepropeller/pkg/compiler/test/testdata/snacks-core/k8s/028_core.control_flow.conditions.multiplier_2_2_wf.yaml
  flytepropeller/pkg/compiler/test/testdata/snacks-core/k8s/030_core.control_flow.conditions.multiplier_3_2_wf.yaml
  flytepropeller/pkg/compiler/test/testdata/snacks-core/k8s/039_core.control_flow.conditions.nested_conditions_2_wf.yaml
  flytepropeller/pkg/compiler/transformers/k8s/node.go
  flytepropeller/pkg/controller/nodes/branch/evaluator_test.go
  flytepropeller/pkg/webhook/config/config.go
  flytepropeller/pkg/webhook/entrypoint.go
  flytepropeller/pkg/webhook/pod.go
Labels: size:M, lgtm

#4537 Fix flaky test_monitor
  flyteplugins/go/tasks/pluginmachinery/internal/webapi/monitor_test.go
Labels: size:XS

#4554 Change artifacts HTTP paths
  flyteidl/gen/pb-cpp/flyteidl/artifact/artifacts.pb.cc
  flyteidl/gen/pb-cpp/flyteidl/artifact/artifacts.pb.h
  flyteidl/gen/pb-go/flyteidl/artifact/artifacts.pb.go
  flyteidl/gen/pb-go/flyteidl/artifact/artifacts.pb.gw.go
  flyteidl/gen/pb-go/flyteidl/artifact/artifacts.pb.validate.go
  flyteidl/gen/pb-go/flyteidl/artifact/artifacts.swagger.json
  flyteidl/gen/pb-java/flyteidl/artifact/Artifacts.java
  flyteidl/gen/pb_python/flyteidl/artifact/artifacts_pb2.py
  flyteidl/gen/pb_python/flyteidl/artifact/artifacts_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.artifact.rs
  flyteidl/protos/flyteidl/artifact/artifacts.proto
Labels: size:XL

#4556 manually create flytekit/_version.py file in docs build
  docs/_ext/import_projects.py
Labels: size:XS, lgtm

#4562 change artifacts http mappings again
  flyteidl/gen/pb-cpp/flyteidl/artifact/artifacts.pb.cc
  flyteidl/gen/pb-go/flyteidl/artifact/artifacts.pb.go
  flyteidl/gen/pb-go/flyteidl/artifact/artifacts.pb.gw.go
  flyteidl/gen/pb-go/flyteidl/artifact/artifacts.swagger.json
  flyteidl/gen/pb-java/flyteidl/artifact/Artifacts.java
  flyteidl/gen/pb_python/flyteidl/artifact/artifacts_pb2.py
  flyteidl/protos/flyteidl/artifact/artifacts.proto
Labels: size:L

#4553 introduce conda-lock file for docs
  .github/workflows/codespell.yml
  .github/workflows/tests.yml
  Makefile
  docs/.readthedocs.yaml
  monodocs-environment.lock.yaml
  monodocs-environment.yaml
Labels: size:M, lgtm

#4535 Detect subNode phase updates to reduce evaluation frequency of ArrayNode
  flytepropeller/pkg/controller/nodes/array/handler.go
  flytepropeller/pkg/controller/nodes/executor.go
  flytestdlib/storage/cached_rawstore.go
Labels: size:S

#4308 Add support failure node
  charts/flyte-core/values-eks.yaml
  flytepropeller/pkg/compiler/requirements.go
  flytepropeller/pkg/compiler/workflow_compiler.go
  flytepropeller/pkg/compiler/workflow_compiler_test.go
  flytepropeller/pkg/controller/executors/failure_node_lookup.go
  flytepropeller/pkg/controller/executors/failure_node_lookup_test.go
  flytepropeller/pkg/controller/nodes/predicate.go
  flytepropeller/pkg/controller/nodes/subworkflow/handler.go
  flytepropeller/pkg/controller/nodes/subworkflow/subworkflow.go
  flytepropeller/pkg/controller/nodes/subworkflow/subworkflow_test.go
  flytepropeller/pkg/controller/workflow/executor.go
  flytepropeller/pkg/controller/workflow/executor_test.go
  flytepropeller/pkg/controller/workflow/testdata/benchmark_wf.yaml
Labels: size:L

#4566 Return InvalidArgument for workflow compilation failures in CreateWorkflow
  flyteadmin/cmd/entrypoints/serve.go
  flyteadmin/pkg/manager/impl/workflow_manager.go
  flyteadmin/pkg/manager/impl/workflow_manager_test.go
Labels: size:S, lgtm

#4501 Update contribution guide
  rsts/community/contribute.rst
Labels: size:XS

#4582 Add flyin plugin to monodocs integrations page
  docs/integrations.md
Labels: size:XS

#4564 Use updated cronSchedule in CreateLaunchPlanModel
  flyteadmin/pkg/manager/impl/testutils/mock_requests.go
  flyteadmin/pkg/manager/impl/validation/launch_plan_validator_test.go
  flyteadmin/pkg/repositories/transformers/launch_plan.go
  flyteadmin/pkg/repositories/transformers/launch_plan_test.go
Labels: size:M

#4594 Writing zero length inputs
  flytepropeller/pkg/controller/nodes/executor.go
Labels: size:XS

#4590 Feature/add pod pending timeout config
  flyteplugins/go/tasks/pluginmachinery/flytek8s/config/config.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper_test.go
Labels: size:M

#4589 Run single-binary gh workflows on all PRs
  .github/workflows/single-binary.yml
Labels: size:XS, lgtm

#4587 auto-generate toctree from flytesnacks index.md docs
  docs/_ext/import_projects.py
  docs/conf.py
  docs/index.md
  docs/integrations.md
  docs/tutorials.md
  docs/userguide.md
Labels: size:L, lgtm

#4571 add repo tag and commit associated with the build
  docs/_ext/import_projects.py
  docs/_templates/page.html
  docs/conf.py
Labels: size:L

#4598 monodocs - gracefully handle case when external repo doesn't contain tags: use current commit
  docs/_ext/import_projects.py
Labels: size:S

#4599 convert commit to string
  docs/_ext/import_projects.py
Labels: size:XS, lgtm

#4600 using Abort phase and cleaning up best-effort
  flyteplugins/go/tasks/pluginmachinery/core/phase.go
  flyteplugins/go/tasks/plugins/array/core/state.go
  flyteplugins/go/tasks/plugins/array/k8s/executor.go
  flyteplugins/go/tasks/plugins/array/k8s/management.go
  flytepropeller/pkg/controller/nodes/task/transformer.go
Labels: size:M

#4506 Bug/abort map task subtasks
  flyteplugins/go/tasks/pluginmachinery/core/phase.go
  flyteplugins/go/tasks/plugins/array/awsbatch/executor.go
  flyteplugins/go/tasks/plugins/array/awsbatch/monitor_test.go
  flyteplugins/go/tasks/plugins/array/core/state.go
  flyteplugins/go/tasks/plugins/array/core/state_test.go
  flyteplugins/go/tasks/plugins/array/k8s/executor.go
  flyteplugins/go/tasks/plugins/array/k8s/management.go
  flyteplugins/go/tasks/plugins/array/k8s/management_test.go
  flytepropeller/pkg/controller/nodes/task/handler.go
  flytepropeller/pkg/controller/nodes/task/transformer.go
Labels: size:L

#4567 Supporting parallized workers in ArrayNode subNodes
  flytepropeller/pkg/controller/config/config.go
  flytepropeller/pkg/controller/config/config_flags.go
  flytepropeller/pkg/controller/config/config_flags_test.go
  flytepropeller/pkg/controller/nodes/array/execution_context.go
  flytepropeller/pkg/controller/nodes/array/handler.go
  flytepropeller/pkg/controller/nodes/array/handler_test.go
  flytepropeller/pkg/controller/nodes/array/node_execution_context.go
  flytepropeller/pkg/controller/nodes/array/node_execution_context_builder.go
  flytepropeller/pkg/controller/nodes/array/worker.go
Labels: size:L, lgtm

#4606 Don't use experimental readthedocs build.commands config
  docs/.readthedocs.yaml
  docs/build-environment.yaml
  monodocs-environment.lock.yaml
  monodocs-environment.yaml
Labels: documentation, size:S

#4607 Feature/add cleanup non recoverable pod statuses
  flyteplugins/go/tasks/pluginmachinery/core/phase.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper_test.go
Labels: enhancement, size:S

#4511 Agent Metadata Servicer
  .github/workflows/single-binary.yml
  charts/flyte-binary/templates/configmap.yaml
  charts/flyte-binary/values.yaml
  deployment/sandbox-binary/flyte_sandbox_binary_helm_generated.yaml
  docker/sandbox-bundled/kustomize/complete-agent/add-agent-secret-patch.yaml
  docker/sandbox-bundled/kustomize/complete-agent/kustomization.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  flyteidl/clients/go/admin/mocks/AgentMetadataServiceClient.go
  flyteidl/clients/go/admin/mocks/AgentMetadataServiceServer.go
  flyteidl/gen/pb-cpp/flyteidl/admin/agent.pb.cc
  flyteidl/gen/pb-cpp/flyteidl/admin/agent.pb.h
  flyteidl/gen/pb-cpp/flyteidl/service/agent.grpc.pb.cc
  flyteidl/gen/pb-cpp/flyteidl/service/agent.grpc.pb.h
  flyteidl/gen/pb-cpp/flyteidl/service/agent.pb.cc
  flyteidl/gen/pb-cpp/flyteidl/service/agent.pb.h
  flyteidl/gen/pb-go/flyteidl/admin/agent.pb.go
  flyteidl/gen/pb-go/flyteidl/admin/agent.pb.validate.go
  flyteidl/gen/pb-go/flyteidl/service/agent.pb.go
  flyteidl/gen/pb-go/flyteidl/service/agent.pb.gw.go
  flyteidl/gen/pb-go/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-java/flyteidl/admin/AgentOuterClass.java
  flyteidl/gen/pb-java/flyteidl/service/Agent.java
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/admin/agent_pb2.py
  flyteidl/gen/pb_python/flyteidl/admin/agent_pb2.pyi
  flyteidl/gen/pb_python/flyteidl/service/agent_pb2.py
  flyteidl/gen/pb_python/flyteidl/service/agent_pb2.pyi
  flyteidl/gen/pb_python/flyteidl/service/agent_pb2_grpc.py
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/protos/flyteidl/admin/agent.proto
  flyteidl/protos/flyteidl/service/agent.proto
  flyteplugins/go/tasks/pluginmachinery/internal/webapi/core.go
  flyteplugins/go/tasks/plugins/array/awsbatch/executor.go
  flyteplugins/go/tasks/plugins/array/k8s/management.go
  flyteplugins/go/tasks/plugins/webapi/agent/config.go
  flyteplugins/go/tasks/plugins/webapi/agent/integration_test.go
  flyteplugins/go/tasks/plugins/webapi/agent/mocks/AgentMetadataServiceClient.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin_test.go
  flytepropeller/pkg/controller/executors/failure_node_lookup_test.go
Labels: enhancement, size:XXL

#4627 Correctly computing ArrayNode maximum attempts and system failures
  flytepropeller/pkg/controller/nodes/array/handler.go
  flytepropeller/pkg/controller/nodes/array/handler_test.go
Labels: bug, enhancement, size:L

#4107 Agent Sync Plugin
  flyteidl/gen/pb-cpp/flyteidl/admin/agent.pb.cc
  flyteidl/gen/pb-cpp/flyteidl/admin/agent.pb.h
  flyteidl/gen/pb-go/flyteidl/admin/agent.pb.go
  flyteidl/gen/pb-go/flyteidl/admin/agent.pb.validate.go
  flyteidl/gen/pb-go/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-java/flyteidl/admin/AgentOuterClass.java
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/admin/agent_pb2.py
  flyteidl/gen/pb_python/flyteidl/admin/agent_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/protos/flyteidl/admin/agent.proto
  flyteplugins/go/tasks/pluginmachinery/internal/webapi/core.go
  flyteplugins/go/tasks/pluginmachinery/webapi/mocks/plugin.go
  flyteplugins/go/tasks/pluginmachinery/webapi/mocks/sync_plugin.go
  flyteplugins/go/tasks/plugins/webapi/agent/integration_test.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin_test.go
Labels: enhancement, size:XXL

#4626 Add github token in buf gh action
  .github/workflows/go_generate.yml
Labels: enhancement, size:XS

#4604 Update flyte-binary values
  charts/flyte-binary/eks-production.yaml
  charts/flyte-binary/eks-starter.yaml
  docs/deployment/deployment/cloud_production.rst
  rsts/deployment/deployment/cloud_production.rst
Labels: documentation, enhancement, size:L

#4617 Fixing cache overwrite metadata update
  datacatalog/pkg/manager/impl/artifact_manager.go
  datacatalog/pkg/manager/impl/artifact_manager_test.go
  datacatalog/pkg/repositories/transformers/artifact.go
  datacatalog/pkg/repositories/transformers/artifact_test.go
  flyteidl/gen/pb-cpp/flyteidl/datacatalog/datacatalog.pb.cc
  flyteidl/gen/pb-cpp/flyteidl/datacatalog/datacatalog.pb.h
  flyteidl/gen/pb-go/flyteidl/datacatalog/datacatalog.pb.go
  flyteidl/gen/pb-go/flyteidl/datacatalog/datacatalog.pb.validate.go
  flyteidl/gen/pb-java/datacatalog/Datacatalog.java
  flyteidl/gen/pb_python/flyteidl/datacatalog/datacatalog_pb2.py
  flyteidl/gen/pb_python/flyteidl/datacatalog/datacatalog_pb2.pyi
  flyteidl/gen/pb_rust/datacatalog.rs
  flyteidl/protos/flyteidl/datacatalog/datacatalog.proto
  flytepropeller/pkg/controller/nodes/cache.go
  flytepropeller/pkg/controller/nodes/cache_test.go
  flytepropeller/pkg/controller/nodes/catalog/datacatalog/datacatalog.go
Labels: enhancement, size:XXL

#4631 Fixing 100 kilobyte max error message size
  flytepropeller/events/event_recorder.go
Labels: bug, size:XS

#4363 Add Ray Autoscaler to the Flyte-Ray plugin
  flyteidl/gen/pb-cpp/flyteidl/plugins/ray.pb.cc
  flyteidl/gen/pb-cpp/flyteidl/plugins/ray.pb.h
  flyteidl/gen/pb-go/flyteidl/plugins/ray.pb.go
  flyteidl/gen/pb-go/flyteidl/plugins/ray.pb.validate.go
  flyteidl/gen/pb-java/flyteidl/plugins/Ray.java
  flyteidl/gen/pb_python/flyteidl/plugins/ray_pb2.py
  flyteidl/gen/pb_python/flyteidl/plugins/ray_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.plugins.rs
  flyteidl/protos/flyteidl/plugins/ray.proto
  flyteplugins/go/tasks/plugins/k8s/ray/ray.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray_test.go
Labels: size:XL

#4651 artf/make goimports
  charts/flyte-sandbox/README.md
  charts/flyte-sandbox/values.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  flyteartifacts/Makefile
  flyteartifacts/cmd/main.go
  flyteartifacts/cmd/shared/migrate.go
  flyteartifacts/cmd/shared/root.go
  flyteartifacts/cmd/shared/serve.go
  flyteartifacts/cmd/shared/types.go
  flyteartifacts/pkg/blob/artifact_blob_store.go
  flyteartifacts/pkg/configuration/config.go
  flyteartifacts/pkg/configuration/shared/config.go
  flyteartifacts/pkg/db/gorm_transformers.go
  flyteartifacts/pkg/db/querying_test.go
  flyteartifacts/pkg/db/storage.go
  flyteartifacts/pkg/db/storage_test.go
  flyteartifacts/pkg/lib/string_converter.go
  flyteartifacts/pkg/lib/string_converter_test.go
  flyteartifacts/pkg/lib/url_parse.go
  flyteartifacts/pkg/lib/url_parse_test.go
  flyteartifacts/pkg/models/transformers.go
  flyteartifacts/pkg/server/interfaces.go
  flyteartifacts/pkg/server/metrics.go
  flyteartifacts/pkg/server/processor/channel_processor.go
  flyteartifacts/pkg/server/processor/events_handler.go
  flyteartifacts/pkg/server/processor/events_handler_test.go
  flyteartifacts/pkg/server/processor/interfaces.go
  flyteartifacts/pkg/server/processor/processor.go
  flyteartifacts/pkg/server/processor/sqs_processor.go
  flyteartifacts/pkg/server/processor/sqs_processor_test.go
  flyteartifacts/pkg/server/server.go
  flyteartifacts/pkg/server/service.go
  flyteartifacts/pkg/server/trigger_engine.go
  flyteartifacts/pkg/server/trigger_engine_test.go
Labels: enhancement, housekeeping, size:L
