Repository flyteorg/flyte, pull requests merged in 2024-01, with the labels that each got.

#4640 Fixing ArrayNode integration with backoff controller
  flytepropeller/pkg/controller/nodes/array/handler.go
  flytepropeller/pkg/controller/nodes/array/handler_test.go
Labels: bug, enhancement, size:S

#4667 Avoid to use the http.DefaultClient
  flyteplugins/go/tasks/pluginmachinery/k8s/client.go
Labels: enhancement, security, size:S, lgtm

#4678 Update dns policy for sandbox buildkit instance to ClusterFirstWithHo…
  charts/flyte-sandbox/templates/buildkit/deployment.yaml
  docker/sandbox-bundled/Makefile
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Labels: enhancement, size:S, lgtm

#4681 Artfs2/lineage
  flyteadmin/pkg/artifacts/registry.go
  flyteadmin/pkg/manager/impl/exec_manager_other_test.go
  flyteadmin/pkg/manager/impl/execution_manager.go
  flyteidl/gen/pb-cpp/flyteidl/event/cloudevents.pb.cc
  flyteidl/gen/pb-cpp/flyteidl/event/cloudevents.pb.h
  flyteidl/gen/pb-go/flyteidl/event/cloudevents.pb.go
  flyteidl/gen/pb-java/flyteidl/event/Cloudevents.java
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/event/cloudevents_pb2.py
  flyteidl/gen/pb_python/flyteidl/event/cloudevents_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.event.rs
  flyteidl/protos/flyteidl/event/cloudevents.proto
  flytestdlib/database/db.go
  flytestdlib/database/postgres.go
  flytestdlib/go.mod
Labels: documentation, enhancement, housekeeping, size:XL

#4677 Updating ArrayNode ExternalResourceInfo ID
  flytepropeller/pkg/controller/nodes/array/event_recorder.go
  flytepropeller/pkg/controller/nodes/array/handler.go
  flytepropeller/pkg/controller/nodes/array/handler_test.go
  flytepropeller/pkg/controller/nodes/array/mocks/array_event_recorder.go
Labels: bug, enhancement, size:L, lgtm

#4637 Feat: Add option in K8s plugin config to inject user identity as pod label
  flytepropeller/pkg/controller/nodes/task/k8s/plugin_manager_test.go
  flytepropeller/pkg/controller/nodes/task/k8s/task_exec_context.go
  flytepropeller/pkg/controller/nodes/task/k8s/task_exec_context_test.go
Labels: enhancement, size:M, lgtm

#4649 Artifacts shell 2
  .github/workflows/flyteidl-buf-publish.yml
  flyteadmin/pkg/artifacts/registry.go
  flyteadmin/pkg/async/cloudevent/implementations/cloudevent_publisher.go
  flyteadmin/pkg/manager/impl/exec_manager_other_test.go
  flyteadmin/pkg/manager/impl/execution_manager.go
  flyteidl/gen/pb-cpp/flyteidl/artifact/artifacts.grpc.pb.cc
  flyteidl/gen/pb-cpp/flyteidl/artifact/artifacts.grpc.pb.h
  flyteidl/gen/pb-cpp/flyteidl/artifact/artifacts.pb.cc
  flyteidl/gen/pb-cpp/flyteidl/artifact/artifacts.pb.h
  flyteidl/gen/pb-cpp/flyteidl/event/cloudevents.pb.cc
  flyteidl/gen/pb-cpp/flyteidl/event/cloudevents.pb.h
  flyteidl/gen/pb-go/flyteidl/artifact/artifacts.pb.go
  flyteidl/gen/pb-go/flyteidl/artifact/artifacts.pb.gw.go
  flyteidl/gen/pb-go/flyteidl/artifact/artifacts.swagger.json
  flyteidl/gen/pb-go/flyteidl/event/cloudevents.pb.go
  flyteidl/gen/pb-java/flyteidl/artifact/Artifacts.java
  flyteidl/gen/pb-java/flyteidl/event/Cloudevents.java
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/artifact/artifacts_pb2.py
  flyteidl/gen/pb_python/flyteidl/artifact/artifacts_pb2.pyi
  flyteidl/gen/pb_python/flyteidl/artifact/artifacts_pb2_grpc.py
  flyteidl/gen/pb_python/flyteidl/event/cloudevents_pb2.py
  flyteidl/gen/pb_python/flyteidl/event/cloudevents_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.artifact.rs
  flyteidl/gen/pb_rust/flyteidl.event.rs
  flyteidl/protos/flyteidl/artifact/artifacts.proto
  flyteidl/protos/flyteidl/event/cloudevents.proto
  flytestdlib/database/db.go
  flytestdlib/database/postgres.go
  flytestdlib/go.mod
Labels: enhancement, housekeeping, size:XXL, lgtm

#4682 Improve Agent Metadata Service Error Message
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
Labels: enhancement, size:XS, lgtm

#4676 move pod start/end time to a common template vars
  flyteplugins/go/tasks/pluginmachinery/tasklog/template.go
  flyteplugins/go/tasks/pluginmachinery/tasklog/template_test.go
Labels: enhancement, size:M, lgtm

#4687 switch readthedocs config to monodocs build
  .readthedocs.yml
Labels: documentation, size:S, lgtm

#4662 Add GetTaskMetrics and GetTaskLogs to agent
  flyteidl/clients/go/admin/client.go
  flyteidl/clients/go/admin/mocks/AsyncAgentServiceClient.go
  flyteidl/clients/go/admin/mocks/AsyncAgentServiceServer.go
  flyteidl/gen/pb-cpp/flyteidl/admin/agent.pb.cc
  flyteidl/gen/pb-cpp/flyteidl/admin/agent.pb.h
  flyteidl/gen/pb-cpp/flyteidl/core/metrics.pb.cc
  flyteidl/gen/pb-cpp/flyteidl/core/metrics.pb.h
  flyteidl/gen/pb-cpp/flyteidl/service/agent.grpc.pb.cc
  flyteidl/gen/pb-cpp/flyteidl/service/agent.grpc.pb.h
  flyteidl/gen/pb-cpp/flyteidl/service/agent.pb.cc
  flyteidl/gen/pb-go/flyteidl/admin/agent.pb.go
  flyteidl/gen/pb-go/flyteidl/core/metrics.pb.go
  flyteidl/gen/pb-go/flyteidl/service/agent.pb.go
  flyteidl/gen/pb-go/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-java/flyteidl/admin/AgentOuterClass.java
  flyteidl/gen/pb-java/flyteidl/core/Metrics.java
  flyteidl/gen/pb-java/flyteidl/service/Agent.java
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/admin/agent_pb2.py
  flyteidl/gen/pb_python/flyteidl/admin/agent_pb2.pyi
  flyteidl/gen/pb_python/flyteidl/core/metrics_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/metrics_pb2.pyi
  flyteidl/gen/pb_python/flyteidl/service/agent_pb2.py
  flyteidl/gen/pb_python/flyteidl/service/agent_pb2_grpc.py
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/admin/agent.proto
  flyteidl/protos/flyteidl/core/metrics.proto
  flyteidl/protos/flyteidl/service/agent.proto
  flyteplugins/go/tasks/plugins/webapi/agent/integration_test.go
Labels: enhancement, size:XXL, lgtm

#4680 Artf/lineage and fixes
  charts/flyte-sandbox/README.md
  charts/flyte-sandbox/values.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  flyteadmin/pkg/artifacts/config.go
  flyteartifacts/pkg/db/storage.go
  flyteartifacts/pkg/lib/constants.go
  flyteartifacts/pkg/lib/url_parse.go
  flyteartifacts/pkg/lib/url_parse_test.go
  flyteartifacts/pkg/server/processor/events_handler.go
  flyteartifacts/pkg/server/server.go
  flyteartifacts/pkg/server/service.go
Labels: enhancement, housekeeping, size:L

#4696 add algolia searchbar
  docs/_static/algolia-search.js
  docs/_static/algolia.css
  docs/_static/flyte.css
  docs/_templates/base.html
  docs/_templates/page.html
  docs/_templates/sidebar/search.html
  docs/conf.py
Labels: documentation, enhancement, size:L, lgtm

#4712 monodocs: do not use beta releases when importing projects
  docs/_ext/import_projects.py
Labels: documentation, size:XS

#4699 Update community meeting cadence
  README.md
Labels: documentation, size:XS, lgtm

#4715 Remove dockerfiles from subfolder
  datacatalog/Dockerfile
  flyteadmin/Dockerfile
  flyteadmin/scheduler.Dockerfile
  flytecopilot/Dockerfile
  flytepropeller/Dockerfile
Labels: housekeeping, size:L, lgtm

#4714 Update to artifact idl - Add List Usage endpoint
  flyteidl/gen/pb-cpp/flyteidl/artifact/artifacts.grpc.pb.cc
  flyteidl/gen/pb-cpp/flyteidl/artifact/artifacts.grpc.pb.h
  flyteidl/gen/pb-cpp/flyteidl/artifact/artifacts.pb.cc
  flyteidl/gen/pb-cpp/flyteidl/artifact/artifacts.pb.h
  flyteidl/gen/pb-go/flyteidl/artifact/artifacts.pb.go
  flyteidl/gen/pb-go/flyteidl/artifact/artifacts.pb.gw.go
  flyteidl/gen/pb-go/flyteidl/artifact/artifacts.swagger.json
  flyteidl/gen/pb-java/flyteidl/artifact/Artifacts.java
  flyteidl/gen/pb_python/flyteidl/artifact/artifacts_pb2.py
  flyteidl/gen/pb_python/flyteidl/artifact/artifacts_pb2.pyi
  flyteidl/gen/pb_python/flyteidl/artifact/artifacts_pb2_grpc.py
  flyteidl/gen/pb_rust/flyteidl.artifact.rs
  flyteidl/protos/flyteidl/artifact/artifacts.proto
Labels: enhancement, size:XXL, lgtm

#4720 monodocs uses flytekit/flytectl index rst file
  docs/_ext/import_projects.py
  docs/conf.py
  docs/flytectl_overview.rst
  docs/index.md
  docs/reference_flytectl.md
  docs/reference_flytekit.md
Labels: documentation, size:L, lgtm

#4717 Replace grpc gateway endpoints with post
  flyteidl/gen/pb-cpp/flyteidl/artifact/artifacts.pb.cc
  flyteidl/gen/pb-go/flyteidl/artifact/artifacts.pb.go
  flyteidl/gen/pb-go/flyteidl/artifact/artifacts.pb.gw.go
  flyteidl/gen/pb-go/flyteidl/artifact/artifacts.swagger.json
  flyteidl/gen/pb-java/flyteidl/artifact/Artifacts.java
  flyteidl/gen/pb_python/flyteidl/artifact/artifacts_pb2.py
  flyteidl/protos/flyteidl/artifact/artifacts.proto
Labels: enhancement, size:XXL, lgtm

#4602 [BUG] Retry fetching subworkflow output data on failure
  flytepropeller/pkg/controller/controller.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/admin.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/admin_test.go
Labels: bug, size:L, lgtm

#4596 Option to clear node state on any termination
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/iface.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/mocks/ExecutableNodeStatus.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/mocks/MutableNodeStatus.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/node_status.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/node_status_test.go
  flytepropeller/pkg/controller/config/config.go
  flytepropeller/pkg/controller/config/config_flags.go
  flytepropeller/pkg/controller/config/config_flags_test.go
  flytepropeller/pkg/controller/nodes/branch/evaluator.go
  flytepropeller/pkg/controller/nodes/executor.go
  flytepropeller/pkg/controller/nodes/executor_test.go
  flytepropeller/pkg/controller/nodes/transformers.go
Labels: enhancement, size:L, lgtm

#4733 Reintroduce k8s client fallback to cache lookups
  cmd/single/start.go
  flytepropeller/cmd/controller/cmd/root.go
  flytepropeller/cmd/controller/cmd/webhook.go
  flytepropeller/pkg/controller/executors/kube.go
  flytepropeller/pkg/controller/executors/mocks/client_builder.go
Labels: bug, size:L, lgtm

#4644 Remove unused validate files
  flyteidl/validate/__init__.py
  flyteidl/validate/validate_pb2.py
Labels: housekeeping, size:XS

#4741 Docs/Clarify propeller scaling
  docs/deployment/configuration/performance.rst
Labels: documentation, size:XS, lgtm

#4749 update conda lock file
  monodocs-environment.lock.yaml
  monodocs-environment.yaml
Labels: documentation, size:XS

#4747 Use logger with formatter
  flyteadmin/dataproxy/service.go
  flyteadmin/scheduler/executor/executor_impl.go
  flyteadmin/tests/bootstrap.go
  flyteadmin/tests/execution_test.go
  flytecopilot/cmd/root.go
  flyteidl/clients/go/admin/pkce/auth_flow_orchestrator.go
  flyteplugins/go/tasks/pluginmachinery/ioutils/paths.go
  flyteplugins/go/tasks/plugins/array/awsbatch/jobs_store.go
  flyteplugins/go/tasks/plugins/array/awsbatch/monitor.go
  flyteplugins/go/tasks/plugins/webapi/athena/plugin.go
  flyteplugins/go/tasks/plugins/webapi/bigquery/plugin.go
  flyteplugins/go/tasks/plugins/webapi/databricks/plugin.go
  flyteplugins/go/tasks/plugins/webapi/snowflake/plugin.go
  flytepropeller/cmd/kubectl-flyte/cmd/root.go
  flytepropeller/pkg/controller/nodes/executor.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/admin.go
  flytepropeller/pkg/controller/nodes/task/backoff/handler.go
  flytestdlib/random/weighted_random_list.go
  flytestdlib/storage/protobuf_store.go
Labels: housekeeping, size:M, lgtm

#4753 [housekeeping] Remove pull_request_template from each subdirectory
  datacatalog/pull_request_template.md
  flyteadmin/pull_request_template.md
  flytecopilot/pull_request_template.md
  flyteidl/pull_request_template.md
  flyteplugins/pull_request_template.md
  flytepropeller/pull_request_template.md
  flytestdlib/pull_request_template.md
Labels: housekeeping, size:L, lgtm

#4751 [Docs] Reapply Databricks agent docs changes from #4008
  docs/deployment/agents/bigquery.rst
  docs/deployment/agents/databricks.rst
  docs/deployment/agents/index.md
  docs/deployment/agents/mmcloud.rst
  docs/deployment/plugins/webapi/snowflake.rst
Labels: documentation, size:L, lgtm

#4760 Fix test get logs template uri test
  flyteplugins/go/tasks/pluginmachinery/k8s/client.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/common/common_operator_test.go
Labels: bug, size:S, lgtm

#4758 Small formatting fixes for Databrick agents docs
  docs/deployment/agents/index.md
  docs/deployment/agents/mmcloud.rst
Labels: documentation, size:XS, lgtm

#4763 Guard against open redirect URL parameters in login
  flyteadmin/auth/handler_utils.go
  flyteadmin/auth/handler_utils_test.go
  flyteadmin/auth/handlers.go
Labels: security, size:M, lgtm

#4752 Wrapping k8s client with write filter and cache reader
  cmd/single/start.go
  flytepropeller/cmd/controller/cmd/root.go
  flytepropeller/cmd/controller/cmd/webhook.go
  flytepropeller/pkg/controller/executors/kube.go
  flytepropeller/pkg/controller/executors/kube_test.go
Labels: bug, enhancement, size:L, lgtm

#4755 [BUG] Handle Potential Indefinite Propeller Update Loops
  flytepropeller/pkg/controller/handler.go
  flytepropeller/pkg/controller/handler_test.go
Labels: bug, size:M, lgtm

#4772 Add docs build process readme
  docs/README.md
Labels: documentation, size:S, lgtm

#4766 [BUG] subworkflow timeout propagation
  flytepropeller/pkg/controller/nodes/subworkflow/subworkflow.go
  flytepropeller/pkg/controller/nodes/transformers.go
Labels: bug, size:S, lgtm

#4778 Proto changes
  flyte-single-binary-local.yaml
  flyteadmin/pkg/artifacts/registry.go
  flyteadmin/pkg/artifacts/registry_test.go
  flyteadmin/pkg/manager/impl/exec_manager_other_test.go
  flyteadmin/pkg/manager/impl/execution_manager.go
  flyteadmin/pkg/manager/impl/execution_manager_test.go
  flyteadmin/pkg/manager/impl/launch_plan_manager.go
  flyteadmin/pkg/manager/impl/launch_plan_manager_test.go
  flyteadmin/pkg/manager/impl/task_manager.go
  flyteadmin/pkg/manager/impl/task_manager_test.go
  flyteadmin/pkg/manager/impl/workflow_manager.go
  flyteadmin/pkg/manager/impl/workflow_manager_test.go
  flyteadmin/pkg/rpc/adminservice/base.go
  flyteidl/clients/go/admin/client.go
  flyteidl/gen/pb-cpp/flyteidl/artifact/artifacts.grpc.pb.cc
  flyteidl/gen/pb-cpp/flyteidl/artifact/artifacts.grpc.pb.h
  flyteidl/gen/pb-cpp/flyteidl/artifact/artifacts.pb.cc
  flyteidl/gen/pb-cpp/flyteidl/artifact/artifacts.pb.h
  flyteidl/gen/pb-cpp/flyteidl/core/artifact_id.pb.cc
  flyteidl/gen/pb-cpp/flyteidl/core/artifact_id.pb.h
  flyteidl/gen/pb-go/flyteidl/artifact/artifacts.pb.go
  flyteidl/gen/pb-go/flyteidl/artifact/artifacts.pb.gw.go
  flyteidl/gen/pb-go/flyteidl/artifact/artifacts.swagger.json
  flyteidl/gen/pb-go/flyteidl/core/artifact_id.pb.go
  flyteidl/gen/pb-java/flyteidl/artifact/Artifacts.java
  flyteidl/gen/pb-java/flyteidl/core/ArtifactId.java
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/artifact/__init__.py
  flyteidl/gen/pb_python/flyteidl/artifact/artifacts_pb2.py
  flyteidl/gen/pb_python/flyteidl/artifact/artifacts_pb2.pyi
  flyteidl/gen/pb_python/flyteidl/artifact/artifacts_pb2_grpc.py
  flyteidl/gen/pb_python/flyteidl/core/artifact_id_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/artifact_id_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.artifact.rs
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/generate_protos.sh
  flyteidl/protos/flyteidl/artifact/artifacts.proto
  flyteidl/protos/flyteidl/core/artifact_id.proto
Labels: housekeeping, size:XXL, lgtm

#4548 Updates for onboarding docs revamp
  docs/index.md
  docs/introduction.md
Labels: documentation, size:L, lgtm

#4781 [Docs] Fix toctree links to User Guide, Environment Setup, and Contributing sections
  docs/introduction.md
Labels: documentation, size:M, lgtm

#4661 docs: add FlytePlugins architecture image
  docs/concepts/component_architecture/flytepropeller_architecture.rst
Labels: documentation, size:S, lgtm

#4783 Fix repeated items in left nav
  docs/index.md
  docs/introduction.md
Labels: documentation, housekeeping, size:S, lgtm

#4757 [Docs] Remove broken link from Understand How Flyte Handles Data page (for new monodocs site) (second attempt)
  docs/concepts/data_management.rst
Labels: documentation, size:XS, lgtm

#4729 docs: update Flyte sandbox configuration and documentation
  docs/deployment/plugins/k8s/index.rst
Labels: documentation, size:L, lgtm

#4782 Replace `Storage` To `Ephemeral Storage` in Helm Chart
  charts/flyte-core/README.md
  charts/flyte-core/values.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
Labels: documentation, enhancement, size:L, lgtm

#4756 Fix webhook typo, add podLabels, add podEnv to flyte-core Helm chart
  charts/flyte-core/README.md
  charts/flyte-core/templates/_helpers.tpl
  charts/flyte-core/templates/admin/deployment.yaml
  charts/flyte-core/templates/clusterresourcesync/deployment.yaml
  charts/flyte-core/templates/console/deployment.yaml
  charts/flyte-core/templates/datacatalog/deployment.yaml
  charts/flyte-core/templates/flytescheduler/deployment.yaml
  charts/flyte-core/templates/propeller/deployment.yaml
  charts/flyte-core/templates/propeller/webhook.yaml
  charts/flyte-core/values.yaml
  charts/flyteagent/README.md
  charts/flyteagent/templates/_helpers.tpl
  charts/flyteagent/templates/agent/deployment.yaml
  charts/flyteagent/values.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
Labels: enhancement, size:L, lgtm

#4774 Dynamic log links
  flyteplugins/go/tasks/logs/config.go
  flyteplugins/go/tasks/logs/logconfig_flags.go
  flyteplugins/go/tasks/logs/logconfig_flags_test.go
  flyteplugins/go/tasks/logs/logging_utils.go
  flyteplugins/go/tasks/logs/logging_utils_test.go
  flyteplugins/go/tasks/pluginmachinery/core/phase_enumer.go
  flyteplugins/go/tasks/pluginmachinery/tasklog/plugin.go
  flyteplugins/go/tasks/pluginmachinery/tasklog/template.go
  flyteplugins/go/tasks/pluginmachinery/tasklog/template_test.go
  flyteplugins/go/tasks/pluginmachinery/tasklog/templatescheme_enumer.go
  flyteplugins/go/tasks/pluginmachinery/webapi/mocks/sync_plugin.go
  flyteplugins/go/tasks/plugins/array/core/phase_enumer.go
  flyteplugins/go/tasks/plugins/array/k8s/management_test.go
  flyteplugins/go/tasks/plugins/array/k8s/subtask_exec_context.go
  flyteplugins/go/tasks/plugins/array/k8s/subtask_exec_context_test.go
  flyteplugins/go/tasks/plugins/k8s/dask/dask_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/common/common_operator_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/mpi/mpi_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/pytorch/pytorch_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/tensorflow/tensorflow_test.go
  flyteplugins/go/tasks/plugins/k8s/pod/plugin.go
  flyteplugins/go/tasks/plugins/k8s/pod/sidecar_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray_test.go
  flyteplugins/go/tasks/plugins/k8s/spark/spark_test.go
Labels: enhancement, size:XL, lgtm

#4786 feat: add apache 2.0 license to python flyteidl
  flyteidl/setup.py
Labels: enhancement, size:XS, lgtm

#4790 Reduce maptask transitions between WaitingForResources and CheckingSubtaskExecutions
  flyteplugins/go/tasks/plugins/array/k8s/executor.go
  flyteplugins/go/tasks/plugins/array/k8s/management.go
  flyteplugins/go/tasks/plugins/array/k8s/management_test.go
Labels: enhancement, size:S, lgtm

#4791 propeller gc ttl comparison should allow 23
  flytepropeller/pkg/controller/garbage_collector.go
Labels: bug, size:XS, lgtm

#4789 Bring Scheme back for backwards compatibility
  flyteplugins/go/tasks/pluginmachinery/tasklog/plugin.go
  flyteplugins/go/tasks/pluginmachinery/tasklog/templatescheme_enumer.go
  flyteplugins/go/tasks/plugins/k8s/ray/config.go
Labels: enhancement, size:L, lgtm

#4793 [BUG] handle potential uncaught OOMKilled terminations
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper_test.go
Labels: bug, size:M, lgtm

#4526 Update pyflyte serve into pyflyte serve agent
  charts/flyteagent/README.md
  charts/flyteagent/templates/agent/deployment.yaml
  charts/flyteagent/values.yaml
  deployment/agent/flyte_agent_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Labels: size:S, lgtm

#4718 Agent ClientSet
  flyteplugins/go/tasks/plugins/webapi/agent/client.go
  flyteplugins/go/tasks/plugins/webapi/agent/client_test.go
  flyteplugins/go/tasks/plugins/webapi/agent/integration_test.go
  flyteplugins/go/tasks/plugins/webapi/agent/mocks/AsyncAgentServiceClient.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin_test.go
Labels: enhancement, size:XL, lgtm

#4656 Support kuberay v1.0.0
  flyteadmin/go.mod
  flyteadmin/go.sum
  flyteplugins/go.mod
  flyteplugins/go.sum
  flyteplugins/go/tasks/plugins/k8s/ray/ray.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray_test.go
  flytepropeller/go.mod
  flytepropeller/go.sum
  go.mod
  go.sum
Labels: enhancement, size:M, lgtm
