Repository flyteorg/flyte, pull requests merged in 2024-11, with the labels that each got.

#5260 docs(contribute): rewrite flyte contribute docs based on 4960
  docs/community/contribute/contribute_code.rst
Labels: documentation, size:S, lgtm

#5598 Deterministic error propagation for distributed (training) tasks
  rfc/system/5598-deterministic-errors-distributed-training.md
Labels: rfc

#5944 Fix: Make appProtocols optional in flyteadmin and flyteconsole services in helm chart
  charts/flyte-core/README.md
  charts/flyte-core/templates/admin/service.yaml
  charts/flyte-core/templates/console/service.yaml
  charts/flyte-core/values.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Labels: bug

#5969 Fix: customize demo cluster port
  flytectl/cmd/config/subcommand/sandbox/config_flags.go
  flytectl/cmd/config/subcommand/sandbox/config_flags_test.go
  flytectl/cmd/config/subcommand/sandbox/sandbox_config.go
  flytectl/cmd/demo/demo.go
  flytectl/cmd/demo/reload.go
  flytectl/cmd/demo/start.go
  flytectl/pkg/docker/docker_util.go
  flytectl/pkg/docker/docker_util_test.go
  flytectl/pkg/sandbox/reload.go
  flytectl/pkg/sandbox/start.go
Labels: added

#5216 helm: Add support for passing env variables to flyteadmin using envFrom
  charts/flyte-core/README.md
  charts/flyte-core/templates/admin/deployment.yaml
  charts/flyte-core/values.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Labels: documentation, enhancement, size:S, lgtm
