Repository flyteorg/flyte, pull requests merged in 2024-10, with the labels that each got.

#5796 Update aws-go-sdk to v1.47.11 to support EKS Pod Identity
  datacatalog/go.mod
  datacatalog/go.sum
  flyteadmin/go.mod
  flyteadmin/go.sum
  flytecopilot/go.mod
  flytecopilot/go.sum
  flytectl/go.mod
  flytectl/go.sum
  flyteidl/go.mod
  flyteidl/go.sum
  flyteplugins/go.mod
  flyteplugins/go.sum
  flytepropeller/go.mod
  flytepropeller/go.sum
  flytestdlib/go.mod
  flytestdlib/go.sum
  go.mod
  go.sum
Labels: dependencies

#5830 Update contributing docs
  docs/community/contribute/contribute_code.rst
  docs/community/contribute/contribute_docs.md
  docs/community/contribute/contribute_examples.md
  docs/community/contribute/index.rst
  docs/community/index.rst
  docs/conf.py
  docs/user_guide/flyte_agents/developing_agents.md
  docs/user_guide/index.md
Labels: documentation

#5610 RFC: Community plugins
  rfc/system/0008-community-plugins.md
Labels: rfc
