Repository flyteorg/flyte, pull requests merged in 2024-03, with the labels that each got.

#4964 [Docs] Remove redundant dollar signs
  docs/community/troubleshoot.rst
  docs/deployment/deployment/multicluster.rst
Labels: documentation, size:S, lgtm

#4939 add hostname to input
  flyteplugins/go/tasks/logs/logging_utils.go
  flyteplugins/go/tasks/logs/logging_utils_test.go
Labels: enhancement, size:M, lgtm

#5000 Fix Monodocs build
  .github/workflows/tests.yml
Labels: documentation, size:S, lgtm

#4988 Allow specifying flyte pod webhook deployment resources
  charts/flyte-core/README.md
  charts/flyte-core/templates/propeller/webhook.yaml
  charts/flyte-core/values.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_dataplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_dataplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
Labels: enhancement, size:M, lgtm

#4995 Pin helmdocs to 1.12.0
  script/generate_helm.sh
Labels: housekeeping, size:M, lgtm

#4959 Time partition granularity
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/core/artifact_id_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/artifact_id.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/external_plugin_service.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/artifact_id_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/artifact_id_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/artifact_id.proto
Labels: enhancement, size:XXL, lgtm

#5006 Add links to "Developing agents" doc
  docs/flyte_agents/developing_agents.md
Labels: documentation, size:XS, lgtm

#5007 Update link to flytesnacks repo
  docs/deployment/deployment/cloud_simple.rst
Labels: documentation, size:XS, lgtm

#4477 Improve the error message for databricks plugins
  flyteplugins/go/tasks/pluginmachinery/internal/webapi/launcher.go
  flyteplugins/go/tasks/pluginmachinery/internal/webapi/launcher_test.go
  flyteplugins/go/tasks/plugins/webapi/agent/integration_test.go
  flyteplugins/go/tasks/plugins/webapi/databricks/integration_test.go
  flyteplugins/go/tasks/plugins/webapi/databricks/plugin.go
  flyteplugins/go/tasks/plugins/webapi/databricks/plugin_test.go
Labels: size:L, lgtm

#4871 Add Airflow migration guide
  docs/getting_started_with_workflow_development/index.md
  docs/user_guide/development_lifecycle/index.md
  docs/user_guide/development_lifecycle/migrating_from_airflow_to_flyte.md
Labels: documentation, size:M, lgtm

#5009 Add Docker image build and FlyteAgent update steps to "Developing agents" doc
  docs/flyte_agents/developing_agents.md
  docs/user_guide/development_lifecycle/agents.md
  docs/user_guide/development_lifecycle/index.md
  docs/user_guide/extending/index.md
Labels: documentation, size:L, lgtm

#4989 Update docs links in /flyteidl
  flyteidl/README.md
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/core/tasks_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/tasks.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/external_plugin_service.swagger.json
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/index.rst
  flyteidl/protos/docs/core/core.rst
  flyteidl/protos/flyteidl/core/tasks.proto
Labels: documentation, size:S, lgtm

#5018 Fix minio config on helpers.tpl
  charts/flyte-core/templates/_helpers.tpl
  deployment/sandbox/flyte_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Labels: documentation, size:M, lgtm

#5019 Fix ephemeral storage validation in the case of pod templates
  flyteadmin/pkg/manager/impl/validation/task_validator.go
  flyteadmin/pkg/manager/impl/validation/task_validator_test.go
Labels: bug, size:S, lgtm

#5023 Fix: Sanitize user identity before injecting into task pod as K8s label
  flytepropeller/pkg/controller/nodes/task/k8s/task_exec_context.go
  flytepropeller/pkg/controller/nodes/task/k8s/task_exec_context_test.go
Labels: bug, size:S, lgtm

#4947 Hide generated proto stubs by default
  .gitattributes
  flyteidl/.gitattributes
Labels: housekeeping, size:XS

#5024 Fix yaml comment in pod template examples
  docs/deployment/configuration/general.rst
Labels: documentation, size:S, lgtm

#5025 Fix use of labels and annotations in pod template examples
  docs/deployment/configuration/general.rst
Labels: documentation, size:M, lgtm

#4990 Add gRPC probe for agent
  charts/flyteagent/README.md
  charts/flyteagent/templates/agent/deployment.yaml
  charts/flyteagent/values.yaml
  deployment/agent/flyte_agent_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Labels: documentation, enhancement, size:M, lgtm

#4983 Remove , file in the root directory
  ,
  flyteplugins/go/tasks/pluginmachinery/internal/webapi/launcher.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
  flytepropeller/events/local_eventsink.go
  flytepropeller/pkg/compiler/test/compiler_test.go
  flytepropeller/pkg/compiler/validators/utils_test.go
  flytepropeller/pkg/compiler/workflow_compiler_test.go
  flytepropeller/pkg/controller/nodes/executor.go
Labels: enhancement, size:S, lgtm

#4996 [Housekeeping] Remove sandbox lite
  .github/workflows/lite-image-manual.yml
  .github/workflows/sandbox.yml
  .gitignore
  Dockerfile.sandbox-lite
  docker/sandbox-bundled/README.md
  docker/sandbox-lite/flyte-entrypoint-dind.sh
  docker/sandbox-lite/templates/namespace.yaml
  docker/sandbox-lite/templates/project_resource_quota.yaml
Labels: housekeeping, size:L, lgtm

#5028 Flyte-core remove unnecessary ingress capability checks
  charts/flyte-core/templates/common/ingress.yaml
Labels: housekeeping, size:L, lgtm

#5022 Nested parallelization
  docs/user_guide/advanced_composition/index.md
  docs/user_guide/advanced_composition/nested_parallelization.md
Labels: documentation, size:L, lgtm

#4993 Enable agent service by default
  charts/flyte-binary/eks-production.yaml
  charts/flyte-binary/eks-starter.yaml
  charts/flyte-core/README.md
  charts/flyte-core/values-eks.yaml
  charts/flyte-core/values-gcp.yaml
  charts/flyte-core/values-keycloak-idp-flyteclients-without-browser.yaml
  charts/flyte-core/values.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_dataplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_dataplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  flyteplugins/go/tasks/plugins/webapi/agent/client.go
Labels: documentation, enhancement, size:M, lgtm

#5030 docs: improve documentation for overwriting existing images
  docs/user_guide/customizing_dependencies/imagespec.md
Labels: documentation, size:S, lgtm

#4971 Add extra header to signed url
  datacatalog/go.mod
  datacatalog/go.sum
  flyteadmin/dataproxy/service.go
  flyteadmin/go.mod
  flyteadmin/go.sum
  flyteadmin/pkg/data/implementations/noop_remote_url_test.go
  flytecopilot/go.mod
  flytecopilot/go.sum
  flyteidl/gen/pb-es/flyteidl/service/dataproxy_pb.ts
  flyteidl/gen/pb-go/flyteidl/service/dataproxy.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/dataproxy.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/service/dataproxy_pb2.py
  flyteidl/gen/pb_python/flyteidl/service/dataproxy_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.service.rs
  flyteidl/go.mod
  flyteidl/go.sum
  flyteidl/protos/flyteidl/service/dataproxy.proto
  flyteplugins/go.mod
  flyteplugins/go.sum
  flyteplugins/go/tasks/pluginmachinery/ioutils/remote_file_output_reader_test.go
  flyteplugins/go/tasks/plugins/array/k8s/management_test.go
  flytepropeller/go.mod
  flytepropeller/go.sum
  flytepropeller/pkg/controller/nodes/dynamic/dynamic_workflow_test.go
  flytepropeller/pkg/controller/nodes/executor_test.go
  flytestdlib/go.mod
  flytestdlib/go.sum
  flytestdlib/storage/mem_store.go
  flytestdlib/storage/storage.go
  flytestdlib/storage/stow_store.go
  flytestdlib/storage/stow_store_test.go
  go.mod
  go.sum
Labels: enhancement, size:XL, lgtm

#5037 Pin flyteconsole version in release process
  script/release.sh
Labels: enhancement, size:XS

#5041 bump stow version
  datacatalog/go.mod
  datacatalog/go.sum
  flyteadmin/go.mod
  flyteadmin/go.sum
  flytecopilot/go.mod
  flytecopilot/go.sum
  flyteidl/go.mod
  flyteidl/go.sum
  flyteplugins/go.mod
  flyteplugins/go.sum
  flytepropeller/go.mod
  flytepropeller/go.sum
  flytestdlib/go.mod
  flytestdlib/go.sum
  go.mod
  go.sum
Labels: enhancement, size:S, lgtm

#5043 [Docs] Remove kustomize link in secrets.md doc
  docs/user_guide/productionizing/secrets.md
Labels: documentation, size:XS, lgtm

#5027 CI workflow for helm charts and manifests
  .github/workflows/validate-helm-charts.yaml
Labels: enhancement, size:M, lgtm

#5057 Update spark-on-k8s-operator address in helm charts
  charts/flyte-deps/Chart.yaml
  charts/flyte-deps/README.md
  charts/flyte/Chart.yaml
  charts/flyte/README.md
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Labels: documentation, enhancement, size:S, lgtm

#5056 Fix wrong syntax for path filtering in validate-helm-charts.yaml
  .github/workflows/validate-helm-charts.yaml
Labels: bug, size:XS, lgtm

#5054 Fix: flyte-secret-auth secret not mounted properly in flyte-core
  charts/flyte-core/templates/flytescheduler/deployment.yaml
Labels: bug, size:XS, lgtm

#5059 Match flytekit versions used to register and run functional tests
  .github/workflows/single-binary.yml
Labels: housekeeping, size:XS

#5058 integration test config
  flyteadmin/script/integration/k8s/integration.yaml
  flyteadmin/tests/bootstrap.go
Labels: enhancement, size:S, lgtm

#5060 Add org as an optional request param to dataproxy CreateUploadLocation
  flyteidl/gen/pb-es/flyteidl/service/dataproxy_pb.ts
  flyteidl/gen/pb-go/flyteidl/service/dataproxy.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/dataproxy.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/service/dataproxy_pb2.py
  flyteidl/gen/pb_python/flyteidl/service/dataproxy_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.service.rs
  flyteidl/go.mod
  flyteidl/go.sum
  flyteidl/protos/flyteidl/service/dataproxy.proto
Labels: enhancement, size:L

#4969 Add k8s env froms
  charts/flyte/README.md
  charts/flyte/values.yaml
  deployment/sandbox/flyte_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  flyteplugins/go/tasks/pluginmachinery/flytek8s/config/config.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/container_helper.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/k8s_resource_adds.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/k8s_resource_adds_test.go
  flyteplugins/go/tasks/plugins/array/awsbatch/transformer.go
Labels: documentation, enhancement, size:M, lgtm

#5080 Prepopulate ArrayNode output literals with TaskNode interface output variables
  flytepropeller/pkg/controller/nodes/array/handler.go
  flytepropeller/pkg/controller/nodes/array/handler_test.go
Labels: documentation, enhancement, size:M, lgtm

#4852 [House Keeping] deprecate MaxDatasetSizeBytes propeller config in favor of GetLimitMegabytes storage config
  docs/deployment/configuration/generated/flyteadmin_config.rst
  docs/deployment/configuration/generated/flytepropeller_config.rst
  docs/deployment/configuration/generated/scheduler_config.rst
  flytepropeller/pkg/controller/config/config.go
  flytepropeller/pkg/controller/config/config_flags.go
  flytepropeller/pkg/controller/controller.go
Labels: documentation, housekeeping, size:S, lgtm

#5072 Fix lint errors caught by `chart-testing`
  .github/workflows/validate-helm-charts.yaml
  Makefile
  charts/event.json
  charts/flyte-binary/Chart.yaml
  charts/flyte-binary/values.yaml
  charts/flyte-core/Chart.yaml
  charts/flyte-core/values.yaml
  charts/flyte-deps/Chart.yaml
  charts/flyte/Chart.yaml
  charts/flyte/values.yaml
  charts/flyteagent/Chart.yaml
  charts/flyteagent/values.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  script/release.sh
Labels: housekeeping, size:L, lgtm

#5064 sagemaker agent backend setup documentation
  docs/_ext/import_projects.py
  docs/core_use_cases/machine_learning.md
  docs/deployment/agents/index.md
  docs/deployment/agents/sagemaker_inference.rst
  docs/flyte_fundamentals/extending_flyte.md
  docs/flyte_fundamentals/optimizing_tasks.md
  docs/user_guide/basics/workflows.md
  docs/user_guide/extending/backend_plugins.md
  docs/user_guide/productionizing/configuring_logging_links_in_the_ui.md
  monodocs-environment.lock.yaml
  monodocs-environment.yaml
Labels: size:L, lgtm

#5026 add first version of gke-starter values file
  charts/flyte-binary/Chart.yaml
  charts/flyte-binary/gke-starter.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Labels: documentation, enhancement, size:L, lgtm

#5098 Fix open ai secret name
  docs/deployment/agents/chatgpt.rst
Labels: bug, size:XS

#4998 Allow setting a ExecutionClusterLabel when triggering a Launchplan/Workflow/Task
  flyteadmin/pkg/executioncluster/execution_target.go
  flyteadmin/pkg/executioncluster/impl/in_cluster.go
  flyteadmin/pkg/executioncluster/impl/in_cluster_test.go
  flyteadmin/pkg/executioncluster/impl/random_cluster_selector.go
  flyteadmin/pkg/executioncluster/impl/random_cluster_selector_test.go
  flyteadmin/pkg/manager/impl/execution_manager.go
  flyteadmin/pkg/manager/impl/execution_manager_test.go
  flyteadmin/pkg/server/service.go
  flyteadmin/pkg/workflowengine/impl/k8s_executor.go
  flyteadmin/pkg/workflowengine/interfaces/executor.go
  flyteadmin/tests/project_test.go
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/admin/execution_pb.ts
  flyteidl/gen/pb-go/flyteidl/admin/execution.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/admin/execution_pb2.py
  flyteidl/gen/pb_python/flyteidl/admin/execution_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/protos/flyteidl/admin/execution.proto
Labels: enhancement, size:XXL, lgtm

#5078 Improve audience mismatch debugging
  flyteadmin/auth/authzserver/claims_verifier.go
Labels: enhancement, size:XS, lgtm

#5100 docs(sandbox): Add guide for running newest flyteconsole in flyte sandbox
  Makefile
  docs/community/contribute.rst
Labels: documentation, enhancement, size:XS, lgtm

#5104 Remove unnecessary step and fix numbering in code examples
  docs/community/contribute.rst
Labels: documentation, enhancement, size:M

#5110 Update repeated value filters with ValueNotIn support
  docs/concepts/admin.rst
  flyteadmin/pkg/common/filters.go
  flyteadmin/pkg/common/filters_test.go
Labels: enhancement, size:M, lgtm

#5097 Update container builds from go 1.21.5 to 1.21.latest
  Dockerfile
  Dockerfile.datacatalog
  Dockerfile.flyteadmin
  Dockerfile.flytecopilot
  Dockerfile.flytepropeller
  Dockerfile.flytescheduler
Labels: enhancement, security, size:S, lgtm

#5118 Add optional org param to ProjectGetRequest
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/admin/project_pb.ts
  flyteidl/gen/pb-go/flyteidl/admin/project.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.pb.gw.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/admin/project_pb2.py
  flyteidl/gen/pb_python/flyteidl/admin/project_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/protos/flyteidl/admin/project.proto
Labels: enhancement, size:L, lgtm

#5120 Stop building read-the-docs for flyteidl
  flyteidl/.readthedocs.yml
  flyteidl/Makefile
  flyteidl/doc-requirements.in
  flyteidl/doc-requirements.txt
Labels: documentation, security, housekeeping, size:L

#5121 Bump google.golang.org/grpc and otelgrpc
  datacatalog/go.mod
  datacatalog/go.sum
  flyteadmin/go.mod
  flyteadmin/go.sum
  flytecopilot/go.mod
  flytecopilot/go.sum
  flyteidl/go.mod
  flyteidl/go.sum
  flyteplugins/go.mod
  flyteplugins/go.sum
  flytepropeller/go.mod
  flytepropeller/go.sum
  go.mod
  go.sum
Labels: security, size:L

#5122 Fix broken link in "Mapping Python to Flyte types" table
  docs/user_guide/data_types_and_io/index.md
Labels: documentation, size:XS, lgtm

#5123 Bump version of otel and grpc in flytestdlib
  flytestdlib/go.mod
  flytestdlib/go.sum
Labels: enhancement, housekeeping, size:M

#5013 Set flyteadmin grpc port correctly in config / Flyte-core flyteadmin / datacatalog expose ports
  charts/flyte-core/README.md
  charts/flyte-core/templates/admin/deployment.yaml
  charts/flyte-core/templates/datacatalog/deployment.yaml
  charts/flyte-core/values-eks.yaml
  charts/flyte-core/values-gcp.yaml
  charts/flyte-core/values-keycloak-idp-flyteclients-without-browser.yaml
  charts/flyte-core/values.yaml
  charts/flyte/README.md
  charts/flyte/values.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
  deployment/test/flyte_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  docs/deployment/configuration/auth_setup.rst
  flyteadmin/flyteadmin_config.yaml
  flyteadmin/script/integration/k8s/integration.yaml
Labels: enhancement, size:L, lgtm

#4987 Add flyte-core missing priorityClassName to webhook values
  charts/flyte-core/README.md
  charts/flyte-core/templates/propeller/webhook.yaml
  charts/flyte-core/values.yaml
Labels: enhancement, size:XS, lgtm

#4963 Update environment_setup.md
  docs/user_guide/environment_setup.md
Labels: bug, documentation, size:XS, lgtm

#4966 [Docs] Open external links in new tab
  docs/conf.py
  monodocs-environment.lock.yaml
  monodocs-environment.yaml
Labels: documentation, size:S, lgtm

#4946 Fix separateGrpcIngress flag not working in flyte-binary helm chart
  charts/flyte-binary/README.md
  charts/flyte-binary/templates/_helpers.tpl
  charts/flyte-binary/templates/ingress/grpc.yaml
  charts/flyte-binary/templates/ingress/http.yaml
  charts/flyte-binary/templates/service/grpc.yaml
  charts/flyte-binary/templates/service/http.yaml
  charts/flyte-binary/values.yaml
Labels: bug, documentation, size:L, lgtm

#5131 docs(contribute): Change go mod tidy to make go-tidy
  docs/community/contribute.rst
Labels: documentation, size:XS, lgtm

#5127 Fix execution phase
  flyteadmin/pkg/manager/impl/execution_manager.go
  flyteadmin/pkg/repositories/transformers/execution.go
  flyteadmin/pkg/repositories/transformers/execution_test.go
Labels: bug, housekeeping, size:S, lgtm

#4648 Add trailing slash to compile make target
  Makefile
Labels: housekeeping, size:XS

#5128 Change retry error from RuntimeError to FlyteRecoverableException
  docs/concepts/tasks.rst
  docs/flyte_fundamentals/optimizing_tasks.md
Labels: documentation, enhancement, size:XS, lgtm

#5067 Adapt ray flyteplugin to Kuberay 1.1.0
  flyte-single-binary-local.yaml
  flyteadmin/go.mod
  flyteadmin/go.sum
  flyteidl/gen/pb-es/flyteidl/plugins/ray_pb.ts
  flyteidl/gen/pb-go/flyteidl/plugins/ray.pb.go
  flyteidl/gen/pb_python/flyteidl/plugins/ray_pb2.py
  flyteidl/gen/pb_python/flyteidl/plugins/ray_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.plugins.rs
  flyteidl/protos/flyteidl/plugins/ray.proto
  flyteplugins/go.mod
  flyteplugins/go.sum
  flyteplugins/go/tasks/plugins/k8s/ray/config.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray_test.go
  flytepropeller/go.mod
  flytepropeller/go.sum
  go.mod
  go.sum
Labels: enhancement, size:XL, lgtm

#5142 Upgrade cloudevents to v2.15.2
  flyteadmin/go.mod
  flyteadmin/go.sum
  go.mod
  go.sum
Labels: security, size:XS, lgtm

#5138 update sagemaker agent setup doc as secrets aren't required anymore
  docs/deployment/agents/sagemaker_inference.rst
Labels: documentation, size:M, lgtm

#5139 Upgrade logrus to v1.9.3 everywhere
  datacatalog/go.mod
  datacatalog/go.sum
  flyteadmin/go.mod
  flyteadmin/go.sum
  flytecopilot/go.mod
  flytecopilot/go.sum
  flyteidl/go.mod
  flyteidl/go.sum
  flyteplugins/go.mod
  flyteplugins/go.sum
  flytepropeller/go.mod
  flytepropeller/go.sum
  flytestdlib/go.mod
  flytestdlib/go.sum
  go.mod
  go.sum
Labels: security, size:S, lgtm

#5140 Upgrade go-restful to v3.12.0
  datacatalog/go.mod
  datacatalog/go.sum
  flyteadmin/go.mod
  flyteadmin/go.sum
  flytecopilot/go.mod
  flytecopilot/go.sum
  flyteidl/go.mod
  flyteidl/go.sum
  flyteplugins/go.mod
  flyteplugins/go.sum
  flytepropeller/go.mod
  flytepropeller/go.sum
  flytestdlib/go.mod
  flytestdlib/go.sum
  go.mod
  go.sum
Labels: security, size:S

#5149 Regenerate ray pflags
  flyteplugins/go/tasks/plugins/k8s/ray/config_flags.go
  flyteplugins/go/tasks/plugins/k8s/ray/config_flags_test.go
Labels: enhancement, size:S

#4863 Split access token into half and store to avoid "securecookie: the value is too long" error
  flyteadmin/auth/cookie.go
  flyteadmin/auth/cookie_manager.go
  flyteadmin/auth/cookie_manager_test.go
  flyteadmin/auth/handlers_test.go
  flyteadmin/go.mod
  flyteadmin/go.sum
Labels: bug, size:L, lgtm

#5159 use javascript to open new tab for external links
  Makefile
  docs/_static/custom.js
  docs/conf.py
  monodocs-environment.lock.yaml
  monodocs-environment.yaml
Labels: documentation, size:S, lgtm
