Repository flyteorg/flyte, pull requests merged in 2024-02, with the labels that each got.

#4808 Flyte-core add missing nodeSelector values
  charts/flyte-core/README.md
  charts/flyte-core/templates/clusterresourcesync/deployment.yaml
  charts/flyte-core/templates/propeller/webhook.yaml
  charts/flyte-core/values.yaml
Labels: enhancement, size:S, lgtm

#4810 Flyte-core add missing imagePullSecrets support
  charts/flyte-core/README.md
  charts/flyte-core/templates/console/deployment.yaml
  charts/flyte-core/templates/propeller/webhook.yaml
  charts/flyte-core/values.yaml
Labels: documentation, enhancement, size:S, lgtm

#4831 [Doc] Airflow agent deployment
  docs/deployment/agents/airflow.rst
Labels: documentation, size:M, lgtm

#4832 [Doc] Snowflake agent deployment
  docs/deployment/agents/snowflake.rst
Labels: documentation, size:M, lgtm

#4814 Move intro docs from flytesnacks to flyte
  docs/conf.py
  docs/index.md
  docs/introduction/core_use_cases/analytics.md
  docs/introduction/core_use_cases/data_engineering.md
  docs/introduction/core_use_cases/index.md
  docs/introduction/core_use_cases/machine_learning.md
  docs/introduction/flyte_fundamentals/extending_flyte.md
  docs/introduction/flyte_fundamentals/index.md
  docs/introduction/flyte_fundamentals/optimizing_tasks.md
  docs/introduction/flyte_fundamentals/package_register.md
  docs/introduction/flyte_fundamentals/run_schedule.md
  docs/introduction/flyte_fundamentals/tasks_and_workflows.md
  docs/introduction/flyte_fundamentals/visualizing_task_input_and_output.md
  docs/introduction/getting_started_with_workflow_development/creating_a_flyte_project.md
  docs/introduction/getting_started_with_workflow_development/flyte_project_components.md
  docs/introduction/getting_started_with_workflow_development/index.md
  docs/introduction/getting_started_with_workflow_development/installing_development_tools.md
  docs/introduction/getting_started_with_workflow_development/running_a_workflow_locally.md
  docs/introduction/index.md
  docs/introduction/quickstart_guide.md
Labels: documentation, size:XXL, lgtm

#4837 [Docs] add sandbox to local cluster resource path
  docs/community/contribute.rst
Labels: documentation, size:XS, lgtm

#4807 Flyte-core add missing podEnv values
  charts/flyte-core/templates/admin/deployment.yaml
  charts/flyte-core/templates/console/deployment.yaml
  charts/flyte-core/templates/datacatalog/deployment.yaml
  charts/flyte-core/templates/flytescheduler/deployment.yaml
  charts/flyte-core/templates/propeller/webhook.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
Labels: bug, size:M, lgtm

#4804 Flyte-core Expose propeller webhook port 9443 in charts
  charts/flyte-core/templates/propeller/webhook.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_dataplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_dataplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
Labels: enhancement, size:S, lgtm

#4799 Generate version with setuptools_scm and migrate to pyproject.toml
  .github/workflows/flyteidl-release.yml
  flyteidl/Makefile
  flyteidl/pyproject.toml
  flyteidl/setup.py
Labels: enhancement, housekeeping, size:L, lgtm

#4846 MNT Fixes packaging for flyteidl wheel
  .github/workflows/flyteidl-release.yml
  flyteidl/pyproject.toml
Labels: bug, housekeeping, size:M, lgtm

#4838 [FLYTE-486] Support selecting IDP based on the query parameter
  flyteadmin/auth/config/config.go
  flyteadmin/auth/config/config_flags.go
  flyteadmin/auth/config/config_flags_test.go
  flyteadmin/auth/handlers.go
  flyteadmin/auth/handlers_test.go
Labels: enhancement, size:M, lgtm

#4848 Add plugin_config for agent
  charts/flyte-core/README.md
  charts/flyte-core/templates/propeller/configmap.yaml
  charts/flyte-core/values.yaml
  charts/flyte/README.md
  charts/flyte/values.yaml
  deployment/sandbox/flyte_helm_generated.yaml
Labels: enhancement, size:M, lgtm

#4850 Adds MANIFEST.in for flyteidl
  flyteidl/MANIFEST.in
Labels: enhancement, size:M, lgtm

#4867 Verify unbounded inputs for all scheduled launch plan types
  flyteadmin/pkg/manager/impl/validation/launch_plan_validator.go
  flyteadmin/pkg/manager/impl/validation/launch_plan_validator_test.go
Labels: enhancement, size:S, lgtm

#4861 Fix npm publish of flyteidl package
  .github/workflows/flyteidl-release.yml
Labels: bug, size:XS, lgtm

#4860 Remove protoc_gen_swagger
  flyteidl/pyproject.toml
Labels: housekeeping, size:S, lgtm

#4857 Create CODEOWNERS file and add docs team
  CODEOWNERS
Labels: documentation, size:XS, lgtm

#4868 [Docs] update outdated link to on-prem tutorial
  docs/deployment/deployment/cloud_simple.rst
Labels: documentation, size:XS, lgtm

#4856 Re-add link to hosted sandbox
  docs/quickstart_guide.md
Labels: documentation, size:S, lgtm

#4836 Fix asterisk in cron table being rendered as list item
  docs/concepts/schedules.rst
Labels: documentation, size:L, lgtm

#4820 Add protos to support cache overrides
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/core/compiler_pb.ts
  flyteidl/gen/pb-es/flyteidl/core/workflow_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/compiler.pb.go
  flyteidl/gen/pb-go/flyteidl/core/workflow.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/compiler_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/compiler_pb2.pyi
  flyteidl/gen/pb_python/flyteidl/core/workflow_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/workflow_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/compiler.proto
  flyteidl/protos/flyteidl/core/workflow.proto
Labels: enhancement, size:XXL, lgtm

#4805 Flyte-core add support for ingressClassName in ingress
  charts/flyte-core/README.md
  charts/flyte-core/templates/common/ingress.yaml
  charts/flyte-core/values.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_dataplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_dataplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
Labels: enhancement, size:M, lgtm

#4862 Update flyte docs build directions
  docs/community/contribute.rst
Labels: documentation, size:M, lgtm

#4882 Replaced deprecated bitnami/bitnami-shell image with bitnami/os-shell
  docker/sandbox-bundled/images/manifest.txt
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Labels: housekeeping, size:S, lgtm

#4809 Flyte-core define pod and container securityContext
  charts/flyte-core/templates/admin/deployment.yaml
  charts/flyte-core/templates/console/deployment.yaml
  charts/flyte-core/templates/datacatalog/deployment.yaml
  charts/flyte-core/templates/flytescheduler/deployment.yaml
  charts/flyte-core/templates/propeller/webhook.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_dataplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_dataplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
Labels: security, size:L

#4818 Leverage KubeRay v1 instead of v1alpha1 for resources
  flyteplugins/go/tasks/plugins/k8s/ray/config.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray_test.go
Labels: enhancement, size:L, lgtm

#4899 Commit generated files produced by `make -C docker/sandbox-bundled build`
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Labels: housekeeping, size:M

#4572 [BUG] Support loading cached sublists with multiple data types
  flytepropeller/pkg/compiler/validators/utils.go
  flytepropeller/pkg/compiler/validators/utils_test.go
Labels: bug, size:L, lgtm

#4834 Update docs links for monodocs
  CHANGELOG/CHANGELOG-v0.11.0.md
  CHANGELOG/CHANGELOG-v0.14.0.md
  CHANGELOG/CHANGELOG-v0.17.0.md
  CHANGELOG/CHANGELOG-v1.1.0.md
  CHANGELOG/CHANGELOG-v1.10.0.md
  CHANGELOG/CHANGELOG-v1.2.0.md
  CHANGELOG/CHANGELOG-v1.3.0.md
  CHANGELOG/CHANGELOG-v1.5.0.md
  CHANGELOG/CHANGELOG-v1.9.0.md
  README.md
  docs/community/contribute.rst
  docs/community/roadmap.rst
  docs/concepts/component_architecture/native_scheduler_architecture.rst
  docs/concepts/registration.rst
  docs/concepts/tasks.rst
  docs/deployment/configuration/auth_setup.rst
  docs/deployment/configuration/customizable_resources.rst
  docs/deployment/configuration/general.rst
  docs/deployment/plugins/aws/batch.rst
  docs/flyte_fundamentals/registering_workflows.md
  docs/getting_started_with_workflow_development/flyte_project_components.md
  docs/reference/index.rst
  rfc/system/0001-flyte-execution-tags.md
  rfc/system/1476-task-resources.md
  rfc/system/1893-caching-of-offloaded-objects.md
  rfc/system/2633-eviction-of-cached-task-outputs.md
  rfc/system/3902-simplify-retry-behaviour.md
Labels: documentation, size:L, lgtm

#4895 Adding securityContext configuration to flyte-core charts
  charts/flyte-core/README.md
  charts/flyte-core/templates/admin/deployment.yaml
  charts/flyte-core/templates/console/deployment.yaml
  charts/flyte-core/templates/datacatalog/deployment.yaml
  charts/flyte-core/templates/flytescheduler/deployment.yaml
  charts/flyte-core/templates/propeller/deployment.yaml
  charts/flyte-core/templates/propeller/manager.yaml
  charts/flyte-core/templates/propeller/webhook.yaml
  charts/flyte-core/values.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_dataplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_dataplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
Labels: documentation, enhancement, size:L, lgtm

#4875 Update imageSpec doc
  docs/getting_started_with_workflow_development/flyte_project_components.md
Labels: documentation, size:S, lgtm

#4898 Add org
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/core/artifact_id_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/artifact_id.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/external_plugin_service.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/artifact_id_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/artifact_id_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/artifact_id.proto
Labels: housekeeping, size:L, lgtm

#4896 Remove org-based additional bindings paths to avoid conflicts
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-go/flyteidl/service/admin.pb.go
  flyteidl/gen/pb-go/flyteidl/service/signal.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.pb.gw.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/signal.pb.gw.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/signal.swagger.json
  flyteidl/gen/pb_python/flyteidl/service/admin_pb2.py
  flyteidl/gen/pb_python/flyteidl/service/signal_pb2.py
  flyteidl/protos/flyteidl/service/admin.proto
  flyteidl/protos/flyteidl/service/signal.proto
Labels: enhancement, size:XL, lgtm

#4902 Added fixed_literal to launchplan template
  flyteidl/gen/pb-es/flyteidl/core/workflow_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/workflow.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/workflow_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/workflow_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/workflow.proto
Labels: enhancement, size:L

#4906 Update async agent example
  docs/flyte_agents/creating_an_agent.md
  docs/flyte_agents/testing_agents_locally.md
Labels: documentation, size:M, lgtm

#4910 Update broken links
  CHANGELOG/CHANGELOG-v0.11.0.md
  CHANGELOG/CHANGELOG-v0.14.0.md
  CHANGELOG/CHANGELOG-v0.17.0.md
  CHANGELOG/CHANGELOG-v0.5.0.md
  CHANGELOG/CHANGELOG-v0.9.0.md
  CHANGELOG/CHANGELOG-v1.1.0.md
  CHANGELOG/CHANGELOG-v1.2.0.md
  CHANGELOG/CHANGELOG-v1.3.0.md
  CHANGELOG/CHANGELOG-v1.5.0.md
  docs/community/roadmap.rst
  rfc/system/1476-task-resources.md
  rfc/system/1893-caching-of-offloaded-objects.md
  rfc/system/2633-eviction-of-cached-task-outputs.md
Labels: documentation, size:L, lgtm

#4911 make generate idl
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/gen/pb_rust/flyteidl.event.rs
Labels: housekeeping, size:S, lgtm

#4920 Service Account for V1 Ray Jobs
  flyteplugins/go/tasks/plugins/k8s/ray/config.go
  flyteplugins/go/tasks/plugins/k8s/ray/config_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray.go
Labels: enhancement, size:S, lgtm

#4919 Cache console assets in single binary
  cmd/single/console_dist.go
Labels: enhancement, size:XS, lgtm

#4914 fix: mount flyte-secret-auth secret conditionally
  charts/flyte-core/templates/clusterresourcesync/deployment.yaml
  charts/flyte-core/templates/flytescheduler/deployment.yaml
  charts/flyte-core/templates/propeller/deployment.yaml
  charts/flyte-core/templates/propeller/manager.yaml
Labels: bug, size:S, lgtm

#4921 Refresh matchable resources documentation
  docs/concepts/admin.rst
  docs/deployment/configuration/customizable_resources.rst
  docs/deployment/configuration/general.rst
  docs/deployment/configuration/index.md
  docs/deployment/configuration/resource_manager.rst
  docs/deployment/plugins/aws/batch.rst
  docs/deployment/plugins/k8s/index.rst
Labels: documentation, size:XL, lgtm

#4858 Fix: Handle overriding of container image in backend
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/core/workflow_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/workflow.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/workflow_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/workflow_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/workflow.proto
  flyteplugins/go/tasks/pluginmachinery/core/exec_metadata.go
  flyteplugins/go/tasks/pluginmachinery/core/mocks/task_overrides.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/plugin_exec_context.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper_test.go
  flyteplugins/go/tasks/plugins/array/k8s/management_test.go
  flyteplugins/go/tasks/plugins/k8s/dask/dask_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/mpi/mpi_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/pytorch/pytorch_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/tensorflow/tensorflow_test.go
  flyteplugins/go/tasks/plugins/k8s/pod/container_test.go
  flyteplugins/go/tasks/plugins/k8s/pod/sidecar_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray_test.go
  flyteplugins/go/tasks/plugins/k8s/spark/spark_test.go
  flyteplugins/tests/end_to_end.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/iface.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/mocks/ExecutableNode.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/nodes.go
  flytepropeller/pkg/compiler/transformers/k8s/node.go
  flytepropeller/pkg/compiler/transformers/k8s/node_test.go
Labels: bug, size:XL, lgtm

#4907 Increase default memory and CPU resource
  flyte-single-binary-local.yaml
Labels: enhancement, size:XS, lgtm

#4884 Allow recursive namespace templating
  flyteplugins/go/tasks/pluginmachinery/core/template/template.go
  flyteplugins/go/tasks/pluginmachinery/core/template/template_test.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/container_helper_test.go
  flyteplugins/go/tasks/plugins/array/awsbatch/launcher_test.go
  flyteplugins/go/tasks/plugins/webapi/athena/utils_test.go
Labels: enhancement, size:M, lgtm

#4929 Remove eph storage
  charts/flyte-core/README.md
  charts/flyte-core/values.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
Labels: housekeeping, size:M, lgtm

#4933 Clarify that only pandas is needed for StructuredDataset
  docs/user_guide/data_types_and_io/structureddataset.md
Labels: documentation, size:S, lgtm

#4874 Agents protocol refactor
  flyteidl/clients/go/admin/mocks/AsyncAgentServiceClient.go
  flyteidl/clients/go/admin/mocks/AsyncAgentServiceServer.go
  flyteidl/clients/go/admin/mocks/AsyncAgentService_CreateTaskClient.go
  flyteidl/clients/go/admin/mocks/AsyncAgentService_CreateTaskServer.go
  flyteidl/clients/go/admin/mocks/AsyncAgentService_ExecuteTaskSyncClient.go
  flyteidl/clients/go/admin/mocks/AsyncAgentService_ExecuteTaskSyncServer.go
  flyteidl/clients/go/admin/mocks/AsyncAgentService_GetTaskClient.go
  flyteidl/clients/go/admin/mocks/AsyncAgentService_GetTaskLogsClient.go
  flyteidl/clients/go/admin/mocks/AsyncAgentService_GetTaskLogsServer.go
  flyteidl/clients/go/admin/mocks/AsyncAgentService_GetTaskServer.go
  flyteidl/clients/go/admin/mocks/SyncAgentServiceClient.go
  flyteidl/clients/go/admin/mocks/SyncAgentServiceServer.go
  flyteidl/clients/go/admin/mocks/SyncAgentService_ExecuteTaskSyncClient.go
  flyteidl/clients/go/admin/mocks/SyncAgentService_ExecuteTaskSyncServer.go
  flyteidl/clients/go/admin/mocks/UnsafeSyncAgentServiceServer.go
  flyteidl/gen/pb-es/flyteidl/admin/agent_pb.ts
  flyteidl/gen/pb-es/flyteidl/service/agent_connect.ts
  flyteidl/gen/pb-go/flyteidl/admin/agent.pb.go
  flyteidl/gen/pb-go/flyteidl/service/agent.pb.go
  flyteidl/gen/pb-go/flyteidl/service/agent_grpc.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.pb.gw.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/admin/agent_pb2.py
  flyteidl/gen/pb_python/flyteidl/admin/agent_pb2.pyi
  flyteidl/gen/pb_python/flyteidl/service/agent_pb2.py
  flyteidl/gen/pb_python/flyteidl/service/agent_pb2_grpc.py
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/admin/agent.proto
  flyteidl/protos/flyteidl/service/agent.proto
  flyteplugins/go/tasks/plugins/webapi/agent/client.go
  flyteplugins/go/tasks/plugins/webapi/agent/client_test.go
  flyteplugins/go/tasks/plugins/webapi/agent/config.go
  flyteplugins/go/tasks/plugins/webapi/agent/config_test.go
  flyteplugins/go/tasks/plugins/webapi/agent/integration_test.go
  flyteplugins/go/tasks/plugins/webapi/agent/mocks/AgentMetadataServiceClient.go
  flyteplugins/go/tasks/plugins/webapi/agent/mocks/AsyncAgentServiceClient.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin_test.go
Labels: enhancement, size:XXL, lgtm

#4922 Fix flyte-core rendering when flyteagent enabled
  charts/flyte-core/README.md
  charts/flyte-core/values.yaml
Labels: bug, documentation, size:XS, lgtm

#4952 Further edits to agents docs
  docs/conf.py
  docs/core_use_cases/analytics.md
  docs/core_use_cases/data_engineering.md
  docs/flyte_agents/developing_agents.md
  docs/flyte_agents/index.md
  docs/flyte_fundamentals/optimizing_tasks.md
  docs/index.md
Labels: documentation, size:M, lgtm

#4940 Generating sandbox-bundled manifests via root Makefile
  Makefile
  docker/sandbox-bundled/Makefile
Labels: enhancement, housekeeping, size:S, lgtm

#4938 [BUG] Datacatalog put errors don't get persisted
  flyteplugins/go/tasks/pluginmachinery/catalog/client.go
  flyteplugins/go/tasks/pluginmachinery/catalog/client_test.go
  flytepropeller/pkg/controller/nodes/catalog/datacatalog/datacatalog.go
  flytepropeller/pkg/controller/nodes/catalog/datacatalog/datacatalog_test.go
Labels: bug, documentation, size:L, lgtm

#4903 Update launch condition column
  flyteadmin/pkg/manager/impl/validation/launch_plan_validator.go
  flyteadmin/pkg/manager/impl/validation/launch_plan_validator_test.go
  flyteadmin/pkg/repositories/config/migrations.go
  flyteadmin/pkg/repositories/gormimpl/launch_plan_repo_test.go
  flyteadmin/pkg/repositories/models/launch_plan.go
  flyteadmin/pkg/repositories/transformers/launch_plan.go
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/admin/execution_pb.ts
  flyteidl/gen/pb-es/flyteidl/core/artifact_id_pb.ts
  flyteidl/gen/pb-go/flyteidl/admin/execution.pb.go
  flyteidl/gen/pb-go/flyteidl/core/artifact_id.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/external_plugin_service.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/admin/execution_pb2.py
  flyteidl/gen/pb_python/flyteidl/admin/execution_pb2.pyi
  flyteidl/gen/pb_python/flyteidl/core/artifact_id_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/artifact_id_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/admin/execution.proto
  flyteidl/protos/flyteidl/core/artifact_id.proto
Labels: enhancement, size:XL, lgtm

#4967 Correcting IsParent metadata in ArrayNode eventing
  flyteadmin/pkg/repositories/transformers/node_execution.go
  flytepropeller/pkg/controller/nodes/transformers.go
Labels: bug, size:XS, lgtm

#4958 Add failure node example from flytesnacks #1328
  docs/user_guide/development_lifecycle/failure_node.md
  docs/user_guide/development_lifecycle/index.md
Labels: documentation, size:M, lgtm

#4943 [DOC] Update agent API
  docs/flyte_agents/developing_agents.md
  docs/flyte_agents/testing_agents_locally.md
Labels: documentation, size:L, lgtm

#4976 add mux option for application/json
  flyteadmin/pkg/server/service.go
Labels: enhancement, size:S, lgtm

#4974 docs(troubleshooting): Add spark task execution troubleshooting
  docs/community/troubleshoot.rst
Labels: documentation, size:S, lgtm

#4977 also run dep update
  docker/sandbox-bundled/Makefile
Labels: housekeeping, size:XS, lgtm

#4978 add cacheservice to idl defintions
  flyteidl/clients/go/cacheservice/mocks/CacheServiceClient.go
  flyteidl/gen/pb-es/flyteidl/cacheservice/cacheservice_connect.ts
  flyteidl/gen/pb-es/flyteidl/cacheservice/cacheservice_pb.ts
  flyteidl/gen/pb-go/flyteidl/cacheservice/cacheservice.pb.go
  flyteidl/gen/pb-go/flyteidl/cacheservice/cacheservice_grpc.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/cacheservice/cacheservice.swagger.json
  flyteidl/gen/pb_python/flyteidl/cacheservice/__init__.py
  flyteidl/gen/pb_python/flyteidl/cacheservice/cacheservice_pb2.py
  flyteidl/gen/pb_python/flyteidl/cacheservice/cacheservice_pb2.pyi
  flyteidl/gen/pb_python/flyteidl/cacheservice/cacheservice_pb2_grpc.py
  flyteidl/gen/pb_rust/flyteidl.cacheservice.rs
  flyteidl/generate_mocks.sh
  flyteidl/protos/flyteidl/cacheservice/cacheservice.proto
Labels: enhancement, size:XXL, lgtm

#4916 [BUG] Invalid "resources" scope in clusterresourcesync/deployment.yaml
  charts/flyte-core/README.md
  charts/flyte-core/templates/clusterresourcesync/deployment.yaml
  charts/flyte-core/values.yaml
Labels: bug, size:S, lgtm
