Repository flyteorg/flyte, pull requests merged in 2024-04, with the labels that each got.

#5070 Update K8s plugin config docs
  docs/deployment/plugins/k8s/index.rst
Labels: documentation, size:XXL, lgtm

#5117 Update Propeller architecture documentation
  docs/concepts/component_architecture/flytepropeller_architecture.rst
Labels: documentation, size:L, lgtm

#5153 Upgrade grpc health probe 0.4.11 -> 0.4.25
  Dockerfile.datacatalog
  Dockerfile.flyteadmin
Labels: security, size:XS, lgtm

#5154 Upgrade go-jose v3.0.0 -> v3.0.3
  datacatalog/go.mod
  datacatalog/go.sum
  flyteadmin/go.mod
  flyteadmin/go.sum
  flytecopilot/go.mod
  flytecopilot/go.sum
  flyteidl/go.mod
  flyteidl/go.sum
  flyteplugins/go.mod
  flyteplugins/go.sum
  flytepropeller/go.mod
  flytepropeller/go.sum
  flytestdlib/go.mod
  flytestdlib/go.sum
  go.mod
  go.sum
Labels: security, size:M, lgtm

#5130 docs: update agent development documentation
  docs/flyte_agents/developing_agents.md
  docs/flyte_agents/index.md
  docs/flyte_agents/testing_agents_locally.md
Labels: documentation, size:L, lgtm

#5015 Add variables to ease separate bucket config
  charts/flyte-core/values-eks.yaml
  charts/flyte-core/values-gcp.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_dataplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_dataplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
Labels: enhancement, size:M, lgtm

#5141 Upgrade lestrrat-go/jwx to v1.2.29
  datacatalog/go.mod
  datacatalog/go.sum
  flyteadmin/go.mod
  flyteadmin/go.sum
  flytecopilot/go.mod
  flytecopilot/go.sum
  flyteidl/go.mod
  flyteidl/go.sum
  flyteplugins/go.mod
  flyteplugins/go.sum
  flytepropeller/go.mod
  flytepropeller/go.sum
  flytestdlib/go.mod
  flytestdlib/go.sum
  go.mod
  go.sum
Labels: security, size:M, lgtm

#5176 Revert "Pin flyteconsole version in release process (#5037)"
  script/release.sh
Labels: enhancement, size:XS, lgtm

#5105 Add identity to task execution metadata
  flyteidl/gen/pb-es/flyteidl/admin/agent_pb.ts
  flyteidl/gen/pb-go/flyteidl/admin/agent.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/admin/agent_pb2.py
  flyteidl/gen/pb_python/flyteidl/admin/agent_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/protos/flyteidl/admin/agent.proto
  flyteplugins/go/tasks/plugins/webapi/agent/integration_test.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
Labels: enhancement, security, size:XL, lgtm

#5155 Upgrade jackc/pgconn v1.14.1 -> v1.14.3 / pgx/v5 v5.4.3 -> v5.5.5 / pgproto3 v2.3.2 -> v2.3.3
  datacatalog/go.mod
  datacatalog/go.sum
  flyteadmin/go.mod
  flyteadmin/go.sum
  flytestdlib/go.mod
  flytestdlib/go.sum
  go.mod
  go.sum
Labels: security, size:M, lgtm

#5175 fix make link error
  docs/community/contribute.rst
Labels: bug, documentation, size:XS, lgtm

#5174 Stop admin launcher copying shard key from parent workflow
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/admin.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/admin_test.go
Labels: enhancement, size:S, lgtm

#5157 Fix Id bigint conversation for not yet created table
  flyteadmin/pkg/repositories/config/migrations.go
  flyteadmin/pkg/repositories/config/migrations_test.go
Labels: bug, size:S, lgtm

#4986 Add tracking for active node and task execution counts in propeller
  flytepropeller/pkg/controller/controller.go
  flytepropeller/pkg/controller/executors/execution_context.go
  flytepropeller/pkg/controller/executors/mocks/execution_context.go
  flytepropeller/pkg/controller/nodes/array/handler_test.go
  flytepropeller/pkg/controller/nodes/executor.go
  flytepropeller/pkg/controller/workflow/executor.go
  flytepropeller/pkg/controller/workflow/executor_test.go
  flytepropeller/pkg/controller/workflowstore/execution_stats.go
  flytepropeller/pkg/controller/workflowstore/execution_stats_test.go
Labels: enhancement, size:XL, lgtm

#5169 docs: add missing key in auth guide
  docs/deployment/configuration/auth_setup.rst
Labels: documentation, size:L, lgtm

#5182 Shallow copying EnvironmentVariables map before injecting ArrayNode env vars
  flytepropeller/pkg/controller/nodes/array/execution_context.go
Labels: bug, size:S, lgtm

#5062 Feature/array node workflow parallelism
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/core/workflow_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/workflow.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/workflow_pb2.py
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/workflow.proto
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/array.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/array_test.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/iface.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/mocks/ExecutableArrayNode.go
  flytepropeller/pkg/controller/nodes/array/handler.go
  flytepropeller/pkg/controller/nodes/array/handler_test.go
Labels: enhancement, size:L, lgtm

#5172 Fix streak length metric reporting
  flytepropeller/pkg/controller/handler.go
Labels: bug, size:XS, lgtm

#5185 Fix path to AuthMetadataService in flyte-binary chart
  charts/flyte-binary/templates/_helpers.tpl
Labels: bug, size:XS

#5188 Change phase to queue on job submit for webapi plugins
  flyteplugins/go/tasks/pluginmachinery/internal/webapi/monitor.go
Labels: bug, size:XS, lgtm

#5106 [Docs] Testing agents in the development environment
  docs/flyte_agents/deploying_agents_to_the_flyte_sandbox.md
  docs/flyte_agents/developing_agents.md
  docs/flyte_agents/enabling_agents_in_your_flyte_deployment.md
  docs/flyte_agents/implementing_the_agent_metadata_service.md
  docs/flyte_agents/index.md
  docs/flyte_agents/testing_agents_in_a_local_development_cluster.md
  docs/flyte_agents/testing_agents_in_a_local_python_environment.md
Labels: documentation, size:L, lgtm

#5190 Use ratelimiter config in webapi plugins
  flyteplugins/go.mod
  flyteplugins/go/tasks/pluginmachinery/internal/webapi/cache.go
  flyteplugins/go/tasks/pluginmachinery/internal/webapi/cache_test.go
  flyteplugins/go/tasks/pluginmachinery/internal/webapi/core.go
Labels: enhancement, size:S, lgtm

#5179 docs(ray): Update kuberay documentation
  docs/deployment/plugins/k8s/index.rst
  monodocs-environment.lock.yaml
Labels: documentation, size:M, lgtm

#5195 Change phase to WaitingForResources when quota exceeded
  flyteplugins/go/tasks/pluginmachinery/internal/webapi/allocation_token.go
  flytepropeller/pkg/controller/nodes/task/resourcemanager/config/config.go
  flytepropeller/pkg/controller/nodes/task/resourcemanager/config/config_flags.go
Labels: enhancement, size:XS, lgtm

#5198 Fix: Update spark operator helm repository
  docs/deployment/plugins/k8s/index.rst
Labels: documentation, size:XS, lgtm

#4972 docs(troubleshoot): Add docker error troubleshooting guide
  docs/community/troubleshoot.rst
Labels: documentation, size:S, lgtm

#5184 add cache client read and write otel tracing
  flytepropeller/pkg/controller/nodes/cache.go
Labels: enhancement, size:XS, lgtm

#5199 Fix FlyteIDL docs link
  docs/index.md
Labels: documentation, size:XS, lgtm

#5209 [easy] [flyteagent] Add `ExecuteTaskSync` function timeout setting
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin_test.go
Labels: enhancement, size:S, lgtm

#5208 [easy] [flyteagent] Add `agent-service` endpoint settings for `flyte-core` deployment
  charts/flyte/README.md
  charts/flyte/values.yaml
  deployment/sandbox/flyte_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  docs/deployment/agents/chatgpt.rst
  docs/flyte_agents/developing_agents.md
  docs/flyte_agents/testing_agents_in_a_local_development_cluster.md
Labels: enhancement, size:M, lgtm

#5206 Update Monitoring documentation
  docs/deployment/configuration/monitoring.rst
Labels: documentation, size:M, lgtm

#5196 chore: remove obsolete flyte config files
  flyte.yaml
  flyte_local.yaml
  flyte_local_k3d.yaml
  script/setup_local_dev.sh
Labels: housekeeping, size:L, lgtm

#5187 Generate rust grpc using tonic
  flyteidl/buf.gen.yaml
  flyteidl/gen/pb_rust/datacatalog.rs
  flyteidl/gen/pb_rust/datacatalog.tonic.rs
  flyteidl/gen/pb_rust/flyteidl.cacheservice.rs
  flyteidl/gen/pb_rust/flyteidl.cacheservice.tonic.rs
  flyteidl/gen/pb_rust/flyteidl.service.rs
  flyteidl/gen/pb_rust/flyteidl.service.tonic.rs
Labels: enhancement, size:XXL, lgtm

#5214 enable parallelism to be set to nil for array node
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/core/workflow_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/workflow.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/workflow_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/workflow_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/workflow.proto
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/array.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/array_test.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/iface.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/mocks/ExecutableArrayNode.go
  flytepropeller/pkg/compiler/transformers/k8s/node.go
  flytepropeller/pkg/compiler/transformers/k8s/node_test.go
  flytepropeller/pkg/controller/nodes/array/handler.go
  flytepropeller/pkg/controller/nodes/array/handler_test.go
Labels: enhancement, size:XL, lgtm

#5063 Fix mounting secrets
  charts/flyte-core/README.md
  charts/flyte-core/templates/common/secret-auth.yaml
  charts/flyte-core/values-keycloak-idp-flyteclients-without-browser.yaml
  charts/flyte-core/values.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  docs/deployment/configuration/auth_setup.rst
Labels: bug, documentation, size:M, lgtm

#5215 Update "Creating a Flyte project" with link to new Dockerfile project template
  docs/getting_started_with_workflow_development/creating_a_flyte_project.md
  docs/getting_started_with_workflow_development/flyte_project_components.md
Labels: documentation, size:S, lgtm

#5178 feat(ray): Remove initContainers
  flyteplugins/go/tasks/plugins/k8s/ray/ray.go
Labels: documentation, enhancement, size:S, lgtm

#5226 fix(databricks): Check the response body before unmarshal
  flyteplugins/go/tasks/plugins/webapi/databricks/plugin.go
Labels: bug, size:S, lgtm

#5228 perf(cache): Use AddRateLimited for batch enqueue
  flytestdlib/cache/auto_refresh.go
  flytestdlib/cache/auto_refresh_test.go
Labels: enhancement, size:S, lgtm

#5229 update scroll behavior so that sidebar maintains location
  docs/_static/custom.js
  docs/_static/flyte.css
Labels: documentation, size:M, lgtm

#5231 propagate dark/light theme to algolia search bar
  docs/_static/custom.js
Labels: documentation, enhancement, size:M, lgtm

#5233 Added additional port configuration for flyte services
  charts/flyte-core/README.md
  charts/flyte-core/templates/admin/service.yaml
  charts/flyte-core/templates/datacatalog/service.yaml
  charts/flyte-core/templates/propeller/service.yaml
  charts/flyte-core/values.yaml
Labels: documentation, enhancement, size:S, lgtm

#5230 [BUG] fix(doc): Wrong configuration in spark plugin with binary chart
  docs/deployment/plugins/k8s/index.rst
Labels: bug, documentation, size:M, lgtm

#5227 Fix grammatical error in workflow lifecycle docs
  docs/concepts/workflow_lifecycle.rst
Labels: documentation, size:XS, lgtm

#5167 add plugins support for k8s imagepullpolicy
  flyteplugins/go/tasks/pluginmachinery/flytek8s/config/config.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/container_helper.go
Labels: documentation, enhancement, size:XS, lgtm

#5223 Added section on overriding lp config in loop
  docs/user_guide/advanced_composition/nested_parallelization.md
Labels: documentation, size:S, lgtm

#4319 Added unmarshal attribute for expires_in for device flow auth token
  flyteidl/clients/go/admin/deviceflow/payload.go
  flyteidl/clients/go/admin/deviceflow/token_orchestrator.go
  flyteidl/clients/go/admin/deviceflow/token_orchestrator_test.go
Labels: size:S, lgtm

#5239 Update template to link issue for closing
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation, size:S, lgtm

#5166 [Feature] add retries and backoffs for propeller sending events to admin
  docs/deployment/configuration/generated/flytepropeller_config.rst
  flytepropeller/events/admin_eventsink.go
  flytepropeller/events/config.go
  flytepropeller/events/config_flags.go
  flytepropeller/events/config_flags_test.go
  flytepropeller/pkg/controller/nodes/catalog/config.go
  flytepropeller/pkg/controller/nodes/catalog/config_flags.go
  flytepropeller/pkg/controller/nodes/catalog/config_flags_test.go
  flytepropeller/pkg/controller/nodes/catalog/datacatalog/datacatalog.go
Labels: documentation, enhancement, size:L, lgtm

#5242 Explain how to enable/disable local caching
  docs/user_guide/development_lifecycle/caching.md
Labels: documentation, size:XS, lgtm

#5238 Fix support for limit-namespace in FlytePropeller
  flytepropeller/pkg/controller/nodes/task/k8s/plugin_collector.go
  flytepropeller/pkg/controller/nodes/task/k8s/plugin_collector_test.go
  flytepropeller/pkg/controller/nodes/task/k8s/plugin_manager.go
  flytepropeller/pkg/controller/nodes/task/k8s/plugin_manager_test.go
Labels: bug, size:L, lgtm

#5207 [WAIT TO MERGE] Use remoteliteralinclude for code in user guide docs
  docs/user_guide/advanced_composition/chaining_flyte_entities.md
  docs/user_guide/advanced_composition/conditionals.md
  docs/user_guide/advanced_composition/decorating_tasks.md
  docs/user_guide/advanced_composition/decorating_workflows.md
  docs/user_guide/advanced_composition/dynamic_workflows.md
  docs/user_guide/advanced_composition/eager_workflows.md
  docs/user_guide/advanced_composition/intratask_checkpoints.md
  docs/user_guide/advanced_composition/map_tasks.md
  docs/user_guide/advanced_composition/subworkflows.md
  docs/user_guide/advanced_composition/waiting_for_external_inputs.md
  docs/user_guide/basics/documenting_workflows.md
  docs/user_guide/basics/hello_world.md
  docs/user_guide/basics/imperative_workflows.md
  docs/user_guide/basics/launch_plans.md
  docs/user_guide/basics/named_outputs.md
  docs/user_guide/basics/shell_tasks.md
  docs/user_guide/basics/tasks.md
  docs/user_guide/basics/workflows.md
  docs/user_guide/customizing_dependencies/imagespec.md
  docs/user_guide/customizing_dependencies/multiple_images_in_a_workflow.md
  docs/user_guide/customizing_dependencies/raw_containers.md
  docs/user_guide/data_types_and_io/accessing_attributes.md
  docs/user_guide/data_types_and_io/dataclass.md
  docs/user_guide/data_types_and_io/enum_type.md
  docs/user_guide/data_types_and_io/flytedirectory.md
  docs/user_guide/data_types_and_io/flytefile.md
  docs/user_guide/data_types_and_io/pickle_type.md
  docs/user_guide/data_types_and_io/pytorch_type.md
  docs/user_guide/data_types_and_io/structureddataset.md
  docs/user_guide/development_lifecycle/cache_serializing.md
  docs/user_guide/development_lifecycle/caching.md
  docs/user_guide/development_lifecycle/creating_a_new_project.md
  docs/user_guide/development_lifecycle/debugging_executions.md
  docs/user_guide/development_lifecycle/decks.md
  docs/user_guide/development_lifecycle/failure_node.md
  docs/user_guide/development_lifecycle/inspecting_executions.md
  docs/user_guide/development_lifecycle/private_images.md
  docs/user_guide/development_lifecycle/running_launch_plans.md
  docs/user_guide/development_lifecycle/running_tasks.md
  docs/user_guide/development_lifecycle/running_workflows.md
  docs/user_guide/environment_setup.md
  docs/user_guide/extending/backend_plugins.md
  docs/user_guide/extending/container_interface.md
  docs/user_guide/extending/custom_types.md
  docs/user_guide/extending/prebuilt_container_task_plugins.md
  docs/user_guide/extending/user_container_task_plugins.md
  docs/user_guide/productionizing/configuring_access_to_gpus.md
  docs/user_guide/productionizing/configuring_logging_links_in_the_ui.md
  docs/user_guide/productionizing/customizing_task_resources.md
  docs/user_guide/productionizing/notifications.md
  docs/user_guide/productionizing/reference_launch_plans.md
  docs/user_guide/productionizing/reference_tasks.md
  docs/user_guide/productionizing/schedules.md
  docs/user_guide/productionizing/secrets.md
  docs/user_guide/productionizing/spot_instances.md
  docs/user_guide/productionizing/workflow_labels_and_annotations.md
  docs/user_guide/testing/mocking_tasks.md
Labels: documentation, size:XXL, lgtm

#5243 refactor(python): Replace os.path with pathlib
  docs/_ext/import_projects.py
  docs/conf.py
  flyteidl/conf.py
Labels: enhancement, size:M, lgtm

#4960 Containerize documentation build environment and add sphinx-autobuild for hot-reload
  .gitignore
  Makefile
  docs/Dockerfile.conda-lock
  docs/Dockerfile.docs
  docs/Makefile
  docs/community/contribute.rst
  monodocs-environment.lock.yaml
  monodocs-environment.yaml
  script/local_build_docs.sh
Labels: documentation, enhancement, size:L, lgtm

#5219 Finalize flyteidl Rust crate
  flyteidl/Cargo.lock
  flyteidl/Cargo.toml
  flyteidl/lib.rs
Labels: enhancement, size:M, lgtm

#5254 Use sphinx design instead of sphinx panels
  docs/_static/custom.css
  docs/conf.py
  docs/deployment/deployment/index.rst
  docs/deployment/deployment/multicluster.rst
  docs/getting_started_with_workflow_development/running_a_workflow_locally.md
  docs/quickstart_guide.md
  docs/reference/index.rst
  monodocs-environment.lock.yaml
  monodocs-environment.yaml
Labels: documentation, size:XL, lgtm

#5257 [Docs] add envd plugin installation command to the environment setup guide
  docs/user_guide/environment_setup.md
Labels: enhancement, size:XS, lgtm

#5258 [Docs] add colon rule in version
  docs/concepts/versioning.rst
Labels: documentation, size:XS, lgtm

#5262 [easy] [Docs] Raw Container Local Execution
  docs/user_guide/customizing_dependencies/raw_containers.md
Labels: documentation, size:XS

#5237 WebAPI plugins optimization
  flyteplugins/go/tasks/pluginmachinery/internal/webapi/cache.go
  flyteplugins/go/tasks/pluginmachinery/internal/webapi/launcher.go
  flyteplugins/go/tasks/pluginmachinery/internal/webapi/launcher_test.go
  flyteplugins/go/tasks/pluginmachinery/internal/webapi/monitor.go
  flyteplugins/go/tasks/pluginmachinery/internal/webapi/state.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
  flytestdlib/cache/auto_refresh.go
Labels: enhancement, size:M, lgtm

#5235 fix(webapi): Ensure cache deletion on abort workflow
  flyteplugins/go/tasks/pluginmachinery/internal/webapi/core.go
Labels: bug, size:S, lgtm

#5266 RunLLM Widget Configuration
  docs/_templates/base.html
Labels: documentation, size:XS

#4925 Fix broken gpu resource override when using pod templates
  flyteplugins/go/tasks/pluginmachinery/flytek8s/container_helper.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/container_helper_test.go
  flyteplugins/go/tasks/plugins/array/awsbatch/transformer.go
Labels: bug, size:M
