Repository flyteorg/flyte, pull requests merged in 2024-06, with the labels that each got.

#5200 Add tests for PR #4726
  flyteplugins/go/tasks/plugins/k8s/dask/dask_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/mpi/mpi_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/pytorch/pytorch_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/tensorflow/tensorflow_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray_test.go
  flyteplugins/go/tasks/plugins/k8s/spark/spark_test.go
Labels: enhancement, size:L

#5017 Watch agent metadata service
  flyteplugins/go/tasks/plugins/webapi/agent/client.go
  flyteplugins/go/tasks/plugins/webapi/agent/client_test.go
  flyteplugins/go/tasks/plugins/webapi/agent/config.go
  flyteplugins/go/tasks/plugins/webapi/agent/integration_test.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin_test.go
Labels: enhancement, size:L

#5192 fix: Modify the callback URL string in auth flow, to support custom base URLs in deployments
  flyteadmin/auth/auth_context.go
  flyteadmin/auth/auth_context_test.go
Labels: bug, size:M

#5034 Remove end2end.yml
  .github/workflows/end2end.yml
Labels: enhancement, size:S

#5457 Include group in apiVersion in plugin_collector
  flytepropeller/pkg/controller/nodes/task/k8s/plugin_collector.go
Labels: bug

#4726 Feat: Allow controlling in which task phases log links are shown
  flyteadmin/pkg/repositories/transformers/task_execution.go
  flyteadmin/pkg/repositories/transformers/task_execution_test.go
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/core/execution_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/execution.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/execution_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/execution_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/go.mod
  flyteidl/go.sum
  flyteidl/protos/flyteidl/core/execution.proto
  flyteplugins/go/tasks/logs/logging_utils.go
  flyteplugins/go/tasks/pluginmachinery/core/phase.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper_test.go
  flyteplugins/go/tasks/pluginmachinery/k8s/plugin.go
  flyteplugins/go/tasks/pluginmachinery/tasklog/plugin.go
  flyteplugins/go/tasks/pluginmachinery/tasklog/template.go
  flyteplugins/go/tasks/plugins/k8s/dask/dask.go
  flyteplugins/go/tasks/plugins/k8s/dask/dask_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/common/common_operator.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/mpi/mpi.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/mpi/mpi_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/pytorch/pytorch.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/pytorch/pytorch_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/tensorflow/tensorflow.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/tensorflow/tensorflow_test.go
  flyteplugins/go/tasks/plugins/k8s/pod/plugin.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray_test.go
  flyteplugins/go/tasks/plugins/k8s/spark/spark.go
  flyteplugins/go/tasks/plugins/k8s/spark/spark_test.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
  flyteplugins/go/tasks/plugins/webapi/bigquery/plugin.go
  flytepropeller/pkg/controller/nodes/task/k8s/plugin_manager_test.go
Labels: enhancement, size:XL

#5503 Doc: Explain how lifetime of logging links is configured
  docs/user_guide/productionizing/configuring_logging_links_in_the_ui.md
Labels: documentation

#5240 Add appProtocol to agent service to allow agent to work with istio
  charts/flyte-core/README.md
  charts/flyte-core/templates/admin/service.yaml
  charts/flyte-core/templates/console/service.yaml
  charts/flyte-core/values.yaml
  charts/flyteagent/templates/agent/service.yaml
  deployment/agent/flyte_agent_helm_generated.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_dataplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_dataplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Labels: enhancement, size:M
