Repository flyteorg/flyte, pull requests merged in 2025-01, with the labels that each got.

#6159 Fix: Upgrade stow to fix listing error files
  datacatalog/go.mod
  datacatalog/go.sum
  flyteadmin/go.mod
  flyteadmin/go.sum
  flytecopilot/go.mod
  flytecopilot/go.sum
  flytectl/go.mod
  flytectl/go.sum
  flyteidl/go.mod
  flyteidl/go.sum
  flyteplugins/go.mod
  flyteplugins/go.sum
  flytepropeller/go.mod
  flytepropeller/go.sum
  flytestdlib/go.mod
  flytestdlib/go.sum
  go.mod
  go.sum
Labels: bug, dependencies

#6164 Add retries to sendgrid emailer (#618)
  flyteadmin/pkg/async/notifications/implementations/sendgrid_emailer.go
  flyteadmin/pkg/async/notifications/implementations/sendgrid_emailer_test.go
  flyteadmin/pkg/async/notifications/mocks/sendgrid_client.go
Labels: fixed

#6168 Add securityContext for individual containers in flyte-binary Deployment
  charts/flyte-binary/README.md
  charts/flyte-binary/templates/deployment.yaml
  charts/flyte-binary/values.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Labels: added

#6160 Add env_name to Secrets
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/core/security_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/security.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/external_plugin_service.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/security_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/security_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/security.proto
  flytepropeller/pkg/webhook/k8s_secrets.go
  flytepropeller/pkg/webhook/k8s_secrets_test.go
  flytepropeller/pkg/webhook/utils.go
Labels: added

#6169 Add a property bag to node metadata
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/admin/launch_plan_pb.ts
  flyteidl/gen/pb-es/flyteidl/core/workflow_pb.ts
  flyteidl/gen/pb-go/flyteidl/admin/launch_plan.pb.go
  flyteidl/gen/pb-go/flyteidl/core/workflow.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/admin/launch_plan_pb2.py
  flyteidl/gen/pb_python/flyteidl/admin/launch_plan_pb2.pyi
  flyteidl/gen/pb_python/flyteidl/core/workflow_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/workflow_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/admin/launch_plan.proto
  flyteidl/protos/flyteidl/core/workflow.proto
Labels: added

#6175 New Deck IDL
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/core/tasks_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/tasks.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/external_plugin_service.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/tasks_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/tasks_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/tasks.proto
Labels: added

#6176 Rename Secret.env_name to Secret.env_var
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/core/security_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/security.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/external_plugin_service.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/security_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/security_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/security.proto
  flytepropeller/pkg/webhook/k8s_secrets.go
  flytepropeller/pkg/webhook/k8s_secrets_test.go
  flytepropeller/pkg/webhook/utils.go
Labels: added

#6177 stripping metadata from dataclass types (#626)
  flytepropeller/pkg/compiler/transformers/k8s/utils.go
  flytepropeller/pkg/compiler/transformers/k8s/utils_test.go
Labels: changed

#6199 Configure ray pod runtime class based on custom pod specs
  flyteplugins/go/tasks/plugins/k8s/ray/ray.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray_test.go
Labels: added
