Repository flyteorg/flyte, pull requests merged in 2025-02, with the labels that each got.

#6191 Update type mapping table to reflect 1.14 changes
  docs/user_guide/data_types_and_io/index.md
Labels: added

#6222 utilize sync maps to map project mappings of prom watches
  flyteadmin/pkg/manager/impl/execution_manager.go
Labels: fixed

#6193 Adds shared memory into extended resources
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/core/tasks_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/tasks.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/external_plugin_service.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/tasks_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/tasks_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/tasks.proto
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper_test.go
Labels: added

#6228 Return NotFound error when decks uri is empty (#642)
  flyteadmin/dataproxy/service.go
  flyteadmin/dataproxy/service_test.go
Labels: fixed

#6232 Add support for affinity and tolerations, refactor unit tests
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray_test.go
Labels: added

#6264 Upstream: Ensure that k8s plugins (dask, kfoperator) have resource requests and limits set
  flyteplugins/go/tasks/pluginmachinery/flytek8s/utils.go
  flyteplugins/go/tasks/plugins/k8s/dask/dask.go
  flyteplugins/go/tasks/plugins/k8s/dask/dask_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/common/common_operator.go
Labels: fixed, changed

#6194 Override literal in the case of attribute access of primitive values
  flytepropeller/pkg/controller/nodes/attr_path_resolver.go
  flytepropeller/pkg/controller/nodes/attr_path_resolver_test.go
  flytepropeller/pkg/controller/nodes/errors/codes.go
Labels: changed

#6266 Set the max parallelism on the execution model correctly when triggered by launch plan
  flyteadmin/pkg/manager/impl/execution_manager.go
  flyteadmin/pkg/manager/impl/execution_manager_test.go
Labels: fixed

#6276 add bound inputs to array node idl
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/core/workflow_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/workflow.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/workflow_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/workflow_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/workflow.proto
Labels: added

#6259 Union/upstream pod helper node preemption handling
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper_test.go
  flyteplugins/go/tasks/plugins/k8s/pod/container_test.go
  flyteplugins/go/tasks/plugins/k8s/pod/plugin.go
Labels: added

#6284 Fix: Enable kubeflow plugins to use dynamic log links
  flyteplugins/go/tasks/plugins/k8s/kfoperators/common/common_operator.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/common/common_operator_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/mpi/mpi.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/mpi/mpi_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/pytorch/pytorch.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/pytorch/pytorch_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/tensorflow/tensorflow.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/tensorflow/tensorflow_test.go
Labels: fixed

#6291 Don't error out for getting metrics of array node
  flyteadmin/pkg/manager/impl/metrics_manager.go
Labels: changed
