Repository flyteorg/flyte, pull requests merged in 2025-06, with the labels that each got.

#6484 Provide overrides for flyteadmin readiness and liveness probes
  charts/flyte-core/README.md
  charts/flyte-core/templates/admin/deployment.yaml
  charts/flyte-core/values.yaml
  docker/sandbox-bundled/manifests/complete-connector.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Labels: deployment

#6479 Add version details to bug report template
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: housekeeping

#6477 Move whitelist configuration provider to mockery
  flyteadmin/pkg/manager/impl/task_manager_test.go
  flyteadmin/pkg/manager/impl/validation/task_validator_test.go
  flyteadmin/pkg/runtime/interfaces/whitelist.go
  flyteadmin/pkg/runtime/mocks/mock_whitelist_provider.go
  flyteadmin/pkg/runtime/mocks/whitelist_configuration.go
Labels: housekeeping

#6502 docs: Add clarification on required Kafka version field in cloud_even…
  docs/deployment/configuration/cloud_event.rst
Labels: documentation

#6507 add: nats as cloud events sender
  docs/deployment/configuration/cloud_event.rst
  flyteadmin/go.mod
  flyteadmin/go.sum
  flyteadmin/pkg/async/cloudevent/factory.go
  flyteadmin/pkg/async/cloudevent/factory_test.go
  flyteadmin/pkg/async/cloudevent/implementations/cloudevent_publisher_test.go
  flyteadmin/pkg/async/cloudevent/implementations/sender.go
  flyteadmin/pkg/async/cloudevent/implementations/sender_test.go
  flyteadmin/pkg/async/cloudevent/interfaces/publisher.go
  flyteadmin/pkg/async/cloudevent/interfaces/sender.go
  flyteadmin/pkg/runtime/interfaces/application_configuration.go
  go.mod
  go.sum
Labels: added
