Repository flyteorg/flyte, pull requests merged in 2025-04, with the labels that each got.

#6374 Making ArrayNode taskPhaseVersion increment retries configurable (#698)
  flytepropeller/pkg/controller/config/config.go
  flytepropeller/pkg/controller/config/config_flags.go
  flytepropeller/pkg/controller/config/config_flags_test.go
  flytepropeller/pkg/controller/nodes/array/handler.go
Labels: changed

#6379 refactor: use the built-in max/min to simplify the code
  flyteplugins/go/tasks/plugins/array/awsbatch/jobs_store.go
  flytepropeller/manager/shardstrategy/hash.go
  flytepropeller/pkg/compiler/transformers/k8s/utils.go
  flytepropeller/pkg/compiler/transformers/k8s/workflow.go
Labels: housekeeping

#6399 [propeller] tasklog bug fix
  flyteplugins/go/tasks/pluginmachinery/tasklog/template.go
  flyteplugins/go/tasks/pluginmachinery/tasklog/template_test.go
Labels: added

#6408 Make cloud events config type lowercase
  flyteadmin/pkg/async/cloudevent/factory.go
  flyteadmin/pkg/async/cloudevent/implementations/sender.go
Labels: fixed

#5712 OIDC config to allow mismatched discovery / issuer
  flyteadmin/auth/auth_context.go
  flyteadmin/auth/config/config.go
  flyteadmin/auth/config/config_flags.go
  flyteadmin/auth/config/config_flags_test.go
  flyteadmin/auth/config/config_test.go
Labels: added

#6385 Allow configuring deployment annotations in Helm chart
  charts/flyte-core/README.md
  charts/flyte-core/templates/admin/deployment.yaml
  charts/flyte-core/templates/clusterresourcesync/deployment.yaml
  charts/flyte-core/templates/console/deployment.yaml
  charts/flyte-core/templates/datacatalog/deployment.yaml
  charts/flyte-core/templates/flytescheduler/deployment.yaml
  charts/flyte-core/templates/propeller/deployment.yaml
  charts/flyte-core/templates/propeller/webhook.yaml
  charts/flyte-core/values.yaml
  docker/sandbox-bundled/manifests/complete-connector.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Labels: added

#6419 Add support for configuring storage from a secret to avoid exposing secrets
  charts/flyte-core/README.md
  charts/flyte-core/templates/admin/configmap.yaml
  charts/flyte-core/templates/admin/deployment.yaml
  charts/flyte-core/templates/datacatalog/configmap.yaml
  charts/flyte-core/templates/datacatalog/deployment.yaml
  charts/flyte-core/templates/propeller/configmap.yaml
  charts/flyte-core/templates/propeller/deployment.yaml
  charts/flyte-core/values.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_dataplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_dataplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-connector.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Labels: added

#6421 Feat: Apply labels and annotations set via task decorator to pods and CR objects
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/core/tasks_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/tasks.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/external_plugin_service.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/tasks_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/tasks_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/tasks.proto
  flytepropeller/pkg/controller/nodes/task/k8s/plugin_manager.go
  flytepropeller/pkg/controller/nodes/task/k8s/plugin_manager_test.go
Labels: added
