Repository flyteorg/flyte, pull requests merged in 2025-05, with the labels that each got.

#6431 Add support for affinity & topologySpreadConstraints to webhook component
  charts/flyte-core/README.md
  charts/flyte-core/templates/propeller/webhook.yaml
  charts/flyte-core/values.yaml
  docker/sandbox-bundled/manifests/complete-connector.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Labels: added

#6443 update idl w/ log context
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/admin/task_execution_pb.ts
  flyteidl/gen/pb-es/flyteidl/core/execution_pb.ts
  flyteidl/gen/pb-es/flyteidl/event/event_pb.ts
  flyteidl/gen/pb-go/flyteidl/admin/task_execution.pb.go
  flyteidl/gen/pb-go/flyteidl/core/execution.pb.go
  flyteidl/gen/pb-go/flyteidl/event/event.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/admin/task_execution_pb2.py
  flyteidl/gen/pb_python/flyteidl/admin/task_execution_pb2.pyi
  flyteidl/gen/pb_python/flyteidl/core/execution_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/execution_pb2.pyi
  flyteidl/gen/pb_python/flyteidl/event/event_pb2.py
  flyteidl/gen/pb_python/flyteidl/event/event_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/gen/pb_rust/flyteidl.event.rs
  flyteidl/protos/flyteidl/admin/task_execution.proto
  flyteidl/protos/flyteidl/core/execution.proto
  flyteidl/protos/flyteidl/event/event.proto
Labels: added

#6448 Set MaxConcurrentStreams for flyteadmin grpc server
  flyteadmin/pkg/config/config.go
  flyteadmin/pkg/config/serverconfig_flags.go
  flyteadmin/pkg/config/serverconfig_flags_test.go
  flyteadmin/pkg/server/service.go
Labels: fixed

#6452 Update `DemystifyFailure` to respect `NodeShutdown` (#724)
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper_test.go
Labels: fixed

#6453 Add max-delta-timestamp configuration option to FlytePropeller ArrayNode
  flytepropeller/pkg/controller/config/config.go
  flytepropeller/pkg/controller/config/config_flags.go
  flytepropeller/pkg/controller/config/config_flags_test.go
  flytepropeller/pkg/controller/nodes/array/handler.go
Labels: fixed

#6456 refactor: replace HasPrefix+TrimPrefix with CutPrefix
  cmd/single/console.go
Labels: housekeeping

#6447 Allow rollout strategy to be configured in Helm charts
  charts/flyte-core/README.md
  charts/flyte-core/templates/admin/deployment.yaml
  charts/flyte-core/templates/clusterresourcesync/deployment.yaml
  charts/flyte-core/templates/console/deployment.yaml
  charts/flyte-core/templates/datacatalog/deployment.yaml
  charts/flyte-core/templates/flytescheduler/deployment.yaml
  charts/flyte-core/templates/propeller/deployment.yaml
  charts/flyte-core/templates/propeller/webhook.yaml
  charts/flyte-core/values.yaml
  docker/sandbox-bundled/manifests/complete-connector.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Labels: added

#6461 Treat kubelet NodeAffinity status.reason as retryable system error
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper_test.go
Labels: fixed

#6444 Cleanup helm template since metrics path is not configurable
  charts/flyte-core/README.md
  charts/flyte-core/templates/clusterresourcesync/deployment.yaml
  charts/flyte-core/values.yaml
  docker/sandbox-bundled/manifests/complete-connector.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Labels: housekeeping
