Repository flyteorg/flyte, pull requests merged in 2025-08, with the labels that each got.

#6475 Add workflow concurrency control
  flyteadmin/pkg/manager/impl/execution_manager.go
  flyteadmin/pkg/manager/impl/execution_manager_test.go
  flyteadmin/pkg/repositories/config/migrations.go
  flyteadmin/pkg/repositories/models/execution.go
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/admin/launch_plan_pb.ts
  flyteidl/gen/pb-go/flyteidl/admin/launch_plan.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/admin/launch_plan_pb2.py
  flyteidl/gen/pb_python/flyteidl/admin/launch_plan_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/protos/flyteidl/admin/launch_plan.proto
Labels: added

#6564 Remove projectcontour annotations from helm charts by default
  charts/flyte-core/README.md
  charts/flyte-core/values-keycloak-idp-flyteclients-without-browser.yaml
  charts/flyte-core/values-sandbox.yaml
  charts/flyte-core/values.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_dataplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_dataplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-connector.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Labels: housekeeping

#6558 Add option to configure service monitor for flyte scheduler
  charts/flyte-core/README.md
  charts/flyte-core/templates/flytescheduler/service-monitor.yaml
  charts/flyte-core/templates/flytescheduler/service.yaml
  charts/flyte-core/values.yaml
  docker/sandbox-bundled/manifests/complete-connector.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Labels: added

#6515 Cleanup flyteplugins
  flyteplugins/go/tasks/config_load_test.go
  flyteplugins/go/tasks/errors/errors.go
  flyteplugins/go/tasks/pluginmachinery/core/phase.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/container_helper_test.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/copilot.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper_test.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_template_store.go
  flyteplugins/go/tasks/pluginmachinery/internal/webapi/allocation_token.go
  flyteplugins/go/tasks/pluginmachinery/internal/webapi/cache.go
  flyteplugins/go/tasks/pluginmachinery/tasklog/plugin.go
  flyteplugins/go/tasks/pluginmachinery/webapi/example/plugin.go
  flyteplugins/go/tasks/plugins/array/awsbatch/executor.go
  flyteplugins/go/tasks/plugins/array/awsbatch/jobs_store.go
  flyteplugins/go/tasks/plugins/array/core/state.go
  flyteplugins/go/tasks/plugins/array/k8s/executor.go
  flyteplugins/go/tasks/plugins/array/k8s/management.go
  flyteplugins/go/tasks/plugins/array/k8s/management_test.go
  flyteplugins/go/tasks/plugins/array/k8s/subtask.go
  flyteplugins/go/tasks/plugins/k8s/dask/dask.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/common/common_operator.go
  flyteplugins/go/tasks/plugins/k8s/pod/plugin.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray.go
  flyteplugins/go/tasks/plugins/k8s/spark/spark.go
  flyteplugins/go/tasks/plugins/k8s/spark/spark_test.go
  flyteplugins/go/tasks/plugins/presto/config/config.go
  flyteplugins/go/tasks/plugins/presto/execution_state.go
  flyteplugins/go/tasks/plugins/webapi/agent/client.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
  flyteplugins/go/tasks/plugins/webapi/athena/utils_test.go
  flyteplugins/go/tasks/plugins/webapi/bigquery/plugin.go
  flyteplugins/go/tasks/plugins/webapi/connector/client.go
  flyteplugins/go/tasks/plugins/webapi/connector/plugin.go
  flyteplugins/go/tasks/plugins/webapi/databricks/plugin.go
  flytepropeller/pkg/controller/nodes/task/event_recorder_test.go
  flytepropeller/pkg/controller/nodes/task/fakeplugins/next_phase_state_plugin.go
  flytepropeller/pkg/controller/nodes/task/k8s/plugin_manager.go
  flytepropeller/pkg/controller/nodes/task/k8s/plugin_manager_test.go
  flytepropeller/pkg/controller/nodes/task/transformer_test.go
Labels: housekeeping, fixed

#6596 Remove usage of golang-jwt v3
  flyteadmin/auth/cookie_manager_test.go
  flyteadmin/go.mod
  flyteadmin/go.sum
Labels: housekeeping
