Repository flyteorg/flyte, pull requests merged in 2025-03, with the labels that each got.

#5124 Add allowedAudience to flyte-core external auth deployment documentation
  docs/deployment/configuration/auth_setup.rst
Labels: documentation, housekeeping, size:XS

#6314 fix: Ensure $(go env GOPATH)/bin exists
  boilerplate/flyte/golang_test_targets/download_tooling.sh
Labels: fixed

#6316 Add aws secret mamager support to env_var
  flytepropeller/pkg/webhook/aws_secret_manager.go
  flytepropeller/pkg/webhook/aws_secret_manager_test.go
Labels: added

#6318 Fix: fastcache should not cache lookup on failed node
  flytepropeller/pkg/controller/nodes/executor.go
Labels: fixed

#6322 upstream bound inputs support
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/array.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/iface.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/mocks/ExecutableArrayNode.go
  flytepropeller/pkg/compiler/transformers/k8s/node.go
  flytepropeller/pkg/controller/nodes/array/handler.go
  flytepropeller/pkg/controller/nodes/array/handler_test.go
  flytepropeller/pkg/controller/nodes/array/node_execution_context.go
  flytepropeller/pkg/controller/nodes/array/node_execution_context_test.go
Labels: fixed

#6313 fix: Make datacatalog gRPC server MaxRecvMsgSize configurable
  charts/flyte-core/README.md
  charts/flyte-core/values-keycloak-idp-flyteclients-without-browser.yaml
  charts/flyte-core/values.yaml
  charts/flyte/README.md
  charts/flyte/values.yaml
  datacatalog/datacatalog_config.yaml
  datacatalog/pkg/config/config.go
  datacatalog/pkg/config/config_flags.go
  datacatalog/pkg/config/config_flags_test.go
  datacatalog/pkg/rpc/datacatalogservice/service.go
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Labels: fixed

#6327 Use child dir for branch taken
  flytepropeller/pkg/controller/nodes/branch/handler.go
  flytepropeller/pkg/controller/nodes/branch/handler_test.go
Labels: fixed

#6344 Introduce structured log lines in the agent proto
  flyteidl/gen/pb-es/flyteidl/admin/agent_pb.ts
  flyteidl/gen/pb-go/flyteidl/admin/agent.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/admin/agent_pb2.py
  flyteidl/gen/pb_python/flyteidl/admin/agent_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/protos/flyteidl/admin/agent.proto
Labels: changed

#6342 fix typo: specify -> specific
  docs/user_guide/customizing_dependencies/imagespec.md
Labels: documentation

#6294 Dep: Upgrade kubeflow training operator
  flyteadmin/go.mod
  flyteadmin/go.sum
  flytectl/cmd/delete/matchable_cluster_resource_attribute_test.go
  flytectl/cmd/delete/matchable_execution_cluster_label_test.go
  flytectl/cmd/delete/matchable_execution_queue_attribute_test.go
  flytectl/cmd/delete/matchable_plugin_override_test.go
  flytectl/cmd/delete/matchable_task_resource_attribute_test.go
  flytectl/cmd/delete/matchable_workflow_execution_config_test.go
  flytectl/go.mod
  flytectl/go.sum
  flyteplugins/go.mod
  flyteplugins/go.sum
  flyteplugins/go/tasks/plugins/k8s/kfoperators/common/common_operator.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/common/common_operator_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/mpi/mpi.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/mpi/mpi_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/pytorch/pytorch.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/pytorch/pytorch_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/tensorflow/tensorflow.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/tensorflow/tensorflow_test.go
  flytepropeller/go.mod
  flytepropeller/go.sum
  go.mod
  go.sum
Labels: dependencies
