Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo

WIP: Deterministic error propagation for distributed (training) tasks
  rfc/system/0000-deterministic-errors-distributed-training.md
Owners: @unionai/cloud-eng

Rename RFC document with PR number
  rfc/system/5598-deterministic-errors-distributed-training.md
Owners: @unionai/cloud-eng

Update rfc/system/5598-deterministic-errors-distributed-training.md
  rfc/system/5598-deterministic-errors-distributed-training.md
Owners: @unionai/cloud-eng

Apply suggestions from code review
  rfc/system/5598-deterministic-errors-distributed-training.md
Owners: @unionai/cloud-eng

Feat: Declarative management of matcheable resources
  flyteadmin/cmd/entrypoints/migrate.go
  flyteadmin/go.mod
  flyteadmin/go.sum
  flyteadmin/pkg/repositories/config/config.go
  flyteadmin/pkg/repositories/config/seed_data.go
  flyteadmin/pkg/repositories/config/seed_data_test.go
  flyteadmin/pkg/repositories/models/resource.go
  flyteadmin/pkg/server/initialize.go
Owners: @unionai/cloud-eng

DOC-431 Document pyflyte option --overwrite-cache (#5567)
  docs/conf.py
  docs/user_guide/development_lifecycle/caching.md
Owners: @neverett, @ppiegaze

Introduce more generous resource requests and remove duplicate file
  charts/flyte-binary/eks-production.yaml
  charts/flyte-binary/values.yaml
Owners: @unionai/cloud-eng

Update rfc/system/5598-deterministic-errors-distributed-training.md
  rfc/system/5598-deterministic-errors-distributed-training.md
Owners: @unionai/cloud-eng

Update rfc/system/5598-deterministic-errors-distributed-training.md
  rfc/system/5598-deterministic-errors-distributed-training.md
Owners: @unionai/cloud-eng

Add custominfo to agents
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
Owners: @unionai/exo

gangscheduling annotations
  flyteidl/go.sum
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/config.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/yunikorn.go
  flyteplugins/go/tasks/plugins/k8s/ray/config.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray.go
Owners: @unionai/cloud-eng, @unionai/exo

test
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/yunikorn.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/yunikorn_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/config.go
Owners: @unionai/exo

test
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/yunikorn_test.go
Owners: @unionai/exo

update when no assign
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/yunikorn.go
  flyteplugins/go/tasks/plugins/k8s/ray/config.go
Owners: @unionai/exo

lint:scheduler config
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/config.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/default.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/plugins.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/plugins_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/yunikorn.go
  flyteplugins/go/tasks/plugins/k8s/ray/config.go
Owners: @unionai/exo

make test pass
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/yunikorn_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/config.go
Owners: @unionai/exo

refactor
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/config.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/default.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/plugins.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/plugins_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/yunikorn.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/yunikorn_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/config.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray.go
Owners: @unionai/exo

return error when parse fail
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/yunikorn.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray.go
Owners: @unionai/exo

unit tests
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/plugins_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/yunikorn.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/yunikorn_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/config.go
Owners: @unionai/exo

fix bug that worker groups share same task group name
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/yunikorn.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray.go
Owners: @unionai/exo

gci format
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/default.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/plugins.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/plugins_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/yunikorn.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/yunikorn_test.go
Owners: @unionai/exo

update test in ray
  flyteplugins/go/tasks/plugins/k8s/ray/ray_test.go
Owners: @unionai/exo

refactor
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/config/config.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/config/config_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/default.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/plugins.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/plugins_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/scheduler/kubernetes/default.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/scheduler/kubernetes/default_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/scheduler/yunikorn/taskgroup.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/scheduler/yunikorn/taskgroup_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/scheduler/yunikorn/utils.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/scheduler/yunikorn/utils_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/scheduler/yunikorn/yunikorn.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/scheduler/yunikorn/yunikorn_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/yunikorn.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/yunikorn_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/config.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray.go
Owners: @unionai/exo

Update go.sum to origin one
  flyteidl/go.sum
Owners: @unionai/cloud-eng

Remove registration of old panicCounter
  flyteadmin/pkg/rpc/adminservice/base.go
  flyteadmin/pkg/rpc/adminservice/base_test.go
  flyteadmin/pkg/rpc/adminservice/metrics.go
  flyteadmin/pkg/rpc/adminservice/project.go
Owners: @unionai/cloud-eng

Refactor panic handling to middleware
  flyteadmin/pkg/rpc/adminservice/attributes.go
  flyteadmin/pkg/rpc/adminservice/description_entity.go
  flyteadmin/pkg/rpc/adminservice/execution.go
  flyteadmin/pkg/rpc/adminservice/launch_plan.go
  flyteadmin/pkg/rpc/adminservice/middleware/recovery_interceptor.go
  flyteadmin/pkg/rpc/adminservice/middleware/recovery_interceptor_test.go
  flyteadmin/pkg/rpc/adminservice/named_entity.go
  flyteadmin/pkg/rpc/adminservice/node_execution.go
  flyteadmin/pkg/rpc/adminservice/project.go
  flyteadmin/pkg/rpc/adminservice/task.go
  flyteadmin/pkg/rpc/adminservice/task_execution.go
  flyteadmin/pkg/rpc/adminservice/version.go
  flyteadmin/pkg/rpc/adminservice/workflow.go
  flyteadmin/pkg/server/service.go
Owners: @unionai/cloud-eng

Add test coverage
  flyteadmin/pkg/rpc/adminservice/middleware/recovery_interceptor_test.go
Owners: @unionai/cloud-eng

pflag
  flyteplugins/go/tasks/plugins/k8s/ray/config.go
  flyteplugins/go/tasks/plugins/k8s/ray/config_flags.go
  flyteplugins/go/tasks/plugins/k8s/ray/config_flags_test.go
Owners: @unionai/exo

JSON IDL RFC
  rfc/system/5606-json-idl.md
Owners: @unionai/cloud-eng

nit
  rfc/system/5606-json-idl.md
Owners: @unionai/cloud-eng

add wip auth
  flyteidl/Cargo.lock
  flyteidl/Cargo.toml
  flyteidl/src/auth.rs
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng

upgrade openssl
  flyteidl/Cargo.toml
Owners: @unionai/cloud-eng

gate openssl feature
  flyteidl/.swagger-codegen-ignore
  flyteidl/Cargo.lock
  flyteidl/Cargo.toml
Owners: @unionai/cloud-eng

Update Fabio's Advices
  rfc/system/5606-json-idl.md
Owners: @unionai/cloud-eng

lint
  flyteadmin/pkg/workflowengine/impl/k8s_executor_test.go
Owners: @unionai/cloud-eng

Add tests
  flyteadmin/pkg/workflowengine/impl/k8s_executor_test.go
Owners: @unionai/cloud-eng

not just single tasks
  flyteadmin/pkg/manager/impl/execution_manager.go
Owners: @unionai/cloud-eng

Support offloading workflow CRD inputs
  flyteadmin/pkg/manager/impl/execution_manager.go
  flyteadmin/pkg/runtime/interfaces/application_configuration.go
  flyteadmin/pkg/workflowengine/impl/k8s_executor.go
  flyteadmin/pkg/workflowengine/interfaces/executor.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/workflow.go
  flytepropeller/pkg/controller/workflow/executor.go
Owners: @unionai/cloud-eng, @unionai/exo

Add offloaded inputs to Flyte workflow CRD (#402)
  flyteadmin/pkg/runtime/interfaces/application_configuration.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/workflow.go
  flytepropeller/pkg/controller/workflow/executor.go
Owners: @unionai/cloud-eng, @unionai/exo

Create RFC for community plugins
  rfc/system/0008-community-plugins.md
Owners: @unionai/cloud-eng
