Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

feat(replica-spec): Update corresponding golang files based on protobuf changes
  flyteplugins/go/tasks/plugins/k8s/kfoperators/common/common_operator.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/mpi/mpi_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/pytorch/pytorch_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/tensorflow/tensorflow.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/tensorflow/tensorflow_test.go
Owners: @unionai/exo

add support for filesystem implementation of token cache
  flytectl/cmd/config/config.go
  flytectl/cmd/core/cmd.go
  flytectl/cmd/root.go
  flytectl/pkg/pkce/token_cache_filesystem.go
  flytectl/pkg/pkce/token_cache_filesystem_test.go
  flyteidl/clients/go/admin/cache/token_cache.go
Owners: @unionai/cloud-eng

Fix lint
  flyteidl/clients/go/admin/cache/token_cache.go
Owners: @unionai/cloud-eng

keep EnvFrom from pod template
  flyteplugins/go/tasks/pluginmachinery/flytek8s/container_helper.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/k8s_resource_adds.go
Owners: @unionai/exo

Fix lint issues in flyte-core values.yaml
  charts/flyte-core/values.yaml
Owners: @unionai/cloud-eng

[CLD-946] Using InMemory token cache for admin clientset in propeller (#299)
  flytepropeller/pkg/controller/controller.go
Owners: @unionai/exo

Remove mentions to unused secrets
  .github/workflows/checks.yml
Owners: @unionai/cloud-eng

Run make -c flytectl generate
  flytectl/cmd/create/executionconfig_flags.go
  flytectl/cmd/create/executionconfig_flags_test.go
Owners: @unionai/cloud-eng

Honor primaryContainerName in default pod spec (#300)
  fasttask/plugin/plugin.go
  fasttask/plugin/plugin_test.go
Owners: @unionai/exo

Fasttask unittest fixes
  fasttask/plugin/plugin_test.go
Owners: @unionai/exo

Mutable attributes (#289)
  cmd/single/start.go
  flyteadmin/cmd/entrypoints/clusterresource.go
  flyteadmin/go.mod
  flyteadmin/pkg/clusterresource/controller.go
  flyteadmin/pkg/manager/impl/configurations/cache.go
  flyteadmin/pkg/manager/impl/configurations/configuration_manager.go
  flyteadmin/pkg/manager/impl/configurations/configuration_manager_test.go
  flyteadmin/pkg/manager/impl/configurations/plugin/mocks/project_configuration_plugin.go
  flyteadmin/pkg/manager/impl/configurations/plugin/project_configuration_plugin.go
  flyteadmin/pkg/manager/impl/util/configuration.go
  flyteadmin/pkg/rpc/adminservice/base.go
  flyteadmin/plugins/registry.go
  flyteadmin/tests/configuration_test.go
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/admin/configuration_pb.ts
  flyteidl/gen/pb-go/flyteidl/admin/configuration.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/admin/configuration_pb2.py
  flyteidl/gen/pb_python/flyteidl/admin/configuration_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/protos/flyteidl/admin/configuration.proto
Owners: @unionai/cloud-eng

[monodocs] Fix build failure
  docs/user_guide/data_types_and_io/flytedirectory.md
Owners: @neverett, @ppiegaze

Add executionClusterLabel (#5394)
  flytectl/cmd/create/execution.go
  flytectl/cmd/create/execution_util.go
  flytectl/cmd/create/execution_util_test.go
  flytectl/cmd/create/executionconfig_flags.go
  flytectl/cmd/create/executionconfig_flags_test.go
  flytectl/cmd/get/execution_test.go
  flytectl/cmd/get/node_execution_test.go
Owners: @unionai/cloud-eng

Make "To be upstreamed" the default (#301)
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @unionai/cloud-eng

bring in changes for flytecl keyring from PR flytectl/pull/488
  flytectl/pkg/pkce/token_cache_keyring.go
Owners: @unionai/cloud-eng

adding the zalando keyring dependency
  flytectl/pkg/pkce/token_cache_keyring.go
Owners: @unionai/cloud-eng

fix the command core for constructing the admin client
  flytectl/cmd/core/cmd.go
Owners: @unionai/cloud-eng

lint flyteadmin
  flyteadmin/pkg/manager/impl/configurations/cache.go
Owners: @unionai/cloud-eng

fix IDE issue by importing fasttask/plugin in flytectl go.mod
  flytectl/go.mod
Owners: @unionai/cloud-eng

[monodocs] Fix build failure (#5425)
  docs/user_guide/data_types_and_io/flytedirectory.md
Owners: @neverett, @ppiegaze

Add fasttask worker args from plugin configuration (#298)
  fasttask/plugin/builder.go
  fasttask/plugin/config.go
  fasttask/plugin/config_flags.go
  fasttask/plugin/config_flags_test.go
Owners: @unionai/exo

Added metrics to fasttask builder and plugin (#303)
  fasttask/plugin/builder.go
  fasttask/plugin/builder_test.go
  fasttask/plugin/plugin.go
  fasttask/plugin/plugin_test.go
  fasttask/plugin/service.go
  flytepropeller/pkg/controller/execution_env.go
Owners: @unionai/exo

Update flytefile.md
  docs/user_guide/data_types_and_io/flytefile.md
Owners: @neverett, @ppiegaze

use sha
  docs/user_guide/extending/custom_types.md
Owners: @neverett, @ppiegaze

Update flytefile.md (#5428)
  docs/user_guide/data_types_and_io/flytefile.md
  docs/user_guide/extending/custom_types.md
Owners: @neverett, @ppiegaze

Fix the name of flytepropeller in invocation of script
  flytepropeller/Makefile
  flytepropeller/hack/update-codegen.sh
Owners: @unionai/exo

Pull in k8s.io/code-generator v0.24.1 and uncomment line
  flytepropeller/go.mod
  flytepropeller/go.sum
  flytepropeller/hack/tools.go
Owners: @unionai/exo

Implement `DeepCopyInto` for structs that have proto fields
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/branch.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/gate.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/node_status.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/workflow.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/workflow_status.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/zz_generated.deepcopy.go
  flytepropeller/pkg/client/clientset/versioned/clientset.go
  flytepropeller/pkg/client/clientset/versioned/fake/clientset_generated.go
  flytepropeller/pkg/client/clientset/versioned/typed/flyteworkflow/v1alpha1/fake/fake_flyteworkflow.go
  flytepropeller/pkg/client/clientset/versioned/typed/flyteworkflow/v1alpha1/flyteworkflow_client.go
Owners: @unionai/exo

Fix lint errors
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/branch.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/node_status.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/workflow.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/workflow_status.go
Owners: @unionai/exo

Revert "Pull in k8s.io/code-generator v0.24.1 and uncomment line"
  flytepropeller/go.mod
  flytepropeller/go.sum
  flytepropeller/hack/tools.go
Owners: @unionai/exo

Add u__ prefix to secret names in propeller (#302)
  flytepropeller/pkg/webhook/embedded_secret_manager.go
Owners: @unionai/exo

Consider all launchplans in 'flytectl compile'
  flytectl/cmd/compile/compile.go
Owners: @unionai/cloud-eng

Add test that would have caught bug
  flytectl/cmd/compile/compile_test.go
  flytectl/cmd/compile/testdata/launchplan-in-wf.tgz
Owners: @unionai/cloud-eng

* bump arduino/setup-protoc to v3 * go mod tidy for flytectl/go.mod
  .github/workflows/go_generate.yml
  flytectl/go.mod
Owners: @unionai/cloud-eng

Fix flaky auto_refresh_test
  flytestdlib/cache/auto_refresh_test.go
Owners: @unionai/cloud-eng

Fix flaky auto_refresh_test (#270)
  flytestdlib/cache/auto_refresh_test.go
Owners: @unionai/cloud-eng

Indicate that jq is now required to install flytectl via the script
  flytectl/docs/source/overview.rst
Owners: @unionai/cloud-eng

Update Flyte Components
  charts/flyte-binary/README.md
  charts/flyte-binary/values.yaml
  charts/flyte-core/README.md
  charts/flyte-core/values.yaml
  charts/flyte/README.md
  charts/flyte/values.yaml
  charts/flyteagent/README.md
  charts/flyteagent/values.yaml
  deployment/agent/flyte_agent_helm_generated.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_dataplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_dataplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox-binary/flyte_sandbox_binary_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Owners: @unionai/cloud-eng

Add changelog and bump version in docs/conf.py
  CHANGELOG/CHANGELOG-v1.12.1-rc0.md
  docs/conf.py
Owners: @unionai/cloud-eng, @neverett, @ppiegaze

make generate
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/core/security_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/security.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/security_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/security_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/security.proto
Owners: @unionai/cloud-eng

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo
