Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo

remove custom CSS and JS, since this mostly duplicates or interferes with theme CSS/JS and docsearch CSS/JS
  docs/_static/custom.css
  docs/_static/custom.js
  docs/_static/flyte.css
  docs/conf.py
Owners: @neverett, @ppiegaze

Remove explict go toolchain versions (#5723)
  datacatalog/go.mod
  flytectl/go.mod
Owners: @unionai/cloud-eng

[wip] - Use go version from `go.mod` files in CI
  .github/workflows/lint.yml
  flyteadmin/go.mod
Owners: @unionai/cloud-eng

remove empty flyteremote page for now
  docs/api/flyteremote/index.md
  docs/api/index.md
Owners: @neverett, @ppiegaze

add version
  docs/conf.py
Owners: @neverett, @ppiegaze

Turn success wf exec into bargauge viz
  stats/flyteuser.dashboard.py
Owners: @unionai/cloud-eng

feedback
  flytepropeller/pkg/controller/nodes/array/handler.go
  flytepropeller/pkg/controller/nodes/common/utils.go
Owners: @unionai/exo

add missing flag files
  flytepropeller/pkg/controller/config/config_flags.go
  flytepropeller/pkg/controller/config/config_flags_test.go
Owners: @unionai/exo

renamings
  flytestdlib/storage/storage.go
  flytestdlib/storage/stow_store.go
Owners: @unionai/cloud-eng

Turn failure duration quantile into bargauge
  stats/flyteuser.dashboard.py
Owners: @unionai/cloud-eng

use JSON IDL object in resolveAttrPathInJSON
  flytepropeller/pkg/controller/nodes/attr_path_resolver.go
Owners: @unionai/exo

Introduced SMTP notification
  flyteadmin/go.mod
  flyteadmin/pkg/async/notifications/factory.go
  flyteadmin/pkg/async/notifications/factory_test.go
  flyteadmin/pkg/async/notifications/implementations/emailers.go
  flyteadmin/pkg/async/notifications/implementations/smtp_emailer.go
  flyteadmin/pkg/async/notifications/implementations/smtp_emailer_test.go
  flyteadmin/pkg/rpc/adminservice/base.go
  flyteadmin/pkg/runtime/interfaces/application_configuration.go
  flyteadmin/pkg/server/service.go
Owners: @unionai/cloud-eng

Fixing tests
  flyteadmin/pkg/async/notifications/implementations/smtp_emailer_test.go
Owners: @unionai/cloud-eng

Fixing lint
  flyteadmin/pkg/async/notifications/implementations/smtp_emailer.go
Owners: @unionai/cloud-eng

Fixing lint issues
  flyteadmin/pkg/async/notifications/factory.go
  flyteadmin/pkg/async/notifications/implementations/emailers.go
  flyteadmin/pkg/async/notifications/implementations/smtp_emailer.go
  flyteadmin/pkg/async/notifications/implementations/smtp_emailer_test.go
  flyteadmin/pkg/runtime/interfaces/application_configuration.go
Owners: @unionai/cloud-eng

Fix linting issues
  flyteadmin/pkg/async/notifications/factory.go
  flyteadmin/pkg/async/notifications/factory_test.go
  flyteadmin/pkg/async/notifications/implementations/smtp_emailer.go
  flyteadmin/pkg/async/notifications/implementations/smtp_emailer_test.go
  flyteadmin/pkg/rpc/adminservice/base.go
  flyteadmin/pkg/server/service.go
Owners: @unionai/cloud-eng

Fixing lint
  flyteadmin/pkg/async/notifications/implementations/smtp_emailer.go
Owners: @unionai/cloud-eng

Removing unused import
  flyteadmin/pkg/rpc/adminservice/base.go
Owners: @unionai/cloud-eng

Fixing location of no sec comment
  flyteadmin/pkg/async/notifications/implementations/smtp_emailer.go
Owners: @unionai/cloud-eng

Running gci for file
  flyteadmin/pkg/async/notifications/implementations/smtp_emailer_test.go
Owners: @unionai/cloud-eng

Fix go mod
  flyteadmin/go.mod
Owners: @unionai/cloud-eng

Implemented connection reuse for smtp emailer
  flyteadmin/pkg/async/notifications/implementations/smtp_emailer.go
  flyteadmin/pkg/server/service.go
Owners: @unionai/cloud-eng

Adapting interface of smtp_emailer
  flyteadmin/pkg/async/notifications/implementations/smtp_emailer.go
Owners: @unionai/cloud-eng

Revert "fix: Use deterministic execution names in scheduler (#5724)"
  flyteadmin/pkg/common/naming/execution_name_test.go
  flyteadmin/scheduler/executor/executor_impl.go
  flyteadmin/scheduler/identifier/identifier.go
Owners: @unionai/cloud-eng

Revert "Improve execution name readability (#5637)"
  flyteadmin/go.mod
  flyteadmin/go.sum
  flyteadmin/pkg/async/schedule/aws/workflow_executor.go
  flyteadmin/pkg/common/executions.go
  flyteadmin/pkg/common/executions_test.go
  flyteadmin/pkg/common/naming/execution_name.go
  flyteadmin/pkg/common/naming/execution_name_test.go
  flyteadmin/pkg/manager/impl/util/shared.go
  flyteadmin/pkg/manager/impl/util/shared_test.go
  flyteadmin/pkg/runtime/interfaces/application_configuration.go
  flyteadmin/scheduler/executor/executor_impl.go
  go.mod
  go.sum
Owners: @unionai/cloud-eng

Azure Embedded Secrets manager support (#453)
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  fasttask/plugin/go.mod
  fasttask/plugin/go.sum
  flyteadmin/go.mod
  flyteadmin/go.sum
  flytectl/go.mod
  flytectl/go.sum
  flyteplugins/go.mod
  flyteplugins/go.sum
  flytepropeller/go.mod
  flytepropeller/go.sum
  flytepropeller/pkg/secret/azure_secret_fetcher.go
  flytepropeller/pkg/secret/azure_secret_fetcher_test.go
  flytepropeller/pkg/secret/azure_utils.go
  flytepropeller/pkg/secret/azure_utils_test.go
  flytepropeller/pkg/secret/azuresecretvaluetype_enumer.go
  flytepropeller/pkg/secret/config/config.go
  flytepropeller/pkg/secret/config/config_flags.go
  flytepropeller/pkg/secret/config/config_flags_test.go
  flytepropeller/pkg/secret/config/embeddedsecretmanagertype_enumer.go
  flytepropeller/pkg/secret/embedded_secret_manager.go
  flytepropeller/pkg/secret/mocks/azure_key_vault_client.go
  flytepropeller/pkg/secret/secret_fetcher.go
  flytepropeller/pkg/secret/secret_manager_client.go
  flytepropeller/pkg/secret/utils.go
  flytepropeller/pkg/secret/utils_test.go
  go.mod
  go.sum
Owners: @unionai/cloud-eng, @unionai/exo

nit
  flyteadmin/scheduler/executor/executor_impl.go
Owners: @unionai/cloud-eng

remove placeholder directories
  docs/integrations/index.md
  docs/tutorials/index.md
Owners: @neverett, @ppiegaze

update find/replace logic in import module, delete unused code in module
  docs/_ext/import_projects.py
  docs/conf.py
  docs/index.md
Owners: @neverett, @ppiegaze

update sidebar templates
  docs/_templates/sidebars/custom.html
  docs/_templates/sidebars/integrations.html
  docs/_templates/sidebars/tutorials.html
Owners: @neverett, @ppiegaze

renamings
  flyteadmin/pkg/common/mocks/storage.go
Owners: @unionai/cloud-eng

mockery
  flytestdlib/storage/mocks/composed_protobuf_store.go
Owners: @unionai/cloud-eng

Fixing linter issue
  flyteadmin/pkg/async/notifications/implementations/smtp_emailer_test.go
Owners: @unionai/cloud-eng

mockery
  flytepropeller/pkg/utils/failing_datastore.go
  flytestdlib/storage/cached_rawstore_test.go
  flytestdlib/storage/stow_store_test.go
Owners: @unionai/exo, @unionai/cloud-eng

[BUG] array node eventing bump version (#5680)
  flytepropeller/events/admin_eventsink.go
  flytepropeller/events/admin_eventsink_test.go
  flytepropeller/events/errors/errors.go
  flytepropeller/pkg/controller/config/config.go
  flytepropeller/pkg/controller/config/config_flags.go
  flytepropeller/pkg/controller/config/config_flags_test.go
  flytepropeller/pkg/controller/nodes/array/handler.go
  flytepropeller/pkg/controller/nodes/array/handler_test.go
  flytepropeller/pkg/controller/nodes/node_exec_context.go
Owners: @unionai/exo

should not set echo plugin as default (#5713)
  flyteplugins/go/tasks/plugins/testing/echo.go
Owners: @unionai/exo

Update helm/docs per changes in supported task discovery (#5694)
  charts/flyte-binary/README.md
  charts/flyte-binary/values.yaml
  charts/flyte-core/README.md
  charts/flyte-core/values.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  docs/deployment/agents/airflow.rst
  docs/deployment/agents/bigquery.rst
  docs/deployment/agents/chatgpt.rst
  docs/deployment/agents/databricks.rst
  docs/deployment/agents/mmcloud.rst
  docs/deployment/agents/openai_batch.rst
  docs/deployment/agents/sagemaker_inference.rst
  docs/deployment/agents/sensor.rst
  docs/deployment/agents/snowflake.rst
  docs/deployment/configuration/generated/flytepropeller_config.rst
  docs/flyte_agents/developing_agents.md
Owners: @unionai/cloud-eng, @neverett, @ppiegaze

Add custominfo to agents (#5604)
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin_test.go
Owners: @unionai/exo

Do not emit execution id label by default in single binary (#5704)
  cmd/single/start.go
  flytestdlib/contextutils/context.go
Owners: @unionai/cloud-eng

[flytectl] DataConfig missing from TaskSpec (#5692)
  flytectl/cmd/register/register_util.go
Owners: @unionai/cloud-eng
