Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo

added lock to memstore make threadsafe
  flytestdlib/storage/mem_store.go
Owners: @unionai/cloud-eng

Fix k3d local setup prefix
  script/setup_local_dev.sh
Owners: @unionai/cloud-eng

Unexpectedly deleted pod metrics
  flytepropeller/pkg/controller/nodes/task/k8s/plugin_manager.go
Owners: @unionai/exo

Log and monitor failures to validate access tokens
  flyteadmin/auth/authzserver/provider.go
  flyteadmin/auth/authzserver/provider_test.go
  flyteadmin/auth/handlers.go
  flyteadmin/pkg/server/service.go
  flyteidl/clients/go/admin/token_source_provider.go
Owners: @unionai/cloud-eng

Fix cluster pool assignment validation
  flyteadmin/pkg/manager/impl/execution_manager.go
  flyteadmin/pkg/manager/impl/execution_manager_test.go
  flyteadmin/pkg/manager/interfaces/resource.go
  flyteadmin/pkg/manager/mocks/resource_interface.go
Owners: @unionai/cloud-eng

Fix metrics scale division in timer
  datacatalog/go.mod
  datacatalog/go.sum
  flyteadmin/go.mod
  flyteadmin/go.sum
  flytecopilot/go.mod
  flytecopilot/go.sum
  flytectl/go.mod
  flytectl/go.sum
  flyteidl/clients/go/admin/auth_interceptor_test.go
  flyteidl/go.mod
  flyteidl/go.sum
  flyteplugins/go.mod
  flyteplugins/go.sum
  flytepropeller/go.mod
  flytepropeller/go.sum
  flytestdlib/go.mod
  flytestdlib/go.sum
  flytestdlib/promutils/labeled/histogram_stopwatch_test.go
  flytestdlib/promutils/labeled/stopwatch_test.go
  flytestdlib/promutils/scope.go
  flytestdlib/promutils/scope_test.go
  go.mod
  go.sum
Owners: @unionai/cloud-eng, @unionai/exo

Dask dashboard should have a separate log config
  flyteplugins/go/tasks/plugins/k8s/dask/config.go
  flyteplugins/go/tasks/plugins/k8s/dask/config_flags.go
  flyteplugins/go/tasks/plugins/k8s/dask/config_flags_test.go
  flyteplugins/go/tasks/plugins/k8s/dask/dask.go
Owners: @unionai/exo

Add histogram stopwatch to stow storage
  flytestdlib/promutils/labeled/histogram_stopwatch.go
  flytestdlib/promutils/labeled/histogram_stopwatch_test.go
  flytestdlib/promutils/labeled/stopwatch_test.go
  flytestdlib/promutils/scope.go
  flytestdlib/promutils/scope_test.go
  flytestdlib/storage/stow_store.go
Owners: @unionai/cloud-eng

adjust Dask LogName to (Dask Runner Logs)
  flyteplugins/go/tasks/plugins/k8s/dask/dask.go
Owners: @unionai/exo

Demo is crashlooping due to a nil pointer dereference (#502)
  flyteadmin/pkg/manager/impl/util/resources.go
  flyteadmin/pkg/manager/impl/util/resources_test.go
Owners: @unionai/cloud-eng

Add finalizer to avoid premature CRD Deletion
  flyteadmin/pkg/workflowengine/impl/prepare_execution.go
  flyteadmin/pkg/workflowengine/impl/prepare_execution_test.go
Owners: @unionai/cloud-eng

Use annotations instead of delete CRDs when terminate execution
  flyteadmin/pkg/workflowengine/impl/k8s_executor.go
  flyteadmin/pkg/workflowengine/impl/k8s_executor_test.go
  flytepropeller/pkg/controller/handler.go
  flytepropeller/pkg/controller/handler_test.go
Owners: @unionai/cloud-eng, @unionai/exo

Fix lint
  flyteadmin/pkg/workflowengine/impl/k8s_executor.go
  flytepropeller/pkg/controller/handler_test.go
Owners: @unionai/cloud-eng, @unionai/exo

Fix propeller lint
  flytepropeller/pkg/controller/handler_test.go
Owners: @unionai/exo

Guard nil annotations
  flytepropeller/pkg/controller/handler.go
Owners: @unionai/exo

Update Flyte Components
  charts/flyte-binary/README.md
  charts/flyte-binary/values.yaml
  charts/flyte-core/README.md
  charts/flyte-core/values.yaml
  charts/flyte/README.md
  charts/flyte/values.yaml
  charts/flyteagent/README.md
  charts/flyteagent/values.yaml
  deployment/agent/flyte_agent_helm_generated.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_dataplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_dataplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox-binary/flyte_sandbox_binary_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  docs/deployment/configuration/generated/flyteadmin_config.rst
  docs/deployment/configuration/generated/flytepropeller_config.rst
  docs/deployment/configuration/generated/scheduler_config.rst
Owners: @unionai/cloud-eng, @neverett, @ppiegaze

Add changelog and bump version in `docs/conf.py`
  CHANGELOG/CHANGELOG-v1.13.2.md
  docs/conf.py
Owners: @unionai/cloud-eng, @neverett, @ppiegaze

Fix typo in changelog
  CHANGELOG/CHANGELOG-v1.13.2.md
Owners: @unionai/cloud-eng

Install plotly in single-binary.yml
  .github/workflows/single-binary.yml
Owners: @unionai/cloud-eng

add content to API reference index page, use consistent title and format for API reference section titles
  docs/api/index.md
  docs/conf.py
  docs/reference_flyteidl.md
Owners: @neverett, @ppiegaze

Send event after Kill
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan.go
Owners: @unionai/exo

Install other dependencies in single-binary.yml
  .github/workflows/single-binary.yml
Owners: @unionai/cloud-eng

Debug - use flytekit 1.13.5
  .github/workflows/single-binary.yml
Owners: @unionai/cloud-eng

Revert "Debug - use flytekit 1.13.5"
  .github/workflows/single-binary.yml
Owners: @unionai/cloud-eng

Debug - -vv
  .github/workflows/single-binary.yml
Owners: @unionai/cloud-eng

rename deployment section
  docs/conf.py
  docs/deployment/index.md
Owners: @neverett, @ppiegaze

reorganize sections
  docs/index.md
Owners: @neverett, @ppiegaze

Debug - run debug version
  .github/workflows/single-binary.yml
Owners: @unionai/cloud-eng

Add multi file error aggregation strategy
  flyteplugins/go/tasks/pluginmachinery/ioutils/remote_file_output_reader.go
  flyteplugins/go/tasks/pluginmachinery/ioutils/remote_file_output_reader_test.go
  flyteplugins/go/tasks/pluginmachinery/k8s/plugin.go
  flytepropeller/pkg/controller/nodes/task/k8s/plugin_manager.go
  flytestdlib/storage/storage.go
  flytestdlib/storage/stow_store.go
  flytestdlib/storage/stow_store_test.go
Owners: @unionai/exo, @unionai/cloud-eng

Update aws-go-sdk to v1.47.11 to support EKS Pod Identity
  datacatalog/go.mod
  datacatalog/go.sum
  flyteadmin/go.mod
  flyteadmin/go.sum
  flytecopilot/go.mod
  flytecopilot/go.sum
  flyteidl/go.mod
  flyteidl/go.sum
  flyteplugins/go.mod
  flyteplugins/go.sum
  flytepropeller/go.mod
  flytepropeller/go.sum
  flytestdlib/go.mod
  flytestdlib/go.sum
  go.mod
  go.sum
Owners: @unionai/cloud-eng, @unionai/exo

Add multi file error aggregation strategy
  flyteplugins/go/tasks/pluginmachinery/ioutils/remote_file_output_reader.go
  flyteplugins/go/tasks/pluginmachinery/ioutils/remote_file_output_reader_test.go
Owners: @unionai/exo

Add multi file error aggregation strategy
  flyteplugins/go/tasks/pluginmachinery/ioutils/remote_file_output_reader.go
Owners: @unionai/exo

Add multi file error aggregation strategy
  flyteplugins/go/tasks/pluginmachinery/ioutils/remote_file_output_reader.go
Owners: @unionai/exo

Add multi file error aggregation strategy
  flyteplugins/go/tasks/pluginmachinery/ioutils/remote_file_output_reader.go
Owners: @unionai/exo

[Temporary fix] Pin flytekit version for single binary builds
  .github/workflows/single-binary.yml
Owners: @unionai/cloud-eng

Add multi file error aggregation strategy
  flyteidl/gen/pb-es/flyteidl/core/errors_pb.ts
  flyteidl/gen/pb-es/flyteidl/core/execution_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/errors.pb.go
  flyteidl/gen/pb-go/flyteidl/core/execution.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/errors_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/errors_pb2.pyi
  flyteidl/gen/pb_python/flyteidl/core/execution_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/execution_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/errors.proto
  flyteidl/protos/flyteidl/core/execution.proto
  flyteplugins/go/tasks/pluginmachinery/ioutils/remote_file_output_reader.go
  flyteplugins/go/tasks/pluginmachinery/ioutils/remote_file_output_reader_test.go
Owners: @unionai/cloud-eng, @unionai/exo

pin plugins version too
  .github/workflows/single-binary.yml
Owners: @unionai/cloud-eng

[Temporary fix] Pin flytekit version for single binary builds (#5798)
  .github/workflows/single-binary.yml
Owners: @unionai/cloud-eng

Add multi file error aggregation strategy
  flyteplugins/go/tasks/pluginmachinery/ioutils/remote_file_output_reader.go
Owners: @unionai/exo

Use change from https://github.com/flyteorg/flytekit/pull/2782
  .github/workflows/single-binary.yml
Owners: @unionai/cloud-eng
