Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo

Update rfc/system/0008-community-plugins.md
  rfc/system/0008-community-plugins.md
Owners: @unionai/cloud-eng

remove use cases from flyte repo and redirect to tutorials
  docs/conf.py
  docs/core_use_cases/analytics.md
  docs/core_use_cases/data_engineering.md
  docs/core_use_cases/index.md
  docs/core_use_cases/machine_learning.md
  docs/flyte_fundamentals/extending_flyte.md
  docs/index.md
Owners: @neverett, @ppiegaze

Apply suggestions from code review
  rfc/system/0008-community-plugins.md
Owners: @unionai/cloud-eng

Revert "Improve execution name readability" (#5740)
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  flyteadmin/go.mod
  flyteadmin/go.sum
  flyteadmin/pkg/async/schedule/aws/workflow_executor.go
  flyteadmin/pkg/common/executions.go
  flyteadmin/pkg/common/executions_test.go
  flyteadmin/pkg/common/naming/execution_name.go
  flyteadmin/pkg/common/naming/execution_name_test.go
  flyteadmin/pkg/manager/impl/util/shared.go
  flyteadmin/pkg/manager/impl/util/shared_test.go
  flyteadmin/pkg/runtime/interfaces/application_configuration.go
  flyteadmin/scheduler/executor/executor_impl.go
  flyteadmin/scheduler/identifier/identifier.go
  go.mod
  go.sum
Owners: @unionai/cloud-eng

Update Flyte Decks V@
  docs/user_guide/development_lifecycle/decks.md
Owners: @neverett, @ppiegaze

nit
  docs/user_guide/development_lifecycle/decks.md
Owners: @neverett, @ppiegaze

docs: add copy command examples and description
  docs/user_guide/customizing_dependencies/imagespec.md
Owners: @neverett, @ppiegaze

[Docs] Flyte Deck example V2 (#5781)
  docs/user_guide/development_lifecycle/decks.md
Owners: @neverett, @ppiegaze

Don't send inputURI for start-node (#400)
  flyteadmin/pkg/repositories/config/migrations.go
  flytepropeller/pkg/controller/nodes/executor.go
  flytepropeller/pkg/controller/nodes/executor_test.go
  flytepropeller/pkg/controller/nodes/transformers.go
Owners: @unionai/cloud-eng, @unionai/exo

fix format warnings
  Dockerfile
  Dockerfile.datacatalog
  Dockerfile.flyteadmin
  Dockerfile.flytecopilot
  Dockerfile.flytepropeller
  Dockerfile.flytescheduler
  docker/sandbox/Dockerfile
Owners: @unionai/cloud-eng

Fix cluster pool assignment validation
  flyteadmin/pkg/manager/impl/execution_manager.go
  flyteadmin/pkg/manager/impl/execution_manager_test.go
  flyteadmin/pkg/manager/interfaces/resource.go
  flyteadmin/pkg/manager/mocks/resource_interface.go
Owners: @unionai/cloud-eng

Update rfc
  rfc/system/4358-tuple-idl.md
Owners: @unionai/cloud-eng

remove core use cases
  docs/conf.py
  docs/user_guide/core_use_cases/analytics.md
  docs/user_guide/core_use_cases/data_engineering.md
  docs/user_guide/core_use_cases/index.md
  docs/user_guide/core_use_cases/machine_learning.md
  docs/user_guide/flyte_fundamentals/extending_flyte.md
  docs/user_guide/index.md
Owners: @neverett, @ppiegaze

more edits to docs contributing guide
  docs/community/contribute_docs.md
Owners: @neverett, @ppiegaze

[flytepropeller][flyteadmin] Compiler unknown literal type error handling (#5651)
  flyteadmin/pkg/errors/errors.go
  flyteadmin/pkg/manager/impl/validation/execution_validator.go
  flyteadmin/pkg/manager/impl/validation/execution_validator_test.go
  flyteadmin/pkg/manager/impl/validation/launch_plan_validator.go
  flyteadmin/pkg/manager/impl/validation/launch_plan_validator_test.go
  flyteadmin/pkg/manager/impl/validation/signal_validator.go
  flyteadmin/pkg/manager/impl/validation/signal_validator_test.go
  flyteadmin/pkg/manager/impl/validation/validation.go
  flyteadmin/pkg/manager/impl/validation/validation_test.go
  flytepropeller/pkg/compiler/errors/compiler_error_test.go
  flytepropeller/pkg/compiler/errors/compiler_errors.go
  flytepropeller/pkg/compiler/transformers/k8s/inputs.go
  flytepropeller/pkg/compiler/transformers/k8s/inputs_test.go
  flytepropeller/pkg/compiler/validators/utils.go
  flytepropeller/pkg/controller/nodes/array/handler.go
  flytepropeller/pkg/controller/nodes/array/handler_test.go
  flytepropeller/pkg/controller/nodes/catalog/datacatalog/transformer.go
  flytepropeller/pkg/controller/nodes/catalog/datacatalog/transformer_test.go
  flytepropeller/pkg/controller/nodes/errors/codes.go
Owners: @unionai/cloud-eng, @unionai/exo

make helm to pass the test
  charts/flyte-binary/README.md
  deployment/sandbox-binary/flyte_sandbox_binary_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Owners: @unionai/cloud-eng

update Yee and Ketan's advice
  flytepropeller/pkg/compiler/validators/utils.go
  flytepropeller/pkg/compiler/validators/utils_test.go
Owners: @unionai/exo

more edits to the flytesnacks contributing guide
  docs/community/contribute_docs.md
Owners: @neverett, @ppiegaze

Add testing and fix warnings
  flyteadmin/pkg/workflowengine/impl/k8s_executor.go
  flyteadmin/pkg/workflowengine/impl/k8s_executor_test.go
Owners: @unionai/cloud-eng

lint
  flyteadmin/pkg/rpc/adminservice/base.go
  flyteadmin/pkg/workflowengine/impl/k8s_executor.go
  flyteadmin/pkg/workflowengine/impl/k8s_executor_test.go
Owners: @unionai/cloud-eng

Write abort event for aborted k8s workflows
  flyteadmin/pkg/workflowengine/impl/k8s_executor.go
Owners: @unionai/cloud-eng

Write abort event inside k8s executor
  flyteadmin/pkg/rpc/adminservice/base.go
  flyteadmin/pkg/workflowengine/impl/k8s_executor.go
Owners: @unionai/cloud-eng

lints and test
  flyteadmin/pkg/workflowengine/impl/k8s_executor_test.go
Owners: @unionai/cloud-eng

Avoid premature CRD Deletion
  flyteadmin/pkg/workflowengine/impl/k8s_executor.go
Owners: @unionai/cloud-eng

Histogram Bucket Options
  flytestdlib/promutils/scope.go
  flytestdlib/promutils/scope_test.go
Owners: @unionai/cloud-eng

Overlap fetching input and output data
  flyteadmin/go.mod
  flyteadmin/go.sum
  flyteadmin/pkg/manager/impl/execution_manager.go
  flyteadmin/pkg/manager/impl/node_execution_manager.go
  flyteadmin/pkg/manager/impl/task_execution_manager.go
Owners: @unionai/cloud-eng

Add org to CreateUploadLocation
  flyteadmin/dataproxy/service.go
  flyteadmin/dataproxy/service_test.go
  flyteadmin/go.mod
  go.mod
  go.sum
Owners: @unionai/cloud-eng

Add config for grpc MaxMessageSizeBytes
  flyteidl/clients/go/admin/client.go
  flyteidl/clients/go/admin/config.go
  flyteidl/clients/go/admin/config_flags.go
  flyteidl/clients/go/admin/config_flags_test.go
Owners: @unionai/cloud-eng

Add configuration for launchplan cache resync duration
  flytepropeller/pkg/controller/controller.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/admin.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/admin_test.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/adminconfig.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/adminconfig_flags.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/adminconfig_flags_test.go
Owners: @unionai/exo

Overlap create execution blob store reads/writes
  flyteadmin/pkg/manager/impl/execution_manager.go
  flyteadmin/pkg/manager/impl/execution_manager_test.go
Owners: @unionai/cloud-eng

Enqueue owner on launchplan terminal state
  flytepropeller/pkg/controller/controller.go
  flytepropeller/pkg/controller/nodes/subworkflow/handler_test.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/admin.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/admin_test.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/launchplan.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/mocks/executor.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/mocks/flyte_admin.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/noop.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/noop_test.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan_test.go
Owners: @unionai/exo

Overlap FutureFileReader blob store writes/reads
  flytepropeller/pkg/controller/nodes/dynamic/dynamic_workflow_test.go
  flytepropeller/pkg/controller/nodes/task/future_file_reader.go
Owners: @unionai/exo

Add client-go metrics
  cmd/single/root.go
  flyteadmin/cmd/entrypoints/serve.go
  flytestdlib/promutils/client.go
Owners: @unionai/cloud-eng

Fix async notifications tests
  flyteadmin/pkg/async/notifications/implementations/gcp_processor_test.go
Owners: @unionai/cloud-eng

Move storage cache settings to correct location
  charts/flyte-core/README.md
  charts/flyte-core/templates/_helpers.tpl
  charts/flyte-core/templates/propeller/configmap.yaml
  charts/flyte-core/values-eks.yaml
  charts/flyte-core/values-keycloak-idp-flyteclients-without-browser.yaml
  charts/flyte-core/values.yaml
  charts/flyte/README.md
  charts/flyte/values.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_dataplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_dataplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Owners: @unionai/cloud-eng

Override ArrayNode log links with map plugin
  flyteplugins/go/tasks/plugins/array/k8s/subtask_exec_context.go
  flyteplugins/go/tasks/plugins/array/k8s/subtask_exec_context_test.go
  flytepropeller/pkg/controller/config/config.go
  flytepropeller/pkg/controller/config/config_flags.go
  flytepropeller/pkg/controller/config/config_flags_test.go
  flytepropeller/pkg/controller/nodes/array/event_recorder.go
  flytepropeller/pkg/controller/nodes/array/event_recorder_test.go
  flytepropeller/pkg/controller/nodes/array/handler.go
  flytepropeller/pkg/controller/workflow/executor_test.go
Owners: @unionai/exo

CreateDownloadLink: Head before signing
  flyteadmin/dataproxy/service.go
  flyteadmin/dataproxy/service_test.go
Owners: @unionai/cloud-eng

Fix type assertion when an event is missed while connection to apiser…
  flytepropeller/pkg/controller/nodes/task/k8s/event_watcher.go
  flytepropeller/pkg/controller/nodes/task/k8s/event_watcher_test.go
Owners: @unionai/exo

Add read replica host config and connection
  flytestdlib/database/config.go
  flytestdlib/database/db.go
  flytestdlib/database/dbconfig_flags.go
  flytestdlib/database/dbconfig_flags_test.go
  flytestdlib/database/postgres.go
  flytestdlib/database/postgres_test.go
Owners: @unionai/cloud-eng

Don't send inputURI for start-node
  flyteadmin/pkg/repositories/config/migrations.go
  flytepropeller/pkg/controller/nodes/executor.go
  flytepropeller/pkg/controller/nodes/executor_test.go
  flytepropeller/pkg/controller/nodes/transformers.go
Owners: @unionai/cloud-eng, @unionai/exo
