Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

fix lint error, need to fix test later
  flytepropeller/pkg/controller/nodes/task/plugin_config_test.go
Owners: @unionai/exo

nit
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
Owners: @unionai/exo

use read lock in agent registry getter
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
Owners: @unionai/exo

an update version with race condition, move default plugins to task/common in flytepropeller
  flyteadmin/go.mod
  flytectl/go.mod
  flyteplugins/go.mod
  flyteplugins/go.sum
  flyteplugins/go/tasks/plugins/webapi/agent/client.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
  flytepropeller/pkg/controller/nodes/common/utils.go
  flytepropeller/pkg/controller/nodes/task/handler.go
  flytepropeller/pkg/controller/nodes/task/plugin_config.go
  go.mod
Owners: @unionai/cloud-eng, @unionai/exo

Lint renaming
  flyteadmin/auth/handlers_test.go
Owners: @unionai/cloud-eng

a work versionpwd
  flyteplugins/go/tasks/pluginmachinery/core/plugin.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
  flytepropeller/pkg/controller/nodes/common/utils.go
  flytepropeller/pkg/controller/nodes/task/handler.go
  flytepropeller/pkg/controller/nodes/task/plugin_config.go
Owners: @unionai/exo

reimplement functions in go-mouff-update, use ghreposervice
  flytectl/cmd/upgrade/upgrade.go
  flytectl/pkg/github/githubutil.go
  flytectl/pkg/github/provider.go
Owners: @unionai/cloud-eng

nit
  cmd/single/start.go
  datacatalog/cmd/entrypoints/serve.go
  datacatalog/pkg/config/config.go
  flyteadmin/auth/authzserver/authorize_test.go
  flyteadmin/auth/cookie_manager.go
  flyteadmin/auth/handler_utils.go
  flyteadmin/pkg/async/cloudevent/implementations/sender.go
  flyteadmin/scheduler/schedule_executor.go
  flytectl/cmd/register/register_util.go
  flytectl/pkg/bubbletea/bubbletea_pagination.go
  flyteidl/clients/go/admin/config.go
  flytepropeller/pkg/controller/nodes/catalog/config.go
  flytepropeller/pkg/controller/nodes/catalog/config_flags.go
  flytepropeller/pkg/webhook/utils.go
  flytestdlib/atomic/atomic.go
Owners: @unionai/cloud-eng, @unionai/exo

lint
  flyteadmin/auth/authzserver/initialize.go
  flyteadmin/auth/identity_context.go
  flyteadmin/pkg/common/filters.go
  flyteadmin/pkg/manager/impl/execution_manager.go
  flyteadmin/pkg/manager/impl/execution_manager_test.go
  flyteadmin/pkg/manager/impl/launch_plan_manager.go
  flyteadmin/pkg/repositories/config/migrations.go
  flyteadmin/pkg/repositories/database.go
  flytectl/cmd/config/config.go
  flytectl/cmd/create/execution_util.go
  flytectl/cmd/root.go
  flyteidl/clients/go/admin/auth_interceptor.go
  flyteidl/clients/go/admin/auth_interceptor_test.go
  flyteidl/clients/go/coreutils/literals_test.go
  flyteidl/gen/pb-go/flyteidl/service/auth.pb.go
  flyteplugins/go/tasks/plugins/array/catalog.go
  flyteplugins/go/tasks/plugins/array/outputs.go
  flyteplugins/go/tasks/plugins/k8s/dask/dask.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/pytorch/pytorch.go
  flyteplugins/go/tasks/plugins/k8s/spark/spark.go
  flyteplugins/go/tasks/plugins/k8s/spark/spark_test.go
  flytepropeller/pkg/controller/controller.go
  flytepropeller/pkg/controller/nodes/branch/evaluator.go
  flytepropeller/pkg/controller/nodes/task/resourcemanager/redis_resourcemanager.go
  flytepropeller/pkg/webhook/aws_secret_manager.go
  flytepropeller/pkg/webhook/gcp_secret_manager.go
  flytepropeller/pkg/webhook/k8s_secrets.go
  flytepropeller/pkg/webhook/vault_secret_manager.go
  flytestdlib/bitarray/bitset_test.go
  flytestdlib/cache/sync_set.go
  flytestdlib/cli/pflags/api/templates.go
  flytestdlib/cli/pflags/api/utils.go
  flytestdlib/cli/pflags/cmd/root.go
  flytestdlib/config/tests/accessor_test.go
  flytestdlib/database/db.go
  flytestdlib/storage/rawstores_test.go
Owners: @unionai/cloud-eng, @unionai/exo

lint
  flytectl/go.mod
  flyteidl/clients/go/admin/auth_interceptor_test.go
  flyteplugins/go.mod
  flyteplugins/go.sum
  go.mod
Owners: @unionai/cloud-eng, @unionai/exo

add event placeholder
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/event/event_pb.ts
  flyteidl/gen/pb-go/flyteidl/event/event.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/event/event_pb2.py
  flyteidl/gen/pb_python/flyteidl/event/event_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.event.rs
  flyteidl/protos/flyteidl/event/event.proto
Owners: @unionai/cloud-eng

revert go.mod and go.sum changes
  go.mod
  go.sum
Owners: @unionai/cloud-eng

Fix lint errors and tests
  flyteadmin/pkg/common/mocks/storage.go
  flyteadmin/pkg/workflowengine/impl/prepare_execution.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/branch.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/branch_test.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/workflow_test.go
  flytepropeller/pkg/compiler/transformers/k8s/node.go
  flytepropeller/pkg/controller/nodes/branch/evaluator_test.go
Owners: @unionai/cloud-eng, @unionai/exo

Update agent/plugin.go mutex usage
  flyteplugins/go/tasks/plugins/webapi/agent/client.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
Owners: @unionai/exo

Update golden files to account for correct json field `failedNodeId`
  flytepropeller/pkg/compiler/test/testdata/snacks-core/k8s/028_core.control_flow.conditions.multiplier_2_2_wf_crd.json
  flytepropeller/pkg/compiler/test/testdata/snacks-core/k8s/030_core.control_flow.conditions.multiplier_3_2_wf_crd.json
  flytepropeller/pkg/compiler/test/testdata/snacks-core/k8s/039_core.control_flow.conditions.nested_conditions_2_wf_crd.json
Owners: @unionai/exo

Remove duplicate definition of SecurityContext
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/workflow.go
Owners: @unionai/exo

Make BaseURL insensitive to trailing slashes for metadata endpoint redirect. (#5458)
  flyteadmin/auth/handlers.go
  flyteadmin/auth/handlers_test.go
Owners: @unionai/cloud-eng

Use ExecutionError in WorkflowNodeStatus, ArrayNodeStatus, and DynamicNodeStatus
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/node_status.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/node_status_test.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/zz_generated.deepcopy.go
  flytepropeller/pkg/controller/nodes/array/handler.go
Owners: @unionai/exo

Remove copy of WorfklowStatus DeepCopyInto
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/workflow_status.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/zz_generated.deepcopy.go
Owners: @unionai/exo

Remove commented test
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/branch_test.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/workflow_test.go
Owners: @unionai/exo

solve race condition
  flyteplugins/go/tasks/plugins/webapi/agent/client.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
Owners: @unionai/exo

charts: honor redoc.enabled=false
  charts/flyte-deps/README.md
  charts/flyte-deps/templates/redoc/deployment.yaml
  charts/flyte-deps/templates/redoc/service.yaml
  charts/flyte-deps/values.yaml
  charts/flyte/README.md
  charts/flyte/templates/redoc/deployment.yaml
  charts/flyte/templates/redoc/service.yaml
  charts/flyte/values.yaml
  deployment/sandbox/flyte_sandbox_deps_helm_generated.yaml
Owners: @unionai/cloud-eng

change diagram format and install npm package to render diagrams
  .readthedocs.yml
  docs/conf.py
Owners: @unionai/cloud-eng, @neverett, @ppiegaze

readthedocs wants a whole number
  .readthedocs.yml
Owners: @unionai/cloud-eng

Handle null in ArrayNodeStatus, DynamicNodeStatus, and WorkflowNodeStatus implementation of SetExecutionError
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/node_status.go
Owners: @unionai/exo

remove mmcloud plugin
  docs/conf.py
  docs/deprecated_integrations/index.md
  docs/deprecated_integrations/mmcloud_plugin/index.md
  docs/deprecated_integrations/mmcloud_plugin/mmcloud_plugin_example.md
Owners: @neverett, @ppiegaze

remove mmcloud plugin (#5468)
  docs/conf.py
  docs/deprecated_integrations/index.md
  docs/deprecated_integrations/mmcloud_plugin/index.md
  docs/deprecated_integrations/mmcloud_plugin/mmcloud_plugin_example.md
Owners: @neverett, @ppiegaze

move commands around
  .readthedocs.yml
Owners: @unionai/cloud-eng

try setting mermaid command location
  .readthedocs.yml
  docs/conf.py
Owners: @unionai/cloud-eng, @neverett, @ppiegaze

change location of mermaid_cmd if not local build
  docs/conf.py
Owners: @neverett, @ppiegaze

check location of mmdc again
  .readthedocs.yml
Owners: @unionai/cloud-eng

Add `ConsoleURL` to `FlyteWorkflow` CRD
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/workflow.go
Owners: @unionai/exo

Add `ConsoleURL` to flyteadmin config and write it to CRD
  flyteadmin/pkg/runtime/application_config_provider.go
  flyteadmin/pkg/runtime/interfaces/application_configuration.go
  flyteadmin/pkg/workflowengine/impl/k8s_executor.go
Owners: @unionai/cloud-eng

Add ConsoleURL to application_config_provider and DeepCopyInto
  flyteadmin/pkg/runtime/application_config_provider.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/workflow.go
Owners: @unionai/cloud-eng, @unionai/exo

wip
  flyteplugins/go/tasks/pluginmachinery/core/exec_context.go
  flyteplugins/go/tasks/pluginmachinery/core/exec_metadata.go
  flyteplugins/go/tasks/pluginmachinery/core/mocks/task_execution_id.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/k8s_resource_adds.go
  flytepropeller/cmd/kubectl-flyte/cmd/printers/workflow.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/iface.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/mocks/ExecutableWorkflow.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/mocks/Meta.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/mocks/MetaExtended.go
  flytepropeller/pkg/controller/executors/execution_context.go
  flytepropeller/pkg/controller/nodes/executor.go
  flytepropeller/pkg/controller/nodes/interfaces/mocks/node_execution_metadata.go
  flytepropeller/pkg/controller/nodes/interfaces/node_exec_context.go
  flytepropeller/pkg/controller/nodes/node_exec_context.go
  flytepropeller/pkg/controller/nodes/task/taskexec_context.go
Owners: @unionai/exo

Include FLYTE_EXECUTION_URL iff "link_type" is set in the task template
  flyteplugins/go/tasks/pluginmachinery/core/template/template.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/container_helper_test.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper_test.go
Owners: @unionai/exo

Remove TODOs
  flyteplugins/go/tasks/pluginmachinery/flytek8s/k8s_resource_adds.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/workflow.go
Owners: @unionai/exo

Fix existing propeller unit tests
  flytepropeller/pkg/controller/executors/execution_context.go
  flytepropeller/pkg/controller/executors/mocks/execution_context.go
  flytepropeller/pkg/controller/nodes/array/handler_test.go
  flytepropeller/pkg/controller/nodes/branch/handler_test.go
  flytepropeller/pkg/controller/nodes/cache_test.go
  flytepropeller/pkg/controller/nodes/dynamic/dynamic_workflow_test.go
  flytepropeller/pkg/controller/nodes/dynamic/handler_test.go
  flytepropeller/pkg/controller/nodes/executor_test.go
  flytepropeller/pkg/controller/nodes/gate/handler_test.go
  flytepropeller/pkg/controller/nodes/resolve_test.go
  flytepropeller/pkg/controller/nodes/subworkflow/handler_test.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan_test.go
  flytepropeller/pkg/controller/nodes/subworkflow/subworkflow_test.go
  flytepropeller/pkg/controller/nodes/task/handler_test.go
  flytepropeller/pkg/controller/nodes/task/taskexec_context_test.go
  flytepropeller/pkg/controller/nodes/task/transformer_test.go
Owners: @unionai/exo

Fix flyteplugins unit tests
  flyteplugins/go/tasks/pluginmachinery/flytek8s/container_helper_test.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/k8s_resource_adds_test.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper_test.go
  flyteplugins/go/tasks/plugins/array/k8s/management_test.go
  flyteplugins/go/tasks/plugins/k8s/dask/dask_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/mpi/mpi_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/pytorch/pytorch_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/tensorflow/tensorflow_test.go
  flyteplugins/go/tasks/plugins/k8s/pod/container_test.go
  flyteplugins/go/tasks/plugins/k8s/pod/sidecar_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray_test.go
  flyteplugins/go/tasks/plugins/k8s/spark/spark_test.go
  flyteplugins/tests/end_to_end.go
Owners: @unionai/exo

Fix flyteplugins tests
  flyteplugins/go/tasks/pluginmachinery/flytek8s/container_helper_test.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper_test.go
Owners: @unionai/exo

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo
