Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo

reverted mockery-v2 on ExecutionContext
  flytepropeller/pkg/controller/executors/execution_context.go
  flytepropeller/pkg/controller/executors/mocks/control_flow.go
  flytepropeller/pkg/controller/executors/mocks/execution_context.go
  flytepropeller/pkg/controller/executors/mocks/immutable_execution_context.go
  flytepropeller/pkg/controller/nodes/array/handler_test.go
  flytepropeller/pkg/controller/nodes/branch/handler_test.go
  flytepropeller/pkg/controller/nodes/cache_test.go
  flytepropeller/pkg/controller/nodes/dynamic/dynamic_workflow_test.go
  flytepropeller/pkg/controller/nodes/dynamic/handler_test.go
  flytepropeller/pkg/controller/nodes/executor_test.go
  flytepropeller/pkg/controller/nodes/gate/handler_test.go
  flytepropeller/pkg/controller/nodes/subworkflow/handler_test.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan_test.go
  flytepropeller/pkg/controller/nodes/subworkflow/subworkflow_test.go
  flytepropeller/pkg/controller/nodes/task/handler_test.go
  flytepropeller/pkg/controller/nodes/task/taskexec_context_test.go
  flytepropeller/pkg/controller/nodes/task/transformer_test.go
Owners: @unionai/exo

Add CustomHeaderMatcher to pass additional headers
  flyteadmin/auth/handlers.go
  flyteadmin/pkg/server/service.go
  flyteadmin/plugins/registry.go
Owners: @unionai/cloud-eng

Add FlyteDIrectory to file_types.rst template
  docs/_templates/file_types.rst
Owners: @neverett, @ppiegaze

reverted mockery-v2 on ExecutionContext (#5562)
  flytepropeller/pkg/controller/executors/execution_context.go
  flytepropeller/pkg/controller/executors/mocks/control_flow.go
  flytepropeller/pkg/controller/executors/mocks/execution_context.go
  flytepropeller/pkg/controller/executors/mocks/immutable_execution_context.go
  flytepropeller/pkg/controller/nodes/array/handler_test.go
  flytepropeller/pkg/controller/nodes/branch/handler_test.go
  flytepropeller/pkg/controller/nodes/cache_test.go
  flytepropeller/pkg/controller/nodes/dynamic/dynamic_workflow_test.go
  flytepropeller/pkg/controller/nodes/dynamic/handler_test.go
  flytepropeller/pkg/controller/nodes/executor_test.go
  flytepropeller/pkg/controller/nodes/gate/handler_test.go
  flytepropeller/pkg/controller/nodes/subworkflow/handler_test.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan_test.go
  flytepropeller/pkg/controller/nodes/subworkflow/subworkflow_test.go
  flytepropeller/pkg/controller/nodes/task/handler_test.go
  flytepropeller/pkg/controller/nodes/task/taskexec_context_test.go
  flytepropeller/pkg/controller/nodes/task/transformer_test.go
Owners: @unionai/exo

Fix issues with helm chart release process (#5560)
  script/prepare_artifacts.sh
Owners: @unionai/cloud-eng

Add FlyteDIrectory to file_types.rst template (#5564)
  docs/_templates/file_types.rst
Owners: @neverett, @ppiegaze

Update echo plugin
  flyteplugins/go/tasks/plugins/noop/noop.go
  flyteplugins/go/tasks/plugins/testing/echo.go
  flytepropeller/pkg/controller/nodes/branch/handler.go
Owners: @unionai/exo

thread safe
  flyteplugins/go/tasks/plugins/testing/echo.go
Owners: @unionai/exo

nit
  flyteplugins/go/tasks/plugins/testing/echo.go
Owners: @unionai/exo

nit
  flyteplugins/go/tasks/plugins/testing/echo.go
  flytepropeller/pkg/controller/nodes/branch/handler.go
Owners: @unionai/exo

Fully populate Abort task event fields (#5551)
  flytepropeller/pkg/controller/nodes/task/handler.go
  flytepropeller/pkg/controller/nodes/task/handler_test.go
Owners: @unionai/exo

Add blob typechecker (#5519)
  flytepropeller/pkg/compiler/validators/typing.go
  flytepropeller/pkg/compiler/validators/typing_test.go
Owners: @unionai/exo

[flytepropeller] Better handling for task aborts
  flyteplugins/go/tasks/pluginmachinery/core/phase.go
  flyteplugins/go/tasks/pluginmachinery/internal/webapi/cache.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin_test.go
  flytepropeller/cmd/kubectl-flyte/cmd/printers/node.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/iface.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/node_status.go
  flytepropeller/pkg/controller/nodes/array/handler.go
  flytepropeller/pkg/controller/nodes/array/utils.go
  flytepropeller/pkg/controller/nodes/branch/handler.go
  flytepropeller/pkg/controller/nodes/executor.go
  flytepropeller/pkg/controller/nodes/handler/transition_info.go
  flytepropeller/pkg/controller/nodes/interfaces/node.go
  flytepropeller/pkg/controller/nodes/predicate.go
  flytepropeller/pkg/controller/nodes/subworkflow/subworkflow.go
  flytepropeller/pkg/controller/nodes/task/fakeplugins/next_phase_state_plugin.go
  flytepropeller/pkg/controller/nodes/task/handler.go
  flytepropeller/pkg/controller/nodes/transformers.go
  flytepropeller/pkg/controller/workflow/executor.go
Owners: @unionai/exo

Refactor echo plugin (#5565)
  flyteplugins/go/tasks/plugins/testing/echo.go
Owners: @unionai/exo

wip
  flyteadmin/pkg/manager/impl/workflow_manager.go
  flyteadmin/pkg/workflowengine/impl/compiler.go
  flytepropeller/pkg/compiler/errors/compiler_errors.go
  flytepropeller/pkg/compiler/transformers/k8s/inputs.go
  flytepropeller/pkg/compiler/validators/bindings.go
  flytepropeller/pkg/compiler/validators/condition.go
  flytepropeller/pkg/compiler/validators/vars.go
Owners: @unionai/cloud-eng, @unionai/exo

[Bug] fix ArrayNode state's TaskPhase reset (#5451)
  flytepropeller/pkg/controller/nodes/array/handler.go
Owners: @unionai/exo

fix typo
  docs/concepts/architecture.rst
Owners: @neverett, @ppiegaze

fix typo
  flytectl/docs/source/gen/flytectl_update_project.rst
Owners: @unionai/cloud-eng

fix typo
  docs/deployment/configuration/monitoring.rst
Owners: @neverett, @ppiegaze

SVR-101: Make raw output prefix templatizable (#119)
  flyteplugins/go/tasks/pluginmachinery/ioutils/raw_output_path.go
  flyteplugins/go/tasks/pluginmachinery/ioutils/raw_output_path_test.go
  flytepropeller/pkg/controller/config/config.go
  flytepropeller/pkg/controller/config/config_flags.go
  flytepropeller/pkg/controller/config/config_flags_test.go
  flytepropeller/pkg/controller/controller.go
  flytepropeller/pkg/controller/nodes/array/handler_test.go
  flytepropeller/pkg/controller/nodes/executor.go
  flytepropeller/pkg/controller/nodes/executor_test.go
  flytepropeller/pkg/controller/nodes/interfaces/mocks/node_execution_context.go
  flytepropeller/pkg/controller/nodes/interfaces/node_exec_context.go
  flytepropeller/pkg/controller/nodes/node_exec_context.go
  flytepropeller/pkg/controller/nodes/node_exec_context_test.go
  flytepropeller/pkg/controller/nodes/task/handler_test.go
  flytepropeller/pkg/controller/nodes/task/taskexec_context.go
  flytepropeller/pkg/controller/nodes/task/taskexec_context_test.go
  flytepropeller/pkg/controller/workflow/executor.go
  flytepropeller/pkg/controller/workflow/executor_test.go
Owners: @unionai/exo

Cleanup helm chart options for flytepropeller and prometheus (#5549)
  charts/flyte-core/README.md
  charts/flyte-core/templates/propeller/deployment.yaml
  charts/flyte-core/templates/propeller/service.yaml
  charts/flyte-core/templates/propeller/webhook.yaml
  charts/flyte-core/values.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Owners: @unionai/cloud-eng

[BUG] Handle auto refresh cache race condition (#5406) (#387)
  flytestdlib/cache/auto_refresh.go
  flytestdlib/cache/auto_refresh_test.go
Owners: @unionai/cloud-eng

Introduce clusterresource-private (#380)
  charts/flyte-core/README.md
  charts/flyte-core/templates/clusterresourcesync/deployment.yaml
  charts/flyte-core/values.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  flyteadmin/cmd/entrypoints/clusterresource.go
Owners: @unionai/cloud-eng

meh
  flyteadmin/pkg/manager/impl/util/single_task_execution.go
Owners: @unionai/cloud-eng

Respect original task definition retry strategy for single task executions
  flyteadmin/pkg/manager/impl/util/single_task_execution.go
  flyteadmin/pkg/manager/impl/util/single_task_execution_test.go
Owners: @unionai/cloud-eng

better
  flyteadmin/pkg/manager/impl/util/single_task_execution.go
Owners: @unionai/cloud-eng

add `subclass` scripts
  flyteidl/scripts/add_pyo3_subclass.sh
Owners: @unionai/cloud-eng

add customized error handling which can be raised from python
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng

fix `SerializeToString()` for protobuf bytes
  flyteidl/Cargo.lock
  flyteidl/Cargo.toml
  flyteidl/pyo3_macro/src/lib.rs
Owners: @unionai/cloud-eng

update test version
  flyteidl/Cargo.toml
Owners: @unionai/cloud-eng

Cherry Pick keep EnvFrom from pod template (#5423) (#384)
  flyteplugins/go/tasks/pluginmachinery/flytek8s/container_helper.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/container_helper_test.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/k8s_resource_adds.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/k8s_resource_adds_test.go
  flyteplugins/go/tasks/plugins/array/awsbatch/transformer.go
Owners: @unionai/exo

update comment
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/core/workflow_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/workflow.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/workflow.proto
Owners: @unionai/cloud-eng

[Bug] fix ArrayNode state's TaskPhase reset (#5451) (#388)
  flytepropeller/pkg/controller/nodes/array/handler.go
Owners: @unionai/exo

[Housekeeping] Bump Go version to 1.22 (#5032)
  .github/workflows/checks.yml
  .github/workflows/flyteidl-checks.yml
  .github/workflows/generate_flyte_manifest.yml
  .github/workflows/go_generate.yml
  .github/workflows/integration.yml
  .github/workflows/lint.yml
  .github/workflows/single-binary.yml
  .github/workflows/tests.yml
  .github/workflows/unit-tests.yml
  Dockerfile
  Dockerfile.datacatalog
  Dockerfile.flyteadmin
  Dockerfile.flytecopilot
  Dockerfile.flytepropeller
  Dockerfile.flytescheduler
  boilerplate/flyte/golang_support_tools/go.mod
  datacatalog/go.mod
  docker/sandbox-bundled/Dockerfile
  docker/sandbox-bundled/bootstrap/go.mod
  flyteadmin/go.mod
  flytecopilot/go.mod
  flytectl/go.mod
  flyteidl/go.mod
  flyteplugins/go.mod
  flytepropeller/go.mod
  flytestdlib/go.mod
  go.mod
Owners: @unionai/cloud-eng, @unionai/exo

Update clusterrole.yaml
  charts/flyte-binary/templates/clusterrole.yaml
Owners: @unionai/cloud-eng

Fix typos (#5571)
  docs/concepts/architecture.rst
  docs/deployment/configuration/monitoring.rst
  flytectl/docs/source/gen/flytectl_update_project.rst
Owners: @neverett, @ppiegaze, @unionai/cloud-eng

Respect original task definition retry strategy for single task executions (#5577)
  flyteadmin/pkg/manager/impl/util/single_task_execution.go
  flyteadmin/pkg/manager/impl/util/single_task_execution_test.go
Owners: @unionai/cloud-eng

Add client interceptor to pass org to requests using config or cli --admin.defaultOrg (#389)
  flyteidl/clients/go/admin/client.go
  flyteidl/clients/go/admin/client_test.go
  flyteidl/clients/go/admin/config.go
  flyteidl/clients/go/admin/config_flags.go
  flyteidl/clients/go/admin/config_flags_test.go
Owners: @unionai/cloud-eng

fix verb CHANGELOG-v0.14.0.md
  CHANGELOG/CHANGELOG-v0.14.0.md
Owners: @unionai/cloud-eng

fix subject-verb agreement CHANGELOG-v0.17.0.md
  CHANGELOG/CHANGELOG-v0.17.0.md
Owners: @unionai/cloud-eng
