Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo

Enable echo plugin by default (#5679)
  charts/flyte-binary/README.md
  charts/flyte-binary/eks-production.yaml
  charts/flyte-binary/eks-starter.yaml
  charts/flyte-binary/gke-starter.yaml
  charts/flyte-binary/values.yaml
  charts/flyte-core/README.md
  charts/flyte-core/values-eks.yaml
  charts/flyte-core/values-gcp.yaml
  charts/flyte-core/values-keycloak-idp-flyteclients-without-browser.yaml
  charts/flyte-core/values.yaml
  charts/flyte/README.md
  charts/flyte/values.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_dataplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_dataplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox-binary/flyte_sandbox_binary_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  flyte-single-binary-local.yaml
  flytepropeller/propeller-config.yaml
Owners: @unionai/cloud-eng, @unionai/exo

[BUG] set nested nodes as list when re-run (#447)
  flyteadmin/pkg/manager/impl/execution_manager.go
  flyteadmin/pkg/manager/impl/util/shared.go
  flyteadmin/pkg/manager/impl/util/shared_test.go
Owners: @unionai/cloud-eng

Revert rerun changes (#450)
  flyteadmin/pkg/manager/impl/execution_manager.go
  flyteadmin/pkg/manager/impl/execution_manager_test.go
  flyteadmin/pkg/manager/impl/util/shared.go
  flyteadmin/pkg/manager/impl/util/shared_test.go
  flyteadmin/pkg/manager/impl/util/single_task_execution.go
  flyteadmin/pkg/manager/impl/util/single_task_execution_test.go
  flyteadmin/pkg/manager/mocks/launch_plan.go
  flyteadmin/pkg/rpc/adminservice/base.go
Owners: @unionai/cloud-eng

Make adminOauthClientCredentials secretName configurable
  charts/flyte-core/README.md
  charts/flyte-core/templates/clusterresourcesync/deployment.yaml
  charts/flyte-core/templates/common/secret-auth.yaml
  charts/flyte-core/templates/propeller/deployment.yaml
  charts/flyte-core/values.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Owners: @unionai/cloud-eng

Fix panic in ValidateCreateLaunchPlanFromNodeRequest (#451)
  flyteadmin/pkg/manager/impl/validation/execution_validator.go
Owners: @unionai/cloud-eng

Allow flyteadmin to start even if OIDC is unavailable (improve flyteadmin startup resiliency)
  flyteadmin/auth/auth_context.go
  flyteadmin/auth/authzserver/initialize_test.go
  flyteadmin/auth/config/config.go
Owners: @unionai/cloud-eng

nit
  flyteadmin/pkg/common/naming/execution_name.go
Owners: @unionai/cloud-eng

nit
  flyteadmin/pkg/manager/impl/util/shared_test.go
Owners: @unionai/cloud-eng

Fix Accepted wf metric and succesful wf
  stats/flyteuser.dashboard.py
Owners: @unionai/cloud-eng

Change successful wf execution to avg
  stats/flyteuser.dashboard.py
Owners: @unionai/cloud-eng

Fix failed wf metric
  stats/flyteuser.dashboard.py
Owners: @unionai/cloud-eng

revert flytectl
  flytectl/cmd/create/execution_util.go
  flytectl/go.mod
Owners: @unionai/cloud-eng

lint
  flytectl/cmd/create/execution_util.go
Owners: @unionai/cloud-eng

fix tests
  flytepropeller/pkg/compiler/validators/bindings_test.go
Owners: @unionai/exo

[0829] Update univariate & add example
  rfc/system/4358-tuple-idl.md
Owners: @unionai/cloud-eng

split convertLiteral to convertStructToLiteral and convertJSONToLiteral
  flyteidl/clients/go/coreutils/literals_test.go
  flytepropeller/pkg/controller/nodes/attr_path_resolver.go
  flytepropeller/pkg/controller/nodes/attr_path_resolver_test.go
Owners: @unionai/cloud-eng, @unionai/exo

nit
  flytepropeller/pkg/compiler/validators/bindings_test.go
Owners: @unionai/exo

lint
  flytepropeller/pkg/compiler/validators/bindings_test.go
Owners: @unionai/exo

fix ci
  .github/workflows/single-binary.yml
Owners: @unionai/cloud-eng

lint
  .github/workflows/single-binary.yml
Owners: @unionai/cloud-eng

support all err msg
  flytepropeller/pkg/compiler/errors/compiler_errors.go
  flytepropeller/pkg/compiler/transformers/k8s/inputs.go
  flytepropeller/pkg/controller/nodes/array/handler.go
  flytepropeller/pkg/controller/nodes/catalog/datacatalog/transformer.go
  flytepropeller/pkg/controller/nodes/errors/codes.go
Owners: @unionai/exo

Do not emit execution id label by default in single binary
  cmd/single/start.go
  flytestdlib/contextutils/context.go
Owners: @unionai/cloud-eng

Update flytestdlib/contextutils/context.go
  flytestdlib/contextutils/context.go
Owners: @unionai/cloud-eng

Update rfc/system/0008-community-plugins.md
  rfc/system/0008-community-plugins.md
Owners: @unionai/cloud-eng

Do not emit execution id label by default in single binary (#5704)
  cmd/single/start.go
  flytestdlib/contextutils/context.go
Owners: @unionai/cloud-eng

update comments
  flyteidl/gen/pb-es/flyteidl/core/literals_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/literals.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/cacheservice/cacheservice.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/datacatalog/datacatalog.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/dataproxy.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/external_plugin_service.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/signal.swagger.json
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/literals.proto
Owners: @unionai/cloud-eng

update comments
  flyteidl/gen/pb-es/flyteidl/core/literals_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/literals.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/cacheservice/cacheservice.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/datacatalog/datacatalog.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/dataproxy.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/external_plugin_service.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/signal.swagger.json
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/literals.proto
Owners: @unionai/cloud-eng

reserve 6 and 7
  flyteidl/gen/pb-es/flyteidl/core/literals_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/literals.pb.go
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/literals_pb2.py
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/literals.proto
Owners: @unionai/cloud-eng

update comments
  flyteidl/gen/pb-es/flyteidl/core/literals_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/literals.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/cacheservice/cacheservice.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/datacatalog/datacatalog.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/dataproxy.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/external_plugin_service.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/signal.swagger.json
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/literals.proto
Owners: @unionai/cloud-eng

Using new offloaded metadata literal message for literal offloading
  flyteidl/gen/pb-es/flyteidl/core/literals_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/literals.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/cacheservice/cacheservice.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/datacatalog/datacatalog.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/dataproxy.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/external_plugin_service.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/signal.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/literals_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/literals_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/literals.proto
Owners: @unionai/cloud-eng

yee's suggestion to use inferred_type
  flyteidl/gen/pb-es/flyteidl/core/literals_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/literals.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/cacheservice/cacheservice.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/datacatalog/datacatalog.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/dataproxy.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/external_plugin_service.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/signal.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/literals_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/literals_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/literals.proto
Owners: @unionai/cloud-eng

Using new offloaded metadata literal message for literal offloading (#5705)
  flyteidl/gen/pb-es/flyteidl/core/literals_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/literals.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/cacheservice/cacheservice.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/datacatalog/datacatalog.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/dataproxy.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/external_plugin_service.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/signal.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/literals_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/literals_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/literals.proto
Owners: @unionai/cloud-eng

Improve error message for MismatchingTypes (#5639)
  .github/workflows/single-binary.yml
  flyteadmin/pkg/manager/impl/workflow_manager.go
  flyteadmin/pkg/manager/impl/workflow_manager_test.go
  flyteadmin/pkg/workflowengine/impl/compiler.go
  flytepropeller/pkg/compiler/errors/compiler_errors.go
  flytepropeller/pkg/compiler/validators/bindings.go
  flytepropeller/pkg/compiler/validators/bindings_test.go
Owners: @unionai/cloud-eng, @unionai/exo

add execution_validator tests
  flyteadmin/pkg/manager/impl/validation/execution_validator_test.go
Owners: @unionai/cloud-eng

add launch_plan_validator tests
  flyteadmin/pkg/manager/impl/validation/execution_validator_test.go
  flyteadmin/pkg/manager/impl/validation/launch_plan_validator_test.go
Owners: @unionai/cloud-eng

remove release tag check for nightly
  .github/workflows/flyteidl-nightly.yml
Owners: @unionai/cloud-eng

fix workflow must contain at least one job with no dependencies
  .github/workflows/flyteidl-nightly.yml
  .github/workflows/flyteidl-rust.yml
Owners: @unionai/cloud-eng

add flyteidl-rust and flyteidl-nightly ci publish to pypi test
  .github/workflows/flyteidl-nightly.yml
  .github/workflows/flyteidl-rust.yml
Owners: @unionai/cloud-eng

add permission
  .github/workflows/flyteidl-nightly.yml
Owners: @unionai/cloud-eng

fix `repository-url` `https://test.pypi.org/legacy/`
  .github/workflows/flyteidl-rust.yml
Owners: @unionai/cloud-eng
