Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

[BUG] set correct pod & container name for task log (#361)
  flytepropeller/pkg/controller/nodes/array/event_recorder.go
  flytepropeller/pkg/controller/nodes/array/event_recorder_test.go
Owners: @unionai/exo

Removed experimental designation for array node
  docs/user_guide/advanced_composition/map_tasks.md
Owners: @neverett, @ppiegaze

Added .flyteignore as an ignore option
  docs/flyte_fundamentals/registering_workflows.md
Owners: @neverett, @ppiegaze

Added notes on where registered workflows land
  docs/flyte_fundamentals/registering_workflows.md
Owners: @neverett, @ppiegaze

spelling and formatting
  docs/flyte_fundamentals/registering_workflows.md
Owners: @neverett, @ppiegaze

more formatting
  docs/flyte_fundamentals/registering_workflows.md
Owners: @neverett, @ppiegaze

Increase more memory limits in flyteagent
  charts/flyteagent/README.md
  charts/flyteagent/values.yaml
  deployment/agent/flyte_agent_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Owners: @unionai/cloud-eng

only triggers bubbletea with flytectl get -i
  flytectl/pkg/bubbletea/bubbletea_list.go
  flytectl/pkg/bubbletea/bubbletea_list_util.go
Owners: @unionai/cloud-eng

Fix cluster pool assignment validation (#363)
  flyteadmin/pkg/manager/impl/execution_manager.go
  flyteadmin/pkg/manager/impl/execution_manager_test.go
  flyteadmin/tests/execution_test.go
Owners: @unionai/cloud-eng

Adds initial tests for fast-task (#349)
  .github/workflows/fasttask.yml
  fasttask/worker/bridge/src/task.rs
Owners: @unionai/cloud-eng, @unionai/exo

Pryce/doc 434 clarify how code is pushed into a given image during pyflyte (#5548)
  docs/flyte_fundamentals/registering_workflows.md
  docs/user_guide/advanced_composition/map_tasks.md
Owners: @neverett, @ppiegaze

Increase more memory limits in flyteagent (#5550)
  charts/flyteagent/README.md
  charts/flyteagent/values.yaml
  deployment/agent/flyte_agent_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Owners: @unionai/cloud-eng

Fully populate Abort task event fields
  flytepropeller/pkg/controller/nodes/task/handler.go
  flytepropeller/pkg/controller/nodes/task/handler_test.go
Owners: @unionai/exo

Propeller Watch API integration (#313)
  fasttask/plugin/go.mod
  fasttask/plugin/go.sum
  flyteadmin/go.mod
  flyteadmin/go.sum
  flyteadmin/pkg/manager/impl/execution_manager_test.go
  flytectl/go.mod
  flytectl/go.sum
  flyteidl/clients/go/admin/client.go
  flyteidl/go.mod
  flyteplugins/go.mod
  flyteplugins/go.sum
  flytepropeller/go.mod
  flytepropeller/go.sum
  flytepropeller/pkg/controller/controller.go
  flytepropeller/pkg/controller/nodes/subworkflow/handler_test.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/admin.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/admin_test.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/adminconfig.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/adminconfig_flags.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/adminconfig_flags_test.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/launchplan.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/mocks/executor.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/mocks/flyte_admin.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/noop.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/noop_test.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan_test.go
  flytestdlib/cache/auto_refresh.go
  go.mod
  go.sum
Owners: @unionai/exo, @unionai/cloud-eng

Cleanup helm chart options for flytepropeller and prometheus
  charts/flyte-core/README.md
  charts/flyte-core/templates/propeller/deployment.yaml
  charts/flyte-core/templates/propeller/service.yaml
  charts/flyte-core/templates/propeller/webhook.yaml
  charts/flyte-core/values.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Owners: @unionai/cloud-eng

Add blob typechecker
  flytepropeller/pkg/compiler/validators/typing.go
  flytepropeller/pkg/compiler/validators/typing_test.go
Owners: @unionai/exo

When there's a triggered LP SubWorkflow use the maxParallelism of LP
  flyteadmin/pkg/manager/impl/execution_manager.go
Owners: @unionai/cloud-eng

Add CustomHeaderMatcher to pass additional headers (#365)
  flyteadmin/auth/handlers.go
  flyteadmin/pkg/server/service.go
  flyteadmin/plugins/registry.go
Owners: @unionai/cloud-eng

Fix pool validation (#369)
  flyteadmin/pkg/manager/impl/execution_manager.go
  flyteadmin/pkg/manager/impl/execution_manager_test.go
Owners: @unionai/cloud-eng

propagate tonic error to py error
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng

Update sendgrid_emailer.go "from" value (#370)
  flyteadmin/pkg/async/notifications/implementations/sendgrid_emailer.go
Owners: @unionai/cloud-eng

Replace init-certs webhook initContainer with Helm template
  charts/flyte-core/templates/propeller/webhook.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_dataplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_dataplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
  script/generate_helm.sh
Owners: @unionai/cloud-eng

Remove core flyteadmin init-secret initContainer
  charts/flyte-core/templates/admin/deployment.yaml
  charts/flyte-core/templates/admin/secret.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
  script/generate_helm.sh
Owners: @unionai/cloud-eng

Formalize oidc_client_secret in flyte-admin-secrets
  charts/flyte-core/templates/admin/secret.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
Owners: @unionai/cloud-eng

Add partition scheduling info
  docs/user_guide/productionizing/configuring_access_to_gpus.md
Owners: @neverett, @ppiegaze

Fix Watch API (#372)
  flyteadmin/pkg/manager/impl/watch_manager.go
  flyteadmin/pkg/manager/impl/watch_manager_test.go
Owners: @unionai/cloud-eng

noop
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/core/workflow_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/workflow.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/workflow_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/workflow_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/workflow.proto
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/branch.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/iface.go
  flytepropeller/pkg/compiler/transformers/k8s/node.go
  flytepropeller/pkg/controller/nodes/branch/evaluator.go
  flytepropeller/pkg/controller/nodes/branch/handler.go
Owners: @unionai/cloud-eng, @unionai/exo

Add noop plugin
  flyteplugins/go/tasks/plugins/noop/noop.go
Owners: @unionai/exo

add serde
  flyteidl/gen/pb_rust/datacatalog.rs
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/gen/pb_rust/flyteidl.cacheservice.rs
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/gen/pb_rust/flyteidl.event.rs
  flyteidl/gen/pb_rust/flyteidl.plugins.rs
  flyteidl/gen/pb_rust/flyteidl.service.rs
  flyteidl/gen/pb_rust/google.api.rs
  flyteidl/gen/pb_rust/google.protobuf.rs
  flyteidl/gen/pb_rust/grpc.gateway.protoc_gen_openapiv2.options.rs
Owners: @unionai/cloud-eng

add serde
  flyteidl/Cargo.lock
  flyteidl/Cargo.toml
Owners: @unionai/cloud-eng

add serde
  flyteidl/src/gen.rs
Owners: @unionai/cloud-eng

add **kwargs
  flyteidl/pyo3_macro/src/lib.rs
Owners: @unionai/cloud-eng

add json parser for google Struct
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng

Fix linting issues
  flyteadmin/pkg/async/notifications/factory.go
  flyteadmin/pkg/async/notifications/factory_test.go
  flyteadmin/pkg/async/notifications/implementations/smtp_emailer.go
  flyteadmin/pkg/async/notifications/implementations/smtp_emailer_test.go
  flyteadmin/pkg/rpc/adminservice/base.go
  flyteadmin/pkg/server/service.go
Owners: @unionai/cloud-eng

Create LP from Task/Array Node Endpoint (#352)
  flyteadmin/pkg/manager/impl/execution_manager.go
  flyteadmin/pkg/manager/impl/execution_manager_test.go
  flyteadmin/pkg/manager/impl/launch_plan_manager.go
  flyteadmin/pkg/manager/impl/launch_plan_manager_test.go
  flyteadmin/pkg/manager/impl/util/single_task_execution.go
  flyteadmin/pkg/manager/impl/util/single_task_execution_test.go
  flyteadmin/pkg/manager/impl/validation/execution_validator.go
  flyteadmin/pkg/manager/interfaces/launch_plan.go
  flyteadmin/pkg/manager/mocks/launch_plan.go
  flyteadmin/pkg/rpc/adminservice/base.go
  flyteadmin/pkg/rpc/adminservice/launch_plan.go
  flyteadmin/pkg/rpc/adminservice/metrics.go
  flyteidl/clients/go/admin/mocks/AdminServiceClient.go
  flyteidl/clients/go/admin/mocks/AdminServiceServer.go
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/admin/execution_pb.ts
  flyteidl/gen/pb-es/flyteidl/service/admin_connect.ts
  flyteidl/gen/pb-go/flyteidl/admin/execution.pb.go
  flyteidl/gen/pb-go/flyteidl/service/admin.pb.go
  flyteidl/gen/pb-go/flyteidl/service/admin_grpc.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.pb.gw.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/admin/execution_pb2.py
  flyteidl/gen/pb_python/flyteidl/admin/execution_pb2.pyi
  flyteidl/gen/pb_python/flyteidl/service/admin_pb2.py
  flyteidl/gen/pb_python/flyteidl/service/admin_pb2_grpc.py
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/gen/pb_rust/flyteidl.service.tonic.rs
  flyteidl/protos/flyteidl/admin/execution.proto
  flyteidl/protos/flyteidl/service/admin.proto
Owners: @unionai/cloud-eng

Fix script to prepare helm artifacts during release
  script/prepare_artifacts.sh
Owners: @unionai/cloud-eng

clean up CreateLaunchPlanFromNode proto (#376)
  flyteadmin/pkg/manager/impl/launch_plan_manager_test.go
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/admin/execution_pb.ts
  flyteidl/gen/pb-es/flyteidl/admin/launch_plan_pb.ts
  flyteidl/gen/pb-es/flyteidl/service/admin_connect.ts
  flyteidl/gen/pb-go/flyteidl/admin/execution.pb.go
  flyteidl/gen/pb-go/flyteidl/admin/launch_plan.pb.go
  flyteidl/gen/pb-go/flyteidl/service/admin.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.pb.gw.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/admin/execution_pb2.py
  flyteidl/gen/pb_python/flyteidl/admin/execution_pb2.pyi
  flyteidl/gen/pb_python/flyteidl/admin/launch_plan_pb2.py
  flyteidl/gen/pb_python/flyteidl/admin/launch_plan_pb2.pyi
  flyteidl/gen/pb_python/flyteidl/service/admin_pb2.py
  flyteidl/gen/pb_python/flyteidl/service/admin_pb2_grpc.py
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/protos/flyteidl/admin/execution.proto
  flyteidl/protos/flyteidl/admin/launch_plan.proto
  flyteidl/protos/flyteidl/service/admin.proto
Owners: @unionai/cloud-eng

Do a dependency update to catch issues
  script/prepare_artifacts.sh
Owners: @unionai/cloud-eng

Updated map task information to indicate array node is now the default, added optional return value for min success ratio
  docs/user_guide/advanced_composition/map_tasks.md
Owners: @neverett, @ppiegaze

Updated map task information to indicate array node is now the default, added optional return value for min success ratio (#5561)
  docs/user_guide/advanced_composition/map_tasks.md
Owners: @neverett, @ppiegaze

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo
