Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo

add prost
  flyteidl/gen/pb_rust/datacatalog.rs
  flyteidl/gen/pb_rust/datacatalog.tonic.rs
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/gen/pb_rust/flyteidl.cacheservice.rs
  flyteidl/gen/pb_rust/flyteidl.cacheservice.tonic.rs
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/gen/pb_rust/flyteidl.event.rs
  flyteidl/gen/pb_rust/flyteidl.plugins.kubeflow.rs
  flyteidl/gen/pb_rust/flyteidl.plugins.rs
  flyteidl/gen/pb_rust/flyteidl.service.rs
  flyteidl/gen/pb_rust/flyteidl.service.tonic.rs
  flyteidl/gen/pb_rust/google.api.rs
  flyteidl/gen/pb_rust/google.protobuf.rs
  flyteidl/gen/pb_rust/grpc.gateway.protoc_gen_openapiv2.options.rs
Owners: @unionai/cloud-eng

expose rust idl structures through PyO3 as `flyteidl-rust` python binding
  flyteidl/lib.rs
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng

add `/python` for `.pyi` python type hints
  flyteidl/python/flyteidl_rust/__init__.py
  flyteidl/python/flyteidl_rust/flyteidl_rust.pyi
  flyteidl/python/flyteidl_rust/py.typed
Owners: @unionai/cloud-eng

Fix link to Kubeflow docs (#5524)
  docs/deployment/plugins/k8s/index.rst
Owners: @neverett, @ppiegaze

default interruptible (#346)
  flyteadmin/pkg/manager/impl/execution_manager.go
  flyteadmin/tests/execution_test.go
Owners: @unionai/cloud-eng

wip
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/admin/execution_pb.ts
  flyteidl/gen/pb-es/flyteidl/admin/launch_plan_pb.ts
  flyteidl/gen/pb-es/flyteidl/admin/matchable_resource_pb.ts
  flyteidl/gen/pb-go/flyteidl/admin/execution.pb.go
  flyteidl/gen/pb-go/flyteidl/admin/launch_plan.pb.go
  flyteidl/gen/pb-go/flyteidl/admin/matchable_resource.pb.go
  flyteidl/gen/pb_python/flyteidl/admin/execution_pb2.py
  flyteidl/gen/pb_python/flyteidl/admin/launch_plan_pb2.py
  flyteidl/gen/pb_python/flyteidl/admin/matchable_resource_pb2.py
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/protos/flyteidl/admin/execution.proto
  flyteidl/protos/flyteidl/admin/launch_plan.proto
  flyteidl/protos/flyteidl/admin/matchable_resource.proto
Owners: @unionai/cloud-eng

remove testmain
  flytectl/Makefile
  flytectl/cmd/upgrade/upgrade_test.go
Owners: @unionai/cloud-eng

Set max parallelism in flytewf
  flyteadmin/pkg/workflowengine/impl/k8s_executor.go
  flyteadmin/pkg/workflowengine/impl/k8s_executor_test.go
Owners: @unionai/cloud-eng

Add Max Parallelism into flytewf
  flyteadmin/pkg/workflowengine/impl/k8s_executor.go
  flyteadmin/pkg/workflowengine/impl/k8s_executor_test.go
Owners: @unionai/cloud-eng

Missing return
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/branch.go
Owners: @unionai/exo

make lint-fix
  flytectl/cmd/get/node_execution.go
  flytectl/pkg/visualize/graphviz_test.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/iface.go
Owners: @unionai/cloud-eng, @unionai/exo

[flytepropeller] Watch agent metadata service dynamically (#5460)
  flyteplugins/go/tasks/pluginmachinery/core/plugin.go
  flyteplugins/go/tasks/pluginmachinery/core/plugin_test.go
  flyteplugins/go/tasks/plugins/webapi/agent/client.go
  flyteplugins/go/tasks/plugins/webapi/agent/integration_test.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin_test.go
  flytepropeller/pkg/controller/nodes/task/handler.go
  flytepropeller/pkg/controller/nodes/task/handler_test.go
  flytepropeller/pkg/controller/nodes/task/plugin_config.go
Owners: @unionai/exo

Introduced SMTP notification
  flyteadmin/go.mod
  flyteadmin/pkg/async/notifications/factory.go
  flyteadmin/pkg/async/notifications/factory_test.go
  flyteadmin/pkg/async/notifications/implementations/emailers.go
  flyteadmin/pkg/async/notifications/implementations/smtp_emailer.go
  flyteadmin/pkg/rpc/adminservice/base.go
  flyteadmin/pkg/runtime/interfaces/application_configuration.go
  flyteadmin/pkg/server/service.go
Owners: @unionai/cloud-eng

Add fields to NodeExecutionEvent (#315)
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/event/event_pb.ts
  flyteidl/gen/pb-go/flyteidl/event/event.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb_rust/flyteidl.event.rs
  flyteidl/protos/flyteidl/event/event.proto
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/nodes.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/nodes_test.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/subworkflow.go
  flytepropeller/pkg/controller/executors/execution_context.go
  flytepropeller/pkg/controller/executors/execution_context_test.go
  flytepropeller/pkg/controller/executors/mocks/immutable_parent_info.go
  flytepropeller/pkg/controller/nodes/array/event_recorder.go
  flytepropeller/pkg/controller/nodes/array/handler.go
  flytepropeller/pkg/controller/nodes/branch/handler.go
  flytepropeller/pkg/controller/nodes/branch/handler_test.go
  flytepropeller/pkg/controller/nodes/common/utils.go
  flytepropeller/pkg/controller/nodes/common/utils_test.go
  flytepropeller/pkg/controller/nodes/dynamic/dynamic_workflow.go
  flytepropeller/pkg/controller/nodes/executor.go
  flytepropeller/pkg/controller/nodes/executor_test.go
  flytepropeller/pkg/controller/nodes/node_exec_context_test.go
  flytepropeller/pkg/controller/nodes/subworkflow/subworkflow.go
  flytepropeller/pkg/controller/nodes/subworkflow/subworkflow_test.go
  flytepropeller/pkg/controller/nodes/transformers.go
  flytepropeller/pkg/controller/nodes/transformers_test.go
  flytestdlib/storage/stow_store.go
Owners: @unionai/cloud-eng, @unionai/exo

fix conflicts
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/event/event_pb.ts
  flyteidl/gen/pb-go/flyteidl/event/event.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb_rust/flyteidl.event.rs
  flyteidl/protos/flyteidl/event/event.proto
  flytepropeller/pkg/controller/nodes/common/utils.go
  flytepropeller/pkg/controller/nodes/executor_test.go
  flytepropeller/pkg/controller/nodes/node_exec_context_test.go
Owners: @unionai/cloud-eng, @unionai/exo

Push flyteidl to pypi and npm on `flyteidl/v*.*.*` tags instead of on releases
  .github/workflows/flyteidl-release.yml
Owners: @unionai/cloud-eng

Push flyteidl to pypi and npm on `flyteidl/v*.*.*` tags instead of on releases (#5529)
  .github/workflows/flyteidl-release.yml
Owners: @unionai/cloud-eng

Run make lint-fix
  flytectl/pkg/github/provider_test.go
Owners: @unionai/cloud-eng

Call TearDown
  flytectl/Makefile
  flytectl/cmd/version/version_test.go
Owners: @unionai/cloud-eng

reimplement functions in go-mouff-update, use ghreposervice (#5470)
  flytectl/Makefile
  flytectl/cmd/upgrade/upgrade.go
  flytectl/cmd/upgrade/upgrade_test.go
  flytectl/cmd/version/version.go
  flytectl/cmd/version/version_test.go
  flytectl/pkg/github/githubutil.go
  flytectl/pkg/github/provider.go
  flytectl/pkg/github/provider_test.go
Owners: @unionai/cloud-eng

[COR-1114] Fix token validity check logic to use exp field in access token (#330)
  flyteidl/clients/go/admin/auth_interceptor.go
  flyteidl/clients/go/admin/auth_interceptor_test.go
  flyteidl/clients/go/admin/client_test.go
  flyteidl/clients/go/admin/token_source_provider.go
  flyteidl/clients/go/admin/token_source_provider_test.go
  flyteidl/clients/go/admin/tokenorchestrator/base_token_orchestrator.go
  flyteidl/clients/go/admin/tokenorchestrator/base_token_orchestrator_test.go
  flyteidl/clients/go/admin/tokenorchestrator/testdata/token.json
  flyteidl/clients/go/admin/utils/test_utils.go
  flyteidl/clients/go/admin/utils/token_utils.go
Owners: @unionai/cloud-eng

SVR-549: Introduce user properties flyteadmin plugin to limit Serverless users launch plans (#309)
  flyteadmin/pkg/common/executions.go
  flyteadmin/pkg/manager/impl/execution_manager.go
  flyteadmin/pkg/manager/impl/execution_manager_test.go
  flyteadmin/pkg/manager/impl/launch_plan_manager.go
  flyteadmin/pkg/manager/impl/launch_plan_manager_test.go
  flyteadmin/pkg/manager/impl/shared/user_properties.go
  flyteadmin/pkg/manager/impl/util/filters.go
  flyteadmin/pkg/manager/impl/util/filters_test.go
  flyteadmin/pkg/manager/impl/util/serverless.go
  flyteadmin/pkg/manager/impl/util/serverless_test.go
  flyteadmin/pkg/repositories/gormimpl/launch_plan_repo.go
  flyteadmin/pkg/repositories/gormimpl/launch_plan_repo_test.go
  flyteadmin/pkg/repositories/interfaces/launch_plan_repo.go
  flyteadmin/pkg/repositories/mocks/launch_plan_repo.go
  flyteadmin/pkg/rpc/adminservice/base.go
  flyteadmin/plugins/registry.go
Owners: @unionai/cloud-eng

Introduced SMTP notification
  flyteadmin/go.mod
  flyteadmin/pkg/async/notifications/implementations/smtp_emailer.go
  flyteadmin/pkg/async/notifications/implementations/smtp_emailer_test.go
Owners: @unionai/cloud-eng

Fix Dataclass Doc about
  docs/user_guide/data_types_and_io/dataclass.md
Owners: @neverett, @ppiegaze

Fix Dataclass Doc about (#5533)
  docs/user_guide/data_types_and_io/dataclass.md
Owners: @neverett, @ppiegaze

Upstream/node event update (#5528)
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/event/event_pb.ts
  flyteidl/gen/pb-go/flyteidl/event/event.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb_rust/flyteidl.event.rs
  flyteidl/protos/flyteidl/event/event.proto
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/nodes.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/nodes_test.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/subworkflow.go
  flytepropeller/pkg/controller/executors/execution_context.go
  flytepropeller/pkg/controller/executors/execution_context_test.go
  flytepropeller/pkg/controller/executors/mocks/immutable_parent_info.go
  flytepropeller/pkg/controller/nodes/array/event_recorder.go
  flytepropeller/pkg/controller/nodes/array/handler.go
  flytepropeller/pkg/controller/nodes/branch/handler.go
  flytepropeller/pkg/controller/nodes/branch/handler_test.go
  flytepropeller/pkg/controller/nodes/common/utils.go
  flytepropeller/pkg/controller/nodes/common/utils_test.go
  flytepropeller/pkg/controller/nodes/dynamic/dynamic_workflow.go
  flytepropeller/pkg/controller/nodes/executor.go
  flytepropeller/pkg/controller/nodes/executor_test.go
  flytepropeller/pkg/controller/nodes/node_exec_context_test.go
  flytepropeller/pkg/controller/nodes/subworkflow/subworkflow.go
  flytepropeller/pkg/controller/nodes/subworkflow/subworkflow_test.go
  flytepropeller/pkg/controller/nodes/transformers.go
  flytepropeller/pkg/controller/nodes/transformers_test.go
  flytestdlib/storage/stow_store.go
Owners: @unionai/cloud-eng, @unionai/exo

Configure k3d docker registry (#350)
  script/setup_local_dev.sh
Owners: @unionai/cloud-eng

chore: update runllm widget configuration
  docs/_templates/base.html
Owners: @neverett, @ppiegaze

Add components for Actor ID uniqeness (#341)
  fasttask/plugin/builder.go
  fasttask/plugin/builder_test.go
  fasttask/plugin/plugin.go
  fasttask/plugin/plugin_test.go
  fasttask/plugin/utils.go
  flyteidl/gen/pb-es/flyteidl/core/execution_envs_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/execution_envs.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/artifacts/artifacts.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/execution_envs_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/execution_envs_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/execution_envs.proto
  flyteplugins/go/tasks/pluginmachinery/core/execution_env.go
  flyteplugins/go/tasks/pluginmachinery/core/mocks/execution_env_client.go
  flytepropeller/pkg/controller/execution_env.go
Owners: @unionai/exo, @unionai/cloud-eng

Fix fasttask backlog timeouts (#353)
  fasttask/plugin/plugin.go
  fasttask/plugin/plugin_test.go
  fasttask/worker/bridge/src/bridge.rs
  fasttask/worker/bridge/src/cli.rs
  fasttask/worker/bridge/src/task.rs
Owners: @unionai/exo

Populate fasttask logs once submitted (#345)
  fasttask/plugin/builder.go
  fasttask/plugin/config.go
  fasttask/plugin/config_flags.go
  fasttask/plugin/config_flags_test.go
  fasttask/plugin/plugin.go
  fasttask/plugin/plugin_test.go
  fasttask/worker/bridge/src/bridge.rs
  fasttask/worker/bridge/src/cli.rs
Owners: @unionai/exo

Introduced SMTP notification
  flyteadmin/go.mod
  flyteadmin/pkg/async/notifications/factory.go
  flyteadmin/pkg/async/notifications/factory_test.go
  flyteadmin/pkg/async/notifications/implementations/emailers.go
  flyteadmin/pkg/async/notifications/implementations/smtp_emailer.go
  flyteadmin/pkg/async/notifications/implementations/smtp_emailer_test.go
  flyteadmin/pkg/rpc/adminservice/base.go
  flyteadmin/pkg/runtime/interfaces/application_configuration.go
  flyteadmin/pkg/server/service.go
Owners: @unionai/cloud-eng

Fixing lint issues
  flyteadmin/pkg/async/notifications/factory.go
  flyteadmin/pkg/async/notifications/implementations/emailers.go
  flyteadmin/pkg/async/notifications/implementations/smtp_emailer.go
  flyteadmin/pkg/async/notifications/implementations/smtp_emailer_test.go
  flyteadmin/pkg/runtime/interfaces/application_configuration.go
Owners: @unionai/cloud-eng

Update Flyte Components
  charts/flyte-binary/README.md
  charts/flyte-binary/values.yaml
  charts/flyte-core/README.md
  charts/flyte-core/values.yaml
  charts/flyte/README.md
  charts/flyte/values.yaml
  charts/flyteagent/README.md
  charts/flyteagent/values.yaml
  deployment/agent/flyte_agent_helm_generated.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_dataplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_dataplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox-binary/flyte_sandbox_binary_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Owners: @unionai/cloud-eng

Document how to release flytectl
  flytectl/RELEASE.md
Owners: @unionai/cloud-eng

Remaining merge conflicts
  Makefile
  flyteadmin/pkg/manager/impl/execution_manager.go
  flyteplugins/go/tasks/pluginmachinery/core/exec_metadata.go
  flyteplugins/go/tasks/pluginmachinery/core/mocks/runtime_metadata.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
  flytepropeller/pkg/controller/nodes/catalog/datacatalog/datacatalog.go
  go.mod
Owners: @unionai/cloud-eng, @unionai/exo

Document how to release flytectl (#5537)
  flytectl/RELEASE.md
Owners: @unionai/cloud-eng

Add changelog and bump version in docs/conf.py
  CHANGELOG/CHANGELOG-v1.13.0.md
  docs/conf.py
Owners: @unionai/cloud-eng, @neverett, @ppiegaze

Update Flyte components (#5536)
  CHANGELOG/CHANGELOG-v1.13.0.md
  charts/flyte-binary/README.md
  charts/flyte-binary/values.yaml
  charts/flyte-core/README.md
  charts/flyte-core/values.yaml
  charts/flyte/README.md
  charts/flyte/values.yaml
  charts/flyteagent/README.md
  charts/flyteagent/values.yaml
  deployment/agent/flyte_agent_helm_generated.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_dataplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_dataplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox-binary/flyte_sandbox_binary_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  docs/conf.py
Owners: @unionai/cloud-eng, @neverett, @ppiegaze

Publish flyte-binary-v1.13.0.tgz flyte-core-v1.13.0.tgz flyte-deps-v1.13.0.tgz flyte-sandbox-0.1.0.tgz flyte-v1.13.0.tgz flyteagent-v0.1.10.tgz
  flyte-binary-v1.13.0.tgz
  flyte-core-v1.13.0.tgz
  flyte-deps-v1.13.0.tgz
  flyte-sandbox-0.1.0.tgz
  flyte-v1.13.0.tgz
  flyteagent-v0.1.10.tgz
  index.yaml
Owners: @unionai/cloud-eng
