Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo

Dynamically add vscode link (#431)
  flyteplugins/go/tasks/logs/logging_utils.go
  flyteplugins/go/tasks/logs/logging_utils_test.go
  flyteplugins/go/tasks/pluginmachinery/tasklog/plugin.go
  flyteplugins/go/tasks/pluginmachinery/tasklog/template.go
  flyteplugins/go/tasks/pluginmachinery/tasklog/template_test.go
Owners: @unionai/exo

add download multipart blob
  flytecopilot/data/download.go
  flytestdlib/storage/storage.go
  flytestdlib/storage/stow_store.go
Owners: @unionai/cloud-eng

fix ray sidecar problem and ready to refactor based on this commit
  flyteplugins/go/tasks/plugins/k8s/batchscheduler/scheduler/yunikorn/rayhandler.go
Owners: @unionai/exo

fix resource computation
  flyteplugins/go/tasks/plugins/k8s/batchscheduler/scheduler/yunikorn/rayhandler.go
Owners: @unionai/exo

recursively process subparts
  flytecopilot/data/download.go
  flytestdlib/storage/cached_rawstore.go
  flytestdlib/storage/cached_rawstore_test.go
  flytestdlib/storage/mem_store.go
  flytestdlib/storage/storage.go
  flytestdlib/storage/stow_store.go
Owners: @unionai/cloud-eng

should not set echo plugin as default (#5713)
  flyteplugins/go/tasks/plugins/testing/echo.go
Owners: @unionai/exo

Move default execution name generation to flyteadmin (#5714)
  flytectl/cmd/create/execution_util.go
  flytectl/go.mod
Owners: @unionai/cloud-eng

Add tuple idl
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/clients/go/coreutils/literals.go
  flyteidl/gen/pb-es/flyteidl/core/literals_pb.ts
  flyteidl/gen/pb-es/flyteidl/core/types_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/literals.pb.go
  flyteidl/gen/pb-go/flyteidl/core/types.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/cacheservice/cacheservice.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/datacatalog/datacatalog.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/dataproxy.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/external_plugin_service.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/signal.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/literals_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/literals_pb2.pyi
  flyteidl/gen/pb_python/flyteidl/core/types_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/types_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/docs/core/core.rst
  flyteidl/protos/flyteidl/core/literals.proto
  flyteidl/protos/flyteidl/core/types.proto
  flytepropeller/pkg/compiler/transformers/k8s/utils.go
  flytepropeller/pkg/compiler/validators/bindings.go
  flytepropeller/pkg/compiler/validators/bindings_test.go
  flytepropeller/pkg/compiler/validators/typing.go
  flytepropeller/pkg/compiler/validators/typing_test.go
  flytepropeller/pkg/compiler/validators/utils.go
Owners: @unionai/cloud-eng, @unionai/exo

add `get_data_response`
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng

wip
  flytectl/cmd/get/workflow.go
  flytectl/pkg/ext/fetcher.go
  flytectl/pkg/ext/workflow_fetcher.go
  flytectl/pkg/ext/workflow_fetcher_test.go
Owners: @unionai/cloud-eng

mockery
  flytectl/pkg/ext/mocks/admin_fetcher_ext_interface.go
Owners: @unionai/cloud-eng

Fix flytectl and flytepropeller
  flytectl/cmd/compile/compile.go
  flytepropeller/pkg/compiler/admin.go
  flytepropeller/pkg/compiler/admin_test.go
  flytepropeller/pkg/compiler/common/mocks/task.go
  flytepropeller/pkg/compiler/common/mocks/workflow.go
  flytepropeller/pkg/compiler/common/mocks/workflow_builder.go
  flytepropeller/pkg/compiler/validators/bindings_test.go
  flytepropeller/pkg/compiler/validators/interface_test.go
  flytepropeller/pkg/compiler/workflow_compiler_test.go
  flytepropeller/pkg/controller/nodes/dynamic/dynamic_workflow.go
Owners: @unionai/cloud-eng, @unionai/exo

Attempt to fix integration tesst
  flyteadmin/pkg/manager/impl/testutils/mock_requests.go
  flyteadmin/pkg/rpc/adminservice/tests/task_test.go
  flyteadmin/tests/task_test.go
  flyteadmin/tests/workflow_test.go
Owners: @unionai/cloud-eng

fix integration test
  flyteadmin/tests/task_test.go
Owners: @unionai/cloud-eng

Add Logging for Agent-Supported Task Types
  flyteplugins/go/tasks/plugins/webapi/agent/client.go
Owners: @unionai/exo

use make(map[string]struct{})
  flyteplugins/go/tasks/plugins/webapi/agent/client.go
Owners: @unionai/exo

Update helm/docs per changes in supported task discovery (#5694)
  charts/flyte-binary/README.md
  charts/flyte-binary/values.yaml
  charts/flyte-core/README.md
  charts/flyte-core/values.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  docs/deployment/agents/airflow.rst
  docs/deployment/agents/bigquery.rst
  docs/deployment/agents/chatgpt.rst
  docs/deployment/agents/databricks.rst
  docs/deployment/agents/mmcloud.rst
  docs/deployment/agents/openai_batch.rst
  docs/deployment/agents/sagemaker_inference.rst
  docs/deployment/agents/sensor.rst
  docs/deployment/agents/snowflake.rst
  docs/deployment/configuration/generated/flytepropeller_config.rst
  docs/flyte_agents/developing_agents.md
Owners: @unionai/cloud-eng, @neverett, @ppiegaze

[flyteagent] Add Logging for Agent Supported Task Types (#5718)
  flyteplugins/go/tasks/plugins/webapi/agent/client.go
Owners: @unionai/exo

Tests and mockery
  flytectl/cmd/get/workflow.go
  flytectl/cmd/get/workflow_test.go
  flytectl/pkg/ext/mocks/admin_fetcher_ext_interface.go
Owners: @unionai/cloud-eng

LP
  flytectl/cmd/get/launch_plan.go
  flytectl/cmd/get/launch_plan_test.go
  flytectl/pkg/ext/fetcher.go
  flytectl/pkg/ext/launch_plan_fetcher.go
  flytectl/pkg/ext/launch_plan_fetcher_test.go
  flytectl/pkg/ext/mocks/admin_fetcher_ext_interface.go
Owners: @unionai/cloud-eng

Add order & link literal to type
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/clients/go/coreutils/extract_literal.go
  flyteidl/clients/go/coreutils/literals.go
  flyteidl/clients/go/coreutils/literals_test.go
  flyteidl/gen/pb-es/flyteidl/core/literals_pb.ts
  flyteidl/gen/pb-es/flyteidl/core/types_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/literals.pb.go
  flyteidl/gen/pb-go/flyteidl/core/types.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/cacheservice/cacheservice.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/datacatalog/datacatalog.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/dataproxy.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/external_plugin_service.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/signal.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/literals_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/literals_pb2.pyi
  flyteidl/gen/pb_python/flyteidl/core/types_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/types_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/docs/core/core.rst
  flyteidl/protos/flyteidl/core/literals.proto
  flyteidl/protos/flyteidl/core/types.proto
  flytepropeller/pkg/compiler/transformers/k8s/utils.go
  flytepropeller/pkg/compiler/transformers/k8s/utils_test.go
  flytepropeller/pkg/compiler/validators/bindings.go
  flytepropeller/pkg/compiler/validators/bindings_test.go
  flytepropeller/pkg/compiler/validators/typing.go
  flytepropeller/pkg/compiler/validators/typing_test.go
  flytepropeller/pkg/compiler/validators/utils.go
  flytepropeller/pkg/compiler/validators/utils_test.go
Owners: @unionai/cloud-eng, @unionai/exo

update index page
  docs/index.md
Owners: @neverett, @ppiegaze

reorganize user guide
  docs/user_guide/development_cycle/cache_serializing.md
  docs/user_guide/development_cycle/caching.md
  docs/user_guide/development_cycle/creating_a_new_project.md
  docs/user_guide/development_cycle/debugging_executions.md
  docs/user_guide/development_cycle/decks.md
  docs/user_guide/development_cycle/failure_node.md
  docs/user_guide/development_cycle/index.md
  docs/user_guide/development_cycle/inspecting_executions.md
  docs/user_guide/development_cycle/migrating_from_airflow_to_flyte.md
  docs/user_guide/development_cycle/private_images.md
  docs/user_guide/development_cycle/running_launch_plans.md
  docs/user_guide/development_cycle/running_tasks.md
  docs/user_guide/development_cycle/running_workflows.md
  docs/user_guide/extending/backend_plugins.md
  docs/user_guide/extending/container_interface.md
  docs/user_guide/extending/custom_types.md
  docs/user_guide/extending/index.md
  docs/user_guide/extending/prebuilt_container_task_plugins.md
  docs/user_guide/extending/user_container_task_plugins.md
  docs/user_guide/index.md
  docs/user_guide/productionizing/configuring_access_to_gpus.md
  docs/user_guide/productionizing/configuring_logging_links_in_the_ui.md
  docs/user_guide/productionizing/customizing_task_resources.md
  docs/user_guide/productionizing/index.md
  docs/user_guide/productionizing/notifications.md
  docs/user_guide/productionizing/reference_launch_plans.md
  docs/user_guide/productionizing/reference_tasks.md
  docs/user_guide/productionizing/schedules.md
  docs/user_guide/productionizing/secrets.md
  docs/user_guide/productionizing/spot_instances.md
  docs/user_guide/productionizing/workflow_labels_and_annotations.md
Owners: @neverett, @ppiegaze

more sidebar updates
  docs/_templates/sidebars/integrations.html
  docs/_templates/sidebars/tutorials.html
Owners: @neverett, @ppiegaze

update concepts docs
  docs/concepts/admin.rst
  docs/concepts/architecture.rst
  docs/concepts/component_architecture/index.md
  docs/concepts/component_architecture/native_scheduler_architecture.rst
  docs/concepts/data_management.rst
  docs/concepts/flyte_console.rst
  docs/concepts/index.md
  docs/concepts/registration.rst
  docs/concepts/schedules.rst
  docs/concepts/state_machine.rst
  docs/concepts/tasks.rst
Owners: @neverett, @ppiegaze

temporary tutorials and integrations index files to get build working
  docs/integrations/index.md
  docs/tutorials/index.md
Owners: @neverett, @ppiegaze

update gitignore to match docs
  .gitignore
Owners: @unionai/cloud-eng

add api reference docs structure
  docs/api_reference/flytekit/index.rst
  docs/api_reference/flyteremote/index.md
  docs/api_reference/index.md
  docs/api_reference/pyflyte/index.md
Owners: @neverett, @ppiegaze

remove unneeded flyteidl file
  docs/reference_flyteidl.md
Owners: @neverett, @ppiegaze

update docs conf
  docs/conf.py
Owners: @neverett, @ppiegaze

update with new locations of generated api docs
  docs/Makefile
Owners: @neverett, @ppiegaze

add flyte api playground page
  docs/cluster_deployment/swagger.rst
Owners: @neverett, @ppiegaze

update index
  docs/cluster_deployment/index.md
Owners: @neverett, @ppiegaze

renamed this
  docs/reference/swagger.rst
Owners: @neverett, @ppiegaze

add missing sidebar templates and ecosystem section
  docs/_templates/sidebars/ecosystem.html
  docs/_templates/sidebars/user_guide.html
  docs/ecosystem/index.md
Owners: @neverett, @ppiegaze

add missing sidebar
  docs/conf.py
Owners: @neverett, @ppiegaze

add ecosystem section to index
  docs/index.md
Owners: @neverett, @ppiegaze

add quickstart guide and first workflow section back in
  docs/user_guide/first_workflow/creating_a_flyte_project.md
  docs/user_guide/first_workflow/flyte_project_components.md
  docs/user_guide/first_workflow/index.md
  docs/user_guide/first_workflow/installing_development_tools.md
  docs/user_guide/first_workflow/running_a_workflow_locally.md
  docs/user_guide/index.md
  docs/user_guide/quickstart_guide.md
Owners: @neverett, @ppiegaze

incorporate introduction content into user guide index page
  docs/index.md
  docs/introduction.md
  docs/user_guide/index.md
Owners: @neverett, @ppiegaze

remove deprecated integrations (will move to flytesnacks/integrations)
  docs/deprecated_integrations/bigquery_plugin/bigquery_plugin_example.md
  docs/deprecated_integrations/bigquery_plugin/index.md
  docs/deprecated_integrations/databricks_plugin/databricks_plugin_example.md
  docs/deprecated_integrations/databricks_plugin/index.md
  docs/deprecated_integrations/index.md
  docs/deprecated_integrations/snowflake_plugin/index.md
  docs/deprecated_integrations/snowflake_plugin/snowflake_plugin_example.md
Owners: @neverett, @ppiegaze
