Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

Update flytekit tag
  script/release.sh
Owners: @unionai/cloud-eng

nit
  script/release.sh
Owners: @unionai/cloud-eng

Revert "SVR-468: Batch provision execution namespaces and support delete" (#272)
  flyteadmin/pkg/clusterresource/controller.go
  flyteadmin/pkg/clusterresource/controller_test.go
  flyteadmin/pkg/clusterresource/impl/admin_service_data_provider.go
  flyteadmin/pkg/clusterresource/impl/admin_service_data_provider_test.go
  flyteadmin/pkg/clusterresource/impl/db_admin_data_provider.go
  flyteadmin/pkg/clusterresource/impl/db_admin_data_provider_test.go
  flyteadmin/pkg/clusterresource/impl/shared.go
  flyteadmin/pkg/clusterresource/interfaces/admin.go
  flyteadmin/pkg/clusterresource/mocks/flyte_admin_data_provider.go
  flyteadmin/pkg/clusterresource/sync_stats.go
  flyteadmin/pkg/runtime/cluster_resource_provider.go
  flyteadmin/pkg/runtime/interfaces/cluster_resource_configuration.go
  flyteadmin/pkg/runtime/mocks/mock_cluster_resource_provider.go
Owners: @unionai/cloud-eng

Improve flyte-core helm chart
  charts/flyte-core/templates/_helpers.tpl
  charts/flyte-core/templates/clusterresourcesync/configmap.yaml
  charts/flyte-core/templates/clusterresourcesync/deployment.yaml
  charts/flyte-core/templates/clusterresourcesync/rbac.yaml
  charts/flyte-core/templates/console/deployment.yaml
  charts/flyte-core/templates/console/rbac.yaml
  charts/flyte-core/templates/flytescheduler/deployment.yaml
  charts/flyte-core/templates/flytescheduler/rbac.yaml
  charts/flyte-core/values.yaml
  charts/flyteagent/values.yaml
Owners: @unionai/cloud-eng

Fixed remaining podEnv defaults
  charts/flyte-core/values.yaml
Owners: @unionai/cloud-eng

Skip flyteidl release if releasing flytectl
  .github/workflows/flyteidl-release.yml
Owners: @unionai/cloud-eng

Add github token to flytectl release gh workflow
  .github/workflows/flytectl-release.yml
Owners: @unionai/cloud-eng

Bump github.com/docker/docker in /flytectl (#5363)
  flytectl/go.mod
  flytectl/go.sum
  flytectl/pkg/docker/docker.go
  flytectl/pkg/docker/docker_util.go
  flytectl/pkg/docker/docker_util_test.go
  flytectl/pkg/docker/mocks/docker.go
  flytectl/pkg/sandbox/start_test.go
Owners: @unionai/cloud-eng

[monorepo] Move flytectl gh workflows to monorepo (#5354)
  .github/workflows/checks.yml
  .github/workflows/flytectl-release.yml
  .github/workflows/flyteidl-release.yml
  flytectl/.goreleaser.yml
Owners: @unionai/cloud-eng

nit
  docs/deployment/agents/openai_batch.rst
Owners: @neverett, @ppiegaze

Address comment
  .github/workflows/single-binary.yml
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/admin/agent_pb.ts
  flyteidl/gen/pb-es/flyteidl/core/security_pb.ts
  flyteidl/gen/pb-go/flyteidl/admin/agent.pb.go
  flyteidl/gen/pb-go/flyteidl/core/security.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/external_plugin_service.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/security_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/security_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/admin/agent.proto
  flyteidl/protos/flyteidl/core/security.proto
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
Owners: @unionai/cloud-eng, @unionai/exo

nit
  flyteplugins/go/tasks/plugins/webapi/agent/integration_test.go
Owners: @unionai/exo

Fix flytectl demo start
  flytectl/pkg/github/githubutil.go
  flytectl/pkg/github/githubutil_test.go
Owners: @unionai/cloud-eng

add tracking pixel
  README.md
Owners: @unionai/cloud-eng

Add basic fast task service metrics (#268)
  fasttask/plugin/service.go
Owners: @unionai/exo

Update generated_helm
  charts/flyte-core/README.md
  charts/flyteagent/README.md
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Owners: @unionai/cloud-eng

Fix flytectl demo start (#5370)
  flytectl/pkg/github/githubutil.go
  flytectl/pkg/github/githubutil_test.go
Owners: @unionai/cloud-eng

add tracking pixel (#5371)
  README.md
Owners: @unionai/cloud-eng

Table format for each section v2
  docs/deployment/configuration/performance.rst
Owners: @neverett, @ppiegaze

Initial wf lifecycle description
  docs/deployment/configuration/performance.rst
Owners: @neverett, @ppiegaze

Fix table and reorder sections
  docs/deployment/configuration/performance.rst
Owners: @neverett, @ppiegaze

Fix grammar
  docs/deployment/configuration/performance.rst
Owners: @neverett, @ppiegaze

Add section on kubeclient config
  docs/deployment/configuration/performance.rst
Owners: @neverett, @ppiegaze

Fix table v2
  docs/deployment/configuration/performance.rst
Owners: @neverett, @ppiegaze

Fix table v3
  docs/deployment/configuration/performance.rst
Owners: @neverett, @ppiegaze

Complete section 3
  docs/deployment/configuration/performance.rst
Owners: @neverett, @ppiegaze

Complete structure for all sections
  docs/deployment/configuration/performance.rst
Owners: @neverett, @ppiegaze

Fix table
  docs/deployment/configuration/performance.rst
Owners: @neverett, @ppiegaze

Fix format issues
  docs/deployment/configuration/performance.rst
Owners: @neverett, @ppiegaze

Table format v1
  docs/deployment/configuration/performance.rst
Owners: @neverett, @ppiegaze

Add diagram plus complete steps 2 and 3
  docs/deployment/configuration/performance.rst
Owners: @neverett, @ppiegaze

Remove video reference
  docs/deployment/configuration/performance.rst
Owners: @neverett, @ppiegaze

Attempt to explain ResourceVersionCache 1
  docs/deployment/configuration/performance.rst
Owners: @neverett, @ppiegaze

Fix rst issues
  docs/deployment/configuration/performance.rst
Owners: @neverett, @ppiegaze

Intro ResourceVersion pt1
  docs/deployment/configuration/performance.rst
Owners: @neverett, @ppiegaze

Fix random grammar
  docs/deployment/configuration/performance.rst
Owners: @neverett, @ppiegaze

Apply reviews
  docs/deployment/configuration/performance.rst
Owners: @neverett, @ppiegaze

Minor fixes
  docs/deployment/configuration/performance.rst
Owners: @neverett, @ppiegaze

default project configuration (#266)
  flyteadmin/pkg/manager/impl/configurations/configuration_manager.go
  flyteadmin/pkg/manager/impl/configurations/configuration_manager_test.go
  flyteadmin/pkg/manager/impl/util/configuration.go
  flyteadmin/pkg/manager/impl/validation/configuration_validator.go
  flyteadmin/tests/configuration_test.go
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-go/flyteidl/service/admin.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.pb.gw.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb_python/flyteidl/service/admin_pb2.py
  flyteidl/protos/flyteidl/service/admin.proto
Owners: @unionai/cloud-eng

Fix mermaid rendering issue take1
  docs/conf.py
Owners: @neverett, @ppiegaze

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo
