Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo

Rename literal offloading flags and enable offloading in local config (#5754)
  flyte-single-binary-local.yaml
  flytepropeller/pkg/controller/config/config.go
  flytepropeller/pkg/controller/config/config_flags.go
  flytepropeller/pkg/controller/config/config_flags_test.go
Owners: @unionai/cloud-eng, @unionai/exo

Add semver check for dev and beta version (#5757)
  flytepropeller/pkg/controller/config/config.go
  flytepropeller/pkg/controller/config/config_test.go
  flytepropeller/pkg/controller/nodes/common/utils.go
Owners: @unionai/exo

[Flyte][1][IDL] Binary IDL With MessagePack
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/core/literals_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/literals.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/cacheservice/cacheservice.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/datacatalog/datacatalog.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/dataproxy.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/external_plugin_service.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/signal.swagger.json
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/literals.proto
Owners: @unionai/cloud-eng

add comments in compiler
  flytepropeller/pkg/compiler/validators/bindings.go
Owners: @unionai/exo

Add comments for semver regex
  flytepropeller/pkg/controller/config/config.go
Owners: @unionai/exo

Retry on LaunchPlan failure due to server unavailable (#477)
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/admin.go
Owners: @unionai/exo

DOC-607 use docsearch extension and env variables for docsearch creds
  docs/conf.py
Owners: @neverett, @ppiegaze

Add comments for semver regex (#5758)
  flytepropeller/pkg/controller/config/config.go
Owners: @unionai/exo

add copyright to footer
  docs/_templates/layout.html
  docs/conf.py
Owners: @neverett, @ppiegaze

remove aws sagemaker plugin documentation for now
  docs/api/flytekit/plugins/awssagemaker_inference.rst
  docs/api/flytekit/plugins/index.rst
Owners: @neverett, @ppiegaze

Without this caching is actually not enabled (#5739)
  charts/flyte-core/templates/propeller/configmap.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_dataplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_dataplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Owners: @unionai/cloud-eng

Add task exec id to log inputs (#476)
  fasttask/plugin/plugin.go
  fasttask/plugin/plugin_test.go
Owners: @unionai/exo

Revert "evict terminal items from cache on gets"
  flytestdlib/cache/auto_refresh.go
Owners: @unionai/cloud-eng

evict terminal items from cache on gets
  flytestdlib/cache/auto_refresh.go
Owners: @unionai/cloud-eng

clear lp cache on workflow node finalize
  flytepropeller/pkg/controller/nodes/subworkflow/handler.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/admin.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/launchplan.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/mocks/executor.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/mocks/flyte_admin.go
Owners: @unionai/exo

clean up
  flytepropeller/pkg/controller/nodes/subworkflow/handler.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/admin.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/launchplan.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/mocks/executor.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/mocks/flyte_admin.go
Owners: @unionai/exo

use org state in cluster resource controller for serverless (#472)
  flyteadmin/pkg/clusterresource/controller.go
  flyteadmin/pkg/clusterresource/impl/admin_service_data_provider.go
  flyteadmin/pkg/clusterresource/impl/admin_service_data_provider_test.go
  flyteadmin/pkg/clusterresource/impl/db_admin_data_provider.go
  flyteadmin/pkg/clusterresource/impl/db_admin_data_provider_test.go
  flyteadmin/pkg/clusterresource/interfaces/admin.go
  flyteadmin/pkg/clusterresource/mocks/flyte_admin_data_provider.go
  flyteadmin/pkg/clusterresource/plugin/plugin.go
  flyteadmin/pkg/manager/impl/execution_manager_test.go
Owners: @unionai/cloud-eng

[Flyte][2][Literal Type For Scalar] Binary IDL With MessagePack
  flyteadmin/go.sum
  flytepropeller/go.mod
  flytepropeller/go.sum
  flytepropeller/pkg/compiler/validators/utils.go
  flytepropeller/pkg/compiler/validators/utils_test.go
  go.sum
Owners: @unionai/cloud-eng, @unionai/exo

fix propeller's test
  flytepropeller/pkg/compiler/validators/bindings_test.go
Owners: @unionai/exo

[Flyte][1][IDL] Binary IDL With MessagePack (#5751)
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/core/literals_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/literals.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/cacheservice/cacheservice.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/datacatalog/datacatalog.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/dataproxy.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/external_plugin_service.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/signal.swagger.json
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/literals.proto
  flytepropeller/pkg/compiler/validators/bindings.go
Owners: @unionai/cloud-eng, @unionai/exo

add tests for float as input
  flytepropeller/pkg/compiler/validators/utils_test.go
Owners: @unionai/exo

fix propeller's test
  flytepropeller/pkg/compiler/validators/bindings_test.go
Owners: @unionai/exo

Fix Tests due to golang's blank space error
  flytepropeller/pkg/compiler/validators/bindings_test.go
Owners: @unionai/exo

test
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/core/workflow_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/workflow.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/workflow_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/workflow_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/workflow.proto
  flyteplugins/go/tasks/pluginmachinery/core/exec_metadata.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/plugin_exec_context.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper.go
Owners: @unionai/cloud-eng, @unionai/exo

[Flyte][2][Literal Type For Scalar] Binary IDL With MessagePack (#5761)
  flyteadmin/go.sum
  flytepropeller/go.mod
  flytepropeller/go.sum
  flytepropeller/pkg/compiler/validators/bindings_test.go
  flytepropeller/pkg/compiler/validators/utils.go
  flytepropeller/pkg/compiler/validators/utils_test.go
  go.sum
Owners: @unionai/cloud-eng, @unionai/exo

refactor: shorten name and update tests
  docs/deployment/configuration/generated/flyteadmin_config.rst
  docs/deployment/configuration/generated/flytepropeller_config.rst
  docs/deployment/configuration/generated/scheduler_config.rst
  flyteplugins/go/tasks/pluginmachinery/flytek8s/config/config.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/config/k8spluginconfig_flags.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/copilot.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/copilot_test.go
Owners: @neverett, @ppiegaze, @unionai/exo

Fix flyte admin readiness and liveness probes (#473)
  charts/flyte-core/templates/admin/deployment.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Owners: @unionai/cloud-eng

start updating contributing docs
  docs/README.md
  docs/community/contribute.rst
  docs/community/contributing/contributing_tutorials_integrations_examples.md
  docs/community/contributing/index.md
  docs/community/contributing_documentation.md
  docs/community/index.rst
Owners: @neverett, @ppiegaze

Trim long error messages to 7Kib (#442)
  flyteadmin/pkg/common/constants.go
  flyteadmin/pkg/server/service.go
Owners: @unionai/cloud-eng

Revert "use org state in cluster resource controller for serverless" (#483)
  flyteadmin/pkg/clusterresource/controller.go
  flyteadmin/pkg/clusterresource/impl/admin_service_data_provider.go
  flyteadmin/pkg/clusterresource/impl/admin_service_data_provider_test.go
  flyteadmin/pkg/clusterresource/impl/db_admin_data_provider.go
  flyteadmin/pkg/clusterresource/impl/db_admin_data_provider_test.go
  flyteadmin/pkg/clusterresource/interfaces/admin.go
  flyteadmin/pkg/clusterresource/mocks/flyte_admin_data_provider.go
  flyteadmin/pkg/clusterresource/plugin/plugin.go
  flyteadmin/pkg/manager/impl/execution_manager_test.go
Owners: @unionai/cloud-eng

[Flyte][3][Attribute Access] Binary IDL With MessagePack
  flytepropeller/pkg/controller/nodes/attr_path_resolver.go
  flytepropeller/pkg/controller/nodes/attr_path_resolver_test.go
  go.mod
Owners: @unionai/exo, @unionai/cloud-eng

cover all cases in test
  flytepropeller/pkg/controller/nodes/attr_path_resolver_test.go
Owners: @unionai/exo

Remove trimSuffix and add warning
  flyteadmin/auth/auth_context.go
Owners: @unionai/cloud-eng

Remove log messages for normal errors to avoid spam (#484)
  flyteadmin/pkg/server/service.go
Owners: @unionai/cloud-eng

Remove stale file
  deployment/stats/prometheus/flyteuser-dashboard.json
  deployment/stats/prometheus/flyteuser.dashboard.json
  stats/flyteuser.dashboard.py
Owners: @unionai/cloud-eng

Update flyte URLs for remote usage snippet to be org aware for Serverless executions (#487)
  flyteadmin/pkg/common/flyte_url.go
  flyteadmin/pkg/common/flyte_url_test.go
Owners: @unionai/cloud-eng

[Docs][flyteagent] Improve Agent Secret Setup
  docs/deployment/agents/chatgpt.rst
  docs/deployment/agents/databricks.rst
  docs/deployment/agents/openai_batch.rst
  docs/flyte_agents/deploying_agents_to_the_flyte_sandbox.md
Owners: @neverett, @ppiegaze

[Docs][flyteagent] Update Databricks Agent Setup to V2
  docs/deployment/agents/databricks.rst
Owners: @neverett, @ppiegaze

extend pod customization to include init containers (#5685) (#470)
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper.go
  flyteplugins/go/tasks/plugins/k8s/pod/container_test.go
Owners: @unionai/exo

Use pluggable clock and make unit tests fast
  flytestdlib/cache/auto_refresh.go
  flytestdlib/cache/auto_refresh_test.go
Owners: @unionai/cloud-eng
