Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo

Apply reviews v2
  docs/deployment/configuration/performance.rst
Owners: @neverett, @ppiegaze

Fix mermaid take2
  docs/conf.py
Owners: @neverett, @ppiegaze

Build flytectl monodocs from monorepo
  docs/conf.py
Owners: @neverett, @ppiegaze

Add logging to debug empty outputs in subworkflow (#274)
  flyteadmin/pkg/rpc/adminservice/execution.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan.go
Owners: @unionai/cloud-eng, @unionai/exo

Update flytekit tag (#5360)
  script/release.sh
Owners: @unionai/cloud-eng

Bump version of unionai/flytectl-setup to 0.0.3
  .github/workflows/end2end.yml
  .github/workflows/single-binary.yml
  .github/workflows/validate-helm-charts.yaml
Owners: @unionai/cloud-eng

rename connection_ref
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/core/security_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/security.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/external_plugin_service.swagger.json
  flyteidl/gen/pb_python/flyteidl/core/security_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/security_pb2.pyi
  flyteidl/protos/flyteidl/core/security.proto
Owners: @unionai/cloud-eng

Bump version of unionai/flytectl-setup to 0.0.3 (#5377)
  .github/workflows/end2end.yml
  .github/workflows/single-binary.yml
  .github/workflows/validate-helm-charts.yaml
Owners: @unionai/cloud-eng

Add fasttask to PR checks (#271)
  .github/workflows/checks.yml
  Makefile
  fasttask/plugin/Makefile
  fasttask/plugin/boilerplate/flyte/golang_support_tools/go.mod
  fasttask/plugin/boilerplate/flyte/golang_support_tools/go.sum
  fasttask/plugin/boilerplate/flyte/golang_support_tools/tools.go
  fasttask/plugin/boilerplate/flyte/golang_test_targets/Makefile
  fasttask/plugin/boilerplate/flyte/golang_test_targets/Readme.rst
  fasttask/plugin/boilerplate/flyte/golang_test_targets/download_tooling.sh
  fasttask/plugin/boilerplate/flyte/golang_test_targets/go-gen.sh
  fasttask/plugin/boilerplate/flyte/golang_test_targets/goimports
  fasttask/plugin/boilerplate/update.cfg
  fasttask/plugin/boilerplate/update.sh
Owners: @unionai/cloud-eng, @unionai/exo

Clarify how networking between data plane propeller and control plane data catalog can be configured (#5345)
  docs/deployment/deployment/multicluster.rst
Owners: @neverett, @ppiegaze

Build flytectl monodocs from monorepo (#5374)
  docs/conf.py
Owners: @neverett, @ppiegaze

feat(propeller): Add new config to disable fallback to container task handler
  flyte-single-binary-local.yaml
  flytepropeller/go.mod
  flytepropeller/pkg/controller/nodes/task/config/config.go
  flytepropeller/pkg/controller/nodes/task/config/config_flags.go
  flytepropeller/pkg/controller/nodes/task/config/config_flags_test.go
  flytepropeller/pkg/controller/nodes/task/handler.go
  flytepropeller/pkg/controller/nodes/task/handler_test.go
  go.mod
  go.sum
Owners: @unionai/cloud-eng, @unionai/exo

Update go.mod go.sum (#281)
  fasttask/plugin/.golangci.yml
  fasttask/plugin/boilerplate/flyte/golang_support_tools/go.mod
  fasttask/plugin/boilerplate/flyte/golang_support_tools/go.sum
  fasttask/plugin/go.mod
Owners: @unionai/exo

Add pending owners cache (#267)
  fasttask/plugin/plugin.go
  fasttask/plugin/service.go
Owners: @unionai/exo

Update Optimization Performance docs (#5278)
  docs/deployment/configuration/performance.rst
Owners: @neverett, @ppiegaze

Skip flytectl upgrade tests
  flytectl/cmd/upgrade/upgrade_test.go
Owners: @unionai/cloud-eng

Fix lint errors for real this time
  flytectl/cmd/upgrade/upgrade_test.go
Owners: @unionai/cloud-eng

Skip all tests using a TestMain
  flytectl/cmd/upgrade/upgrade_test.go
Owners: @unionai/cloud-eng

updates
  flyteidl/Cargo.toml
Owners: @unionai/cloud-eng

gitignore
  flyteidl/.gitignore
Owners: @unionai/cloud-eng

Crate updates (#5382)
  flyteidl/.gitignore
  flyteidl/Cargo.toml
Owners: @unionai/cloud-eng

[Feature] reduce cache reservation calls (#283)
  flyteplugins/go/tasks/pluginmachinery/catalog/client.go
  flyteplugins/go/tasks/pluginmachinery/catalog/mocks/client.go
  flytepropeller/go.mod
  flytepropeller/pkg/controller/nodes/cache.go
  flytepropeller/pkg/controller/nodes/cache_test.go
  flytepropeller/pkg/controller/nodes/catalog/cacheservice/cache_client.go
  flytepropeller/pkg/controller/nodes/catalog/cacheservice/fallback_client.go
  flytepropeller/pkg/controller/nodes/catalog/config.go
  flytepropeller/pkg/controller/nodes/catalog/config_flags.go
  flytepropeller/pkg/controller/nodes/catalog/config_flags_test.go
  flytepropeller/pkg/controller/nodes/catalog/datacatalog/datacatalog.go
  flytepropeller/pkg/controller/nodes/catalog/noop_catalog.go
  flytepropeller/pkg/controller/nodes/executor.go
  flytepropeller/pkg/controller/nodes/executor_test.go
Owners: @unionai/exo

feat(propeller): Support multiple namespaces for limit-namespace
  cmd/single/start.go
  flytepropeller/cmd/controller/cmd/root.go
  flytepropeller/cmd/controller/cmd/webhook.go
  flytepropeller/pkg/controller/config/config.go
  flytepropeller/pkg/controller/config/config_flags.go
  flytepropeller/pkg/controller/controller.go
  flytepropeller/pkg/controller/garbage_collector.go
Owners: @unionai/cloud-eng, @unionai/exo

Log error in read inputs/outputs (#282)
  flyteadmin/pkg/manager/impl/execution_manager.go
  flyteadmin/pkg/manager/impl/node_execution_manager.go
  flyteadmin/pkg/manager/impl/task_execution_manager.go
  flyteadmin/pkg/manager/impl/util/data.go
Owners: @unionai/cloud-eng

Skip flytectl upgrade tests (#5381)
  flytectl/cmd/upgrade/upgrade_test.go
Owners: @unionai/cloud-eng

Add affinity and tolerations to syncresources deployment
  charts/flyte-core/templates/clusterresourcesync/deployment.yaml
Owners: @unionai/cloud-eng

Add affinity and tolerations to flyte-pod-webhook deployment
  charts/flyte-core/templates/propeller/webhook.yaml
Owners: @unionai/cloud-eng

Add affinity and tolerations to flyte-pod-webhook and clusterresouces values.yaml
  charts/flyte-core/values.yaml
Owners: @unionai/cloud-eng

add a user port
  flytectl/pkg/docker/docker_util.go
Owners: @unionai/cloud-eng

Fix some nits in workflow lifecycle docs.
  docs/concepts/workflow_lifecycle.rst
Owners: @neverett, @ppiegaze

fixed error when input runnable commands
  flytectl/cmd/root.go
  flytectl/pkg/bubbletea/bubbletea_list.go
  flytectl/pkg/bubbletea/bubbletea_list_util.go
Owners: @unionai/cloud-eng

temp
  flytectl/cmd/root.go
  flytectl/go.mod
  flytectl/go.sum
  flytectl/pkg/bubbletea/bubbletea_list.go
  flytectl/pkg/bubbletea/bubbletea_list_util.go
  flytectl/pkg/bubbletea/bubbletea_util.go
  flytectl/pkg/bubbletea/command_flag_map.go
Owners: @unionai/cloud-eng

fix: handle when flags are complete with user input
  flytectl/pkg/bubbletea/bubbletea_list.go
  flytectl/pkg/bubbletea/bubbletea_list_util.go
Owners: @unionai/cloud-eng

Add bubbletea list library to go.sum
  flytectl/go.sum
Owners: @unionai/cloud-eng

feat: skip flags users already input
  flytectl/pkg/bubbletea/bubbletea_list.go
  flytectl/pkg/bubbletea/bubbletea_list_util.go
  flytectl/pkg/bubbletea/bubbletea_pagination.go
  flytectl/pkg/bubbletea/bubbletea_pagination_util.go
Owners: @unionai/cloud-eng

simplify command_flag_map
  flytectl/pkg/bubbletea/bubbletea_util.go
  flytectl/pkg/bubbletea/command_flag_map.go
Owners: @unionai/cloud-eng

Fix compile
  fasttask/plugin/plugin.go
  flyteadmin/go.mod
  flyteadmin/pkg/async/cloudevent/factory.go
Owners: @unionai/exo, @unionai/cloud-eng

Fix lint
  boilerplate/flyte/golang_test_targets/Makefile
  boilerplate/flyte/golang_test_targets/goimports
  flyteadmin/auth/authzserver/provider_test.go
  flytectl/go.mod
  flytectl/go.sum
  flyteidl/clients/go/admin/token_source_provider.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper_test.go
  flytepropeller/pkg/controller/nodes/array/handler_test.go
  flytepropeller/pkg/controller/nodes/node_exec_context.go
  flytestdlib/pbhash/pbhash.go
  flytestdlib/storage/mem_store.go
Owners: @unionai/cloud-eng, @unionai/exo

Fix tests
  flyteadmin/pkg/manager/impl/workflow_manager_test.go
  flytepropeller/pkg/controller/nodes/catalog/cacheservice/cache_client_test.go
  flytestdlib/storage/mocks/metadata.go
Owners: @unionai/cloud-eng, @unionai/exo

Initial WIP on CustomInfo in flyteadmin
  flyteadmin/pkg/repositories/transformers/task_execution.go
  flyteplugins/go/tasks/pluginmachinery/core/phase.go
  flyteplugins/go/tasks/plugins/array/core/state.go
  flyteplugins/go/tasks/plugins/array/k8s/management.go
  flyteplugins/go/tasks/plugins/array/k8s/management_test.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
  flytepropeller/pkg/controller/nodes/task/transformer.go
Owners: @unionai/cloud-eng, @unionai/exo
