Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo

Add extra template vars for task start and end time (#471)
  fasttask/plugin/plugin.go
  fasttask/plugin/plugin_test.go
Owners: @unionai/exo

test: update tests for SYS_PTRACE toggle
  flyteplugins/go/tasks/pluginmachinery/flytek8s/copilot_test.go
Owners: @unionai/exo

refactor: switch default from opt-in to opt-out
  docs/deployment/configuration/generated/flyteadmin_config.rst
  docs/deployment/configuration/generated/flytepropeller_config.rst
  docs/deployment/configuration/generated/scheduler_config.rst
  flyteplugins/go/tasks/pluginmachinery/flytek8s/config/config.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/copilot_test.go
Owners: @neverett, @ppiegaze, @unionai/exo

docs: add SYS_PTRACE capability to co-pilot parameters
  docs/deployment/configuration/generated/flyteadmin_config.rst
  docs/deployment/configuration/generated/flytepropeller_config.rst
  docs/deployment/configuration/generated/scheduler_config.rst
  flyteplugins/go/tasks/pluginmachinery/flytek8s/config/k8spluginconfig_flags.go
Owners: @neverett, @ppiegaze, @unionai/exo

fix: make SYS_PTRACE optional
  flyteplugins/go/tasks/pluginmachinery/flytek8s/config/config.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/copilot.go
Owners: @unionai/exo

Update boilerplate to match automatic IDE changes (#474)
  boilerplate/flyte/golang_support_tools/go.mod
  boilerplate/flyte/golang_support_tools/go.sum
  go.sum
Owners: @unionai/cloud-eng

Rename literal offloading flags and enable offloading in local config
  flyte-single-binary-local.yaml
  flytepropeller/pkg/controller/config/config.go
Owners: @unionai/cloud-eng, @unionai/exo

Run `make -C flytepropeller generate`
  flytepropeller/pkg/controller/config/config_flags.go
  flytepropeller/pkg/controller/config/config_flags_test.go
Owners: @unionai/exo

new HEAD
  docs/conf.py
Owners: @neverett, @ppiegaze

pytorch object.inv moved (#5755)
  docs/conf.py
Owners: @neverett, @ppiegaze

Add FlyteCopilot section
  rfc/system/5741-binary-idl-with-message-pack.md
Owners: @unionai/cloud-eng

FlyteConsole update
  rfc/system/5741-binary-idl-with-message-pack.md
Owners: @unionai/cloud-eng

Update Yee's advice
  rfc/system/5741-binary-idl-with-message-pack.md
Owners: @unionai/cloud-eng

Update msgpack golang library
  rfc/system/5741-binary-idl-with-message-pack.md
Owners: @unionai/cloud-eng

update Yee's advice
  rfc/system/5741-binary-idl-with-message-pack.md
Owners: @unionai/cloud-eng

update Yee's advice
  rfc/system/5741-binary-idl-with-message-pack.md
Owners: @unionai/cloud-eng

use msgpack as default tag in func MakeBinaryLiteral
  rfc/system/5741-binary-idl-with-message-pack.md
Owners: @unionai/cloud-eng

update flyteidl part with permenant link
  rfc/system/5741-binary-idl-with-message-pack.md
Owners: @unionai/cloud-eng

update comments for the flytekit part
  rfc/system/5741-binary-idl-with-message-pack.md
Owners: @unionai/cloud-eng

update all Eduardo's advice
  rfc/system/5741-binary-idl-with-message-pack.md
Owners: @unionai/cloud-eng

use SimpleType.STRUCT for literal type
  rfc/system/5741-binary-idl-with-message-pack.md
Owners: @unionai/cloud-eng

add conditional problem in msgpack
  rfc/system/5741-binary-idl-with-message-pack.md
Owners: @unionai/cloud-eng

update flytectl part by Yee's advice
  rfc/system/5741-binary-idl-with-message-pack.md
Owners: @unionai/cloud-eng

nit
  rfc/system/5741-binary-idl-with-message-pack.md
Owners: @unionai/cloud-eng

TBD: flyteconsole
  rfc/system/5741-binary-idl-with-message-pack.md
Owners: @unionai/cloud-eng

Finish the flyteidl part
  rfc/system/5741-binary-idl-with-message-pack.md
Owners: @unionai/cloud-eng

Start from flyteclt
  rfc/system/5741-binary-idl-with-message-pack.md
Owners: @unionai/cloud-eng

better url reference
  rfc/system/5741-binary-idl-with-message-pack.md
Owners: @unionai/cloud-eng

update Yee's advice
  rfc/system/5741-binary-idl-with-message-pack.md
Owners: @unionai/cloud-eng

Update msgpack golang library
  rfc/system/5741-binary-idl-with-message-pack.md
Owners: @unionai/cloud-eng

Finish part 1 and part 2
  rfc/system/5741-binary-idl-with-message-pack.md
Owners: @unionai/cloud-eng

update yee's advice
  rfc/system/5741-binary-idl-with-message-pack.md
Owners: @unionai/cloud-eng

update yee's advice
  rfc/system/5741-binary-idl-with-message-pack.md
Owners: @unionai/cloud-eng

Binary IDL With MessagePack Bytes
  rfc/system/5741-binary-idl-with-message-pack.md
Owners: @unionai/cloud-eng

TBD: flyteconsole
  rfc/system/5741-binary-idl-with-message-pack.md
Owners: @unionai/cloud-eng

[RFC] Binary IDL With MessagePack Bytes (#5742)
  rfc/system/5741-binary-idl-with-message-pack.md
Owners: @unionai/cloud-eng

Add semver check for dev and beta version
  flytepropeller/pkg/controller/config/config.go
  flytepropeller/pkg/controller/config/config_test.go
Owners: @unionai/exo

add unsupported version tests
  flytepropeller/pkg/controller/config/config_test.go
Owners: @unionai/exo

passing context and refactored to table driven utests
  flytepropeller/pkg/controller/config/config.go
  flytepropeller/pkg/controller/config/config_test.go
  flytepropeller/pkg/controller/nodes/common/utils.go
Owners: @unionai/exo

REV Revert commit
  docs/conf.py
Owners: @neverett, @ppiegaze
