Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

use InvalidLiteralTypeErr instead of NewIDLTypeNotFoundErr
  flytepropeller/pkg/compiler/errors/compiler_error_test.go
  flytepropeller/pkg/compiler/errors/compiler_errors.go
  flytepropeller/pkg/compiler/transformers/k8s/inputs.go
  flytepropeller/pkg/compiler/transformers/k8s/inputs_test.go
Owners: @unionai/exo

nit
  flytepropeller/pkg/compiler/errors/compiler_error_test.go
  flytepropeller/pkg/compiler/errors/compiler_errors.go
  flytepropeller/pkg/compiler/transformers/k8s/inputs.go
Owners: @unionai/exo

nit
  flytepropeller/pkg/controller/nodes/attr_path_resolver.go
Owners: @unionai/exo

Add histogram stopwatch to stow storage
  flytestdlib/promutils/labeled/histogram_stopwatch.go
  flytestdlib/promutils/labeled/histogram_stopwatch_test.go
  flytestdlib/promutils/labeled/stopwatch_test.go
  flytestdlib/promutils/scope.go
  flytestdlib/promutils/scope_test.go
  flytestdlib/storage/stow_store.go
Owners: @unionai/cloud-eng

remove unneeded custom CSS and JS files
  docs/_static/custom.css
  docs/_static/custom.js
  docs/_static/flyte.css
Owners: @neverett, @ppiegaze

Adds PodTemplate support to Actors (#446)
  .github/workflows/fasttask.yml
  fasttask/plugin/plugin.go
  fasttask/plugin/plugin_test.go
  fasttask/worker/Dockerfile
  fasttask/worker/functional-tests/test_pod_template_actor.py
  fasttask/worker/functional-tests/workflows/pod_template_actor.py
  fasttask/worker/tests-requirements.txt
Owners: @unionai/cloud-eng, @unionai/exo

Remove codeowners step
  rfc/system/0008-community-plugins.md
Owners: @unionai/cloud-eng

add redirects
  docs/conf.py
Owners: @neverett, @ppiegaze

Fix metrics scale division in timer
  datacatalog/go.mod
  datacatalog/go.sum
  flyteadmin/go.mod
  flyteadmin/go.sum
  flytecopilot/go.mod
  flytecopilot/go.sum
  flytectl/go.mod
  flytectl/go.sum
  flyteidl/clients/go/admin/auth_interceptor_test.go
  flyteidl/go.mod
  flyteidl/go.sum
  flyteplugins/go.mod
  flyteplugins/go.sum
  flytepropeller/go.mod
  flytepropeller/go.sum
  flytestdlib/go.mod
  flytestdlib/go.sum
  flytestdlib/promutils/labeled/histogram_stopwatch_test.go
  flytestdlib/promutils/labeled/stopwatch_test.go
  flytestdlib/promutils/scope.go
  flytestdlib/promutils/scope_test.go
  go.mod
  go.sum
Owners: @unionai/cloud-eng, @unionai/exo

Unexpectedly deleted pod metrics
  flytepropeller/pkg/controller/nodes/task/k8s/plugin_manager.go
Owners: @unionai/exo

CreateDownloadLink: Head before signing
  flyteadmin/dataproxy/service.go
  flyteadmin/dataproxy/service_test.go
Owners: @unionai/cloud-eng

add more redirects
  docs/conf.py
Owners: @neverett, @ppiegaze

first pass at updating docs contributing guide
  docs/community/contribute_docs.md
Owners: @neverett, @ppiegaze

make helm
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Owners: @unionai/cloud-eng

Update docs/user_guide/customizing_dependencies/imagespec.md
  docs/user_guide/customizing_dependencies/imagespec.md
Owners: @neverett, @ppiegaze

Update docs/user_guide/customizing_dependencies/imagespec.md
  docs/user_guide/customizing_dependencies/imagespec.md
Owners: @neverett, @ppiegaze

Update docs/user_guide/customizing_dependencies/imagespec.md
  docs/user_guide/customizing_dependencies/imagespec.md
Owners: @neverett, @ppiegaze

Update docs/user_guide/customizing_dependencies/imagespec.md
  docs/user_guide/customizing_dependencies/imagespec.md
Owners: @neverett, @ppiegaze

Update docs/user_guide/customizing_dependencies/imagespec.md
  docs/user_guide/customizing_dependencies/imagespec.md
Owners: @neverett, @ppiegaze

Update docs/user_guide/customizing_dependencies/imagespec.md
  docs/user_guide/customizing_dependencies/imagespec.md
Owners: @neverett, @ppiegaze

Update docs/user_guide/customizing_dependencies/imagespec.md
  docs/user_guide/customizing_dependencies/imagespec.md
Owners: @neverett, @ppiegaze

Update docs/user_guide/customizing_dependencies/imagespec.md
  docs/user_guide/customizing_dependencies/imagespec.md
Owners: @neverett, @ppiegaze

Update docs/user_guide/customizing_dependencies/imagespec.md
  docs/user_guide/customizing_dependencies/imagespec.md
Owners: @neverett, @ppiegaze

Update docs/user_guide/customizing_dependencies/imagespec.md
  docs/user_guide/customizing_dependencies/imagespec.md
Owners: @neverett, @ppiegaze

Update docs/user_guide/customizing_dependencies/imagespec.md
  docs/user_guide/customizing_dependencies/imagespec.md
Owners: @neverett, @ppiegaze

Update docs/user_guide/customizing_dependencies/imagespec.md
  docs/user_guide/customizing_dependencies/imagespec.md
Owners: @neverett, @ppiegaze

Update docs/user_guide/customizing_dependencies/imagespec.md
  docs/user_guide/customizing_dependencies/imagespec.md
Owners: @neverett, @ppiegaze

Update docs/user_guide/customizing_dependencies/imagespec.md
  docs/user_guide/customizing_dependencies/imagespec.md
Owners: @neverett, @ppiegaze

Update docs/user_guide/customizing_dependencies/imagespec.md
  docs/user_guide/customizing_dependencies/imagespec.md
Owners: @neverett, @ppiegaze

Update docs/user_guide/customizing_dependencies/imagespec.md
  docs/user_guide/customizing_dependencies/imagespec.md
Owners: @neverett, @ppiegaze

Update docs/user_guide/customizing_dependencies/imagespec.md
  docs/user_guide/customizing_dependencies/imagespec.md
Owners: @neverett, @ppiegaze

Update docs/user_guide/customizing_dependencies/imagespec.md
  docs/user_guide/customizing_dependencies/imagespec.md
Owners: @neverett, @ppiegaze

Update docs/user_guide/customizing_dependencies/imagespec.md
  docs/user_guide/customizing_dependencies/imagespec.md
Owners: @neverett, @ppiegaze

Support flytectl
  flyteadmin/go.mod
  flytecopilot/go.mod
  flytecopilot/go.sum
  flytectl/go.mod
  flytectl/go.sum
  flyteidl/clients/go/coreutils/extract_literal.go
  flyteidl/clients/go/coreutils/extract_literal_test.go
  flyteidl/clients/go/coreutils/literals.go
  flyteidl/clients/go/coreutils/literals_test.go
  flyteidl/go.mod
  flyteidl/go.sum
  flyteplugins/go.mod
  flyteplugins/go.sum
Owners: @unionai/cloud-eng, @unionai/exo

Generate golang msgpack bytes for flyteconosle support
  flytepropeller/pkg/controller/nodes/attr_path_resolver.go
Owners: @unionai/exo

Update Flyte Deck Doc
  docs/user_guide/development_lifecycle/decks.md
Owners: @neverett, @ppiegaze

[Docs] Flyte Deck example (#5777)
  docs/user_guide/development_lifecycle/decks.md
Owners: @neverett, @ppiegaze

Update ImageSpec documentation (#5748)
  docs/user_guide/customizing_dependencies/imagespec.md
Owners: @neverett, @ppiegaze

Update rfc/system/0008-community-plugins.md
  rfc/system/0008-community-plugins.md
Owners: @unionai/cloud-eng

Update rfc/system/0008-community-plugins.md
  rfc/system/0008-community-plugins.md
Owners: @unionai/cloud-eng

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo
