Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

Updating the release version for literal offloading
  flytepropeller/pkg/controller/config/config.go
Owners: @unionai/exo

fix tests because of merge
  flytepropeller/pkg/controller/nodes/attr_path_resolver_test.go
Owners: @unionai/exo

Correcting checksums
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/sandbox-binary/flyte_sandbox_binary_helm_generated.yaml
Owners: @unionai/cloud-eng

update kevin's advice
  flytepropeller/pkg/controller/nodes/task/handler.go
Owners: @unionai/exo

Trying to add a new page under Data types and IO section for tensorflow types
  docs/user_guide/data_types_and_io/index.md
  docs/user_guide/data_types_and_io/tensorflow_type.md
Owners: @neverett, @ppiegaze

sp error
  docs/_static/custom.css
Owners: @neverett, @ppiegaze

update haytham's advice
  flytepropeller/pkg/controller/nodes/attr_path_resolver.go
Owners: @unionai/exo

better attribute resolve handling
  flytepropeller/pkg/controller/nodes/attr_path_resolver.go
Owners: @unionai/exo

move messagepack to 1 place
  flyteidl/clients/go/coreutils/literals.go
  flyteidl/clients/go/coreutils/literals_test.go
  flytepropeller/pkg/compiler/validators/utils.go
  flytepropeller/pkg/compiler/validators/utils_test.go
  flytepropeller/pkg/controller/nodes/attr_path_resolver.go
Owners: @unionai/cloud-eng, @unionai/exo

Update errors.go
  flyteplugins/go/tasks/errors/errors.go
Owners: @unionai/exo

Add minimal version to failure nodes docs
  docs/user_guide/development_lifecycle/failure_node.md
Owners: @neverett, @ppiegaze

Update rfc
  rfc/system/4358-tuple-idl.md
Owners: @unionai/cloud-eng

Update rfc for flytekit
  rfc/system/4358-tuple-idl.md
Owners: @unionai/cloud-eng

[Flyte][3][flytepropeller][Attribute Access][flytectl] Binary IDL With MessagePack (#5763)
  flyteadmin/go.mod
  flytecopilot/go.mod
  flytecopilot/go.sum
  flytectl/go.mod
  flytectl/go.sum
  flyteidl/clients/go/coreutils/extract_literal.go
  flyteidl/clients/go/coreutils/extract_literal_test.go
  flyteidl/clients/go/coreutils/literals.go
  flyteidl/clients/go/coreutils/literals_test.go
  flyteidl/go.mod
  flyteidl/go.sum
  flyteplugins/go.mod
  flyteplugins/go.sum
  flytepropeller/pkg/compiler/validators/utils.go
  flytepropeller/pkg/compiler/validators/utils_test.go
  flytepropeller/pkg/controller/nodes/attr_path_resolver.go
  flytepropeller/pkg/controller/nodes/attr_path_resolver_test.go
  go.mod
Owners: @unionai/cloud-eng, @unionai/exo

Updated tensorflow_type.md file
  docs/user_guide/data_types_and_io/tensorflow_type.md
Owners: @neverett, @ppiegaze

Minor auto_refresh cleanup
  flytestdlib/cache/auto_refresh.go
  flytestdlib/cache/auto_refresh_example_test.go
  flytestdlib/cache/in_memory_auto_refresh.go
  flytestdlib/cache/in_memory_auto_refresh_test.go
Owners: @unionai/cloud-eng

spelling
  flytestdlib/cache/in_memory_auto_refresh.go
Owners: @unionai/cloud-eng

lint fix
  flytestdlib/cache/in_memory_auto_refresh_test.go
Owners: @unionai/cloud-eng

Update go.mod and go.sum for flytectl to include updated AWS Go SDK
  flytectl/go.mod
  flytectl/go.sum
Owners: @unionai/cloud-eng

Update Dockerfile
  docker/sandbox-bundled/Dockerfile
Owners: @unionai/cloud-eng

updated file
  docs/user_guide/data_types_and_io/tensorflow_type.md
Owners: @neverett, @ppiegaze

Update ray.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray.go
Owners: @unionai/exo

wip
  flyteadmin/pkg/manager/impl/execution_manager.go
  flyteadmin/pkg/manager/impl/execution_manager_test.go
  flyteadmin/pkg/workflowengine/impl/k8s_executor.go
  flyteadmin/pkg/workflowengine/impl/k8s_executor_test.go
  flyteadmin/pkg/workflowengine/interfaces/executor.go
  flyteidl/gen/pb-es/flyteidl/admin/execution_pb.ts
  flyteidl/gen/pb-go/flyteidl/admin/execution.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/admin/execution_pb2.py
  flyteidl/gen/pb_python/flyteidl/admin/execution_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/protos/flyteidl/admin/execution.proto
  flytepropeller/pkg/controller/finalizer.go
  flytepropeller/pkg/controller/handler.go
  flytepropeller/pkg/controller/handler_test.go
Owners: @unionai/cloud-eng, @unionai/exo

Add basic SASL and TLS support for Kafka cloud events
  charts/flyte-core/README.md
  charts/flyte-core/templates/admin/configmap.yaml
  charts/flyte-core/templates/admin/deployment.yaml
  charts/flyte-core/values.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  flyteadmin/.golangci.yml
  flyteadmin/pkg/async/cloudevent/factory.go
  flyteadmin/pkg/runtime/interfaces/application_configuration.go
Owners: @unionai/cloud-eng

Update ray_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray_test.go
Owners: @unionai/exo

Use Yicheng-Lu-llll's thought
  flyteadmin/dataproxy/service.go
  flyteadmin/pkg/repositories/transformers/node_execution.go
  flytepropeller/pkg/controller/nodes/task/handler.go
Owners: @unionai/cloud-eng, @unionai/exo

Update aws-go-sdk to v1.47.11 to support EKS Pod Identity (#5796)
  datacatalog/go.mod
  datacatalog/go.sum
  flyteadmin/go.mod
  flyteadmin/go.sum
  flytecopilot/go.mod
  flytecopilot/go.sum
  flytectl/go.mod
  flytectl/go.sum
  flyteidl/go.mod
  flyteidl/go.sum
  flyteplugins/go.mod
  flyteplugins/go.sum
  flytepropeller/go.mod
  flytepropeller/go.sum
  flytestdlib/go.mod
  flytestdlib/go.sum
  go.mod
  go.sum
Owners: @unionai/cloud-eng, @unionai/exo

test
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/core/tasks_pb.ts
  flyteidl/gen/pb-es/flyteidl/core/workflow_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/tasks.pb.go
  flyteidl/gen/pb-go/flyteidl/core/workflow.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/tasks_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/tasks_pb2.pyi
  flyteidl/gen/pb_python/flyteidl/core/workflow_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/workflow_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/tasks.proto
  flyteidl/protos/flyteidl/core/workflow.proto
  flyteplugins/go/tasks/pluginmachinery/core/exec_metadata.go
  flyteplugins/go/tasks/pluginmachinery/core/mocks/task_overrides.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/plugin_exec_context.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/iface.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/nodes.go
  flytepropeller/pkg/compiler/transformers/k8s/node.go
Owners: @unionai/cloud-eng, @unionai/exo

Stop returning inputs for ListExecution calls (#511)
  flyteadmin/pkg/repositories/transformers/execution.go
  flyteadmin/pkg/repositories/transformers/execution_test.go
Owners: @unionai/cloud-eng

use sa when not default value
  flyteplugins/go/tasks/plugins/k8s/ray/ray.go
Owners: @unionai/exo

Update registering_workflows.md
  docs/flyte_fundamentals/registering_workflows.md
Owners: @neverett, @ppiegaze

Update aws-go-sdk to v1.47.11 to support EKS Pod Identity (#5796)
  datacatalog/go.mod
  datacatalog/go.sum
  flyteadmin/go.mod
  flyteadmin/go.sum
  flytecopilot/go.mod
  flytecopilot/go.sum
  flytectl/go.mod
  flytectl/go.sum
  flyteidl/go.mod
  flyteidl/go.sum
  flyteplugins/go.mod
  flyteplugins/go.sum
  flytepropeller/go.mod
  flytepropeller/go.sum
  flytestdlib/go.mod
  flytestdlib/go.sum
  go.mod
  go.sum
Owners: @unionai/cloud-eng, @unionai/exo

feat: note in registering_workflows for k8sPod.dataConfig fix
  docs/flyte_fundamentals/registering_workflows.md
Owners: @neverett, @ppiegaze

[Flyte][3][flytepropeller][Attribute Access][flytectl] Binary IDL With MessagePack (#5763)
  flyteadmin/go.mod
  flytecopilot/go.mod
  flytecopilot/go.sum
  flytectl/go.mod
  flytectl/go.sum
  flyteidl/clients/go/coreutils/extract_literal.go
  flyteidl/clients/go/coreutils/extract_literal_test.go
  flyteidl/clients/go/coreutils/literals.go
  flyteidl/clients/go/coreutils/literals_test.go
  flyteidl/go.mod
  flyteidl/go.sum
  flyteplugins/go.mod
  flyteplugins/go.sum
  flytepropeller/pkg/compiler/validators/utils.go
  flytepropeller/pkg/compiler/validators/utils_test.go
  flytepropeller/pkg/controller/nodes/attr_path_resolver.go
  flytepropeller/pkg/controller/nodes/attr_path_resolver_test.go
  go.mod
Owners: @unionai/cloud-eng, @unionai/exo

update: remove note as requested change
  docs/flyte_fundamentals/registering_workflows.md
Owners: @neverett, @ppiegaze

Update docs/user_guide/flyte_fundamentals/registering_workflows.md
  docs/user_guide/flyte_fundamentals/registering_workflows.md
Owners: @neverett, @ppiegaze

Update registering_workflows.md
  docs/user_guide/flyte_fundamentals/registering_workflows.md
Owners: @neverett, @ppiegaze

minor tweaks
  rfc/system/5818-decentralized-agent-config-mgmt.md
Owners: @unionai/cloud-eng

replace the RFC prefix with the pull number 5818
  rfc/system/5818-decentralized-agent-config-mgmt.md
Owners: @unionai/cloud-eng

minor tweaks
  rfc/system/0000-decentralized-agent-config-mgmt.md
Owners: @unionai/cloud-eng

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo
