Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo

avoid infinite call
  flytestdlib/storage/cached_rawstore.go
Owners: @unionai/cloud-eng

Update "Try Serverless" language in Quickstart guide (#5698)
  docs/quickstart_guide.md
Owners: @neverett, @ppiegaze

kevin's change
  flyteadmin/pkg/manager/impl/validation/validation.go
  flytepropeller/pkg/compiler/validators/utils.go
Owners: @unionai/cloud-eng, @unionai/exo

Fixing location of no sec comment
  flyteadmin/pkg/async/notifications/implementations/smtp_emailer.go
Owners: @unionai/cloud-eng

Removing unused import
  flyteadmin/pkg/rpc/adminservice/base.go
Owners: @unionai/cloud-eng

update attribute resolver
  flytepropeller/pkg/controller/nodes/attr_path_resolver.go
Owners: @unionai/exo

protect critical variables
  flytecopilot/data/download.go
Owners: @unionai/cloud-eng

avoid infinite call
  flytestdlib/storage/cached_rawstore.go
  flytestdlib/storage/cached_rawstore_test.go
Owners: @unionai/cloud-eng

lint
  flyteadmin/pkg/common/naming/execution_name_test.go
  flyteadmin/scheduler/executor/executor_impl.go
  flyteadmin/scheduler/identifier/identifier.go
Owners: @unionai/cloud-eng

lint
  flytestdlib/storage/mem_store_test.go
Owners: @unionai/cloud-eng

add more unit tests
  flytecopilot/data/download_test.go
  flytestdlib/storage/cached_rawstore.go
  flytestdlib/storage/cached_rawstore_test.go
  flytestdlib/storage/stow_store_test.go
Owners: @unionai/cloud-eng

fix: Use deterministic execution names in scheduler (#5724)
  flyteadmin/pkg/common/naming/execution_name_test.go
  flyteadmin/scheduler/executor/executor_impl.go
  flyteadmin/scheduler/identifier/identifier.go
Owners: @unionai/cloud-eng

add more unit tests
  flytepropeller/pkg/utils/failing_datastore_test.go
Owners: @unionai/exo

fix mock
  flytestdlib/storage/mocks/raw_store.go
Owners: @unionai/cloud-eng

update conf with pydata specific theme options, update sidebar
  docs/_templates/custom.rst
  docs/_templates/file_types.rst
  docs/_templates/sidebar.html
  docs/_templates/sidebars/api_reference.html
  docs/_templates/sidebars/cluster_deployment.html
  docs/_templates/sidebars/community.html
  docs/_templates/sidebars/ecosystem.html
  docs/_templates/sidebars/integrations.html
  docs/_templates/sidebars/tutorials.html
  docs/conf.py
Owners: @neverett, @ppiegaze

update refs
  docs/user_guide/advanced_composition/map_tasks.md
  docs/user_guide/advanced_composition/subworkflows.md
  docs/user_guide/development_cycle/registering_workflows.md
  docs/user_guide/environment_setup.md
  docs/user_guide/extending/backend_plugins.md
  docs/user_guide/first_workflow/index.md
  docs/user_guide/productionizing/schedules.md
  docs/user_guide/quickstart_guide.md
Owners: @neverett, @ppiegaze

add new docs paths to ignore
  .gitignore
Owners: @unionai/cloud-eng

update Makefile with new API gen docs paths
  docs/Makefile
Owners: @neverett, @ppiegaze

delete unused code
  docs/_ext/import_projects.py
Owners: @neverett, @ppiegaze

update deployment docs refs and title
  docs/cluster_deployment/deployment/sandbox.rst
  docs/cluster_deployment/index.md
Owners: @neverett, @ppiegaze

update refs and remove cookbook section
  docs/community/contributing_documentation.md
Owners: @neverett, @ppiegaze

update API docs paths
  docs/index.md
Owners: @neverett, @ppiegaze

add pydata theme dependency
  monodocs-environment.lock.yaml
  monodocs-environment.yaml
Owners: @unionai/cloud-eng

add plugins
  docs/api/flytekit/index.rst
  docs/api/flytekit/plugins/athena.rst
  docs/api/flytekit/plugins/awsbatch.rst
  docs/api/flytekit/plugins/awssagemaker_inference.rst
  docs/api/flytekit/plugins/bigquery.rst
  docs/api/flytekit/plugins/dask.rst
  docs/api/flytekit/plugins/dbt.rst
  docs/api/flytekit/plugins/deck.rst
  docs/api/flytekit/plugins/dolt.rst
  docs/api/flytekit/plugins/duckdb.rst
  docs/api/flytekit/plugins/greatexpectations.rst
  docs/api/flytekit/plugins/hive.rst
  docs/api/flytekit/plugins/index.rst
  docs/api/flytekit/plugins/inference.rst
  docs/api/flytekit/plugins/kfmpi.rst
  docs/api/flytekit/plugins/kfpytorch.rst
  docs/api/flytekit/plugins/kftensorflow.rst
  docs/api/flytekit/plugins/mlflow.rst
  docs/api/flytekit/plugins/modin.rst
  docs/api/flytekit/plugins/onnxpytorch.rst
  docs/api/flytekit/plugins/onnxscikitlearn.rst
  docs/api/flytekit/plugins/onnxtensorflow.rst
  docs/api/flytekit/plugins/openai.rst
  docs/api/flytekit/plugins/pandera.rst
  docs/api/flytekit/plugins/papermill.rst
  docs/api/flytekit/plugins/pod.rst
  docs/api/flytekit/plugins/ray.rst
  docs/api/flytekit/plugins/snowflake.rst
  docs/api/flytekit/plugins/spark.rst
  docs/api/flytekit/plugins/sqlalchemy.rst
  docs/api/flytekit/plugins/vaex.rst
Owners: @neverett, @ppiegaze

Sanitizing environment names to fix k8s pods (#456)
  fasttask/plugin/builder.go
  fasttask/plugin/utils.go
  fasttask/plugin/utils_test.go
Owners: @unionai/exo

add an error in base case for file size exceeded
  flyteplugins/go/tasks/pluginmachinery/ioutils/remote_file_output_reader.go
  flytepropeller/pkg/controller/nodes/task/handler.go
Owners: @unionai/exo

Update binding rule
  flytepropeller/pkg/compiler/validators/bindings.go
Owners: @unionai/exo

note on imagespec/fast relationship
  docs/flyte_fundamentals/registering_workflows.md
Owners: @neverett, @ppiegaze

Fix binding
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/docs/core/core.rst
  flyteidl/protos/flyteidl/core/literals.proto
  flytepropeller/pkg/controller/nodes/attr_path_resolver.go
  flytepropeller/pkg/controller/nodes/dynamic/utils.go
  flytepropeller/pkg/controller/nodes/resolve.go
  flytepropeller/pkg/visualize/visualize.go
Owners: @unionai/cloud-eng, @unionai/exo

update for image spec
  docs/user_guide/customizing_dependencies/imagespec.md
Owners: @neverett, @ppiegaze

Fixes pending tasks query
  stats/flyteuser.dashboard.py
Owners: @unionai/cloud-eng

Fixes memory usage query
  stats/flyteuser.dashboard.py
Owners: @unionai/cloud-eng

Fixes CPU usage query and panel type
  stats/flyteuser.dashboard.py
Owners: @unionai/cloud-eng

Fixes CPU usage graph and remove node queuing graph
  stats/flyteuser.dashboard.py
Owners: @unionai/cloud-eng

Update various package versions with vulnerabilities (#462)
  .gitattributes
  boilerplate/flyte/golang_support_tools/go.mod
  cacheservice/go.mod
  cacheservice/go.sum
  datacatalog/go.mod
  datacatalog/go.sum
  docker/sandbox-bundled/bootstrap/go.mod
  docker/sandbox-bundled/bootstrap/go.sum
  fasttask/.gitattributes
  fasttask/plugin/go.mod
  fasttask/plugin/go.sum
  flyteadmin/go.mod
  flyteadmin/go.sum
  flytecopilot/go.mod
  flytecopilot/go.sum
  flytectl/.gitattributes
  flytectl/go.mod
  flytectl/go.sum
  flyteidl/go.mod
  flyteidl/go.sum
  flyteplugins/go.mod
  flyteplugins/go.sum
  flytepropeller/go.mod
  flytepropeller/go.sum
  flytestdlib/go.mod
  flytestdlib/go.sum
  go.mod
  go.sum
Owners: @unionai/cloud-eng, @unionai/exo

Remove type from literal & add unit test
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/clients/go/coreutils/extract_literal_test.go
  flyteidl/clients/go/coreutils/literals.go
  flyteidl/clients/go/coreutils/literals_test.go
  flyteidl/gen/pb-es/flyteidl/core/literals_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/literals.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/cacheservice/cacheservice.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/datacatalog/datacatalog.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/dataproxy.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/external_plugin_service.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/signal.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/literals_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/literals_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/literals.proto
  flytepropeller/pkg/compiler/validators/bindings.go
  flytepropeller/pkg/compiler/validators/bindings_test.go
  flytepropeller/pkg/compiler/validators/utils.go
  flytepropeller/pkg/compiler/validators/utils_test.go
  flytepropeller/pkg/controller/nodes/attr_path_resolver.go
  flytepropeller/pkg/controller/nodes/attr_path_resolver_test.go
  flytepropeller/pkg/controller/nodes/resolve.go
  flytepropeller/pkg/controller/nodes/resolve_test.go
  flytepropeller/pkg/utils/assert/literals.go
  flytepropeller/pkg/utils/bindings.go
  flytepropeller/pkg/utils/bindings_test.go
Owners: @unionai/cloud-eng, @unionai/exo

add `array_node.ExecutionMode`
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng

remove func convertNumbers
  flytepropeller/pkg/controller/nodes/attr_path_resolver.go
Owners: @unionai/exo

Enable in every helm chart
  charts/flyte-binary/gke-starter.yaml
  deployment/test/flyte_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  flyte-single-binary-local.yaml
  flytepropeller/propeller-config.yaml
Owners: @unionai/cloud-eng, @unionai/exo

Remove config in flyte agent' documentation
  docs/flyte_agents/developing_agents.md
  docs/flyte_agents/testing_agents_in_a_local_development_cluster.md
Owners: @neverett, @ppiegaze
