Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

Add the intiial draft for decentralized custom agent configuration
  rfc/system/0000-decentralized-agent-config-mgmt.md
Owners: @unionai/cloud-eng

Update ray_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray_test.go
Owners: @unionai/exo

test
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/core/workflow_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/workflow.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/workflow_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/workflow_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/workflow.proto
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/mocks/ExecutableNode.go
  flytepropeller/pkg/compiler/transformers/k8s/node.go
Owners: @unionai/cloud-eng, @unionai/exo

Decompressing fast registered actor tasks to unique subdirectory (#486)
  fasttask/worker/Cargo.lock
  fasttask/worker/Cargo.toml
  fasttask/worker/bridge/src/bridge.rs
  fasttask/worker/bridge/src/common.rs
  fasttask/worker/bridge/src/task.rs
  fasttask/worker/executor/src/executor.rs
  fasttask/worker/functional-tests/test_fast_register_actor.py
  fasttask/worker/pyproject.toml
  flyteidl/clients/go/assets/admin.swagger.json
Owners: @unionai/exo, @unionai/cloud-eng

Add minimal version to failure nodes docs (#5812)
  docs/user_guide/development_lifecycle/failure_node.md
Owners: @neverett, @ppiegaze

Update schedules.md
  docs/user_guide/productionizing/schedules.md
Owners: @neverett, @ppiegaze

added the documentation related to CICD best practices
  docs/user_guide/flyte_fundamentals/registering_workflows.md
Owners: @neverett, @ppiegaze

added the documentation about uniqueness of execution IDs in a project domain
  docs/user_guide/concepts/main_concepts/executions.rst
Owners: @neverett, @ppiegaze

Add multi file error aggregation strategy
  flytepropeller/pkg/controller/nodes/task/k8s/plugin_manager_test.go
Owners: @unionai/exo

Add multi file error aggregation strategy
  flyteplugins/go/tasks/plugins/array/outputs_test.go
Owners: @unionai/exo

Add multi file error aggregation strategy
  flyteidl/gen/pb-es/flyteidl/core/execution_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/execution.pb.go
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/execution_pb2.py
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/execution.proto
Owners: @unionai/cloud-eng

Add multi file error aggregation strategy
  flyteplugins/go/tasks/plugins/k8s/kfoperators/pytorch/pytorch.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/pytorch/pytorch_test.go
Owners: @unionai/exo

Add finalizer to avoid premature CRD Deletion (#5788)
  flyteadmin/pkg/workflowengine/impl/prepare_execution.go
  flyteadmin/pkg/workflowengine/impl/prepare_execution_test.go
Owners: @unionai/cloud-eng

[Docs] Use Pure Dataclass In Example
  docs/user_guide/data_types_and_io/dataclass.md
Owners: @neverett, @ppiegaze

Update docs/user_guide/data_types_and_io/dataclass.md
  docs/user_guide/data_types_and_io/dataclass.md
Owners: @neverett, @ppiegaze

Update docs/user_guide/data_types_and_io/dataclass.md
  docs/user_guide/data_types_and_io/dataclass.md
Owners: @neverett, @ppiegaze

Update docs/user_guide/data_types_and_io/dataclass.md
  docs/user_guide/data_types_and_io/dataclass.md
Owners: @neverett, @ppiegaze

better solution
  docs/user_guide/data_types_and_io/dataclass.md
Owners: @neverett, @ppiegaze

Update docs/user_guide/data_types_and_io/dataclass.md
  docs/user_guide/data_types_and_io/dataclass.md
Owners: @neverett, @ppiegaze

[Docs] Use Pure Dataclass In Example (#5829)
  docs/user_guide/data_types_and_io/dataclass.md
Owners: @neverett, @ppiegaze

apply changes from @cosmicBboy flytesnacks PR https://github.com/flyteorg/flytesnacks/pull/1736 to docs contributing guide, plus make additional changes
  docs/community/contribute_docs.md
Owners: @neverett, @ppiegaze

Add multi file error aggregation strategy
  flytestdlib/storage/storage_test.go
Owners: @unionai/cloud-eng

move docs contributing guide to new subdirectory
  docs/community/contribute/contribute_docs.md
Owners: @neverett, @ppiegaze

move contributing guides into separate docs
  docs/community/contribute/contribute_code.rst
  docs/community/contribute/contribute_examples.md
  docs/community/contribute/index.rst
  docs/community/contribute_docs.md
  docs/community/index.rst
Owners: @neverett, @ppiegaze

small edits
  docs/community/contribute/contribute_docs.md
  docs/community/contribute/index.rst
  docs/community/index.rst
  docs/user_guide/index.md
Owners: @neverett, @ppiegaze

Link to github for flytekit docs
  docs/conf.py
Owners: @neverett, @ppiegaze

add formatting info to docs contributing doc
  docs/community/contribute/contribute_docs.md
  docs/community/contribute/contribute_examples.md
Owners: @neverett, @ppiegaze

Link to github for flytekit docs (#5831)
  docs/conf.py
Owners: @neverett, @ppiegaze

small edit
  docs/community/contribute/contribute_docs.md
Owners: @neverett, @ppiegaze

added the documentation about uniqueness of execution IDs in a project domain (#5828)
  docs/user_guide/concepts/main_concepts/executions.rst
Owners: @neverett, @ppiegaze

Refactor k8s executor abort
  flyteadmin/pkg/workflowengine/impl/k8s_executor.go
  flyteadmin/pkg/workflowengine/impl/k8s_executor_test.go
Owners: @unionai/cloud-eng

Add multi error file support
  flyteidl/gen/pb-es/flyteidl/core/errors_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/errors.pb.go
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/errors_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/errors_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/errors.proto
  flyteplugins/go/tasks/pluginmachinery/ioutils/remote_file_output_reader.go
Owners: @unionai/cloud-eng, @unionai/exo

Remove unnecessary changes
  flytepropeller/pkg/controller/finalizer.go
  flytepropeller/pkg/controller/handler.go
  flytepropeller/pkg/controller/handler_test.go
Owners: @unionai/exo

Fix unit test
  flyteadmin/pkg/manager/impl/execution_manager_test.go
Owners: @unionai/cloud-eng

Add force flag when terminating execution
  flytectl/cmd/delete/delete.go
  flytectl/cmd/delete/execution.go
  flytectl/cmd/delete/execution_test.go
Owners: @unionai/cloud-eng

Add force flag when terminating execution (#6)
  flytectl/cmd/delete/delete.go
  flytectl/cmd/delete/execution.go
  flytectl/cmd/delete/execution_test.go
Owners: @unionai/cloud-eng

Rafaelraposo/force abort impl (#4)
  flyteadmin/pkg/manager/impl/execution_manager.go
  flyteadmin/pkg/manager/impl/execution_manager_test.go
  flyteadmin/pkg/workflowengine/impl/k8s_executor.go
  flyteadmin/pkg/workflowengine/impl/k8s_executor_test.go
  flyteadmin/pkg/workflowengine/interfaces/executor.go
  flyteidl/gen/pb-es/flyteidl/admin/execution_pb.ts
  flyteidl/gen/pb-go/flyteidl/admin/execution.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/admin/execution_pb2.py
  flyteidl/gen/pb_python/flyteidl/admin/execution_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/protos/flyteidl/admin/execution.proto
Owners: @unionai/cloud-eng

initial commit
  docs/deployment/plugins/k8s/index.rst
Owners: @neverett, @ppiegaze

fmt
  flytectl/cmd/delete/delete.go
  flytectl/cmd/delete/execution.go
Owners: @unionai/cloud-eng

explain difference between user guide and tutorials and integrations python files in flytesnacks
  docs/community/contribute/contribute_docs.md
Owners: @neverett, @ppiegaze

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo
