Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

[flytepropeller][flyteadmin] Streaming Decks
  flytepropeller/pkg/controller/nodes/task/handler.go
Owners: @unionai/exo

Added reading of large offloaded literal for map task
  flyte-single-binary-local.yaml
  flyteidl/gen/pb-es/flyteidl/core/types_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/types.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/cacheservice/cacheservice.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/datacatalog/datacatalog.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/dataproxy.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/external_plugin_service.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/signal.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/types_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/types_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/types.proto
  flytepropeller/pkg/compiler/transformers/k8s/inputs.go
  flytepropeller/pkg/compiler/validators/utils.go
  flytepropeller/pkg/controller/nodes/array/handler.go
  flytepropeller/pkg/controller/nodes/array/node_execution_context.go
  flytepropeller/pkg/controller/nodes/catalog/datacatalog/datacatalog.go
  flytepropeller/pkg/controller/nodes/common/utils.go
Owners: @unionai/cloud-eng, @unionai/exo

refactor
  flytepropeller/pkg/controller/nodes/array/handler.go
  flytepropeller/pkg/controller/nodes/attr_path_resolver.go
Owners: @unionai/exo

remove overwriting the inputs and fix the issue in flytekit
  flytepropeller/pkg/controller/nodes/array/handler.go
Owners: @unionai/exo

remove type
  flyteidl/clients/go/coreutils/extract_literal_test.go
  flyteidl/clients/go/coreutils/literals.go
  flyteidl/gen/pb-es/flyteidl/core/types_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/types.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/cacheservice/cacheservice.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/datacatalog/datacatalog.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/dataproxy.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/external_plugin_service.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/signal.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/types_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/types_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/types.proto
  flytepropeller/pkg/compiler/validators/utils.go
  flytepropeller/pkg/controller/nodes/attr_path_resolver_test.go
  flytepropeller/pkg/controller/nodes/catalog/datacatalog/datacatalog.go
  flytepropeller/pkg/controller/nodes/common/utils.go
  flytepropeller/pkg/controller/nodes/common/utils_test.go
Owners: @unionai/cloud-eng, @unionai/exo

Fix propeller crash when inferring literal type for an offloaded literal
  flyteadmin/pkg/manager/impl/validation/execution_validator.go
  flytepropeller/pkg/compiler/transformers/k8s/inputs.go
  flytepropeller/pkg/compiler/validators/utils.go
  flytepropeller/pkg/compiler/validators/utils_test.go
Owners: @unionai/cloud-eng, @unionai/exo

add hash unit test
  flyteidl/clients/go/coreutils/extract_literal.go
  flytepropeller/pkg/controller/nodes/common/utils_test.go
Owners: @unionai/cloud-eng, @unionai/exo

Add hash of the offloaded value for caching
  flytepropeller/pkg/controller/nodes/catalog/datacatalog/datacatalog.go
  flytepropeller/pkg/controller/nodes/common/utils.go
Owners: @unionai/exo

lint
  flytepropeller/pkg/controller/nodes/array/handler.go
  flytepropeller/pkg/controller/nodes/array/node_execution_context.go
Owners: @unionai/exo

unit tests
  flyteidl/clients/go/coreutils/extract_literal.go
  flytepropeller/pkg/controller/nodes/common/utils_test.go
Owners: @unionai/cloud-eng, @unionai/exo

review comments
  flytepropeller/pkg/controller/nodes/common/utils.go
Owners: @unionai/exo

added changes for promise resolver
  flytepropeller/pkg/controller/nodes/attr_path_resolver.go
  flytepropeller/pkg/controller/nodes/output_resolver.go
Owners: @unionai/exo

flytectl support for offloaded literal
  flyteidl/clients/go/coreutils/extract_literal.go
  flyteidl/clients/go/coreutils/extract_literal_test.go
  flyteidl/clients/go/coreutils/literals.go
Owners: @unionai/cloud-eng

Address PR comments
  flytepropeller/pkg/controller/finalizer.go
Owners: @unionai/exo

Added back isDeletd to cover this case too, backwards
  flytepropeller/pkg/controller/handler.go
Owners: @unionai/exo

Fix lint
  flytepropeller/pkg/controller/finalizer.go
Owners: @unionai/exo

Remove debug statements
  .github/workflows/single-binary.yml
Owners: @unionai/cloud-eng

Add pandas to single-binary tests
  .github/workflows/single-binary.yml
Owners: @unionai/cloud-eng

Fix propeller crash when inferring literal type for an offloaded literal (#5771)
  flyte-single-binary-local.yaml
  flyteadmin/pkg/manager/impl/validation/execution_validator.go
  flyteidl/clients/go/coreutils/extract_literal.go
  flyteidl/clients/go/coreutils/extract_literal_test.go
  flyteidl/clients/go/coreutils/literals.go
  flytepropeller/pkg/compiler/transformers/k8s/inputs.go
  flytepropeller/pkg/compiler/validators/utils.go
  flytepropeller/pkg/compiler/validators/utils_test.go
  flytepropeller/pkg/controller/nodes/array/handler.go
  flytepropeller/pkg/controller/nodes/attr_path_resolver.go
  flytepropeller/pkg/controller/nodes/attr_path_resolver_test.go
  flytepropeller/pkg/controller/nodes/catalog/datacatalog/datacatalog.go
  flytepropeller/pkg/controller/nodes/common/utils.go
  flytepropeller/pkg/controller/nodes/common/utils_test.go
  flytepropeller/pkg/controller/nodes/output_resolver.go
Owners: @unionai/cloud-eng, @unionai/exo

Put flytekit_version back
  .github/workflows/single-binary.yml
Owners: @unionai/cloud-eng

Update changelog
  CHANGELOG/CHANGELOG-v1.13.2.md
Owners: @unionai/cloud-eng

[Temporary fix] Pin flytekit version for single binary builds (#5798) (#507)
  .github/workflows/build-and-test-single-binary-image.yml
Owners: @unionai/cloud-eng

Fix typo in changelog
  CHANGELOG/CHANGELOG-v1.13.2.md
Owners: @unionai/cloud-eng

v1.13.2 - Update Flyte components (#5791)
  .github/workflows/single-binary.yml
  CHANGELOG/CHANGELOG-v1.13.2.md
  charts/flyte-binary/README.md
  charts/flyte-binary/values.yaml
  charts/flyte-core/README.md
  charts/flyte-core/values.yaml
  charts/flyte/README.md
  charts/flyte/values.yaml
  charts/flyteagent/README.md
  charts/flyteagent/values.yaml
  deployment/agent/flyte_agent_helm_generated.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_dataplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_dataplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox-binary/flyte_sandbox_binary_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  docs/conf.py
  docs/deployment/configuration/generated/flyteadmin_config.rst
  docs/deployment/configuration/generated/flytepropeller_config.rst
  docs/deployment/configuration/generated/scheduler_config.rst
Owners: @unionai/cloud-eng, @neverett, @ppiegaze

Publish flyte-binary-v1.13.2.tgz flyte-core-v1.13.2.tgz flyte-deps-v1.13.2.tgz flyte-sandbox-0.1.0.tgz flyte-v1.13.2.tgz flyteagent-v1.13.2.tgz
  flyte-binary-v1.13.2.tgz
  flyte-core-v1.13.2.tgz
  flyte-deps-v1.13.2.tgz
  flyte-sandbox-0.1.0.tgz
  flyte-v1.13.2.tgz
  flyteagent-v1.13.2.tgz
  index.yaml
Owners: @unionai/cloud-eng

fix typos
  docs/community/contribute_docs.md
  docs/index.md
Owners: @neverett, @ppiegaze

Fix propeller crash when inferring literal type for an offloaded literal (#489)
  .github/workflows/build-and-test-single-binary-image.yml
  flyte-single-binary-local.yaml
  flyteadmin/pkg/manager/impl/validation/execution_validator.go
  flyteidl/clients/go/coreutils/extract_literal.go
  flyteidl/clients/go/coreutils/extract_literal_test.go
  flyteidl/clients/go/coreutils/literals.go
  flytepropeller/pkg/compiler/transformers/k8s/inputs.go
  flytepropeller/pkg/compiler/validators/utils.go
  flytepropeller/pkg/compiler/validators/utils_test.go
  flytepropeller/pkg/controller/nodes/array/handler.go
  flytepropeller/pkg/controller/nodes/attr_path_resolver.go
  flytepropeller/pkg/controller/nodes/attr_path_resolver_test.go
  flytepropeller/pkg/controller/nodes/catalog/datacatalog/datacatalog.go
  flytepropeller/pkg/controller/nodes/common/utils.go
  flytepropeller/pkg/controller/nodes/common/utils_test.go
  flytepropeller/pkg/controller/nodes/output_resolver.go
Owners: @unionai/cloud-eng, @unionai/exo

Update rfc
  rfc/system/4358-tuple-idl.md
Owners: @unionai/cloud-eng

Add metrics when Serverless users exceed their account limits (#504)
  flyteadmin/pkg/manager/impl/execution_manager.go
  flyteadmin/pkg/manager/impl/execution_manager_test.go
  flyteadmin/pkg/manager/impl/launch_plan_manager.go
Owners: @unionai/cloud-eng

Add additional headers from createuploadlocationresponse (#509)
  flytectl/cmd/register/register_util.go
Owners: @unionai/cloud-eng

add docsearch index name and app id
  docs/conf.py
Owners: @neverett, @ppiegaze

Update ordering of additional headers (#510)
  flytectl/cmd/register/register_util.go
Owners: @unionai/cloud-eng

update gitignore and unneeded conf
  .gitignore
  docs/conf.py
  flyteidl/protos/docs/contributing.md
Owners: @unionai/cloud-eng, @neverett, @ppiegaze

add ref to docs contributing doc and move all docsearch stuff to env vars again
  docs/community/contribute_docs.md
  docs/conf.py
Owners: @neverett, @ppiegaze

add mock DOCSEARCH_API_KEY to docs test ci
  .github/workflows/tests.yml
  docs/conf.py
Owners: @unionai/cloud-eng, @neverett, @ppiegaze

add css styling
  docs/_static/custom.css
  docs/_static/custom.js
  docs/_templates/layout.html
  docs/api/index.md
  docs/conf.py
  docs/index.md
  docs/user_guide/index.md
Owners: @neverett, @ppiegaze

update logo height
  docs/_static/custom.css
Owners: @neverett, @ppiegaze

add css styling (#5803)
  docs/_static/custom.css
  docs/_static/custom.js
  docs/_templates/layout.html
  docs/api/index.md
  docs/conf.py
  docs/index.md
  docs/user_guide/index.md
Owners: @neverett, @ppiegaze

docs overhaul: render flyteidl under the /api/ path (#5802)
  .github/workflows/tests.yml
  .gitignore
  docs/_static/custom.css
  docs/_static/custom.js
  docs/_templates/layout.html
  docs/api/index.md
  docs/community/contribute_docs.md
  docs/conf.py
  docs/index.md
  docs/reference_flyteidl.md
  docs/user_guide/index.md
  flyteidl/README.md
  flyteidl/protos/docs/contributing.md
  flyteidl/protos/docs_index.rst
Owners: @unionai/cloud-eng, @neverett, @ppiegaze

use same icon as union docs
  docs/api/index.md
Owners: @neverett, @ppiegaze

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo
