Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo

update lock file (#5416)
  monodocs-environment.lock.yaml
  monodocs-environment.yaml
Owners: @unionai/cloud-eng

[monorepo] Fix flytectl install script (#5405)
  .github/workflows/flytectl-install.yml
  flytectl/install.sh
Owners: @unionai/cloud-eng

Install upstream mockery in boilerplate
  boilerplate/flyte/golang_test_targets/download_tooling.sh
Owners: @unionai/cloud-eng

Add example in flyteadmin
  flyteadmin/scheduler/executor/executor.go
  flyteadmin/scheduler/executor/mocks/executor.go
Owners: @unionai/cloud-eng

Rename to mockery-v2
  boilerplate/flyte/golang_test_targets/download_tooling.sh
Owners: @unionai/cloud-eng

Fix after rebase
  flyteplugins/go/tasks/plugins/k8s/ray/ray.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
Owners: @unionai/exo

Move WorkflowExecutor to mockery-v2
  flyteadmin/pkg/workflowengine/interfaces/executor.go
  flyteadmin/pkg/workflowengine/mocks/workflow_executor.go
Owners: @unionai/cloud-eng

Fix flyteidl go.mod
  flyteidl/go.mod
Owners: @unionai/cloud-eng

Revert "Move WorkflowExecutor to mockery-v2"
  flyteadmin/pkg/workflowengine/interfaces/executor.go
  flyteadmin/pkg/workflowengine/mocks/workflow_executor.go
Owners: @unionai/cloud-eng

Revert changes to executor
  flyteadmin/scheduler/executor/executor.go
  flyteadmin/scheduler/executor/mocks/executor.go
Owners: @unionai/cloud-eng

Fix mpi test
  flyteplugins/go/tasks/plugins/k8s/kfoperators/mpi/mpi_test.go
Owners: @unionai/exo

Modify SignalInterface to use mockery-v2
  flyteadmin/pkg/manager/interfaces/signal.go
  flyteadmin/pkg/manager/mocks/signal_interface.go
  flyteadmin/pkg/rpc/signal_service_test.go
Owners: @unionai/cloud-eng

Fix typos
  .codespellrc
  .github/codespell-ignored-words
  .github/workflows/codespell.yml
  docs/deployment/configuration/generated/datacatalog_config.rst
  docs/deployment/configuration/generated/flyteadmin_config.rst
  docs/deployment/configuration/generated/flytepropeller_config.rst
  docs/deployment/configuration/generated/scheduler_config.rst
  flyteadmin/scheduler/doc.go
  flyteadmin/scheduler/snapshoter/doc.go
  flytectl/cmd/compile/compile_test.go
  flytectl/proposal/README.md
  flyteidl/clients/go/assets/admin.swagger.json
  flytestdlib/otelutils/config.go
  flytestdlib/otelutils/config_flags.go
Owners: @unionai/cloud-eng, @neverett, @ppiegaze

Fix unification of codespell file
  .github/codespell-ignored-words
  .github/workflows/codespell.yml
  Makefile
Owners: @unionai/cloud-eng

Use a different git command to match the flyteidl tags
  flyteidl/pyproject.toml
Owners: @unionai/cloud-eng

Alphabetize list of ignored words
  .github/codespell-ignored-words
Owners: @unionai/cloud-eng

Support non-any type as any input in workflow
  flytepropeller/pkg/compiler/validators/typing.go
Owners: @unionai/exo

Add tests
  flytepropeller/pkg/compiler/validators/typing_test.go
Owners: @unionai/exo

update pingsu's advice, no any to int
  flytepropeller/pkg/compiler/validators/typing.go
  flytepropeller/pkg/compiler/validators/typing_test.go
Owners: @unionai/exo

Move to upstream mockery (#4937)
  boilerplate/flyte/golang_support_tools/go.mod
  boilerplate/flyte/golang_support_tools/go.sum
  boilerplate/flyte/golang_support_tools/tools.go
  boilerplate/flyte/golang_test_targets/download_tooling.sh
  flyteadmin/pkg/manager/interfaces/signal.go
  flyteadmin/pkg/manager/mocks/signal_interface.go
  flyteadmin/pkg/rpc/signal_service_test.go
Owners: @unionai/cloud-eng

Add tests to ensure the phase version is bumped in kubeflow plugin if reason changes within the same phase
  flyteplugins/go/tasks/plugins/k8s/kfoperators/mpi/mpi_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/pytorch/pytorch_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/tensorflow/tensorflow_test.go
Owners: @unionai/exo

Test that ray and dask plugins bump phase version in GetTaskPhase
  flyteplugins/go/tasks/plugins/k8s/dask/dask_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray_test.go
Owners: @unionai/exo

Test phase version increase when reason changes for spark plugin
  flyteplugins/go/tasks/plugins/k8s/spark/spark_test.go
Owners: @unionai/exo

Use a different git command to match the flyteidl tags (#5419)
  flyteidl/pyproject.toml
Owners: @unionai/cloud-eng

fasttask plugin unit tests (#288)
  fasttask/plugin/builder_test.go
  fasttask/plugin/go.mod
  fasttask/plugin/mocks/fast_task__heartbeat_client.go
  fasttask/plugin/mocks/fast_task__heartbeat_server.go
  fasttask/plugin/mocks/fast_task_client.go
  fasttask/plugin/mocks/fast_task_server.go
  fasttask/plugin/mocks/fast_task_service.go
  fasttask/plugin/mocks/is_fast_task_environment_spec__termination_criteria.go
  fasttask/plugin/mocks/unsafe_fast_task_server.go
  fasttask/plugin/plugin.go
  fasttask/plugin/plugin_test.go
  fasttask/plugin/service.go
  fasttask/plugin/service_test.go
Owners: @unionai/exo

Better phase reporting (#296)
  fasttask/plugin/plugin.go
  fasttask/plugin/plugin_test.go
Owners: @unionai/exo

Fix ray tests after rebase
  flyteplugins/go/tasks/plugins/k8s/ray/ray_test.go
Owners: @unionai/exo

Fix typos using codespell CI job (#5418)
  .codespellrc
  .github/codespell-ignored-words
  .github/workflows/codespell.yml
  Makefile
  docs/deployment/configuration/generated/datacatalog_config.rst
  docs/deployment/configuration/generated/flyteadmin_config.rst
  docs/deployment/configuration/generated/flytepropeller_config.rst
  docs/deployment/configuration/generated/scheduler_config.rst
  flyteadmin/scheduler/doc.go
  flyteadmin/scheduler/snapshoter/doc.go
  flytectl/cmd/compile/compile_test.go
  flytectl/proposal/README.md
  flyteidl/clients/go/assets/admin.swagger.json
  flytestdlib/otelutils/config.go
  flytestdlib/otelutils/config_flags.go
Owners: @unionai/cloud-eng, @neverett, @ppiegaze

Make lint pass
  flyteplugins/go/tasks/plugins/k8s/kfoperators/pytorch/pytorch_test.go
Owners: @unionai/exo

Revert "Revert "Ensure token is refreshed on Unauthenticated (#239)" … (#294)
  cacheservice/go.mod
  cacheservice/go.sum
  datacatalog/go.mod
  datacatalog/go.sum
  fasttask/plugin/go.mod
  fasttask/plugin/go.sum
  fasttask/plugin/service.go
  flyteadmin/go.mod
  flyteadmin/go.sum
  flytecopilot/go.mod
  flytecopilot/go.sum
  flyteidl/clients/go/admin/auth_interceptor.go
  flyteidl/clients/go/admin/auth_interceptor_test.go
  flyteidl/clients/go/admin/cache/mocks/token_cache.go
  flyteidl/clients/go/admin/cache/token_cache.go
  flyteidl/clients/go/admin/cache/token_cache_inmemory.go
  flyteidl/clients/go/admin/client_builder.go
  flyteidl/clients/go/admin/client_builder_test.go
  flyteidl/clients/go/admin/client_test.go
  flyteidl/clients/go/admin/deviceflow/token_orchestrator_test.go
  flyteidl/clients/go/admin/pkce/auth_flow_orchestrator_test.go
  flyteidl/clients/go/admin/token_source_provider.go
  flyteidl/clients/go/admin/token_source_provider_test.go
  flyteidl/clients/go/admin/tokenorchestrator/base_token_orchestrator.go
  flyteidl/clients/go/admin/tokenorchestrator/base_token_orchestrator_test.go
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/go.mod
  flyteidl/go.sum
  flyteplugins/go.mod
  flyteplugins/go.sum
  flytepropeller/go.mod
  flytepropeller/go.sum
  flytestdlib/go.mod
  flytestdlib/go.sum
  flytestdlib/storage/stow_store.go
  flytestdlib/storage/stow_store_test.go
  go.mod
  go.sum
Owners: @unionai/cloud-eng, @unionai/exo

update processing grace period to 5 sync periods
  flytestdlib/cache/auto_refresh.go
Owners: @unionai/cloud-eng

[BUG] Handle auto refresh cache race condition (#5406)
  flytestdlib/cache/auto_refresh.go
  flytestdlib/cache/auto_refresh_test.go
Owners: @unionai/cloud-eng

Bump github.com/docker/docker in /flytectl (#5363)
  flytectl/go.mod
  flytectl/go.sum
  flytectl/pkg/docker/docker.go
  flytectl/pkg/docker/docker_util.go
  flytectl/pkg/docker/docker_util_test.go
  flytectl/pkg/docker/mocks/docker.go
  flytectl/pkg/sandbox/start_test.go
Owners: @unionai/cloud-eng

Fix flytectl demo start (#5370)
  flytectl/pkg/github/githubutil.go
  flytectl/pkg/github/githubutil_test.go
Owners: @unionai/cloud-eng

[monorepo] Move flytectl gh workflows to monorepo (#5354)
  .github/workflows/checks.yml
  flytectl/.goreleaser.yml
Owners: @unionai/cloud-eng

Stop logging auth metadata (#297)
  flyteadmin/auth/handlers.go
Owners: @unionai/cloud-eng

Fix mounting secrets (#5063)
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Owners: @unionai/cloud-eng

Fix typos using codespell CI job (#5418)
  .codespellrc
  .github/codespell-ignored-words
  .github/workflows/codespell.yml
  Makefile
  docs/deployment/configuration/generated/datacatalog_config.rst
  docs/deployment/configuration/generated/flyteadmin_config.rst
  docs/deployment/configuration/generated/flytepropeller_config.rst
  docs/deployment/configuration/generated/scheduler_config.rst
  flyteadmin/scheduler/doc.go
  flyteadmin/scheduler/snapshoter/doc.go
  flytectl/cmd/compile/compile_test.go
  flytectl/proposal/README.md
  flyteidl/clients/go/admin/cache/token_cache_inmemory.go
  flytestdlib/otelutils/config.go
  flytestdlib/otelutils/config_flags.go
Owners: @unionai/cloud-eng, @neverett, @ppiegaze

feat(proto): Define CommonReplicaSpec in common.proto
  flyteidl/protos/flyteidl/plugins/common.proto
  flyteidl/protos/flyteidl/plugins/kubeflow/common.proto
  flyteidl/protos/flyteidl/plugins/kubeflow/mpi.proto
  flyteidl/protos/flyteidl/plugins/kubeflow/pytorch.proto
  flyteidl/protos/flyteidl/plugins/kubeflow/tensorflow.proto
Owners: @unionai/cloud-eng

chore(proto): Generate new clients corresponding to proto changes
  flyteidl/gen/pb-es/flyteidl/plugins/common_pb.ts
  flyteidl/gen/pb-es/flyteidl/plugins/kubeflow/common_pb.ts
  flyteidl/gen/pb-es/flyteidl/plugins/kubeflow/mpi_pb.ts
  flyteidl/gen/pb-es/flyteidl/plugins/kubeflow/pytorch_pb.ts
  flyteidl/gen/pb-es/flyteidl/plugins/kubeflow/tensorflow_pb.ts
  flyteidl/gen/pb-go/flyteidl/plugins/common.pb.go
  flyteidl/gen/pb-go/flyteidl/plugins/kubeflow/common.pb.go
  flyteidl/gen/pb-go/flyteidl/plugins/kubeflow/mpi.pb.go
  flyteidl/gen/pb-go/flyteidl/plugins/kubeflow/pytorch.pb.go
  flyteidl/gen/pb-go/flyteidl/plugins/kubeflow/tensorflow.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/plugins/common.swagger.json
  flyteidl/gen/pb_python/flyteidl/plugins/common_pb2.py
  flyteidl/gen/pb_python/flyteidl/plugins/common_pb2.pyi
  flyteidl/gen/pb_python/flyteidl/plugins/common_pb2_grpc.py
  flyteidl/gen/pb_python/flyteidl/plugins/kubeflow/common_pb2.py
  flyteidl/gen/pb_python/flyteidl/plugins/kubeflow/common_pb2.pyi
  flyteidl/gen/pb_python/flyteidl/plugins/kubeflow/mpi_pb2.py
  flyteidl/gen/pb_python/flyteidl/plugins/kubeflow/mpi_pb2.pyi
  flyteidl/gen/pb_python/flyteidl/plugins/kubeflow/pytorch_pb2.py
  flyteidl/gen/pb_python/flyteidl/plugins/kubeflow/pytorch_pb2.pyi
  flyteidl/gen/pb_python/flyteidl/plugins/kubeflow/tensorflow_pb2.py
  flyteidl/gen/pb_python/flyteidl/plugins/kubeflow/tensorflow_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.plugins.kubeflow.rs
  flyteidl/gen/pb_rust/flyteidl.plugins.rs
Owners: @unionai/cloud-eng
