Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo

Add FlyteDIrectory to file_types.rst template (#5564)
  docs/_templates/file_types.rst
Owners: @neverett, @ppiegaze

Fully populate Abort task event fields (#5551)
  flytepropeller/pkg/controller/nodes/task/handler.go
  flytepropeller/pkg/controller/nodes/task/handler_test.go
Owners: @unionai/exo

Fix issues with helm chart release process (#5560)
  script/prepare_artifacts.sh
Owners: @unionai/cloud-eng

Add blob typechecker (#5519)
  flytepropeller/pkg/compiler/validators/typing.go
  flytepropeller/pkg/compiler/validators/typing_test.go
Owners: @unionai/exo

reverted mockery-v2 on ExecutionContext (#5562)
  flytepropeller/pkg/controller/executors/execution_context.go
  flytepropeller/pkg/controller/executors/mocks/control_flow.go
  flytepropeller/pkg/controller/executors/mocks/execution_context.go
  flytepropeller/pkg/controller/executors/mocks/immutable_execution_context.go
  flytepropeller/pkg/controller/nodes/array/handler_test.go
  flytepropeller/pkg/controller/nodes/branch/handler_test.go
  flytepropeller/pkg/controller/nodes/cache_test.go
  flytepropeller/pkg/controller/nodes/dynamic/dynamic_workflow_test.go
  flytepropeller/pkg/controller/nodes/dynamic/handler_test.go
  flytepropeller/pkg/controller/nodes/executor_test.go
  flytepropeller/pkg/controller/nodes/gate/handler_test.go
  flytepropeller/pkg/controller/nodes/subworkflow/handler_test.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan_test.go
  flytepropeller/pkg/controller/nodes/subworkflow/subworkflow_test.go
  flytepropeller/pkg/controller/nodes/task/handler_test.go
  flytepropeller/pkg/controller/nodes/task/taskexec_context_test.go
  flytepropeller/pkg/controller/nodes/task/transformer_test.go
Owners: @unionai/exo

Fix typos (#5571)
  docs/concepts/architecture.rst
  docs/deployment/configuration/monitoring.rst
  flytectl/docs/source/gen/flytectl_update_project.rst
Owners: @neverett, @ppiegaze, @unionai/cloud-eng

[Housekeeping] Bump Go version to 1.22 (#5032)
  .github/workflows/checks.yml
  .github/workflows/flyteidl-checks.yml
  .github/workflows/generate_flyte_manifest.yml
  .github/workflows/go_generate.yml
  .github/workflows/integration.yml
  .github/workflows/lint.yml
  .github/workflows/single-binary.yml
  .github/workflows/tests.yml
  .github/workflows/unit-tests.yml
  Dockerfile
  Dockerfile.datacatalog
  Dockerfile.flyteadmin
  Dockerfile.flytecopilot
  Dockerfile.flytepropeller
  Dockerfile.flytescheduler
  boilerplate/flyte/golang_support_tools/go.mod
  datacatalog/go.mod
  docker/sandbox-bundled/Dockerfile
  docker/sandbox-bundled/bootstrap/go.mod
  flyteadmin/go.mod
  flytecopilot/go.mod
  flytectl/go.mod
  flyteidl/go.mod
  flyteplugins/go.mod
  flytepropeller/go.mod
  flytestdlib/go.mod
  go.mod
Owners: @unionai/cloud-eng, @unionai/exo

Refactor echo plugin (#5565)
  flyteplugins/go/tasks/plugins/testing/echo.go
Owners: @unionai/exo

[Bug] fix ArrayNode state's TaskPhase reset (#5451)
  flytepropeller/pkg/controller/nodes/array/handler.go
Owners: @unionai/exo

Cleanup helm chart options for flytepropeller and prometheus (#5549)
  charts/flyte-core/README.md
  charts/flyte-core/templates/propeller/deployment.yaml
  charts/flyte-core/templates/propeller/service.yaml
  charts/flyte-core/templates/propeller/webhook.yaml
  charts/flyte-core/values.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Owners: @unionai/cloud-eng

Run make helm (#5587)
  deployment/sandbox-binary/flyte_sandbox_binary_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Owners: @unionai/cloud-eng

Update GPU docs (#5515)
  docs/user_guide/productionizing/configuring_access_to_gpus.md
Owners: @neverett, @ppiegaze

Respect original task definition retry strategy for single task executions (#5577)
  flyteadmin/pkg/manager/impl/util/single_task_execution.go
  flyteadmin/pkg/manager/impl/util/single_task_execution_test.go
Owners: @unionai/cloud-eng

Fix spelling issues (#5580)
  CHANGELOG/CHANGELOG-v0.14.0.md
  CHANGELOG/CHANGELOG-v0.17.0.md
  CHANGELOG/CHANGELOG-v0.19.4.md
  CHANGELOG/CHANGELOG-v1.0.0.md
Owners: @unionai/cloud-eng

Clarify the support for the Java/Scala SDK in the docs (#5582)
  docs/index.md
Owners: @neverett, @ppiegaze

Update clusterrole.yaml (#5579)
  charts/flyte-binary/templates/clusterrole.yaml
Owners: @unionai/cloud-eng

Simplify single task retry strategy check (#5584)
  flyteadmin/pkg/manager/impl/util/single_task_execution.go
Owners: @unionai/cloud-eng

add execution mode to ArrayNode proto (#5512)
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/core/workflow_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/workflow.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/workflow_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/workflow_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/workflow.proto
Owners: @unionai/cloud-eng

Update azblob 1.1.0 -> 1.4.0 / azcore 1.7.2 -> 1.13.0 (#5590)
  boilerplate/flyte/golang_support_tools/go.mod
  boilerplate/flyte/golang_support_tools/go.sum
  datacatalog/go.mod
  datacatalog/go.sum
  flyteadmin/go.mod
  flyteadmin/go.sum
  flytecopilot/go.mod
  flytecopilot/go.sum
  flytectl/go.mod
  flytectl/go.sum
  flyteidl/go.mod
  flyteidl/go.sum
  flyteplugins/go.mod
  flyteplugins/go.sum
  flytepropeller/go.mod
  flytepropeller/go.sum
  flytestdlib/go.mod
  flytestdlib/go.sum
  go.mod
  go.sum
Owners: @unionai/cloud-eng, @unionai/exo

Fix incorrect YAML for unp GPU (#5595)
  docs/user_guide/productionizing/configuring_access_to_gpus.md
Owners: @neverett, @ppiegaze

Another YAML fix (#5596)
  docs/user_guide/productionizing/configuring_access_to_gpus.md
Owners: @neverett, @ppiegaze

Support offloading workflow CRD inputs (#5609)
  flyteadmin/pkg/manager/impl/execution_manager.go
  flyteadmin/pkg/runtime/interfaces/application_configuration.go
  flyteadmin/pkg/workflowengine/impl/k8s_executor.go
  flyteadmin/pkg/workflowengine/impl/k8s_executor_test.go
  flyteadmin/pkg/workflowengine/interfaces/executor.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/workflow.go
  flytepropeller/pkg/controller/workflow/executor.go
Owners: @unionai/cloud-eng, @unionai/exo

DOC-431 Document pyflyte option --overwrite-cache (#5567)
  docs/conf.py
  docs/user_guide/development_lifecycle/caching.md
Owners: @neverett, @ppiegaze

Upgrade docker dependency to address vulnerability (#5614)
  flytectl/cmd/demo/exec_test.go
  flytectl/cmd/demo/reload_test.go
  flytectl/cmd/demo/status_test.go
  flytectl/cmd/demo/teardown_test.go
  flytectl/cmd/sandbox/exec_test.go
  flytectl/cmd/sandbox/status_test.go
  flytectl/cmd/sandbox/teardown_test.go
  flytectl/go.mod
  flytectl/go.sum
  flytectl/pkg/docker/docker.go
  flytectl/pkg/docker/docker_util.go
  flytectl/pkg/docker/docker_util_test.go
  flytectl/pkg/docker/mocks/docker.go
  flytectl/pkg/sandbox/start_test.go
  flytectl/pkg/sandbox/status_test.go
  flytectl/pkg/sandbox/teardown.go
  flytectl/pkg/sandbox/teardown_test.go
Owners: @unionai/cloud-eng

Fix nil pointer when task plugin load returns error (#5622)
  flytepropeller/pkg/controller/nodes/task/handler.go
  flytepropeller/pkg/controller/nodes/task/handler_test.go
Owners: @unionai/exo

Log stack trace when refresh cache sync recovers from panic (#5623)
  flytestdlib/cache/auto_refresh.go
  flytestdlib/cache/auto_refresh_test.go
Owners: @unionai/cloud-eng

Explain how Agent Secret Works (#5625)
  docs/flyte_agents/how_secret_works_in_agent.md
  docs/flyte_agents/index.md
Owners: @neverett, @ppiegaze

use private-key (#5626)
  docs/deployment/agents/snowflake.rst
Owners: @neverett, @ppiegaze

Snowflake agent Doc (#5620)
  docs/deployment/agents/index.md
  docs/deployment/agents/snowflake.rst
Owners: @neverett, @ppiegaze

[flytepropeller][compiler] Error Handling when Type is not found (#5612)
  flyteadmin/pkg/manager/impl/validation/launch_plan_validator_test.go
  flyteadmin/pkg/manager/impl/validation/validation.go
  flyteadmin/pkg/manager/impl/validation/validation_test.go
Owners: @unionai/cloud-eng

[flyteadmin] Refactor panic recovery into middleware (#5546)
  flyteadmin/pkg/rpc/adminservice/attributes.go
  flyteadmin/pkg/rpc/adminservice/base.go
  flyteadmin/pkg/rpc/adminservice/base_test.go
  flyteadmin/pkg/rpc/adminservice/description_entity.go
  flyteadmin/pkg/rpc/adminservice/execution.go
  flyteadmin/pkg/rpc/adminservice/launch_plan.go
  flyteadmin/pkg/rpc/adminservice/metrics.go
  flyteadmin/pkg/rpc/adminservice/middleware/recovery_interceptor.go
  flyteadmin/pkg/rpc/adminservice/middleware/recovery_interceptor_test.go
  flyteadmin/pkg/rpc/adminservice/named_entity.go
  flyteadmin/pkg/rpc/adminservice/node_execution.go
  flyteadmin/pkg/rpc/adminservice/project.go
  flyteadmin/pkg/rpc/adminservice/task.go
  flyteadmin/pkg/rpc/adminservice/task_execution.go
  flyteadmin/pkg/rpc/adminservice/version.go
  flyteadmin/pkg/rpc/adminservice/workflow.go
  flyteadmin/pkg/server/service.go
Owners: @unionai/cloud-eng

document the process of setting ttl for a ray cluster (#5636)
  docs/deployment/plugins/k8s/index.rst
Owners: @neverett, @ppiegaze

Use enable_deck=True in docs (#5645)
  docs/core_use_cases/analytics.md
  docs/core_use_cases/machine_learning.md
  docs/flyte_fundamentals/visualizing_task_input_and_output.md
Owners: @neverett, @ppiegaze

Amend Admin to use grpc message size (#5628)
  .github/actions/clear-action-cache/action.yml
  .github/workflows/tests.yml
  flyteadmin/pkg/server/service.go
Owners: @unionai/cloud-eng

docs: fix typo (#5643)
  CHANGELOG/CHANGELOG-v0.2.0.md
  CHANGELOG/CHANGELOG-v1.0.2-b1.md
  CHANGELOG/CHANGELOG-v1.1.0.md
  CHANGELOG/CHANGELOG-v1.3.0.md
Owners: @unionai/cloud-eng

Turn flyteidl and flytectl releases into manual gh workflows (#5635)
  .github/workflows/create_release.yml
  .github/workflows/flytectl-release.yml
  .github/workflows/flyteidl-release.yml
  flytectl/RELEASE.md
  flyteidl/RELEASE.md
Owners: @unionai/cloud-eng

Add CustomHeaderMatcher to pass additional headers (#5563)
  flyteadmin/auth/handlers.go
  flyteadmin/pkg/server/service.go
  flyteadmin/plugins/registry.go
Owners: @unionai/cloud-eng

Fix typo in execution manager (#5619)
  flyteadmin/pkg/manager/impl/execution_manager.go
Owners: @unionai/cloud-eng

Fix ordering for custom template values in cluster resource controller (#5648)
  flyteadmin/pkg/clusterresource/controller.go
  flyteadmin/pkg/clusterresource/controller_test.go
  flyteadmin/pkg/clusterresource/testdata/imagepullsecrets_templatized.yaml
Owners: @unionai/cloud-eng

docs: add documentation for configuring notifications in GCP (#5545)
  docs/deployment/configuration/notifications.rst
Owners: @neverett, @ppiegaze
