Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

docs(kubeflow): Fix kubeflow webhook error
  docs/deployment/plugins/k8s/index.rst
Owners: @neverett, @ppiegaze

Allow showing specific logs already during queued phase
  flyteplugins/go/tasks/pluginmachinery/core/phase.go
Owners: @unionai/exo

Add ShowWhilePending arg to TaskLog flyteidl message
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-cpp/flyteidl/core/execution.pb.cc
  flyteidl/gen/pb-cpp/flyteidl/core/execution.pb.h
  flyteidl/gen/pb-go/flyteidl/core/execution.pb.go
  flyteidl/gen/pb-go/flyteidl/service/flyteadmin/model_core_task_log.go
  flyteidl/gen/pb-go/flyteidl/service/openapi.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/external_plugin_service.swagger.json
  flyteidl/gen/pb-java/flyteidl/core/Execution.java
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/execution_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/execution_pb2.pyi
  flyteidl/gen/pb_python/flyteidl/service/flyteadmin/flyteadmin/models/core_task_log.py
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/execution.proto
Owners: @unionai/cloud-eng

Fix nil containerId in pending phase
  flyteplugins/go/tasks/logs/logging_utils.go
Owners: @unionai/exo

Use core.PhaseInfoQueuedWithTaskInfo instead of core.PhaseInfoQueued in plugins so log links are available
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper.go
  flyteplugins/go/tasks/pluginmachinery/tasklog/plugin.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/common/common_operator.go
  flyteplugins/go/tasks/plugins/k8s/pod/plugin.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray.go
  flyteplugins/go/tasks/plugins/k8s/spark/spark.go
  flyteplugins/go/tasks/plugins/webapi/bigquery/plugin.go
Owners: @unionai/exo

Bump phase version in pytorch plugin
  flyteplugins/go/tasks/plugins/k8s/kfoperators/pytorch/pytorch.go
Owners: @unionai/exo

Undo changes from rebase in ray.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray.go
Owners: @unionai/exo

Fix after rebasing
  flyteplugins/go/tasks/logs/logging_utils.go
  flyteplugins/go/tasks/pluginmachinery/tasklog/template.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
Owners: @unionai/exo

Hide certain logs once finished
  flyteplugins/go/tasks/pluginmachinery/core/phase.go
  flyteplugins/go/tasks/pluginmachinery/tasklog/plugin.go
  flyteplugins/go/tasks/pluginmachinery/tasklog/template.go
Owners: @unionai/exo

Move helper function which bumps phase version to k8s plugin package
  flyteplugins/go/tasks/pluginmachinery/k8s/plugin.go
  flyteplugins/go/tasks/plugins/k8s/pod/plugin.go
Owners: @unionai/exo

Move log link filtering (by phase) from propeller to admin
  flyteadmin/pkg/repositories/transformers/task_execution.go
  flyteplugins/go/tasks/pluginmachinery/core/phase.go
Owners: @unionai/cloud-eng, @unionai/exo

Consistently bump phase version when reason changes in pod, pytorch, tensorflow, and mpi plugins
  flyteplugins/go/tasks/plugins/k8s/kfoperators/mpi/mpi.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/pytorch/pytorch.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/tensorflow/tensorflow.go
Owners: @unionai/exo

Make controlling lifetime of log links work with dask plugin
  flyteadmin/pkg/repositories/transformers/task_execution.go
  flyteplugins/go/tasks/plugins/k8s/dask/dask.go
Owners: @unionai/cloud-eng, @unionai/exo

Add HideOnceFinished option to TaskLog proto message
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/core/execution_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/execution.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/execution_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/execution_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/execution.proto
Owners: @unionai/cloud-eng

Move bumping of plugin state phase version into function
  flyteplugins/go/tasks/plugins/k8s/pod/plugin.go
Owners: @unionai/exo

Regenerate protos
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-cpp/flyteidl/core/execution.pb.cc
  flyteidl/gen/pb-cpp/flyteidl/core/execution.pb.h
  flyteidl/gen/pb-es/flyteidl/core/execution_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/execution.pb.go
  flyteidl/gen/pb-go/flyteidl/service/flyteadmin/model_core_task_log.go
  flyteidl/gen/pb-go/flyteidl/service/openapi.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/external_plugin_service.swagger.json
  flyteidl/gen/pb-java/flyteidl/core/Execution.java
  flyteidl/gen/pb_python/flyteidl/service/flyteadmin/flyteadmin/models/core_task_log.py
  flyteidl/go.mod
  flyteidl/go.sum
Owners: @unionai/cloud-eng

Make controlling lifetime of log links work with spark plugin
  flyteplugins/go/tasks/plugins/k8s/spark/spark.go
Owners: @unionai/exo

Make pluginmachinery/flytek8s tests pass
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper_test.go
Owners: @unionai/exo

Add tests for filtering log links when updating task execution
  flyteadmin/pkg/repositories/transformers/task_execution.go
  flyteadmin/pkg/repositories/transformers/task_execution_test.go
Owners: @unionai/cloud-eng

Fix dask, pytorch, tensorflow, and mpi tests
  flyteplugins/go/tasks/plugins/k8s/dask/dask_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/pytorch/pytorch_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/tensorflow/tensorflow_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray_test.go
Owners: @unionai/exo

Adapt docstring explaining why we treat queued and init phase the same while filtering log links
  flyteadmin/pkg/repositories/transformers/task_execution.go
Owners: @unionai/cloud-eng

Remove now obsolete logic to check whether dask job is queued
  flyteplugins/go/tasks/plugins/k8s/dask/dask.go
Owners: @unionai/exo

Make propeller tests pass
  flytepropeller/pkg/controller/nodes/task/k8s/plugin_manager_test.go
Owners: @unionai/exo

Make log link filtering by phase work for map tasks
  flyteadmin/pkg/repositories/transformers/task_execution.go
Owners: @unionai/cloud-eng

Fix spark tests
  flyteplugins/go/tasks/plugins/k8s/spark/spark_test.go
Owners: @unionai/exo

Don't return pluginsCore.PhaseInfoUndefined but already known phaseInfo if we fail to update the phase version
  flyteplugins/go/tasks/plugins/k8s/dask/dask.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/mpi/mpi.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/pytorch/pytorch.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/tensorflow/tensorflow.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray.go
  flyteplugins/go/tasks/plugins/k8s/spark/spark.go
Owners: @unionai/exo

Make controlling lifetime of log links work with ray plugin
  flyteplugins/go/tasks/plugins/k8s/ray/ray.go
Owners: @unionai/exo

Show All user logs while queueing phase as before
  flyteplugins/go/tasks/plugins/k8s/spark/spark.go
Owners: @unionai/exo

Add supported task types to agent service config and rename
  charts/flyte-core/README.md
  charts/flyte-core/values.yaml
Owners: @unionai/cloud-eng

Update flyte propeller config example to actually work with custom agents/tasks
  docs/flyte_agents/developing_agents.md
Owners: @neverett, @ppiegaze

update flytekit version to 1.12.1b2 in monodocs requirements
  monodocs-environment.yaml
Owners: @unionai/cloud-eng

Replace Azure AD OIDC URL with correct one (#4075)
  docs/deployment/configuration/auth_setup.rst
Owners: @neverett, @ppiegaze

Update the example Dockerfile to run on k8s
  docs/flyte_agents/developing_agents.md
Owners: @neverett, @ppiegaze

Improve agent plugin documentation with running examples and additional notes
  docs/flyte_agents/developing_agents.md
  docs/flyte_agents/testing_agents_in_a_local_python_environment.md
Owners: @neverett, @ppiegaze

Add CI check to test if flytectl can be installed
  .github/workflows/flytectl-install.yml
Owners: @unionai/cloud-eng

Update the example Dockerfile to run on k8s (#5412)
  docs/flyte_agents/developing_agents.md
Owners: @neverett, @ppiegaze

docs(kubeflow): Fix kubeflow webhook error (#5410)
  docs/deployment/plugins/k8s/index.rst
Owners: @neverett, @ppiegaze

update flytekit version to 1.12.1b2 in monodocs requirements (#5411)
  monodocs-environment.yaml
Owners: @unionai/cloud-eng

Add supported task types to agent service config and rename (#5402)
  charts/flyte-core/README.md
  charts/flyte-core/values.yaml
Owners: @unionai/cloud-eng

update lock file
  monodocs-environment.lock.yaml
  monodocs-environment.yaml
Owners: @unionai/cloud-eng

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo
