Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo

lint
  flyteadmin/pkg/repositories/gormimpl/execution_repo.go
  flyteadmin/pkg/repositories/gormimpl/execution_repo_test.go
  flyteadmin/pkg/repositories/transformers/execution.go
Owners: @unionai/cloud-eng

lint
  flyteadmin/pkg/repositories/gormimpl/common.go
Owners: @unionai/cloud-eng

Remove Redundant code in Agent
  flyteplugins/go/tasks/plugins/webapi/agent/client.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
Owners: @unionai/exo

improve error messages
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
Owners: @unionai/exo

change to
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
Owners: @unionai/exo

rename DefaultPlugins to defaultPlugins
  flytepropeller/pkg/controller/nodes/task/handler.go
Owners: @unionai/exo

Fix Branch
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/branch.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/branch_test.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/zz_generated.deepcopy.go
Owners: @unionai/exo

Fix ExecutionError
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/error.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/error_test.go
Owners: @unionai/exo

Fix RawOutputDataConfig, ExecutionConfig, WorkflowExecutionIdentifier, and Inputs
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/branch_test.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/execution_config.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/execution_config_test.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/identifier.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/workflow.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/workflow_test.go
Owners: @unionai/exo

Override ArrayNode log links with map plugin (#310)
  flyteplugins/go/tasks/plugins/array/k8s/subtask_exec_context.go
  flyteplugins/go/tasks/plugins/array/k8s/subtask_exec_context_test.go
  flytepropeller/pkg/controller/config/config.go
  flytepropeller/pkg/controller/config/config_flags.go
  flytepropeller/pkg/controller/config/config_flags_test.go
  flytepropeller/pkg/controller/nodes/array/event_recorder.go
  flytepropeller/pkg/controller/nodes/array/event_recorder_test.go
  flytepropeller/pkg/controller/nodes/array/handler.go
  flytepropeller/pkg/controller/workflow/executor_test.go
Owners: @unionai/exo

Inherit execution cluster label from source execution
  flyteadmin/pkg/manager/impl/execution_manager.go
  flyteadmin/pkg/manager/impl/execution_manager_test.go
Owners: @unionai/cloud-eng

Configurable debian release for fasttask (#314)
  fasttask/worker/Dockerfile
Owners: @unionai/exo

include group in apiVersion in plugin_collector
  flytepropeller/pkg/controller/nodes/task/k8s/plugin_collector.go
Owners: @unionai/exo

address commet
  flyteadmin/pkg/repositories/config/migrations.go
  flyteadmin/pkg/repositories/models/execution.go
Owners: @unionai/cloud-eng

nit
  flyteadmin/pkg/repositories/models/execution.go
Owners: @unionai/cloud-eng

Make BaseURL insensitive to trailing slashes for metadata endpoint redirect.
  flyteadmin/auth/handlers.go
  flyteadmin/auth/handlers_test.go
Owners: @unionai/cloud-eng

Renew FlyteWorkflow autogenerated code
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/zz_generated.deepcopy.go
Owners: @unionai/exo

Add DeepCopyReferenceConstructor to ReferenceConstructor interface
  flytestdlib/storage/mocks/reference_constructor.go
  flytestdlib/storage/storage.go
  flytestdlib/storage/url_path.go
Owners: @unionai/cloud-eng

Add Tests to cover FlyteWorkflow - specifically SecurityContext
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/identifier.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/testdata/workflowspec.yaml
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/workflow.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/workflow_test.go
Owners: @unionai/exo

Use the SecurityContext and Error wrappers
  flyteadmin/pkg/workflowengine/impl/prepare_execution.go
  flytepropeller/pkg/compiler/transformers/k8s/node.go
Owners: @unionai/cloud-eng, @unionai/exo

Disable agent-service plugin in binary helm chart since service is disabled by default
  charts/flyte-binary/values.yaml
Owners: @unionai/cloud-eng

Update generated code
  Makefile
  charts/flyte-binary/README.md
  deployment/sandbox-binary/flyte_sandbox_binary_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete.yaml
Owners: @unionai/cloud-eng

Key-value execution tags (#5453)
  flyteadmin/pkg/common/entity.go
  flyteadmin/pkg/common/filters.go
  flyteadmin/pkg/manager/impl/execution_manager.go
  flyteadmin/pkg/manager/impl/util/filters.go
  flyteadmin/pkg/repositories/config/migrations.go
  flyteadmin/pkg/repositories/gormimpl/common.go
  flyteadmin/pkg/repositories/gormimpl/execution_repo.go
  flyteadmin/pkg/repositories/gormimpl/execution_repo_test.go
  flyteadmin/pkg/repositories/interfaces/execution_repo.go
  flyteadmin/pkg/repositories/mocks/execution_repo.go
  flyteadmin/pkg/repositories/models/execution.go
  flyteadmin/pkg/repositories/transformers/execution.go
  flyteadmin/tests/bootstrap.go
  flyteadmin/tests/execution_test.go
  flyteidl/gen/pb-es/flyteidl/admin/execution_pb.ts
  flyteidl/gen/pb-go/flyteidl/admin/execution.pb.go
  flyteidl/gen/pb_python/flyteidl/admin/execution_pb2.py
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/protos/flyteidl/admin/execution.proto
Owners: @unionai/cloud-eng

Remove defer func() by pingsu's advice.
  flyteplugins/go/tasks/plugins/webapi/agent/client.go
Owners: @unionai/exo

use DefaultPlugins in agent plugin.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
  flytepropeller/pkg/controller/nodes/task/handler.go
  flytepropeller/pkg/controller/nodes/task/plugin_config.go
Owners: @unionai/exo

lint
  flyteplugins/go/tasks/plugins/webapi/agent/client.go
  flyteplugins/go/tasks/plugins/webapi/agent/client_test.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
Owners: @unionai/exo

a worked version
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
Owners: @unionai/exo

Add getter and setter
  flyteplugins/go/tasks/plugins/webapi/agent/client.go
  flyteplugins/go/tasks/plugins/webapi/agent/client_test.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin_test.go
Owners: @unionai/exo

refactor(webapi): Improve agent client handling and logging
  flyteplugins/go/tasks/plugins/webapi/agent/client.go
  flyteplugins/go/tasks/plugins/webapi/agent/client_test.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
Owners: @unionai/exo

errorf
  flyteplugins/go/tasks/plugins/webapi/agent/client.go
Owners: @unionai/exo

update
  flyteplugins/go/tasks/plugins/webapi/agent/client.go
Owners: @unionai/exo

fix sync agent logic bug
  flyteplugins/go/tasks/plugins/webapi/agent/client.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
Owners: @unionai/exo

remove logger
  flyteplugins/go/tasks/plugins/webapi/agent/client.go
Owners: @unionai/exo

nit
  flyteplugins/go/tasks/plugins/webapi/agent/client.go
Owners: @unionai/exo

nit
  flyteplugins/go/tasks/plugins/webapi/agent/client.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin_test.go
Owners: @unionai/exo

lint
  flyteplugins/go/tasks/plugins/webapi/agent/client_test.go
Owners: @unionai/exo

lint
  flyteplugins/go/tasks/plugins/webapi/agent/client_test.go
Owners: @unionai/exo

Dynamically update DefaultPlugins by agent watcher
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
  flytepropeller/pkg/controller/nodes/task/handler.go
  flytepropeller/pkg/controller/nodes/task/plugin_config.go
Owners: @unionai/exo

Watch agent metadata service (#5017)
  flyteplugins/go/tasks/plugins/webapi/agent/client.go
  flyteplugins/go/tasks/plugins/webapi/agent/client_test.go
  flyteplugins/go/tasks/plugins/webapi/agent/config.go
  flyteplugins/go/tasks/plugins/webapi/agent/integration_test.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin_test.go
Owners: @unionai/exo

change DefaultPlugins to defaultPlugins, since we only need to keep defaultPlugins private
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
  flytepropeller/pkg/controller/nodes/task/handler.go
  flytepropeller/pkg/controller/nodes/task/plugin_config.go
Owners: @unionai/exo
