Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo

Answer some of the open questions with a concrete proposal
  rfc/system/5598-deterministic-errors-distributed-training.md
Owners: @unionai/cloud-eng

Fix typos
  rfc/system/5598-deterministic-errors-distributed-training.md
Owners: @unionai/cloud-eng

Use json byte string -> Use byte string'
  rfc/system/5606-json-idl.md
Owners: @unionai/cloud-eng

Update rfc/system/5606-json-idl.md
  rfc/system/5606-json-idl.md
Owners: @unionai/cloud-eng

return default `access_token` when keyring not found
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng

Update rfc/system/5606-json-idl.md
  rfc/system/5606-json-idl.md
Owners: @unionai/cloud-eng

FlytePropeller Compiler Avoid Crash when Type not found
  flyteadmin/pkg/manager/impl/validation/validation.go
  flyteadmin/pkg/manager/impl/validation/validation_test.go
Owners: @unionai/cloud-eng

Update pingsu's error message advices
  flyteadmin/pkg/manager/impl/validation/validation.go
  flyteadmin/pkg/manager/impl/validation/validation_test.go
Owners: @unionai/cloud-eng

update
  flytectl/go.mod
  flytectl/go.sum
Owners: @unionai/cloud-eng

Upgrade docker dependency to address vulnerability
  flytectl/cmd/demo/exec_test.go
  flytectl/cmd/demo/reload_test.go
  flytectl/cmd/demo/status_test.go
  flytectl/cmd/demo/teardown_test.go
  flytectl/cmd/sandbox/exec_test.go
  flytectl/cmd/sandbox/status_test.go
  flytectl/cmd/sandbox/teardown_test.go
  flytectl/go.mod
  flytectl/go.sum
  flytectl/pkg/docker/docker.go
  flytectl/pkg/docker/docker_util.go
  flytectl/pkg/docker/docker_util_test.go
  flytectl/pkg/docker/mocks/docker.go
  flytectl/pkg/sandbox/start_test.go
  flytectl/pkg/sandbox/status_test.go
  flytectl/pkg/sandbox/teardown.go
  flytectl/pkg/sandbox/teardown_test.go
Owners: @unionai/cloud-eng

Upgrade docker dependency to address vulnerability (#5614)
  flytectl/cmd/demo/exec_test.go
  flytectl/cmd/demo/reload_test.go
  flytectl/cmd/demo/status_test.go
  flytectl/cmd/demo/teardown_test.go
  flytectl/cmd/sandbox/exec_test.go
  flytectl/cmd/sandbox/status_test.go
  flytectl/cmd/sandbox/teardown_test.go
  flytectl/go.mod
  flytectl/go.sum
  flytectl/pkg/docker/docker.go
  flytectl/pkg/docker/docker_util.go
  flytectl/pkg/docker/docker_util_test.go
  flytectl/pkg/docker/mocks/docker.go
  flytectl/pkg/sandbox/start_test.go
  flytectl/pkg/sandbox/status_test.go
  flytectl/pkg/sandbox/teardown.go
  flytectl/pkg/sandbox/teardown_test.go
Owners: @unionai/cloud-eng

Support offloading workflow CRD inputs (#5609)
  flyteadmin/pkg/manager/impl/execution_manager.go
  flyteadmin/pkg/runtime/interfaces/application_configuration.go
  flyteadmin/pkg/workflowengine/impl/k8s_executor.go
  flyteadmin/pkg/workflowengine/impl/k8s_executor_test.go
  flyteadmin/pkg/workflowengine/interfaces/executor.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/workflow.go
  flytepropeller/pkg/controller/workflow/executor.go
Owners: @unionai/cloud-eng, @unionai/exo

Upgrade docker version to address vulnerability (#405)
  flytectl/cmd/demo/exec_test.go
  flytectl/cmd/demo/reload_test.go
  flytectl/cmd/demo/status_test.go
  flytectl/cmd/demo/teardown_test.go
  flytectl/cmd/sandbox/exec_test.go
  flytectl/cmd/sandbox/status_test.go
  flytectl/cmd/sandbox/teardown_test.go
  flytectl/go.mod
  flytectl/go.sum
  flytectl/pkg/docker/docker.go
  flytectl/pkg/docker/docker_util.go
  flytectl/pkg/docker/docker_util_test.go
  flytectl/pkg/docker/mocks/docker.go
  flytectl/pkg/sandbox/start_test.go
  flytectl/pkg/sandbox/status_test.go
  flytectl/pkg/sandbox/teardown.go
  flytectl/pkg/sandbox/teardown_test.go
Owners: @unionai/cloud-eng

Apply part of review
  rfc/system/0008-community-plugins.md
Owners: @unionai/cloud-eng

Upgrade docker dependency to address vulnerability (#5614)
  flytectl/cmd/demo/exec_test.go
  flytectl/cmd/demo/reload_test.go
  flytectl/cmd/demo/status_test.go
  flytectl/cmd/demo/teardown_test.go
  flytectl/cmd/sandbox/exec_test.go
  flytectl/cmd/sandbox/status_test.go
  flytectl/cmd/sandbox/teardown_test.go
  flytectl/go.mod
  flytectl/go.sum
  flytectl/pkg/docker/docker.go
  flytectl/pkg/docker/docker_util.go
  flytectl/pkg/docker/docker_util_test.go
  flytectl/pkg/docker/mocks/docker.go
  flytectl/pkg/sandbox/start_test.go
  flytectl/pkg/sandbox/status_test.go
  flytectl/pkg/sandbox/teardown.go
  flytectl/pkg/sandbox/teardown_test.go
Owners: @unionai/cloud-eng

Support offloading workflow CRD inputs (#5609)
  flyteadmin/pkg/manager/impl/execution_manager.go
  flyteadmin/pkg/runtime/interfaces/application_configuration.go
  flyteadmin/pkg/workflowengine/impl/k8s_executor.go
  flyteadmin/pkg/workflowengine/impl/k8s_executor_test.go
  flyteadmin/pkg/workflowengine/interfaces/executor.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/workflow.go
  flytepropeller/pkg/controller/workflow/executor.go
Owners: @unionai/cloud-eng, @unionai/exo

Add environment variable
  flyteplugins/go/tasks/pluginmachinery/flytek8s/k8s_resource_adds.go
Owners: @unionai/exo

Update tests
  flyteplugins/go/tasks/pluginmachinery/flytek8s/k8s_resource_adds_test.go
Owners: @unionai/exo

Add environment variable for pod name
  flyteplugins/go/tasks/pluginmachinery/flytek8s/k8s_resource_adds.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/k8s_resource_adds_test.go
Owners: @unionai/exo

modify `todo!()` to PyFlyteUserException in status code default case
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng

enable gated feature `vendored` in keyring
  flyteidl/Cargo.toml
Owners: @unionai/cloud-eng

upgrade keyring
  flyteidl/Cargo.toml
Owners: @unionai/cloud-eng

set default keyring `access_token`
  flyteidl/Cargo.lock
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng

temp comments out
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng

[flyteadmin] Refactor panic recovery into middleware (#5546)
  flyteadmin/pkg/rpc/adminservice/attributes.go
  flyteadmin/pkg/rpc/adminservice/base.go
  flyteadmin/pkg/rpc/adminservice/base_test.go
  flyteadmin/pkg/rpc/adminservice/description_entity.go
  flyteadmin/pkg/rpc/adminservice/execution.go
  flyteadmin/pkg/rpc/adminservice/launch_plan.go
  flyteadmin/pkg/rpc/adminservice/metrics.go
  flyteadmin/pkg/rpc/adminservice/middleware/recovery_interceptor.go
  flyteadmin/pkg/rpc/adminservice/middleware/recovery_interceptor_test.go
  flyteadmin/pkg/rpc/adminservice/named_entity.go
  flyteadmin/pkg/rpc/adminservice/node_execution.go
  flyteadmin/pkg/rpc/adminservice/project.go
  flyteadmin/pkg/rpc/adminservice/task.go
  flyteadmin/pkg/rpc/adminservice/task_execution.go
  flyteadmin/pkg/rpc/adminservice/version.go
  flyteadmin/pkg/rpc/adminservice/workflow.go
  flyteadmin/pkg/server/service.go
Owners: @unionai/cloud-eng

[BUG] fix incrementing task phase version (#403)
  flytepropeller/pkg/controller/nodes/array/handler.go
  flytepropeller/pkg/controller/nodes/array/utils.go
  flytepropeller/pkg/controller/nodes/array/utils_test.go
Owners: @unionai/exo

fix lint
  flyteadmin/pkg/manager/impl/validation/launch_plan_validator_test.go
  rfc/system/5606-json-idl.md
Owners: @unionai/cloud-eng

Fix typo in execution manager
  flyteadmin/pkg/manager/impl/execution_manager.go
Owners: @unionai/cloud-eng

rm rfc/system/5606-json-idl.md
  rfc/system/5606-json-idl.md
Owners: @unionai/cloud-eng

TEST build
  docs/deployment/agents/index.md
  docs/deployment/agents/snowflake.rst
Owners: @neverett, @ppiegaze

remove emphasize-lines
  docs/deployment/agents/snowflake.rst
Owners: @neverett, @ppiegaze

test build
  docs/deprecated_integrations/snowflake_plugin/snowflake_plugin_example.md
Owners: @neverett, @ppiegaze

revert
  docs/deprecated_integrations/snowflake_plugin/snowflake_plugin_example.md
Owners: @neverett, @ppiegaze

[CLD-946] Using InMemory token cache for admin clientset in propeller (#299)
  flytepropeller/pkg/controller/controller.go
Owners: @unionai/exo

Snowflake agent Doc (#5620)
  docs/deployment/agents/index.md
  docs/deployment/agents/snowflake.rst
Owners: @neverett, @ppiegaze

Fix nil pointer when plugin loading errors
  flytepropeller/pkg/controller/nodes/task/handler.go
Owners: @unionai/exo

Log stack trace when refresh cache sync recovers from panic
  flytestdlib/cache/auto_refresh.go
Owners: @unionai/cloud-eng

Add unit test for panic scenario
  flytestdlib/cache/auto_refresh_test.go
Owners: @unionai/cloud-eng

Add unit test
  flytepropeller/pkg/controller/nodes/task/handler_test.go
Owners: @unionai/exo

add UrlBlob
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng
