Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo

Skip SSL verify
  flyteidl/src/auth.rs
Owners: @unionai/cloud-eng

Add swithch by AuthMode
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng

Binary IDL With MessagePack Bytes
  flytepropeller/pkg/compiler/validators/utils.go
Owners: @unionai/exo

Applying gci
  flyteadmin/pkg/async/notifications/implementations/smtp_emailer_test.go
Owners: @unionai/cloud-eng

disabling flag until flytekit release is confirmed
  flytepropeller/pkg/controller/config/config.go
Owners: @unionai/exo

Bump docker/build-push-action to v6
  .github/workflows/publish.yml
  .github/workflows/sandbox.yml
  .github/workflows/single-binary.yml
Owners: @unionai/cloud-eng

Omit keyring & Add `client_id` and `client_credentials_secret`
  flyteidl/src/auth.rs
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng

Release 0.1.5
  flyteidl/Cargo.lock
  flyteidl/Cargo.toml
Owners: @unionai/cloud-eng

wip
  docs/user_guide/customizing_dependencies/imagespec.md
Owners: @neverett, @ppiegaze

beacuse flyte-binary image has no version tag, it is replaced with flyte-binary-release for prevent confusin
  charts/flyte-binary/values.yaml
Owners: @unionai/cloud-eng

refine
  docs/user_guide/customizing_dependencies/imagespec.md
Owners: @neverett, @ppiegaze

Install plugins
  docs/user_guide/customizing_dependencies/imagespec.md
Owners: @neverett, @ppiegaze

Accept incoming changes
  flytepropeller/pkg/utils/failing_datastore_test.go
  flytestdlib/storage/cached_rawstore.go
  flytestdlib/storage/cached_rawstore_test.go
  flytestdlib/storage/mem_store.go
  flytestdlib/storage/mem_store_test.go
  flytestdlib/storage/stow_store_test.go
Owners: @unionai/exo, @unionai/cloud-eng

Add pod template support for init containers
  flyteplugins/go/tasks/pluginmachinery/flytek8s/copilot.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/copilot_test.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper_test.go
Owners: @unionai/exo

Update docs
  docs/deployment/configuration/general.rst
Owners: @neverett, @ppiegaze

fix comment
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper.go
Owners: @unionai/exo

multipart blob download based on new api
  flytecopilot/data/download.go
  flytestdlib/storage/mem_store.go
Owners: @unionai/cloud-eng

cache store stop listing at end cursor
  flytecopilot/data/download.go
  flytestdlib/storage/mem_store.go
  flytestdlib/storage/storage.go
Owners: @unionai/cloud-eng

lint
  flytestdlib/storage/storage.go
Owners: @unionai/cloud-eng

remove old api mock
  flytestdlib/storage/mocks/composed_protobuf_store.go
  flytestdlib/storage/mocks/raw_store.go
Owners: @unionai/cloud-eng

remove old api mock
  flyteadmin/pkg/common/mocks/storage.go
  flytestdlib/storage/mocks/raw_store.go
Owners: @unionai/cloud-eng

remove old api mock
  flytestdlib/storage/cached_rawstore_test.go
Owners: @unionai/cloud-eng

Faking mockery generation
  flyteadmin/pkg/async/notifications/implementations/smtp_emailer_test.go
  flyteadmin/pkg/async/notifications/interfaces/smtp_client.go
Owners: @unionai/cloud-eng

use shamaton/msgpack/v2 to support Dict[int, str] case
  flytepropeller/go.mod
  flytepropeller/go.sum
  flytepropeller/pkg/controller/nodes/attr_path_resolver.go
  go.mod
  go.sum
Owners: @unionai/exo, @unionai/cloud-eng

nit
  flytepropeller/pkg/controller/nodes/attr_path_resolver.go
Owners: @unionai/exo

Using mocker 1.0.1
  flyteadmin/pkg/async/notifications/implementations/smtp_emailer_test.go
  flyteadmin/pkg/async/notifications/mocks/smtp_client.go
Owners: @unionai/cloud-eng

Introduced SMTP notification (#5535)
  flyteadmin/go.mod
  flyteadmin/pkg/async/notifications/factory.go
  flyteadmin/pkg/async/notifications/factory_test.go
  flyteadmin/pkg/async/notifications/implementations/emailers.go
  flyteadmin/pkg/async/notifications/implementations/smtp_emailer.go
  flyteadmin/pkg/async/notifications/implementations/smtp_emailer_test.go
  flyteadmin/pkg/async/notifications/interfaces/smtp_client.go
  flyteadmin/pkg/async/notifications/mocks/smtp_client.go
  flyteadmin/pkg/rpc/adminservice/base.go
  flyteadmin/pkg/runtime/interfaces/application_configuration.go
  flyteadmin/pkg/server/service.go
Owners: @unionai/cloud-eng

lint
  flytepropeller/pkg/controller/nodes/attr_path_resolver.go
Owners: @unionai/exo

add annotations
  flytepropeller/pkg/controller/nodes/branch/evaluator.go
Owners: @unionai/exo

add comments
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/core/literals_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/literals.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/cacheservice/cacheservice.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/datacatalog/datacatalog.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/dataproxy.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/external_plugin_service.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/signal.swagger.json
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/literals.proto
Owners: @unionai/cloud-eng

nit
  flytepropeller/pkg/controller/nodes/array/handler.go
Owners: @unionai/exo

Added literal offloading for array node map tasks (#5697)
  flyteadmin/go.mod
  flyteadmin/go.sum
  flyteadmin/pkg/manager/impl/testutils/mock_requests.go
  flyteadmin/pkg/manager/impl/validation/execution_validator.go
  flyteadmin/pkg/manager/impl/validation/execution_validator_test.go
  flyteadmin/pkg/manager/impl/validation/validation.go
  flytepropeller/go.mod
  flytepropeller/go.sum
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/iface.go
  flytepropeller/pkg/compiler/transformers/k8s/inputs.go
  flytepropeller/pkg/controller/config/config.go
  flytepropeller/pkg/controller/config/config_flags.go
  flytepropeller/pkg/controller/config/config_flags_test.go
  flytepropeller/pkg/controller/config/config_test.go
  flytepropeller/pkg/controller/controller.go
  flytepropeller/pkg/controller/nodes/array/handler.go
  flytepropeller/pkg/controller/nodes/array/handler_test.go
  flytepropeller/pkg/controller/nodes/common/utils.go
  flytepropeller/pkg/controller/nodes/common/utils_test.go
  flytepropeller/pkg/controller/nodes/executor.go
  flytepropeller/pkg/controller/nodes/executor_test.go
  flytepropeller/pkg/controller/nodes/factory/handler_factory.go
  flytepropeller/pkg/controller/workflow/executor_test.go
  go.mod
  go.sum
Owners: @unionai/cloud-eng, @unionai/exo

overwrite outputs if exceeds max cache age (#448)
  cacheservice/pkg/manager/impl/cache_manager.go
  cacheservice/pkg/manager/impl/cache_manager_test.go
  cacheservice/pkg/repositories/transformers/cached_output.go
  flyteidl/gen/pb-es/flyteidl/cacheservice/cacheservice_pb.ts
  flyteidl/gen/pb-go/flyteidl/cacheservice/cacheservice.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/cacheservice/cacheservice.swagger.json
  flyteidl/gen/pb_python/flyteidl/cacheservice/cacheservice_pb2.py
  flyteidl/gen/pb_python/flyteidl/cacheservice/cacheservice_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.cacheservice.rs
  flyteidl/protos/flyteidl/cacheservice/cacheservice.proto
  flytepropeller/pkg/controller/nodes/catalog/cacheservice/cache_client.go
  flytepropeller/pkg/controller/nodes/catalog/cacheservice/cache_client_test.go
Owners: @unionai/cloud-eng, @unionai/exo

remove extra items from footer
  docs/_templates/layout.html
Owners: @neverett, @ppiegaze

update left sidebar
  docs/conf.py
Owners: @neverett, @ppiegaze

fix typo
  docs/index.md
Owners: @neverett, @ppiegaze

Set fallback cache client as default in charts (#443)
  charts/flyte-binary/templates/configmap.yaml
  charts/flyte-core/README.md
  charts/flyte-core/templates/_helpers.tpl
  charts/flyte-core/values-keycloak-idp-flyteclients-without-browser.yaml
  charts/flyte-core/values.yaml
  charts/flyte/README.md
  charts/flyte/values.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_dataplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_dataplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox-binary/flyte_sandbox_binary_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
  deployment/test/flyte_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  fasttask/flyte-single-binary-fasttask.yaml
  flyte-single-binary-local.yaml
  flytepropeller/propeller-config.yaml
Owners: @unionai/cloud-eng, @unionai/exo

Change to rates from counters
  deployment/stats/prometheus/flyteuser-dashboard.json
  stats/flyteuser.dashboard.py
Owners: @unionai/cloud-eng

Fixes monodocs by updating intersphinx mapping
  docs/conf.py
Owners: @neverett, @ppiegaze

Without this caching is actually not enabled
  charts/flyte-core/templates/propeller/configmap.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_dataplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_dataplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Owners: @unionai/cloud-eng
