Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo

upgrade keyring
  flyteidl/Cargo.toml
Owners: @unionai/cloud-eng

add UrlBlob
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng

temp comments out
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng

add NodeExecutionMetaData
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng

test release 0.1.3
  flyteidl/Cargo.toml
Owners: @unionai/cloud-eng

release `flyteidl_rust` to v0.1.3
  .gitignore
  flyteidl/Cargo.lock
Owners: @unionai/cloud-eng

lower down the required pyhton version
  flyteidl/pyproject.toml
Owners: @unionai/cloud-eng

enable linux feature for keyring
  flyteidl/Cargo.lock
  flyteidl/Cargo.toml
Owners: @unionai/cloud-eng

add ContainerError
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng

fix trailing optional arguments as default none
  flyteidl/pyo3_macro/src/lib.rs
Owners: @unionai/cloud-eng

fix protobuf bytes coder
  flyteidl/pyo3_macro/src/lib.rs
Owners: @unionai/cloud-eng

add Blob
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng

clean up
  flyteidl/Cargo.lock
Owners: @unionai/cloud-eng

import pyo3 via version instead of git branch
  flyteidl/Cargo.toml
Owners: @unionai/cloud-eng

fix: generate execution name in workflowExecutor
  flyteadmin/pkg/async/schedule/aws/workflow_executor.go
  flyteadmin/pkg/async/schedule/aws/workflow_executor_test.go
Owners: @unionai/cloud-eng

fix: get global config
  flyteadmin/pkg/manager/impl/execution_manager.go
  flyteadmin/pkg/manager/impl/util/shared.go
  flyteadmin/pkg/manager/impl/util/shared_test.go
Owners: @unionai/cloud-eng

chore: add package in flytectl
  flytectl/go.mod
  flytectl/go.sum
Owners: @unionai/cloud-eng

feat: enable humanhash for cmd and scheduler
  flyteadmin/scheduler/executor/executor_impl.go
  flytectl/cmd/create/execution_util.go
Owners: @unionai/cloud-eng

fix: set execution name limit to k8s limit
  flyteadmin/pkg/common/executions.go
Owners: @unionai/cloud-eng

Correct "sucessfile" to "successfile"
  flytecopilot/cmd/sidecar_test.go
Owners: @unionai/cloud-eng

Correct "sucessfile" to "successfile" (#5652)
  flytecopilot/cmd/sidecar_test.go
Owners: @unionai/cloud-eng

lower case the auth module
  flyteidl/src/auth.rs
Owners: @unionai/cloud-eng

add flyteidl.admin & enable dummy auth
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng

add flyteidl.service
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng

RFC into RFC
  rfc/system/5103-offloaded-literal.md
Owners: @unionai/cloud-eng

Make adminOauthClientCredentials secret name configurable (#417)
  charts/flyte-core/README.md
  charts/flyte-core/templates/clusterresourcesync/deployment.yaml
  charts/flyte-core/templates/common/secret-auth.yaml
  charts/flyte-core/templates/propeller/deployment.yaml
  charts/flyte-core/values.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Owners: @unionai/cloud-eng

Don't send inputURI for start-node (#400)
  flyteadmin/pkg/repositories/config/migrations.go
  flytepropeller/pkg/controller/nodes/executor.go
  flytepropeller/pkg/controller/nodes/executor_test.go
  flytepropeller/pkg/controller/nodes/transformers.go
Owners: @unionai/cloud-eng, @unionai/exo

fix: revert flytectl change
  flytectl/cmd/create/execution_util.go
  flytectl/go.mod
  flytectl/go.sum
Owners: @unionai/cloud-eng

update try flyte text
  docs/quickstart_guide.md
Owners: @neverett, @ppiegaze

refactor: let flyte backend generate ID
  flytectl/cmd/create/execution_util.go
Owners: @unionai/cloud-eng

Fix ordering for custom template values in cluster resource controller (#5648)
  flyteadmin/pkg/clusterresource/controller.go
  flyteadmin/pkg/clusterresource/controller_test.go
  flyteadmin/pkg/clusterresource/testdata/imagepullsecrets_templatized.yaml
Owners: @unionai/cloud-eng

regen
  flyteidl/gen/pb-es/flyteidl/admin/project_pb.ts
  flyteidl/gen/pb-go/flyteidl/admin/project.pb.go
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/admin/project_pb2.py
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/protos/flyteidl/admin/project.proto
Owners: @unionai/cloud-eng

Don't error when attempting to trigger schedules for inactive projects (#5649)
  flyteadmin/pkg/errors/errors.go
  flyteadmin/pkg/errors/errors_test.go
  flyteadmin/pkg/manager/impl/validation/project_validator.go
  flyteadmin/scheduler/executor/executor_impl.go
  flyteadmin/scheduler/executor/executor_impl_test.go
  flyteidl/gen/pb-es/flyteidl/admin/project_pb.ts
  flyteidl/gen/pb-go/flyteidl/admin/project.pb.go
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/admin/project_pb2.py
  flyteidl/gen/pb_python/flyteidl/admin/project_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/protos/flyteidl/admin/project.proto
Owners: @unionai/cloud-eng

fix: handle generate name error
  flyteadmin/pkg/async/schedule/aws/workflow_executor.go
  flyteadmin/pkg/async/schedule/aws/workflow_executor_test.go
  flyteadmin/pkg/common/executions.go
  flyteadmin/pkg/common/executions_test.go
  flyteadmin/pkg/manager/impl/execution_manager.go
  flyteadmin/pkg/manager/impl/util/shared.go
  flyteadmin/pkg/manager/impl/util/shared_test.go
  flyteadmin/scheduler/executor/executor_impl.go
Owners: @unionai/cloud-eng

fix: remove unused variables
  flytectl/cmd/create/execution.go
  flytectl/cmd/create/execution_util.go
  flytectl/cmd/create/execution_util_test.go
Owners: @unionai/cloud-eng

add flyteidl.core
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng

add LabelValue
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng

fix tests
  flyteadmin/pkg/manager/impl/workflow_manager_test.go
  flytepropeller/pkg/compiler/validators/bindings_test.go
Owners: @unionai/cloud-eng, @unionai/exo

Improve error messaging for invalid arguments
  flyteadmin/pkg/errors/errors.go
  flyteadmin/pkg/errors/errors_test.go
  flyteadmin/pkg/manager/impl/workflow_manager_test.go
Owners: @unionai/cloud-eng

add DumpStruct
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng
