Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo

Try to use disk-space-reclaimer (#414)
  .github/workflows/build-and-test-single-binary-image.yml
Owners: @unionai/cloud-eng

Add metrics port for cacheservice and datacatalog + clean up propeller side cache metrics (#412)
  cacheservice/cacheservice_config.yaml
  cacheservice/pkg/runtime/configs/cache_service_config.go
  charts/flyte-core/README.md
  charts/flyte-core/templates/cacheservice/service.yaml
  charts/flyte-core/templates/datacatalog/service.yaml
  charts/flyte-core/values-keycloak-idp-flyteclients-without-browser.yaml
  charts/flyte-core/values.yaml
  charts/flyte/README.md
  charts/flyte/values.yaml
  datacatalog/datacatalog_config.yaml
  datacatalog/pkg/runtime/configs/data_catalog_config.go
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
  deployment/test/flyte_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Owners: @unionai/cloud-eng

enable linux feature for keyring
  flyteidl/Cargo.lock
  flyteidl/Cargo.toml
Owners: @unionai/cloud-eng

lower down the required pyhton version
  flyteidl/pyproject.toml
Owners: @unionai/cloud-eng

Fix ordering for custom template values in cluster resource controller
  flyteadmin/pkg/clusterresource/controller.go
  flyteadmin/pkg/clusterresource/controller_test.go
  flyteadmin/pkg/clusterresource/testdata/imagepullsecrets_templatized.yaml
Owners: @unionai/cloud-eng

Don't error when attempting to trigger schedules for inactive projects
  flyteadmin/pkg/errors/errors.go
  flyteadmin/pkg/errors/errors_test.go
  flyteadmin/pkg/manager/impl/validation/project_validator.go
  flyteadmin/scheduler/executor/executor_impl.go
  flyteadmin/scheduler/executor/executor_impl_test.go
  flyteidl/gen/pb-es/flyteidl/admin/project_pb.ts
  flyteidl/gen/pb-go/flyteidl/admin/project.pb.go
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/admin/project_pb2.py
  flyteidl/gen/pb_python/flyteidl/admin/project_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/protos/flyteidl/admin/project.proto
Owners: @unionai/cloud-eng

fix flyteadmin tests
  flyteadmin/go.mod
  flyteadmin/go.sum
  flytepropeller/pkg/controller/nodes/attr_path_resolver.go
Owners: @unionai/cloud-eng, @unionai/exo

Send actor worker assignment in task events (#394)(#393)
  fasttask/.gitattributes
  fasttask/generate_protos.sh
  fasttask/plugin/pb/fasttask.pb.go
  fasttask/plugin/plugin.go
  fasttask/plugin/plugin_test.go
  fasttask/protos/buf.yaml
  fasttask/protos/fasttask.proto
  fasttask/worker/bridge/src/pb/fasttask.rs
  fasttask/worker/bridge/src/pb/fasttask.tonic.rs
  flyteadmin/pkg/repositories/transformers/task_execution.go
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/event/event_pb.ts
  flyteidl/gen/pb-go/flyteidl/event/event.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/event/event_pb2.py
  flyteidl/gen/pb_python/flyteidl/event/event_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.event.rs
  flyteidl/protos/flyteidl/event/event.proto
  flyteplugins/go/tasks/pluginmachinery/core/phase.go
  flyteplugins/go/tasks/plugins/k8s/pod/plugin.go
  flytepropeller/pkg/controller/nodes/task/transformer.go
Owners: @unionai/exo, @unionai/cloud-eng

Add CustomInfo field to ExternalResourceInfo
  flyteadmin/pkg/repositories/transformers/task_execution.go
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/event/event_pb.ts
  flyteidl/gen/pb-go/flyteidl/event/event.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/event/event_pb2.py
  flyteidl/gen/pb_python/flyteidl/event/event_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.event.rs
  flyteidl/protos/flyteidl/event/event.proto
  flyteplugins/go/tasks/pluginmachinery/core/phase.go
  flytepropeller/pkg/controller/nodes/task/transformer.go
Owners: @unionai/cloud-eng, @unionai/exo

Remove stale reference to eks-production
  docs/deployment/configuration/index.md
Owners: @neverett, @ppiegaze

Output of make helm
  charts/flyte-binary/README.md
  deployment/sandbox-binary/flyte_sandbox_binary_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Owners: @unionai/cloud-eng

docs: add documentation for configuring notifications in GCP (#5545)
  docs/deployment/configuration/notifications.rst
Owners: @neverett, @ppiegaze

[propeller][admin] Compiler literal type error handling
  flyteadmin/pkg/manager/impl/validation/execution_validator.go
  flyteadmin/pkg/manager/impl/validation/launch_plan_validator.go
  flyteadmin/pkg/manager/impl/validation/signal_validator.go
  flytepropeller/pkg/compiler/transformers/k8s/inputs.go
  flytepropeller/pkg/controller/nodes/array/handler.go
  flytepropeller/pkg/controller/nodes/catalog/datacatalog/transformer.go
Owners: @unionai/cloud-eng, @unionai/exo

fmt & clippy
  flyteidl/src/gen.rs
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng

add `.so` to git ignore
  flyteidl/.gitignore
Owners: @unionai/cloud-eng

switch local pyo3_macro for pyclass constructor
  flyteidl/Cargo.lock
  flyteidl/Cargo.toml
  flyteidl/pyo3_macro/Cargo.toml
  flyteidl/pyo3_macro/src/lib.rs
Owners: @unionai/cloud-eng

introducing declarative submodules after pyo3 fixed PyO3/pyo3/9afc38ae416bb750efd227e4f8b4302392c0d303
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng

add auxiliary scripts fix pyo3 `enum` cannot be `subclass`ed
  flyteidl/gen/pb_rust/datacatalog.rs
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/gen/pb_rust/flyteidl.cacheservice.rs
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/gen/pb_rust/flyteidl.event.rs
  flyteidl/gen/pb_rust/flyteidl.plugins.rs
  flyteidl/gen/pb_rust/flyteidl.service.rs
  flyteidl/gen/pb_rust/google.api.rs
  flyteidl/gen/pb_rust/google.protobuf.rs
  flyteidl/gen/pb_rust/grpc.gateway.protoc_gen_openapiv2.options.rs
  flyteidl/scripts/add_pyo3_subclass.sh
  flyteidl/src/gen.rs
Owners: @unionai/cloud-eng

update type hints file `.pyi`
  flyteidl/python/flyteidl_rust/flyteidl_rust.pyi
Owners: @unionai/cloud-eng

cleanup unused code in pyor_macro
  flyteidl/pyo3_macro/src/lib.rs
Owners: @unionai/cloud-eng

add workflow api & add other literal types
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng

cleanup the comment of unused code AdminStub
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng

fixup workflow API & structure
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng

add `SerializeToString()`
  flyteidl/pyo3_macro/src/lib.rs
Owners: @unionai/cloud-eng

add workflow types
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng

add `subclass` scripts
  flyteidl/scripts/add_pyo3_subclass.sh
Owners: @unionai/cloud-eng

propagate tonic error to py error
  flyteidl/Cargo.lock
  flyteidl/Cargo.toml
  flyteidl/gen/pb_rust/datacatalog.rs
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/gen/pb_rust/flyteidl.cacheservice.rs
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/gen/pb_rust/flyteidl.event.rs
  flyteidl/gen/pb_rust/flyteidl.plugins.rs
  flyteidl/gen/pb_rust/flyteidl.service.rs
  flyteidl/gen/pb_rust/google.api.rs
  flyteidl/gen/pb_rust/google.protobuf.rs
  flyteidl/gen/pb_rust/grpc.gateway.protoc_gen_openapiv2.options.rs
  flyteidl/src/gen.rs
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng

add **kwargs
  flyteidl/pyo3_macro/src/lib.rs
Owners: @unionai/cloud-eng

add json parser for google Struct
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng

add customized error handling which can be raised from python
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng

clean up
  flyteidl/Cargo.lock
Owners: @unionai/cloud-eng

fix `SerializeToString()` for protobuf bytes
  flyteidl/Cargo.toml
  flyteidl/pyo3_macro/src/lib.rs
Owners: @unionai/cloud-eng

update test version
  flyteidl/Cargo.toml
Owners: @unionai/cloud-eng

add wip auth
  flyteidl/Cargo.toml
  flyteidl/src/auth.rs
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng

upgrade openssl
  flyteidl/Cargo.toml
Owners: @unionai/cloud-eng

gate openssl feature
  flyteidl/.swagger-codegen-ignore
  flyteidl/Cargo.lock
  flyteidl/Cargo.toml
Owners: @unionai/cloud-eng

return default `access_token` when keyring not found
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng

modify `todo!()` to PyFlyteUserException in status code default case
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng

enable gated feature `vendored` in keyring
  flyteidl/Cargo.toml
Owners: @unionai/cloud-eng

set default keyring `access_token`
  flyteidl/Cargo.lock
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng
