Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo

Install pyarrow in sandbox functional tests (#5647)
  .github/workflows/single-binary.yml
Owners: @unionai/cloud-eng

Fix flyteidl release checkout all tags (#5646)
  .github/workflows/flyteidl-release.yml
Owners: @unionai/cloud-eng

Correct "sucessfile" to "successfile" (#5652)
  flytecopilot/cmd/sidecar_test.go
Owners: @unionai/cloud-eng

Don't error when attempting to trigger schedules for inactive projects (#5649)
  flyteadmin/pkg/errors/errors.go
  flyteadmin/pkg/errors/errors_test.go
  flyteadmin/pkg/manager/impl/validation/project_validator.go
  flyteadmin/scheduler/executor/executor_impl.go
  flyteadmin/scheduler/executor/executor_impl_test.go
  flyteidl/gen/pb-es/flyteidl/admin/project_pb.ts
  flyteidl/gen/pb-go/flyteidl/admin/project.pb.go
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/admin/project_pb2.py
  flyteidl/gen/pb_python/flyteidl/admin/project_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/protos/flyteidl/admin/project.proto
Owners: @unionai/cloud-eng

Update Flyte components - v1.13.1-rc0 (#5656)
  CHANGELOG/CHANGELOG-v1.13.1-rc0.md
  charts/flyte-binary/README.md
  charts/flyte-binary/values.yaml
  charts/flyte-core/README.md
  charts/flyte-core/values.yaml
  charts/flyte/README.md
  charts/flyte/values.yaml
  charts/flyteagent/README.md
  charts/flyteagent/values.yaml
  deployment/agent/flyte_agent_helm_generated.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_dataplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_dataplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox-binary/flyte_sandbox_binary_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  docs/conf.py
  docs/deployment/configuration/generated/flyteadmin_config.rst
  docs/deployment/configuration/generated/scheduler_config.rst
Owners: @unionai/cloud-eng, @neverett, @ppiegaze

Improve error messaging for invalid arguments (#5658)
  flyteadmin/pkg/errors/errors.go
  flyteadmin/pkg/errors/errors_test.go
  flyteadmin/pkg/manager/impl/workflow_manager_test.go
Owners: @unionai/cloud-eng

Revert "feat: disabled adding SYS_PTRACE to the primary container"
  flyteplugins/go/tasks/pluginmachinery/flytek8s/copilot.go
Owners: @unionai/exo

Add offloaded path to literal (#5660)
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/core/literals_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/literals.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/cacheservice/cacheservice.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/datacatalog/datacatalog.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/dataproxy.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/external_plugin_service.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/signal.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/literals_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/literals_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/literals.proto
Owners: @unionai/cloud-eng

feat: apply PodTemplate settings also to InitContainers (i.e. not only to primary containers)
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper.go
Owners: @unionai/exo

handle already exists error on array node abort (#427)
  flytepropeller/pkg/controller/nodes/array/handler.go
Owners: @unionai/exo

fix link and make shorter
  docs/quickstart_guide.md
Owners: @neverett, @ppiegaze

shorter
  docs/quickstart_guide.md
Owners: @neverett, @ppiegaze

DOC-462 Update "Try Flyte in the browser" text (#5654)
  docs/quickstart_guide.md
Owners: @neverett, @ppiegaze

[BUG] set cause for already exists EventError (#432)
  flytepropeller/events/admin_eventsink.go
  flytepropeller/events/errors/errors.go
Owners: @unionai/exo

scheduler config description
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/config/config.go
Owners: @unionai/exo

use empty scheduler config
  flyteplugins/go/tasks/plugins/k8s/ray/config.go
Owners: @unionai/exo

add load/dump json string
  flyteidl/pyo3_macro/src/lib.rs
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng

add flyteidl-nightly ci publish to pypi test
  .github/workflows/flyteidl-nightly.yml
Owners: @unionai/cloud-eng

add Cargo.toml path to maturin
  .github/workflows/flyteidl-nightly.yml
Owners: @unionai/cloud-eng

normalize path
  .github/workflows/flyteidl-nightly.yml
Owners: @unionai/cloud-eng

add fail-fast strategy on linux job
  .github/workflows/flyteidl-nightly.yml
Owners: @unionai/cloud-eng

fix automatic `openssl-sys`
  flyteidl/Cargo.toml
Owners: @unionai/cloud-eng

install openssl ubuntu deps
  .github/workflows/flyteidl-nightly.yml
  flyteidl/Cargo.toml
Owners: @unionai/cloud-eng

clean up nightly release
  .github/workflows/flyteidl-nightly.yml
Owners: @unionai/cloud-eng

add before-script-linux to maturin action container
  .github/workflows/flyteidl-nightly.yml
Owners: @unionai/cloud-eng

add before-script-linux to maturin action container
  .github/workflows/flyteidl-nightly.yml
Owners: @unionai/cloud-eng

add `openssl-sys`
  flyteidl/Cargo.toml
Owners: @unionai/cloud-eng

modify manylinux from auto to 2014
  .github/workflows/flyteidl-nightly.yml
  flyteidl/Cargo.toml
Owners: @unionai/cloud-eng

add krb5-dev
  .github/workflows/flyteidl-nightly.yml
Owners: @unionai/cloud-eng

clean up manylinux
  .github/workflows/flyteidl-nightly.yml
Owners: @unionai/cloud-eng

test manylinux without before-script-linux
  .github/workflows/flyteidl-nightly.yml
Owners: @unionai/cloud-eng

add back `before-script-linux`
  .github/workflows/flyteidl-nightly.yml
Owners: @unionai/cloud-eng

add `protoc`
  .github/workflows/flyteidl-nightly.yml
Owners: @unionai/cloud-eng

add debug msg
  .github/workflows/flyteidl-nightly.yml
Owners: @unionai/cloud-eng

fix matrix.platform.target
  .github/workflows/flyteidl-nightly.yml
Owners: @unionai/cloud-eng

normalize path
  .github/workflows/flyteidl-nightly.yml
Owners: @unionai/cloud-eng

move to k8s repo
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/config/config.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/config/config_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/plugins.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/plugins_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/scheduler/kubernetes/default.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/scheduler/kubernetes/default_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/scheduler/yunikorn/taskgroup.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/scheduler/yunikorn/taskgroup_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/scheduler/yunikorn/utils.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/scheduler/yunikorn/utils_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/scheduler/yunikorn/yunikorn.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/scheduler/yunikorn/yunikorn_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/config.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray_test.go
Owners: @unionai/exo

move to k8s repo
  flyteplugins/go/tasks/plugins/k8s/batchscheduler/config/config.go
  flyteplugins/go/tasks/plugins/k8s/batchscheduler/config/config_test.go
  flyteplugins/go/tasks/plugins/k8s/batchscheduler/plugins.go
  flyteplugins/go/tasks/plugins/k8s/batchscheduler/plugins_test.go
  flyteplugins/go/tasks/plugins/k8s/batchscheduler/scheduler/kubernetes/default.go
  flyteplugins/go/tasks/plugins/k8s/batchscheduler/scheduler/kubernetes/default_test.go
  flyteplugins/go/tasks/plugins/k8s/batchscheduler/scheduler/yunikorn/taskgroup.go
  flyteplugins/go/tasks/plugins/k8s/batchscheduler/scheduler/yunikorn/taskgroup_test.go
  flyteplugins/go/tasks/plugins/k8s/batchscheduler/scheduler/yunikorn/utils.go
  flyteplugins/go/tasks/plugins/k8s/batchscheduler/scheduler/yunikorn/utils_test.go
  flyteplugins/go/tasks/plugins/k8s/batchscheduler/scheduler/yunikorn/yunikorn.go
  flyteplugins/go/tasks/plugins/k8s/batchscheduler/scheduler/yunikorn/yunikorn_test.go
Owners: @unionai/exo

unify platform.target to ubuntu-based system
  .github/workflows/flyteidl-nightly.yml
Owners: @unionai/cloud-eng

remove `sudo` in sudo-disabled container
  .github/workflows/flyteidl-nightly.yml
Owners: @unionai/cloud-eng
