Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

Publish flyte-binary-v1.13.1-rc1.tgz flyte-core-v1.13.1-rc1.tgz flyte-deps-v1.13.1-rc1.tgz flyte-sandbox-0.1.0.tgz flyte-v1.13.1-rc1.tgz flyteagent-v1.13.1-rc1.tgz
  flyte-binary-v1.13.1-rc1.tgz
  flyte-core-v1.13.1-rc1.tgz
  flyte-deps-v1.13.1-rc1.tgz
  flyte-sandbox-0.1.0.tgz
  flyte-v1.13.1-rc1.tgz
  flyteagent-v1.13.1-rc1.tgz
  index.yaml
Owners: @unionai/cloud-eng

add data config
  flytectl/cmd/register/register_util.go
Owners: @unionai/cloud-eng

[flytectl] DataConfig missing from TaskSpec (#5692)
  flytectl/cmd/register/register_util.go
Owners: @unionai/cloud-eng

update humanhash version
  flyteadmin/go.mod
  flyteadmin/go.sum
  go.mod
  go.sum
Owners: @unionai/cloud-eng

remove error handler
  flyteadmin/pkg/async/schedule/aws/workflow_executor_test.go
  flyteadmin/pkg/manager/impl/execution_manager.go
  flyteadmin/pkg/manager/impl/util/shared.go
  flyteadmin/pkg/manager/impl/util/shared_test.go
Owners: @unionai/cloud-eng

read config inside get exec name and fix import cycle
  flyteadmin/pkg/async/schedule/aws/workflow_executor.go
  flyteadmin/pkg/common/executions.go
  flyteadmin/pkg/common/executions_test.go
  flyteadmin/pkg/common/naming/execution_name.go
  flyteadmin/pkg/common/naming/execution_name_test.go
  flyteadmin/scheduler/executor/executor_impl.go
Owners: @unionai/cloud-eng

change configuration name
  flyteadmin/pkg/runtime/interfaces/application_configuration.go
Owners: @unionai/cloud-eng

use protobuf struct instead of struct protobuf
  rfc/system/5606-json-idl.md
Owners: @unionai/cloud-eng

remoe Json = xxx
  rfc/system/5606-json-idl.md
Owners: @unionai/cloud-eng

add test
  flyteplugins/go/tasks/plugins/k8s/pod/container_test.go
Owners: @unionai/exo

regenerate proto
  flyteidl/gen/pb_rust/datacatalog.rs
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/gen/pb_rust/flyteidl.cacheservice.rs
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/gen/pb_rust/flyteidl.event.rs
  flyteidl/gen/pb_rust/flyteidl.plugins.kubeflow.rs
  flyteidl/gen/pb_rust/flyteidl.plugins.rs
  flyteidl/gen/pb_rust/flyteidl.service.rs
Owners: @unionai/cloud-eng

fix lint error
  flyteadmin/pkg/common/naming/execution_name_test.go
  flyteadmin/pkg/runtime/interfaces/application_configuration.go
Owners: @unionai/cloud-eng

Azure Log Links support (#430)
  flyteidl/gen/pb_rust/datacatalog.rs
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/gen/pb_rust/flyteidl.artifact.rs
  flyteidl/gen/pb_rust/flyteidl.cacheservice.rs
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/gen/pb_rust/flyteidl.event.rs
  flyteidl/gen/pb_rust/flyteidl.plugins.kubeflow.rs
  flyteidl/gen/pb_rust/flyteidl.plugins.rs
  flyteidl/gen/pb_rust/flyteidl.service.rs
  flyteidl/gen/pb_rust/flyteidl.watch.rs
  flyteidl/go.mod
  flyteidl/go.sum
  flyteplugins/go/tasks/config_load_test.go
  flyteplugins/go/tasks/logs/config.go
  flyteplugins/go/tasks/logs/logging_utils.go
  flyteplugins/go/tasks/logs/logging_utils_test.go
  flyteplugins/go/tasks/pluginmachinery/core/mocks/task_execution_metadata.go
  flyteplugins/go/tasks/pluginmachinery/tasklog/azure_plugin.go
  flyteplugins/go/tasks/pluginmachinery/tasklog/azure_plugin_test.go
  flyteplugins/go/tasks/testdata/config.yaml
  flyteplugins/tests/end_to_end.go
Owners: @unionai/cloud-eng, @unionai/exo

address comment
  flytepropeller/pkg/compiler/errors/compiler_error_test.go
  flytepropeller/pkg/compiler/errors/compiler_errors.go
  flytepropeller/pkg/compiler/transformers/k8s/inputs.go
  flytepropeller/pkg/compiler/validators/bindings.go
  flytepropeller/pkg/compiler/validators/condition.go
  flytepropeller/pkg/compiler/validators/vars.go
Owners: @unionai/exo

Create LP From Node on Rerun Task (#437)
  flyteadmin/pkg/manager/impl/execution_manager.go
  flyteadmin/pkg/manager/impl/execution_manager_test.go
  flyteadmin/pkg/manager/impl/util/single_task_execution.go
  flyteadmin/pkg/manager/impl/util/single_task_execution_test.go
  flyteadmin/pkg/manager/mocks/launch_plan.go
  flyteadmin/pkg/rpc/adminservice/base.go
Owners: @unionai/cloud-eng

Update Flyte Components
  charts/flyte-binary/README.md
  charts/flyte-binary/values.yaml
  charts/flyte-core/README.md
  charts/flyte-core/values.yaml
  charts/flyte/README.md
  charts/flyte/values.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_dataplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_dataplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox-binary/flyte_sandbox_binary_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Owners: @unionai/cloud-eng

Bump version in conf.py and add changelog
  CHANGELOG/CHANGELOG-v1.13.1.md
  docs/conf.py
Owners: @unionai/cloud-eng, @neverett, @ppiegaze

Update Flyte components - v1.13.1 (#5696)
  CHANGELOG/CHANGELOG-v1.13.1.md
  charts/flyte-binary/README.md
  charts/flyte-binary/values.yaml
  charts/flyte-core/README.md
  charts/flyte-core/values.yaml
  charts/flyte/README.md
  charts/flyte/values.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_dataplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_dataplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox-binary/flyte_sandbox_binary_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  docs/conf.py
Owners: @unionai/cloud-eng, @neverett, @ppiegaze

Publish flyte-binary-v1.13.1.tgz flyte-core-v1.13.1.tgz flyte-deps-v1.13.1.tgz flyte-sandbox-0.1.0.tgz flyte-v1.13.1.tgz flyteagent-v1.13.1.tgz
  flyte-binary-v1.13.1.tgz
  flyte-core-v1.13.1.tgz
  flyte-deps-v1.13.1.tgz
  flyte-sandbox-0.1.0.tgz
  flyte-v1.13.1.tgz
  flyteagent-v1.13.1.tgz
  index.yaml
Owners: @unionai/cloud-eng

propeller error msg example
  flytepropeller/pkg/compiler/transformers/k8s/inputs.go
Owners: @unionai/exo

solve conlfict
  flyteidl/gen/pb-go/flyteidl/core/literals.pb.go
  flyteidl/gen/pb_python/flyteidl/core/literals_pb2.py
Owners: @unionai/cloud-eng

solve lint and depedency error
  flytecopilot/go.mod
  flytecopilot/go.sum
  flyteidl/clients/go/coreutils/literals.go
  flyteplugins/go.mod
  flyteplugins/go.sum
  flytepropeller/pkg/controller/nodes/attr_path_resolver.go
Owners: @unionai/cloud-eng, @unionai/exo

make go-tidy
  flyteidl/go.mod
Owners: @unionai/cloud-eng

refactoring
  flyteplugins/go/tasks/plugins/k8s/batchscheduler/plugins.go
  flyteplugins/go/tasks/plugins/k8s/batchscheduler/plugins_test.go
  flyteplugins/go/tasks/plugins/k8s/batchscheduler/scheduler/kubernetes/default.go
  flyteplugins/go/tasks/plugins/k8s/batchscheduler/scheduler/kubernetes/default_test.go
  flyteplugins/go/tasks/plugins/k8s/batchscheduler/scheduler/yunikorn/rayhandler.go
  flyteplugins/go/tasks/plugins/k8s/batchscheduler/scheduler/yunikorn/taskgroup_test.go
  flyteplugins/go/tasks/plugins/k8s/batchscheduler/scheduler/yunikorn/utils.go
  flyteplugins/go/tasks/plugins/k8s/batchscheduler/scheduler/yunikorn/utils_test.go
  flyteplugins/go/tasks/plugins/k8s/batchscheduler/scheduler/yunikorn/yunikorn.go
  flyteplugins/go/tasks/plugins/k8s/batchscheduler/scheduler/yunikorn/yunikorn_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray_test.go
Owners: @unionai/exo

WIP name in literal instead of type
  rfc/system/4358-tuple-idl.md
Owners: @unionai/cloud-eng

update langauge
  docs/quickstart_guide.md
Owners: @neverett, @ppiegaze

refactor
  flyteplugins/go/tasks/plugins/k8s/batchscheduler/scheduler/kubernetes/default_test.go
  flyteplugins/go/tasks/plugins/k8s/batchscheduler/scheduler/yunikorn/rayhandler.go
  flyteplugins/go/tasks/plugins/k8s/batchscheduler/scheduler/yunikorn/taskgroup_test.go
  flyteplugins/go/tasks/plugins/k8s/batchscheduler/scheduler/yunikorn/utils.go
  flyteplugins/go/tasks/plugins/k8s/batchscheduler/scheduler/yunikorn/utils_test.go
  flyteplugins/go/tasks/plugins/k8s/batchscheduler/scheduler/yunikorn/yunikorn.go
  flyteplugins/go/tasks/plugins/k8s/batchscheduler/scheduler/yunikorn/yunikorn_test.go
Owners: @unionai/exo

fix wrong format
  flyteplugins/go/tasks/plugins/k8s/batchscheduler/scheduler/yunikorn/utils.go
Owners: @unionai/exo

Complete the rfc for tuple idl
  rfc/system/4358-tuple-idl.md
Owners: @unionai/cloud-eng

Update docs/quickstart_guide.md
  docs/quickstart_guide.md
Owners: @neverett, @ppiegaze

Output of make helm
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Owners: @unionai/cloud-eng

add tests for flyteidl/clients/go/coreutils/literals.go
  flyteidl/clients/go/coreutils/literals.go
  flyteidl/clients/go/coreutils/literals_test.go
Owners: @unionai/cloud-eng

add tests for flytepropeller/pkg/compiler/validators
  flytepropeller/pkg/compiler/transformers/k8s/inputs.go
  flytepropeller/pkg/compiler/validators/typing.go
  flytepropeller/pkg/compiler/validators/typing_test.go
  flytepropeller/pkg/compiler/validators/utils_test.go
Owners: @unionai/exo

add tests for attr_path_resolver
  flytepropeller/pkg/controller/nodes/attr_path_resolver_test.go
Owners: @unionai/exo

add tests for attr_path_resolver with nearly 100% coverage
  flytepropeller/pkg/controller/nodes/attr_path_resolver_test.go
Owners: @unionai/exo

lint
  flytepropeller/pkg/controller/nodes/attr_path_resolver_test.go
Owners: @unionai/exo

[0828] Update rfc with new literal
  rfc/system/4358-tuple-idl.md
Owners: @unionai/cloud-eng

nit
  flyteidl/clients/go/coreutils/literals.go
  flyteidl/clients/go/coreutils/literals_test.go
  flytepropeller/pkg/controller/nodes/attr_path_resolver.go
Owners: @unionai/cloud-eng, @unionai/exo

Update promotion process
  rfc/system/0008-community-plugins.md
Owners: @unionai/cloud-eng

Change Flyte CR naming scheme to better support namespace_mapping
  flyteadmin/pkg/workflowengine/impl/k8s_executor.go
  flyteadmin/pkg/workflowengine/impl/k8s_executor_test.go
  flytepropeller/pkg/compiler/transformers/k8s/workflow.go
  flytepropeller/pkg/compiler/transformers/k8s/workflow_test.go
  flytepropeller/pkg/controller/config/config.go
Owners: @unionai/cloud-eng, @unionai/exo

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo
