Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo

[BUG] add retries to handle array node eventing race condition (#421)
  flytepropeller/events/admin_eventsink.go
  flytepropeller/events/admin_eventsink_test.go
  flytepropeller/pkg/controller/config/config.go
  flytepropeller/pkg/controller/config/config_flags.go
  flytepropeller/pkg/controller/config/config_flags_test.go
  flytepropeller/pkg/controller/nodes/array/handler.go
  flytepropeller/pkg/controller/nodes/array/handler_test.go
  flytepropeller/pkg/controller/nodes/node_exec_context.go
Owners: @unionai/exo

handle already exists error on array node abort (#427)
  flytepropeller/pkg/controller/nodes/array/handler.go
Owners: @unionai/exo

[BUG] set cause for already exists EventError (#432)
  flytepropeller/events/admin_eventsink.go
  flytepropeller/events/errors/errors.go
Owners: @unionai/exo

add deep copy for array node status
  .run/single-binary.run.xml
Owners: @unionai/cloud-eng

add deep copy for array node status
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/node_status.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/zz_generated.deepcopy.go
Owners: @unionai/exo

use deep copy of bit arrays when getting array node state
  flytepropeller/pkg/controller/nodes/array/handler_test.go
  flytepropeller/pkg/controller/nodes/node_state_manager.go
Owners: @unionai/exo

Revert "add deep copy for array node status"
  .run/single-binary.run.xml
Owners: @unionai/cloud-eng

[Bug] Update resource failures w/ Finalizers set (#423) (#5673)
  flyteplugins/go/tasks/pluginmachinery/flytek8s/config/config.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/config/k8spluginconfig_flags.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/config/k8spluginconfig_flags_test.go
  flytepropeller/pkg/controller/nodes/task/k8s/plugin_manager.go
Owners: @unionai/exo

More concise definition of launchplan
  docs/flyte_fundamentals/tasks_workflows_and_launch_plans.md
Owners: @neverett, @ppiegaze

[BUG] array node eventing bump version (#5680)
  flytepropeller/events/admin_eventsink.go
  flytepropeller/events/admin_eventsink_test.go
  flytepropeller/events/errors/errors.go
  flytepropeller/pkg/controller/config/config.go
  flytepropeller/pkg/controller/config/config_flags.go
  flytepropeller/pkg/controller/config/config_flags_test.go
  flytepropeller/pkg/controller/nodes/array/handler.go
  flytepropeller/pkg/controller/nodes/array/handler_test.go
  flytepropeller/pkg/controller/nodes/node_exec_context.go
Owners: @unionai/exo

ignore ErrorOnAlreadyExists when marshalling event config
  flytepropeller/pkg/controller/config/config.go
  flytepropeller/pkg/controller/config/config_flags.go
  flytepropeller/pkg/controller/config/config_flags_test.go
Owners: @unionai/exo

apply pod config to init containers
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper.go
Owners: @unionai/exo

remove container
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper.go
Owners: @unionai/exo

details
  rfc/system/RFC-0000-execution-concurrency.md
Owners: @unionai/cloud-eng

save values
  flyteidl/clients/go/admin/auth_interceptor.go
  flyteidl/clients/go/admin/token_source_provider.go
Owners: @unionai/cloud-eng

move things up
  flyteidl/clients/go/admin/auth_interceptor.go
  flyteidl/clients/go/admin/auth_interceptor_test.go
  flyteidl/clients/go/admin/client.go
  flyteidl/clients/go/admin/token_source_provider.go
Owners: @unionai/cloud-eng

Add custominfo to agents (#5604)
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin_test.go
Owners: @unionai/exo

Update docs/flyte_fundamentals/tasks_workflows_and_launch_plans.md
  docs/flyte_fundamentals/tasks_workflows_and_launch_plans.md
Owners: @neverett, @ppiegaze

Update docs/flyte_fundamentals/tasks_workflows_and_launch_plans.md
  docs/flyte_fundamentals/tasks_workflows_and_launch_plans.md
Owners: @neverett, @ppiegaze

tests
  flyteidl/clients/go/admin/auth_interceptor_test.go
  flytepropeller/pkg/controller/controller.go
Owners: @unionai/cloud-eng, @unionai/exo

[BUG] use deep copy of bit arrays when getting array node state (#5681)
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/node_status.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/zz_generated.deepcopy.go
  flytepropeller/pkg/controller/config/config.go
  flytepropeller/pkg/controller/config/config_flags.go
  flytepropeller/pkg/controller/config/config_flags_test.go
  flytepropeller/pkg/controller/nodes/array/handler_test.go
  flytepropeller/pkg/controller/nodes/node_state_manager.go
Owners: @unionai/exo

unit test
  flyteidl/clients/go/admin/auth_interceptor.go
  flyteidl/clients/go/admin/client_test.go
Owners: @unionai/cloud-eng

imports for client test
  flyteidl/clients/go/admin/client_test.go
Owners: @unionai/cloud-eng

more test
  flyteidl/clients/go/admin/client_builder_test.go
Owners: @unionai/cloud-eng

Support linting on go 1.23
  boilerplate/flyte/golang_support_tools/go.mod
  boilerplate/flyte/golang_support_tools/go.sum
  boilerplate/flyte/golang_test_targets/Makefile
Owners: @unionai/cloud-eng

don't test admin connection
  flytectl/cmd/core/cmd_test.go
Owners: @unionai/cloud-eng

disable client for config
  flytectl/cmd/configuration/configuration.go
Owners: @unionai/cloud-eng

More concise definition of launchplan (#5682)
  docs/flyte_fundamentals/tasks_workflows_and_launch_plans.md
Owners: @neverett, @ppiegaze

make generate
  flyteidl/gen/pb_rust/datacatalog.rs
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/gen/pb_rust/flyteidl.cacheservice.rs
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/gen/pb_rust/flyteidl.event.rs
  flyteidl/gen/pb_rust/flyteidl.plugins.kubeflow.rs
  flyteidl/gen/pb_rust/flyteidl.plugins.rs
  flyteidl/gen/pb_rust/flyteidl.service.rs
Owners: @unionai/cloud-eng

hide behind a once
  flyteidl/clients/go/admin/auth_interceptor.go
  flyteidl/clients/go/admin/auth_interceptor_test.go
  flyteidl/clients/go/admin/client.go
  flytepropeller/pkg/controller/controller.go
Owners: @unionai/cloud-eng, @unionai/exo

typo
  flyteidl/clients/go/admin/auth_interceptor.go
Owners: @unionai/cloud-eng

reset client builder test
  flyteidl/clients/go/admin/client_builder_test.go
Owners: @unionai/cloud-eng

reset client test
  flyteidl/clients/go/admin/client_test.go
Owners: @unionai/cloud-eng

revert propeller
  flytepropeller/pkg/controller/controller.go
Owners: @unionai/exo

clean up
  flytepropeller/pkg/controller/nodes/array/handler.go
Owners: @unionai/exo

delay invocation even further
  flyteidl/clients/go/admin/auth_interceptor.go
  flyteidl/clients/go/admin/auth_interceptor_test.go
Owners: @unionai/cloud-eng

Auth/prevent lookup per call (#5686)
  flytectl/cmd/configuration/configuration.go
  flytectl/cmd/core/cmd_test.go
  flyteidl/clients/go/admin/auth_interceptor.go
  flyteidl/clients/go/admin/auth_interceptor_test.go
  flyteidl/clients/go/admin/client.go
  flyteidl/gen/pb_rust/datacatalog.rs
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/gen/pb_rust/flyteidl.cacheservice.rs
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/gen/pb_rust/flyteidl.event.rs
  flyteidl/gen/pb_rust/flyteidl.plugins.kubeflow.rs
  flyteidl/gen/pb_rust/flyteidl.plugins.rs
  flyteidl/gen/pb_rust/flyteidl.service.rs
Owners: @unionai/cloud-eng

Update Flyte Components
  charts/flyte-binary/README.md
  charts/flyte-binary/values.yaml
  charts/flyte-core/README.md
  charts/flyte-core/values.yaml
  charts/flyte/README.md
  charts/flyte/values.yaml
  charts/flyteagent/README.md
  charts/flyteagent/values.yaml
  deployment/agent/flyte_agent_helm_generated.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_dataplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_dataplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox-binary/flyte_sandbox_binary_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  docs/deployment/configuration/generated/flyteadmin_config.rst
  docs/deployment/configuration/generated/flytepropeller_config.rst
  docs/deployment/configuration/generated/scheduler_config.rst
Owners: @unionai/cloud-eng, @neverett, @ppiegaze

Add changelog and bump version in conf.py
  CHANGELOG/CHANGELOG-v1.13.1-rc1.md
  docs/conf.py
Owners: @unionai/cloud-eng, @neverett, @ppiegaze

Update Flyte components - v1.13.1-rc1 (#5691)
  CHANGELOG/CHANGELOG-v1.13.1-rc1.md
  charts/flyte-binary/README.md
  charts/flyte-binary/values.yaml
  charts/flyte-core/README.md
  charts/flyte-core/values.yaml
  charts/flyte/README.md
  charts/flyte/values.yaml
  charts/flyteagent/README.md
  charts/flyteagent/values.yaml
  deployment/agent/flyte_agent_helm_generated.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_dataplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_dataplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox-binary/flyte_sandbox_binary_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  docs/conf.py
  docs/deployment/configuration/generated/flyteadmin_config.rst
  docs/deployment/configuration/generated/flytepropeller_config.rst
  docs/deployment/configuration/generated/scheduler_config.rst
Owners: @unionai/cloud-eng, @neverett, @ppiegaze
