Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo

remove `sccache`
  .github/workflows/flyteidl-nightly.yml
Owners: @unionai/cloud-eng

show openssl version
  .github/workflows/flyteidl-nightly.yml
Owners: @unionai/cloud-eng

clean up `before-script-linux`
  .github/workflows/flyteidl-nightly.yml
Owners: @unionai/cloud-eng

generate rust protobuf
  .github/workflows/flyteidl-nightly.yml
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/gen/pb_rust/flyteidl.event.rs
  flyteidl/gen/pb_rust/flyteidl.plugins.kubeflow.rs
  flyteidl/gen/pb_rust/flyteidl.plugins.rs
  flyteidl/gen/pb_rust/flyteidl.service.rs
  flyteidl/gen/pb_rust/flyteidl.service.tonic.rs
Owners: @unionai/cloud-eng

generate rust protobuf
  .github/workflows/flyteidl-nightly.yml
Owners: @unionai/cloud-eng

add `abi3-py39`
  flyteidl/Cargo.toml
Owners: @unionai/cloud-eng

fix gen syntax
  .github/workflows/flyteidl-nightly.yml
Owners: @unionai/cloud-eng

add multiple python version
  .github/workflows/flyteidl-nightly.yml
  flyteidl/Cargo.toml
Owners: @unionai/cloud-eng

fix python version with number string
  .github/workflows/flyteidl-nightly.yml
Owners: @unionai/cloud-eng

pin pyo3 version and lock
  flyteidl/Cargo.lock
Owners: @unionai/cloud-eng

add pyo3 feature `abi3-py39`
  flyteidl/Cargo.toml
Owners: @unionai/cloud-eng

finalize rust `flyteidl-nightly` ci
  .github/workflows/flyteidl-nightly.yml
  flyteidl/Cargo.toml
Owners: @unionai/cloud-eng

Register/create if `Project_SYSTEM_ARCHIVED` (#424)
  flyteadmin/pkg/manager/impl/testutils/repository.go
  flyteadmin/pkg/manager/impl/validation/launch_plan_validator.go
  flyteadmin/pkg/manager/impl/validation/launch_plan_validator_test.go
  flyteadmin/pkg/manager/impl/validation/project_validator.go
  flyteadmin/pkg/manager/impl/validation/project_validator_test.go
  flyteadmin/pkg/manager/impl/validation/task_validator.go
  flyteadmin/pkg/manager/impl/validation/task_validator_test.go
  flyteadmin/pkg/manager/impl/validation/workflow_validator.go
Owners: @unionai/cloud-eng

remove outdated duplicate content and link to deployment docs notification config page
  docs/user_guide/productionizing/notifications.md
Owners: @neverett, @ppiegaze

Add custominfo to agents
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
Owners: @unionai/exo

Add unit test
  flyteplugins/go/tasks/plugins/webapi/agent/plugin_test.go
Owners: @unionai/exo

Validate labels before creating flyte CRD
  flyteadmin/pkg/manager/impl/validation/execution_validator.go
  flyteadmin/pkg/manager/impl/validation/execution_validator_test.go
Owners: @unionai/cloud-eng

[BUG] use deep copy of bit arrays when getting array node state (#428)
  flytepropeller/pkg/controller/nodes/array/handler.go
  flytepropeller/pkg/controller/nodes/array/handler_test.go
  flytepropeller/pkg/controller/nodes/array/mocks/array_node_state_store.go
  flytepropeller/pkg/controller/nodes/array/state_store.go
  flytepropeller/pkg/controller/nodes/node_state_manager.go
Owners: @unionai/exo

change to shorter names
  flyteplugins/go/tasks/pluginmachinery/flytek8s/k8s_resource_adds.go
Owners: @unionai/exo

change to shorter names
  flyteplugins/go/tasks/pluginmachinery/flytek8s/k8s_resource_adds.go
  flytestdlib/storage/storage.go
  flytestdlib/storage/stow_store.go
Owners: @unionai/exo, @unionai/cloud-eng

[Bug] Update resource failures w/ Finalizers set (#423)
  flyteplugins/go/tasks/pluginmachinery/flytek8s/config/config.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/config/k8spluginconfig_flags.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/config/k8spluginconfig_flags_test.go
  flytepropeller/pkg/controller/nodes/task/k8s/plugin_manager.go
Owners: @unionai/exo

change to shorter names
  flytestdlib/storage/storage.go
  flytestdlib/storage/stow_store.go
Owners: @unionai/cloud-eng

change to shorter names
  flytestdlib/storage/storage.go
Owners: @unionai/cloud-eng

change to shorter names
  flytestdlib/storage/stow_store.go
Owners: @unionai/cloud-eng

[Bug] Update resource failures w/ Finalizers set (#423)
  flyteplugins/go/tasks/pluginmachinery/flytek8s/config/config.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/config/k8spluginconfig_flags.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/config/k8spluginconfig_flags_test.go
  flytepropeller/pkg/controller/nodes/task/k8s/plugin_manager.go
Owners: @unionai/exo

Add list operation to stow container
  flyteadmin/pkg/common/mocks/storage.go
  flytepropeller/pkg/utils/failing_datastore.go
  flytestdlib/storage/cached_rawstore_test.go
  flytestdlib/storage/mem_store.go
  flytestdlib/storage/storage.go
  flytestdlib/storage/stow_store.go
  flytestdlib/storage/stow_store_test.go
Owners: @unionai/cloud-eng, @unionai/exo

modify `repository-url`
  .github/workflows/flyteidl-nightly.yml
Owners: @unionai/cloud-eng

remove outdated duplicate content and link to deployment docs notification config page (#5672)
  docs/user_guide/productionizing/notifications.md
Owners: @neverett, @ppiegaze

review comments, still need to flesh out impl
  rfc/system/RFC-0000-execution-concurrency.md
Owners: @unionai/cloud-eng

Fix comment symbol
  flyteplugins/go/tasks/pluginmachinery/flytek8s/k8s_resource_adds.go
Owners: @unionai/exo

Validate labels before creating flyte CRD (#5671)
  flyteadmin/pkg/manager/impl/validation/execution_validator.go
  flyteadmin/pkg/manager/impl/validation/execution_validator_test.go
Owners: @unionai/cloud-eng

fix one more test
  flyteplugins/go/tasks/pluginmachinery/flytek8s/container_helper_test.go
Owners: @unionai/exo

Adds fast-task configure to sandbox (#436)
  charts/flyte-binary/README.md
  charts/flyte-binary/templates/configmap.yaml
  charts/flyte-binary/templates/fasttask.yaml
  charts/flyte-binary/values.yaml
  deployment/sandbox-binary/flyte_sandbox_binary_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Owners: @unionai/cloud-eng

Minor fix
  flyteplugins/go/tasks/pluginmachinery/flytek8s/k8s_resource_adds.go
Owners: @unionai/exo

Custom metadata label support for PyTorch jobs
  flyteidl/gen/pb-es/flyteidl/plugins/kubeflow/pytorch_pb.ts
  flyteidl/gen/pb-go/flyteidl/plugins/kubeflow/pytorch.pb.go
  flyteidl/gen/pb_python/flyteidl/plugins/kubeflow/pytorch_pb2.py
  flyteidl/gen/pb_python/flyteidl/plugins/kubeflow/pytorch_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.plugins.kubeflow.rs
  flyteidl/protos/flyteidl/plugins/kubeflow/pytorch.proto
  flyteplugins/go/tasks/plugins/k8s/kfoperators/pytorch/pytorch.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/pytorch/pytorch_test.go
Owners: @unionai/cloud-eng, @unionai/exo

[COR-1453] Prom actor metrics for Actor InMemory Builder (#433)
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  fasttask/plugin/builder.go
  fasttask/plugin/builder_test.go
  fasttask/plugin/utils.go
Owners: @unionai/cloud-eng, @unionai/exo

fix generated code
  flyteidl/gen/pb-es/flyteidl/plugins/kubeflow/pytorch_pb.ts
  flyteidl/gen/pb-go/flyteidl/plugins/kubeflow/pytorch.pb.go
  flyteidl/gen/pb_rust/flyteidl.plugins.kubeflow.rs
Owners: @unionai/cloud-eng

Enable echo plugin by default
  charts/flyte-binary/README.md
  charts/flyte-binary/eks-production.yaml
  charts/flyte-binary/eks-starter.yaml
  charts/flyte-binary/gke-starter.yaml
  charts/flyte-binary/values.yaml
  charts/flyte-core/README.md
  charts/flyte-core/values-eks.yaml
  charts/flyte-core/values-gcp.yaml
  charts/flyte-core/values-keycloak-idp-flyteclients-without-browser.yaml
  charts/flyte-core/values.yaml
  charts/flyte/README.md
  charts/flyte/values.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_dataplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_dataplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox-binary/flyte_sandbox_binary_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  flyte-single-binary-local.yaml
  flytepropeller/propeller-config.yaml
Owners: @unionai/cloud-eng, @unionai/exo

Add FLYTE_INTERNAL_POD_NAME environment variable that holds the pod name (#5616)
  flyteplugins/go/tasks/pluginmachinery/flytek8s/container_helper_test.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/k8s_resource_adds.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/k8s_resource_adds_test.go
  flyteplugins/go/tasks/plugins/k8s/spark/spark_test.go
Owners: @unionai/exo

[CLD-946] Using InMemory token cache for admin clientset in propeller (#299) (#5621)
  flytepropeller/pkg/controller/controller.go
Owners: @unionai/exo
