Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

pflag
  flyteplugins/go/tasks/plugins/k8s/ray/config.go
  flyteplugins/go/tasks/plugins/k8s/ray/config_flags.go
  flyteplugins/go/tasks/plugins/k8s/ray/config_flags_test.go
Owners: @unionai/exo

gci format
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/default.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/plugins.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/plugins_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/yunikorn.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/yunikorn_test.go
Owners: @unionai/exo

update test in ray
  flyteplugins/go/tasks/plugins/k8s/ray/ray_test.go
Owners: @unionai/exo

Add environment variable for pod name
  flyteplugins/go/tasks/pluginmachinery/flytek8s/k8s_resource_adds.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/k8s_resource_adds_test.go
Owners: @unionai/exo

[flytepropeller][compiler] Error Handling when Type is not found (#5612)
  flyteadmin/pkg/manager/impl/validation/launch_plan_validator_test.go
  flyteadmin/pkg/manager/impl/validation/validation.go
  flyteadmin/pkg/manager/impl/validation/validation_test.go
Owners: @unionai/cloud-eng

Add CustomHeaderMatcher to pass additional headers (#5563)
  flyteadmin/auth/handlers.go
  flyteadmin/pkg/server/service.go
  flyteadmin/plugins/registry.go
Owners: @unionai/cloud-eng

Fix typo in execution manager (#5619)
  flyteadmin/pkg/manager/impl/execution_manager.go
Owners: @unionai/cloud-eng

fix tests
  flyteplugins/go/tasks/plugins/k8s/spark/spark_test.go
Owners: @unionai/exo

Fix flyteidl release checkout all tags (#5646)
  .github/workflows/flyteidl-release.yml
Owners: @unionai/cloud-eng

Fix ordering for custom template values in cluster resource controller (#5648)
  flyteadmin/pkg/clusterresource/controller.go
  flyteadmin/pkg/clusterresource/controller_test.go
  flyteadmin/pkg/clusterresource/testdata/imagepullsecrets_templatized.yaml
Owners: @unionai/cloud-eng

Don't error when attempting to trigger schedules for inactive projects (#5649)
  flyteadmin/pkg/errors/errors.go
  flyteadmin/pkg/errors/errors_test.go
  flyteadmin/pkg/manager/impl/validation/project_validator.go
  flyteadmin/scheduler/executor/executor_impl.go
  flyteadmin/scheduler/executor/executor_impl_test.go
  flyteidl/gen/pb-es/flyteidl/admin/project_pb.ts
  flyteidl/gen/pb-go/flyteidl/admin/project.pb.go
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/admin/project_pb2.py
  flyteidl/gen/pb_python/flyteidl/admin/project_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/protos/flyteidl/admin/project.proto
Owners: @unionai/cloud-eng

Explain how Agent Secret Works (#5625)
  docs/flyte_agents/how_secret_works_in_agent.md
  docs/flyte_agents/index.md
Owners: @neverett, @ppiegaze

Turn flyteidl and flytectl releases into manual gh workflows (#5635)
  .github/workflows/create_release.yml
  .github/workflows/flytectl-release.yml
  .github/workflows/flyteidl-release.yml
  flytectl/RELEASE.md
  flyteidl/RELEASE.md
Owners: @unionai/cloud-eng

Fix nil pointer when task plugin load returns error (#5622)
  flytepropeller/pkg/controller/nodes/task/handler.go
  flytepropeller/pkg/controller/nodes/task/handler_test.go
Owners: @unionai/exo

Amend Admin to use grpc message size (#5628)
  .github/actions/clear-action-cache/action.yml
  .github/workflows/tests.yml
  flyteadmin/pkg/server/service.go
Owners: @unionai/cloud-eng

Use enable_deck=True in docs (#5645)
  docs/core_use_cases/analytics.md
  docs/core_use_cases/machine_learning.md
  docs/flyte_fundamentals/visualizing_task_input_and_output.md
Owners: @neverett, @ppiegaze

Correct "sucessfile" to "successfile" (#5652)
  flytecopilot/cmd/sidecar_test.go
Owners: @unionai/cloud-eng

docs: add documentation for configuring notifications in GCP (#5545)
  docs/deployment/configuration/notifications.rst
Owners: @neverett, @ppiegaze

Snowflake agent Doc (#5620)
  docs/deployment/agents/index.md
  docs/deployment/agents/snowflake.rst
Owners: @neverett, @ppiegaze

use private-key (#5626)
  docs/deployment/agents/snowflake.rst
Owners: @neverett, @ppiegaze

[flyteadmin] Refactor panic recovery into middleware (#5546)
  flyteadmin/pkg/rpc/adminservice/attributes.go
  flyteadmin/pkg/rpc/adminservice/base.go
  flyteadmin/pkg/rpc/adminservice/base_test.go
  flyteadmin/pkg/rpc/adminservice/description_entity.go
  flyteadmin/pkg/rpc/adminservice/execution.go
  flyteadmin/pkg/rpc/adminservice/launch_plan.go
  flyteadmin/pkg/rpc/adminservice/metrics.go
  flyteadmin/pkg/rpc/adminservice/middleware/recovery_interceptor.go
  flyteadmin/pkg/rpc/adminservice/middleware/recovery_interceptor_test.go
  flyteadmin/pkg/rpc/adminservice/named_entity.go
  flyteadmin/pkg/rpc/adminservice/node_execution.go
  flyteadmin/pkg/rpc/adminservice/project.go
  flyteadmin/pkg/rpc/adminservice/task.go
  flyteadmin/pkg/rpc/adminservice/task_execution.go
  flyteadmin/pkg/rpc/adminservice/version.go
  flyteadmin/pkg/rpc/adminservice/workflow.go
  flyteadmin/pkg/server/service.go
Owners: @unionai/cloud-eng

Log stack trace when refresh cache sync recovers from panic (#5623)
  flytestdlib/cache/auto_refresh.go
  flytestdlib/cache/auto_refresh_test.go
Owners: @unionai/cloud-eng

Install pyarrow in sandbox functional tests (#5647)
  .github/workflows/single-binary.yml
Owners: @unionai/cloud-eng

docs: fix typo (#5643)
  CHANGELOG/CHANGELOG-v0.2.0.md
  CHANGELOG/CHANGELOG-v1.0.2-b1.md
  CHANGELOG/CHANGELOG-v1.1.0.md
  CHANGELOG/CHANGELOG-v1.3.0.md
Owners: @unionai/cloud-eng

document the process of setting ttl for a ray cluster (#5636)
  docs/deployment/plugins/k8s/index.rst
Owners: @neverett, @ppiegaze

fix: fix lint error
  flyteadmin/pkg/common/executions.go
Owners: @unionai/cloud-eng

Fix go mod
  flyteadmin/go.mod
Owners: @unionai/cloud-eng

Revert "feat: disabled adding SYS_PTRACE to the primary container"
  flyteplugins/go/tasks/pluginmachinery/flytek8s/copilot.go
Owners: @unionai/exo

Revert "feat: disabled adding SYS_PTRACE to the primary container"
  flyteplugins/go/tasks/pluginmachinery/flytek8s/copilot.go
Owners: @unionai/exo

wip
  flyteplugins/go/tasks/logs/logging_utils.go
  flyteplugins/go/tasks/pluginmachinery/tasklog/plugin.go
  flyteplugins/go/tasks/pluginmachinery/tasklog/template.go
Owners: @unionai/exo

feat: disabled adding SYS_PTRACE to the primary container
  flyteplugins/go/tasks/pluginmachinery/flytek8s/copilot.go
Owners: @unionai/exo

feat: apply PodTemplate settings also to InitContainers (not only primary/sidecar containers)
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper.go
Owners: @unionai/exo

Remove end2end.yml (#5034)
  .github/workflows/end2end.yml
Owners: @unionai/cloud-eng

Fix: Make 'flytectl compile' consider launchplans used within workflows (#5463)
  flytectl/cmd/compile/compile.go
  flytectl/cmd/compile/compile_test.go
  flytectl/cmd/compile/testdata/launchplan-in-wf.py
  flytectl/cmd/compile/testdata/launchplan-in-wf.tgz
Owners: @unionai/cloud-eng

fix(migrations): Correct NULL to empty string in SQL insert (#5482)
  .github/workflows/single-binary.yml
  flyteadmin/pkg/repositories/config/migrations.go
Owners: @unionai/cloud-eng

include group in apiVersion in plugin_collector (#5457)
  flytepropeller/pkg/controller/nodes/task/k8s/plugin_collector.go
Owners: @unionai/exo

Feat: Allow controlling in which task phases log links are shown (#4726)
  flyteadmin/pkg/repositories/transformers/task_execution.go
  flyteadmin/pkg/repositories/transformers/task_execution_test.go
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/core/execution_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/execution.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/execution_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/execution_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/go.mod
  flyteidl/go.sum
  flyteidl/protos/flyteidl/core/execution.proto
  flyteplugins/go/tasks/logs/logging_utils.go
  flyteplugins/go/tasks/pluginmachinery/core/phase.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper_test.go
  flyteplugins/go/tasks/pluginmachinery/k8s/plugin.go
  flyteplugins/go/tasks/pluginmachinery/tasklog/plugin.go
  flyteplugins/go/tasks/pluginmachinery/tasklog/template.go
  flyteplugins/go/tasks/plugins/k8s/dask/dask.go
  flyteplugins/go/tasks/plugins/k8s/dask/dask_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/common/common_operator.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/mpi/mpi.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/mpi/mpi_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/pytorch/pytorch.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/pytorch/pytorch_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/tensorflow/tensorflow.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/tensorflow/tensorflow_test.go
  flyteplugins/go/tasks/plugins/k8s/pod/plugin.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray_test.go
  flyteplugins/go/tasks/plugins/k8s/spark/spark.go
  flyteplugins/go/tasks/plugins/k8s/spark/spark_test.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
  flyteplugins/go/tasks/plugins/webapi/bigquery/plugin.go
  flytepropeller/pkg/controller/nodes/task/k8s/plugin_manager_test.go
Owners: @unionai/cloud-eng, @unionai/exo

Inherit execution cluster label from source execution (#5431)
  flyteadmin/pkg/manager/impl/execution_manager.go
  flyteadmin/pkg/manager/impl/execution_manager_test.go
Owners: @unionai/cloud-eng

install image builder (#5487)
  .github/workflows/single-binary.yml
Owners: @unionai/cloud-eng

Add API to get domain (#5443)
  flyteadmin/pkg/manager/impl/project_manager.go
  flyteadmin/pkg/manager/interfaces/project.go
  flyteadmin/pkg/manager/mocks/project.go
  flyteadmin/pkg/rpc/adminservice/metrics.go
  flyteadmin/pkg/rpc/adminservice/project.go
  flyteadmin/tests/project_test.go
  flytectl/pkg/ext/domain_fetcher.go
  flytectl/pkg/ext/domain_fetcher_test.go
  flytectl/pkg/ext/fetcher.go
  flytectl/pkg/ext/mocks/admin_fetcher_ext_interface.go
  flyteidl/clients/go/admin/mocks/AdminServiceClient.go
  flyteidl/clients/go/admin/mocks/AdminServiceServer.go
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/admin/project_pb.ts
  flyteidl/gen/pb-es/flyteidl/service/admin_connect.ts
  flyteidl/gen/pb-go/flyteidl/admin/project.pb.go
  flyteidl/gen/pb-go/flyteidl/service/admin.pb.go
  flyteidl/gen/pb-go/flyteidl/service/admin_grpc.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.pb.gw.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/admin/project_pb2.py
  flyteidl/gen/pb_python/flyteidl/admin/project_pb2.pyi
  flyteidl/gen/pb_python/flyteidl/service/admin_pb2.py
  flyteidl/gen/pb_python/flyteidl/service/admin_pb2_grpc.py
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/gen/pb_rust/flyteidl.service.tonic.rs
  flyteidl/protos/flyteidl/admin/project.proto
  flyteidl/protos/flyteidl/service/admin.proto
Owners: @unionai/cloud-eng

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo
