Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

change defaultPlugins to DefaultPlugins
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
  flytepropeller/pkg/controller/nodes/task/handler.go
Owners: @unionai/exo

feat: user can input flag arguments by typing
  flytectl/pkg/bubbletea/bubbletea_list.go
  flytectl/pkg/bubbletea/bubbletea_list_util.go
  flytectl/pkg/bubbletea/command_flag_map.go
Owners: @unionai/cloud-eng

Skip flytectl upgrade tests (#5381)
  flytectl/cmd/upgrade/upgrade_test.go
Owners: @unionai/cloud-eng

wip
  flyteadmin/pkg/repositories/config/migrations.go
Owners: @unionai/cloud-eng

wip
  flyteadmin/pkg/repositories/config/migrations.go
Owners: @unionai/cloud-eng

feat: enable user to type in multiple flag value at once
  flytectl/pkg/bubbletea/bubbletea_list.go
  flytectl/pkg/bubbletea/bubbletea_list_util.go
  flytectl/pkg/bubbletea/command_flag_map.go
Owners: @unionai/cloud-eng

wip
  flyteadmin/pkg/repositories/gormimpl/execution_repo.go
  flyteadmin/pkg/repositories/models/execution.go
  flyteadmin/pkg/repositories/transformers/execution.go
Owners: @unionai/cloud-eng

source code renderer removed
  docs/user_guide/development_lifecycle/decks.md
Owners: @neverett, @ppiegaze

Ensure token is refreshed on Unauthenticated (#239)
  cacheservice/go.mod
  cacheservice/go.sum
  datacatalog/go.mod
  datacatalog/go.sum
  fasttask/plugin/go.mod
  fasttask/plugin/go.sum
  fasttask/plugin/service.go
  flyteadmin/go.mod
  flyteadmin/go.sum
  flytecopilot/go.mod
  flytecopilot/go.sum
  flyteidl/clients/go/admin/auth_interceptor.go
  flyteidl/clients/go/admin/auth_interceptor_test.go
  flyteidl/clients/go/admin/cache/mocks/token_cache.go
  flyteidl/clients/go/admin/cache/token_cache.go
  flyteidl/clients/go/admin/cache/token_cache_inmemory.go
  flyteidl/clients/go/admin/client_builder.go
  flyteidl/clients/go/admin/client_builder_test.go
  flyteidl/clients/go/admin/client_test.go
  flyteidl/clients/go/admin/deviceflow/token_orchestrator_test.go
  flyteidl/clients/go/admin/pkce/auth_flow_orchestrator_test.go
  flyteidl/clients/go/admin/token_source_provider.go
  flyteidl/clients/go/admin/token_source_provider_test.go
  flyteidl/clients/go/admin/tokenorchestrator/base_token_orchestrator.go
  flyteidl/clients/go/admin/tokenorchestrator/base_token_orchestrator_test.go
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/go.mod
  flyteidl/go.sum
  flyteplugins/go.mod
  flyteplugins/go.sum
  flytepropeller/go.mod
  flytepropeller/go.sum
  flytestdlib/go.mod
  flytestdlib/go.sum
  flytestdlib/storage/stow_store.go
  flytestdlib/storage/stow_store_test.go
  go.mod
  go.sum
Owners: @unionai/cloud-eng, @unionai/exo

Update token_source.go
  flyteidl/clients/go/admin/token_source.go
Owners: @unionai/cloud-eng

nit
  flytectl/cmd/core/cmd.go
  flytectl/go.mod
  flytectl/go.sum
Owners: @unionai/cloud-eng

nit
  flyteidl/clients/go/admin/cache/token_cache.go
  flyteidl/clients/go/admin/tokenorchestrator/base_token_orchestrator.go
Owners: @unionai/cloud-eng

fix unit tests
  flytectl/cmd/core/cmd.go
  flytectl/go.mod
  flytectl/go.sum
  flytectl/pkg/pkce/token_cache_keyring.go
  flyteidl/clients/go/admin/auth_interceptor_test.go
  flyteidl/clients/go/admin/cache/mocks/token_cache.go
Owners: @unionai/cloud-eng

nit
  flyteidl/clients/go/admin/auth_interceptor_test.go
Owners: @unionai/cloud-eng

Ensure token is refreshed on Unauthenticated
  flyteidl/clients/go/admin/auth_interceptor.go
  flyteidl/clients/go/admin/auth_interceptor_test.go
  flyteidl/clients/go/admin/cache/mocks/token_cache.go
  flyteidl/clients/go/admin/cache/token_cache.go
  flyteidl/clients/go/admin/cache/token_cache_inmemory.go
  flyteidl/clients/go/admin/client_builder.go
  flyteidl/clients/go/admin/client_builder_test.go
  flyteidl/clients/go/admin/client_test.go
  flyteidl/clients/go/admin/deviceflow/token_orchestrator_test.go
  flyteidl/clients/go/admin/pkce/auth_flow_orchestrator_test.go
  flyteidl/clients/go/admin/token_source_provider.go
  flyteidl/clients/go/admin/token_source_provider_test.go
  flyteidl/clients/go/admin/tokenorchestrator/base_token_orchestrator.go
  flyteidl/clients/go/admin/tokenorchestrator/base_token_orchestrator_test.go
Owners: @unionai/cloud-eng

adding a log line when materializing creds
  flyteidl/clients/go/admin/auth_interceptor.go
Owners: @unionai/cloud-eng

Using condition broadcast
  flyteidl/clients/go/admin/auth_interceptor.go
  flyteidl/clients/go/admin/cache/token_cache.go
  flyteidl/clients/go/admin/cache/token_cache_inmemory.go
Owners: @unionai/cloud-eng

fix go mod entries in flytectl
  flytectl/go.mod
Owners: @unionai/cloud-eng

Ensure token is refreshed on Unauthenticated (#5388)
  flytectl/cmd/core/cmd.go
  flytectl/pkg/pkce/token_cache_keyring.go
  flyteidl/clients/go/admin/auth_interceptor.go
  flyteidl/clients/go/admin/auth_interceptor_test.go
  flyteidl/clients/go/admin/cache/mocks/token_cache.go
  flyteidl/clients/go/admin/cache/token_cache.go
  flyteidl/clients/go/admin/cache/token_cache_inmemory.go
  flyteidl/clients/go/admin/client_builder.go
  flyteidl/clients/go/admin/client_builder_test.go
  flyteidl/clients/go/admin/client_test.go
  flyteidl/clients/go/admin/deviceflow/token_orchestrator_test.go
  flyteidl/clients/go/admin/pkce/auth_flow_orchestrator_test.go
  flyteidl/clients/go/admin/token_source_provider.go
  flyteidl/clients/go/admin/token_source_provider_test.go
  flyteidl/clients/go/admin/tokenorchestrator/base_token_orchestrator.go
  flyteidl/clients/go/admin/tokenorchestrator/base_token_orchestrator_test.go
Owners: @unionai/cloud-eng

remove source code renderer
  docs/user_guide/development_lifecycle/decks.md
Owners: @neverett, @ppiegaze

remove source code renderer (#5397)
  docs/user_guide/development_lifecycle/decks.md
Owners: @neverett, @ppiegaze

Use unified boilerplate to build cacheservice image
  Dockerfile.cacheservice
Owners: @unionai/cloud-eng

Revert "Revert "SVR-468: Batch provision execution namespaces and support delete"" (#273)
  flyteadmin/pkg/clusterresource/controller.go
  flyteadmin/pkg/clusterresource/controller_test.go
  flyteadmin/pkg/clusterresource/impl/admin_service_data_provider.go
  flyteadmin/pkg/clusterresource/impl/admin_service_data_provider_test.go
  flyteadmin/pkg/clusterresource/impl/db_admin_data_provider.go
  flyteadmin/pkg/clusterresource/impl/db_admin_data_provider_test.go
  flyteadmin/pkg/clusterresource/impl/shared.go
  flyteadmin/pkg/clusterresource/interfaces/admin.go
  flyteadmin/pkg/clusterresource/mocks/flyte_admin_data_provider.go
  flyteadmin/pkg/clusterresource/sync_stats.go
  flyteadmin/pkg/runtime/cluster_resource_provider.go
  flyteadmin/pkg/runtime/interfaces/cluster_resource_configuration.go
  flyteadmin/pkg/runtime/mocks/mock_cluster_resource_provider.go
Owners: @unionai/cloud-eng

Fix chart linting error
  charts/flyte-core/values.yaml
  charts/flyte/values.yaml
Owners: @unionai/cloud-eng

Fix link to test on local cluster
  docs/flyte_agents/developing_agents.md
Owners: @neverett, @ppiegaze

wAdd executionClusterLabel
  flytectl/cmd/create/execution.go
  flytectl/cmd/create/execution_util.go
  flytectl/cmd/create/execution_util_test.go
  flytectl/cmd/get/execution_test.go
  flytectl/cmd/get/node_execution_test.go
Owners: @unionai/cloud-eng

openai batch agent backend setup documentation (#5291)
  docs/deployment/agents/index.md
  docs/deployment/agents/openai_batch.rst
Owners: @neverett, @ppiegaze

Revert "Ensure token is refreshed on Unauthenticated (#239)" (#292)
  cacheservice/go.mod
  cacheservice/go.sum
  datacatalog/go.mod
  datacatalog/go.sum
  fasttask/plugin/go.mod
  fasttask/plugin/go.sum
  fasttask/plugin/service.go
  flyteadmin/go.mod
  flyteadmin/go.sum
  flytecopilot/go.mod
  flytecopilot/go.sum
  flyteidl/clients/go/admin/auth_interceptor.go
  flyteidl/clients/go/admin/auth_interceptor_test.go
  flyteidl/clients/go/admin/cache/mocks/token_cache.go
  flyteidl/clients/go/admin/cache/token_cache.go
  flyteidl/clients/go/admin/cache/token_cache_inmemory.go
  flyteidl/clients/go/admin/client_builder.go
  flyteidl/clients/go/admin/client_builder_test.go
  flyteidl/clients/go/admin/client_test.go
  flyteidl/clients/go/admin/deviceflow/token_orchestrator_test.go
  flyteidl/clients/go/admin/pkce/auth_flow_orchestrator_test.go
  flyteidl/clients/go/admin/token_source_provider.go
  flyteidl/clients/go/admin/token_source_provider_test.go
  flyteidl/clients/go/admin/tokenorchestrator/base_token_orchestrator.go
  flyteidl/clients/go/admin/tokenorchestrator/base_token_orchestrator_test.go
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/go.mod
  flyteidl/go.sum
  flyteplugins/go.mod
  flyteplugins/go.sum
  flytepropeller/go.mod
  flytepropeller/go.sum
  flytestdlib/go.mod
  flytestdlib/go.sum
  flytestdlib/storage/stow_store.go
  flytestdlib/storage/stow_store_test.go
  go.mod
  go.sum
Owners: @unionai/cloud-eng, @unionai/exo

Allow using in-cluster creds in control plane cluster in multi-cluster deployment
  docs/deployment/deployment/multicluster.rst
  flyteadmin/pkg/flytek8s/client.go
  flyteadmin/pkg/runtime/config_provider_test.go
  flyteadmin/pkg/runtime/interfaces/cluster_configuration.go
  flyteadmin/pkg/runtime/testdata/clusters_config.yaml
Owners: @neverett, @ppiegaze, @unionai/cloud-eng

Check inCluster flag in cluster config test
  flyteadmin/pkg/runtime/config_provider_test.go
Owners: @unionai/cloud-eng

Revert "Ensure token is refreshed on Unauthenticated (#5388)"
  flytectl/cmd/core/cmd.go
  flytectl/pkg/pkce/token_cache_keyring.go
  flyteidl/clients/go/admin/auth_interceptor.go
  flyteidl/clients/go/admin/auth_interceptor_test.go
  flyteidl/clients/go/admin/cache/mocks/token_cache.go
  flyteidl/clients/go/admin/cache/token_cache.go
  flyteidl/clients/go/admin/cache/token_cache_inmemory.go
  flyteidl/clients/go/admin/client_builder.go
  flyteidl/clients/go/admin/client_builder_test.go
  flyteidl/clients/go/admin/client_test.go
  flyteidl/clients/go/admin/deviceflow/token_orchestrator_test.go
  flyteidl/clients/go/admin/pkce/auth_flow_orchestrator_test.go
  flyteidl/clients/go/admin/token_source_provider.go
  flyteidl/clients/go/admin/token_source_provider_test.go
  flyteidl/clients/go/admin/tokenorchestrator/base_token_orchestrator.go
  flyteidl/clients/go/admin/tokenorchestrator/base_token_orchestrator_test.go
Owners: @unionai/cloud-eng

Revert "Ensure token is refreshed on Unauthenticated (#5388)" (#5404)
  flytectl/cmd/core/cmd.go
  flytectl/pkg/pkce/token_cache_keyring.go
  flyteidl/clients/go/admin/auth_interceptor.go
  flyteidl/clients/go/admin/auth_interceptor_test.go
  flyteidl/clients/go/admin/cache/mocks/token_cache.go
  flyteidl/clients/go/admin/cache/token_cache.go
  flyteidl/clients/go/admin/cache/token_cache_inmemory.go
  flyteidl/clients/go/admin/client_builder.go
  flyteidl/clients/go/admin/client_builder_test.go
  flyteidl/clients/go/admin/client_test.go
  flyteidl/clients/go/admin/deviceflow/token_orchestrator_test.go
  flyteidl/clients/go/admin/pkce/auth_flow_orchestrator_test.go
  flyteidl/clients/go/admin/token_source_provider.go
  flyteidl/clients/go/admin/token_source_provider_test.go
  flyteidl/clients/go/admin/tokenorchestrator/base_token_orchestrator.go
  flyteidl/clients/go/admin/tokenorchestrator/base_token_orchestrator_test.go
Owners: @unionai/cloud-eng

Pin goimports, skip gen dir
  boilerplate/flyte/golang_test_targets/Makefile
  boilerplate/flyte/golang_test_targets/download_tooling.sh
  boilerplate/flyte/golang_test_targets/goimports
Owners: @unionai/cloud-eng

Fix link to test on local cluster (#5398)
  docs/flyte_agents/developing_agents.md
Owners: @neverett, @ppiegaze

First version
  flytectl/install.sh
Owners: @unionai/cloud-eng

Remove debug information and add comments
  flytectl/install.sh
Owners: @unionai/cloud-eng

SVR-565: Fix schedules in serverless (#285)
  flyteadmin/pkg/manager/impl/configurations/cache.go
  flyteadmin/scheduler/executor/executor_impl.go
  flyteadmin/scheduler/identifier/identifier.go
  flyteadmin/scheduler/identifier/identifier_test.go
  flyteadmin/tests/attributes_test.go
  flyteadmin/tests/configuration_test.go
  flyteadmin/tests/migrations_test.go
Owners: @unionai/cloud-eng

utilize auto refresh processing set with entry expiration
  flytestdlib/cache/auto_refresh.go
Owners: @unionai/cloud-eng

add unit test
  flytestdlib/cache/auto_refresh_test.go
Owners: @unionai/cloud-eng

Populate HasOutputs and ParentWorkflowID on cache miss (#295)
  flytepropeller/pkg/controller/nodes/subworkflow/handler_test.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/admin.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/admin_test.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/launchplan.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/mocks/executor.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/mocks/flyte_admin.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/noop.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/noop_test.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan_test.go
Owners: @unionai/exo

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo
