Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

chore
  .github/workflows/checks.yml
  .github/workflows/flyteidl-checks.yml
Owners: @unionai/cloud-eng

Remove references to Office Hours (#5496)
  README.md
  docs/community/index.rst
Owners: @unionai/cloud-eng, @neverett, @ppiegaze

Add test for agent watcher
  flyteplugins/go/tasks/pluginmachinery/core/plugin.go
  flyteplugins/go/tasks/plugins/webapi/agent/client.go
  flyteplugins/go/tasks/plugins/webapi/agent/integration_test.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin_test.go
  flytepropeller/pkg/controller/nodes/task/handler.go
  flytepropeller/pkg/controller/nodes/task/handler_test.go
Owners: @unionai/exo

Remove boilerplate golang_dockerfile (#5495)
  boilerplate/flyte/golang_dockerfile/Dockerfile.GoTemplate
  boilerplate/flyte/golang_dockerfile/Readme.rst
  boilerplate/flyte/golang_dockerfile/update.sh
Owners: @unionai/cloud-eng

Add OTLP and sampling to otelutils
  datacatalog/go.mod
  datacatalog/go.sum
  flyteadmin/go.mod
  flyteadmin/go.sum
  flytecopilot/go.mod
  flytecopilot/go.sum
  flytectl/go.mod
  flytectl/go.sum
  flyteidl/go.mod
  flyteidl/go.sum
  flyteplugins/go.mod
  flyteplugins/go.sum
  flytepropeller/go.mod
  flytepropeller/go.sum
  flytestdlib/go.mod
  flytestdlib/go.sum
  flytestdlib/otelutils/config.go
  flytestdlib/otelutils/config_flags.go
  flytestdlib/otelutils/config_flags_test.go
  flytestdlib/otelutils/factory.go
  flytestdlib/otelutils/factory_test.go
  go.mod
  go.sum
Owners: @unionai/cloud-eng, @unionai/exo

Use uv in single-binary CI (#5493)
  .github/workflows/single-binary.yml
Owners: @unionai/cloud-eng

Remove doc building from flytectl (#5494)
  flytectl/.readthedocs.yml
  flytectl/Makefile
  flytectl/doc-requirements.in
  flytectl/doc-requirements.txt
Owners: @unionai/cloud-eng

Add Tests for AgentService Interface
  flyteplugins/go/tasks/pluginmachinery/core/plugin_test.go
Owners: @unionai/exo

Mount embedded secrets as files (#293)
  Makefile
  cmd/single/config_flags.go
  cmd/single/config_flags_test.go
  fasttask/plugin/go.mod
  fasttask/plugin/go.sum
  flyteadmin/go.mod
  flyteadmin/go.sum
  flyteplugins/go/tasks/pluginmachinery/core/secret_manager.go
  flytepropeller/pkg/controller/nodes/task/handler.go
  flytepropeller/pkg/secret/aws_secret_fetcher.go
  flytepropeller/pkg/secret/aws_secret_fetcher_test.go
  flytepropeller/pkg/secret/aws_secret_manager.go
  flytepropeller/pkg/secret/config/config.go
  flytepropeller/pkg/secret/config/config_flags.go
  flytepropeller/pkg/secret/config/config_flags_test.go
  flytepropeller/pkg/secret/embedded_secret_manager.go
  flytepropeller/pkg/secret/embedded_secret_manager_test.go
  flytepropeller/pkg/secret/gcp_secret_fetcher.go
  flytepropeller/pkg/secret/gcp_secret_fetcher_test.go
  flytepropeller/pkg/secret/gcp_secret_manager.go
  flytepropeller/pkg/secret/global_secrets.go
  flytepropeller/pkg/secret/mocks/aws_secret_manager_client.go
  flytepropeller/pkg/secret/mocks/gcp_secret_manager_client.go
  flytepropeller/pkg/secret/mocks/http_hook_registerer_iface.go
  flytepropeller/pkg/secret/mocks/secret_fetcher.go
  flytepropeller/pkg/secret/secret_fetcher.go
  flytepropeller/pkg/secret/secret_manager_client.go
  flytepropeller/pkg/secret/secrets_injector.go
  flytepropeller/pkg/secret/secrets_pod_mutator.go
  flytepropeller/pkg/secret/secrets_test.go
  flytepropeller/pkg/secret/utils.go
  flytepropeller/pkg/webhook/mocks/pod_mutator.go
  flytepropeller/pkg/webhook/pod.go
  flytepropeller/pkg/webhook/pod_test.go
  go.mod
Owners: @unionai/cloud-eng, @unionai/exo

don't inherit control flow to array node subnode exec contexts
  flytepropeller/pkg/controller/nodes/array/handler.go
Owners: @unionai/exo

comment
  flytepropeller/pkg/controller/nodes/array/handler.go
Owners: @unionai/exo

added version to ExecutionEnv proto message
  flyteidl/gen/pb-es/flyteidl/core/execution_envs_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/execution_envs.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/execution_envs_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/execution_envs_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/execution_envs.proto
Owners: @unionai/cloud-eng

spelling fix
  flyteidl/gen/pb-es/flyteidl/core/execution_envs_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/execution_envs.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/execution_envs.proto
Owners: @unionai/cloud-eng

Add RegisterTracerProviderWithContext
  cmd/single/start.go
  datacatalog/cmd/entrypoints/serve.go
  flyteadmin/cmd/entrypoints/serve.go
  flytepropeller/cmd/controller/cmd/root.go
  flytestdlib/otelutils/factory.go
  flytestdlib/otelutils/factory_test.go
Owners: @unionai/cloud-eng, @unionai/exo

Enable additional flyte components prometheus metrics (#324)
  charts/flyte-core/README.md
  charts/flyte-core/templates/_helpers.tpl
  charts/flyte-core/templates/clusterresourcesync/deployment.yaml
  charts/flyte-core/templates/propeller/deployment.yaml
  charts/flyte-core/templates/propeller/webhook-hpa.yaml
  charts/flyte-core/templates/propeller/webhook.yaml
  charts/flyte-core/values.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_dataplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_dataplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  flyteadmin/cmd/entrypoints/clusterresource.go
  flyteadmin/pkg/clusterresource/controller.go
Owners: @unionai/cloud-eng

add a commment
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/event/event_pb.ts
  flyteidl/gen/pb-go/flyteidl/event/event.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb_rust/flyteidl.event.rs
  flyteidl/protos/flyteidl/event/event.proto
Owners: @unionai/cloud-eng

fix(ray): Use default svc account if not set in task metadata (#5499)
  flyteplugins/go/tasks/plugins/k8s/ray/ray.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray_test.go
Owners: @unionai/exo

Doc: Explain how lifetime of logging links is configured
  docs/user_guide/productionizing/configuring_logging_links_in_the_ui.md
Owners: @neverett, @ppiegaze

Update docs/user_guide/productionizing/configuring_logging_links_in_the_ui.md
  docs/user_guide/productionizing/configuring_logging_links_in_the_ui.md
Owners: @neverett, @ppiegaze

Reword
  docs/user_guide/productionizing/configuring_logging_links_in_the_ui.md
Owners: @neverett, @ppiegaze

improving version docs
  flyteidl/gen/pb-es/flyteidl/core/execution_envs_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/execution_envs.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/execution_envs.proto
Owners: @unionai/cloud-eng

spelling is hard
  flyteidl/gen/pb-es/flyteidl/core/execution_envs_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/execution_envs.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/execution_envs.proto
Owners: @unionai/cloud-eng

flyteconsole service monitor (#327)
  charts/flyte-core/README.md
  charts/flyte-core/templates/console/deployment.yaml
  charts/flyte-core/templates/console/service-monitor.yaml
  charts/flyte-core/templates/console/service.yaml
  charts/flyte-core/values.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Owners: @unionai/cloud-eng

update comment
  flytepropeller/pkg/controller/nodes/array/handler.go
Owners: @unionai/exo

Added version to ExecutionEnv proto message (#5506)
  flyteidl/gen/pb-es/flyteidl/core/execution_envs_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/execution_envs.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/execution_envs_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/execution_envs_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/execution_envs.proto
Owners: @unionai/cloud-eng

flyteconsole readiness & liveness probe (#337)
  charts/flyte-core/README.md
  charts/flyte-core/templates/console/deployment.yaml
  charts/flyte-core/values.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Owners: @unionai/cloud-eng

Run rust formatting on all rust code and add check to CI (#334)
  .github/workflows/fasttask.yml
  fasttask/worker/bridge/src/pb/fasttask.rs
Owners: @unionai/cloud-eng, @unionai/exo

Add name to ExistsDifferentStructureError message
  flyteadmin/pkg/errors/errors.go
  flyteadmin/pkg/errors/errors_test.go
Owners: @unionai/cloud-eng

update test
  flyteadmin/pkg/manager/impl/workflow_manager_test.go
Owners: @unionai/cloud-eng

Event placeholder (#5464)
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/event/event_pb.ts
  flyteidl/gen/pb-go/flyteidl/event/event.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/event/event_pb2.py
  flyteidl/gen/pb_python/flyteidl/event/event_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.event.rs
  flyteidl/protos/flyteidl/event/event.proto
Owners: @unionai/cloud-eng

Enable additional flyte components prometheus metrics (#324)
  charts/flyte-core/README.md
  charts/flyte-core/templates/_helpers.tpl
  charts/flyte-core/templates/clusterresourcesync/deployment.yaml
  charts/flyte-core/templates/propeller/deployment.yaml
  charts/flyte-core/templates/propeller/webhook-hpa.yaml
  charts/flyte-core/templates/propeller/webhook.yaml
  charts/flyte-core/values.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_dataplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_dataplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  flyteadmin/cmd/entrypoints/clusterresource.go
  flyteadmin/pkg/clusterresource/controller.go
Owners: @unionai/cloud-eng

flyteconsole service monitor (#327)
  charts/flyte-core/README.md
  charts/flyte-core/templates/console/deployment.yaml
  charts/flyte-core/templates/console/service-monitor.yaml
  charts/flyte-core/templates/console/service.yaml
  charts/flyte-core/values.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Owners: @unionai/cloud-eng

flyteconsole readiness & liveness probe (#337)
  charts/flyte-core/README.md
  charts/flyte-core/templates/console/deployment.yaml
  charts/flyte-core/values.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Owners: @unionai/cloud-eng

Retag flyteagent image upon release
  .github/workflows/create_release.yml
  charts/flyteagent/values.yaml
  script/prepare_artifacts.sh
  script/release.sh
Owners: @unionai/cloud-eng

Run make helm
  charts/flyteagent/README.md
  deployment/agent/flyte_agent_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Owners: @unionai/cloud-eng

Don't log auth tokens in debug mode (#5497)
  flyteadmin/auth/handlers.go
Owners: @unionai/cloud-eng

Remove ImageSpec experiment warning
  docs/user_guide/customizing_dependencies/imagespec.md
Owners: @neverett, @ppiegaze

Remove ImageSpec experiment warning (#5510)
  docs/user_guide/customizing_dependencies/imagespec.md
Owners: @neverett, @ppiegaze

Add OTLP and sampling to otelutils (#5504)
  cmd/single/start.go
  datacatalog/cmd/entrypoints/serve.go
  datacatalog/go.mod
  datacatalog/go.sum
  flyteadmin/cmd/entrypoints/serve.go
  flyteadmin/go.mod
  flyteadmin/go.sum
  flytecopilot/go.mod
  flytecopilot/go.sum
  flytectl/go.mod
  flytectl/go.sum
  flyteidl/go.mod
  flyteidl/go.sum
  flyteplugins/go.mod
  flyteplugins/go.sum
  flytepropeller/cmd/controller/cmd/root.go
  flytepropeller/go.mod
  flytepropeller/go.sum
  flytestdlib/go.mod
  flytestdlib/go.sum
  flytestdlib/otelutils/config.go
  flytestdlib/otelutils/config_flags.go
  flytestdlib/otelutils/config_flags_test.go
  flytestdlib/otelutils/factory.go
  flytestdlib/otelutils/factory_test.go
  go.mod
  go.sum
Owners: @unionai/cloud-eng, @unionai/exo

Helm chart updates related to Prometheus, Webhook HPA, and Flyteconsole probes (#5508)
  charts/flyte-core/README.md
  charts/flyte-core/templates/_helpers.tpl
  charts/flyte-core/templates/clusterresourcesync/deployment.yaml
  charts/flyte-core/templates/console/deployment.yaml
  charts/flyte-core/templates/console/service-monitor.yaml
  charts/flyte-core/templates/console/service.yaml
  charts/flyte-core/templates/propeller/deployment.yaml
  charts/flyte-core/templates/propeller/webhook-hpa.yaml
  charts/flyte-core/templates/propeller/webhook.yaml
  charts/flyte-core/values.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_dataplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_dataplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  flyteadmin/cmd/entrypoints/clusterresource.go
  flyteadmin/pkg/clusterresource/controller.go
Owners: @unionai/cloud-eng

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo
