Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo

Only include consoleURL if task set the relevant bit in its task template
  flyteplugins/go/tasks/pluginmachinery/flytek8s/container_helper.go
Owners: @unionai/exo

Add a few unit tests
  flyteplugins/go/tasks/pluginmachinery/flytek8s/container_helper_test.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/k8s_resource_adds_test.go
Owners: @unionai/exo

more wip
  flyteplugins/go/tasks/pluginmachinery/core/exec_context.go
  flyteplugins/go/tasks/pluginmachinery/core/exec_metadata.go
  flyteplugins/go/tasks/pluginmachinery/core/mocks/task_execution_id.go
  flyteplugins/go/tasks/pluginmachinery/core/mocks/task_execution_metadata.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/container_helper.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/k8s_resource_adds.go
  flyteplugins/go/tasks/plugins/array/awsbatch/transformer.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/iface.go
  flytepropeller/pkg/controller/executors/execution_context.go
  flytepropeller/pkg/controller/nodes/executor.go
  flytepropeller/pkg/controller/nodes/node_exec_context.go
  flytepropeller/pkg/controller/nodes/task/taskexec_context.go
Owners: @unionai/exo

Add WithContext for configuration repo get call (#318)
  flyteadmin/pkg/repositories/gormimpl/configuration_repo.go
  flytepropeller/pkg/controller/nodes/array/event_recorder_test.go
Owners: @unionai/cloud-eng, @unionai/exo

[Feature] Refactor distributed job using common ReplicaSpec (#5355)
  flyteidl/gen/pb-es/flyteidl/plugins/common_pb.ts
  flyteidl/gen/pb-es/flyteidl/plugins/kubeflow/common_pb.ts
  flyteidl/gen/pb-es/flyteidl/plugins/kubeflow/mpi_pb.ts
  flyteidl/gen/pb-es/flyteidl/plugins/kubeflow/pytorch_pb.ts
  flyteidl/gen/pb-es/flyteidl/plugins/kubeflow/tensorflow_pb.ts
  flyteidl/gen/pb-go/flyteidl/plugins/common.pb.go
  flyteidl/gen/pb-go/flyteidl/plugins/kubeflow/common.pb.go
  flyteidl/gen/pb-go/flyteidl/plugins/kubeflow/mpi.pb.go
  flyteidl/gen/pb-go/flyteidl/plugins/kubeflow/pytorch.pb.go
  flyteidl/gen/pb-go/flyteidl/plugins/kubeflow/tensorflow.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/plugins/common.swagger.json
  flyteidl/gen/pb_python/flyteidl/plugins/common_pb2.py
  flyteidl/gen/pb_python/flyteidl/plugins/common_pb2.pyi
  flyteidl/gen/pb_python/flyteidl/plugins/common_pb2_grpc.py
  flyteidl/gen/pb_python/flyteidl/plugins/kubeflow/common_pb2.py
  flyteidl/gen/pb_python/flyteidl/plugins/kubeflow/common_pb2.pyi
  flyteidl/gen/pb_python/flyteidl/plugins/kubeflow/mpi_pb2.py
  flyteidl/gen/pb_python/flyteidl/plugins/kubeflow/mpi_pb2.pyi
  flyteidl/gen/pb_python/flyteidl/plugins/kubeflow/pytorch_pb2.py
  flyteidl/gen/pb_python/flyteidl/plugins/kubeflow/pytorch_pb2.pyi
  flyteidl/gen/pb_python/flyteidl/plugins/kubeflow/tensorflow_pb2.py
  flyteidl/gen/pb_python/flyteidl/plugins/kubeflow/tensorflow_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.plugins.kubeflow.rs
  flyteidl/gen/pb_rust/flyteidl.plugins.rs
  flyteidl/protos/flyteidl/plugins/common.proto
  flyteidl/protos/flyteidl/plugins/kubeflow/common.proto
  flyteidl/protos/flyteidl/plugins/kubeflow/mpi.proto
  flyteidl/protos/flyteidl/plugins/kubeflow/pytorch.proto
  flyteidl/protos/flyteidl/plugins/kubeflow/tensorflow.proto
  flyteplugins/go/tasks/plugins/k8s/kfoperators/common/common_operator.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/mpi/mpi_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/pytorch/pytorch_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/tensorflow/tensorflow.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/tensorflow/tensorflow_test.go
Owners: @unionai/cloud-eng, @unionai/exo

charts: honor redoc.enabled=false (#5452)
  charts/flyte-deps/README.md
  charts/flyte-deps/templates/redoc/deployment.yaml
  charts/flyte-deps/templates/redoc/service.yaml
  charts/flyte-deps/values.yaml
  charts/flyte/README.md
  charts/flyte/templates/redoc/deployment.yaml
  charts/flyte/templates/redoc/service.yaml
  charts/flyte/values.yaml
  deployment/sandbox/flyte_sandbox_deps_helm_generated.yaml
Owners: @unionai/cloud-eng

Remove unused creation failure counter
  flyteplugins/go/tasks/pluginmachinery/internal/webapi/state.go
Owners: @unionai/exo

Remove reference to k8s plugin
  flyteplugins/go/tasks/pluginmachinery/webapi/plugin.go
Owners: @unionai/exo

Minor cleanup for Web API plugins (#5472)
  flyteplugins/go/tasks/pluginmachinery/internal/webapi/state.go
  flyteplugins/go/tasks/pluginmachinery/webapi/plugin.go
Owners: @unionai/exo

Add fields to NodeExecutionEvent (#315)
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/event/event_pb.ts
  flyteidl/gen/pb-go/flyteidl/event/event.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/event/event_pb2.py
  flyteidl/gen/pb_python/flyteidl/event/event_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.event.rs
  flyteidl/protos/flyteidl/event/event.proto
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/nodes.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/nodes_test.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/subworkflow.go
  flytepropeller/pkg/controller/executors/execution_context.go
  flytepropeller/pkg/controller/executors/execution_context_test.go
  flytepropeller/pkg/controller/executors/mocks/immutable_parent_info.go
  flytepropeller/pkg/controller/nodes/array/event_recorder.go
  flytepropeller/pkg/controller/nodes/array/handler.go
  flytepropeller/pkg/controller/nodes/branch/handler.go
  flytepropeller/pkg/controller/nodes/branch/handler_test.go
  flytepropeller/pkg/controller/nodes/common/utils.go
  flytepropeller/pkg/controller/nodes/common/utils_test.go
  flytepropeller/pkg/controller/nodes/dynamic/dynamic_workflow.go
  flytepropeller/pkg/controller/nodes/executor.go
  flytepropeller/pkg/controller/nodes/executor_test.go
  flytepropeller/pkg/controller/nodes/node_exec_context_test.go
  flytepropeller/pkg/controller/nodes/subworkflow/subworkflow.go
  flytepropeller/pkg/controller/nodes/subworkflow/subworkflow_test.go
  flytepropeller/pkg/controller/nodes/transformers.go
  flytepropeller/pkg/controller/nodes/transformers_test.go
  flytestdlib/storage/stow_store.go
Owners: @unionai/cloud-eng, @unionai/exo

Bump k3s version to 1.29.0
  docker/sandbox-bundled/Dockerfile
Owners: @unionai/cloud-eng

Remove attempt number from the url
  flyteplugins/go/tasks/pluginmachinery/flytek8s/k8s_resource_adds.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/k8s_resource_adds_test.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper_test.go
Owners: @unionai/exo

Bump k3s version to 1.29.0 (#5475)
  docker/sandbox-bundled/Dockerfile
Owners: @unionai/cloud-eng

[Artifacts] Use new node event information (#320)
  flyteadmin/pkg/async/cloudevent/implementations/cloudevent_publisher.go
  flyteadmin/pkg/async/notifications/implementations/disk_publisher.go
Owners: @unionai/cloud-eng

Include review feedback
  flyteadmin/pkg/runtime/interfaces/application_configuration.go
  flyteadmin/pkg/workflowengine/impl/k8s_executor.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/k8s_resource_adds.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/k8s_resource_adds_test.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper_test.go
Owners: @unionai/cloud-eng, @unionai/exo

fix: Modify the callback URL string in auth flow, to support custom base URLs in deployments (#5192)
  flyteadmin/auth/auth_context.go
  flyteadmin/auth/auth_context_test.go
Owners: @unionai/cloud-eng

[flyteagent] Remove redundant code in Agent (#5454)
  flyteplugins/go/tasks/plugins/webapi/agent/client.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
Owners: @unionai/exo

Return non-0 exit code from copilot upload failure
  flytecopilot/cmd/sidecar.go
  flytecopilot/cmd/sidecar_test.go
Owners: @unionai/cloud-eng

Added clustersync generated ServiceAccount to admin ClusterRoleBinding
  charts/flyte-core/templates/admin/rbac.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Owners: @unionai/cloud-eng

deep copying arraynode tasktemplate interface
  flytepropeller/pkg/controller/nodes/array/node_execution_context.go
Owners: @unionai/exo

deep copying arraynode tasktemplate interface (#5479)
  flytepropeller/pkg/controller/nodes/array/node_execution_context.go
Owners: @unionai/exo

deep copying arraynode tasktemplate interface (#5479) (#322)
  flytepropeller/pkg/controller/nodes/array/node_execution_context.go
Owners: @unionai/exo

remove end2end.yml
  .github/workflows/end2end.yml
Owners: @unionai/cloud-eng

Remove end2end.yml (#5034)
  .github/workflows/end2end.yml
Owners: @unionai/cloud-eng

Allow showing specific logs already during queued phase
  flyteplugins/go/tasks/pluginmachinery/core/phase.go
Owners: @unionai/exo

Move bumping of plugin state phase version into function
  flyteplugins/go/tasks/plugins/k8s/pod/plugin.go
Owners: @unionai/exo

Make log link filtering by phase work for map tasks
  flyteadmin/pkg/repositories/transformers/task_execution.go
Owners: @unionai/cloud-eng

Add ShowWhilePending arg to TaskLog flyteidl message
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-cpp/flyteidl/core/execution.pb.cc
  flyteidl/gen/pb-cpp/flyteidl/core/execution.pb.h
  flyteidl/gen/pb-go/flyteidl/core/execution.pb.go
  flyteidl/gen/pb-go/flyteidl/service/flyteadmin/model_core_task_log.go
  flyteidl/gen/pb-go/flyteidl/service/openapi.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/external_plugin_service.swagger.json
  flyteidl/gen/pb-java/flyteidl/core/Execution.java
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/execution_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/execution_pb2.pyi
  flyteidl/gen/pb_python/flyteidl/service/flyteadmin/flyteadmin/models/core_task_log.py
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/execution.proto
Owners: @unionai/cloud-eng

Consistently bump phase version when reason changes in pod, pytorch, tensorflow, and mpi plugins
  flyteplugins/go/tasks/plugins/k8s/kfoperators/mpi/mpi.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/pytorch/pytorch.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/tensorflow/tensorflow.go
Owners: @unionai/exo

Make controlling lifetime of log links work with ray plugin
  flyteplugins/go/tasks/plugins/k8s/ray/ray.go
Owners: @unionai/exo

Make pluginmachinery/flytek8s tests pass
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper_test.go
Owners: @unionai/exo

Add HideOnceFinished option to TaskLog proto message
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/core/execution_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/execution.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/execution_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/execution_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/execution.proto
Owners: @unionai/cloud-eng

Adapt docstring explaining why we treat queued and init phase the same while filtering log links
  flyteadmin/pkg/repositories/transformers/task_execution.go
Owners: @unionai/cloud-eng

Move log link filtering (by phase) from propeller to admin
  flyteadmin/pkg/repositories/transformers/task_execution.go
  flyteplugins/go/tasks/pluginmachinery/core/phase.go
Owners: @unionai/cloud-eng, @unionai/exo

Fix flyteidl go.mod
  flyteidl/go.mod
Owners: @unionai/cloud-eng

Make propeller tests pass
  flytepropeller/pkg/controller/nodes/task/k8s/plugin_manager_test.go
Owners: @unionai/exo

Fix dask, pytorch, tensorflow, and mpi tests
  flyteplugins/go/tasks/plugins/k8s/dask/dask_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/pytorch/pytorch_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/tensorflow/tensorflow_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray_test.go
Owners: @unionai/exo

Add tests for filtering log links when updating task execution
  flyteadmin/pkg/repositories/transformers/task_execution.go
  flyteadmin/pkg/repositories/transformers/task_execution_test.go
Owners: @unionai/cloud-eng

Fix nil containerId in pending phase
  flyteplugins/go/tasks/logs/logging_utils.go
Owners: @unionai/exo

Fix spark tests
  flyteplugins/go/tasks/plugins/k8s/spark/spark_test.go
Owners: @unionai/exo
