Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo

fix glob
  .github/workflows/flyteidl-rust.yml
Owners: @unionai/cloud-eng

normalize path
  .github/workflows/flyteidl-rust.yml
Owners: @unionai/cloud-eng

fix `index-url`
  .github/workflows/flyteidl-nightly.yml
  .github/workflows/flyteidl-rust.yml
Owners: @unionai/cloud-eng

specify minimum pyhton version to pypi
  .github/workflows/flyteidl-rust.yml
Owners: @unionai/cloud-eng

hardcodes nightly version
  .github/workflows/flyteidl-rust.yml
Owners: @unionai/cloud-eng

fix testpypi url
  .github/workflows/flyteidl-rust.yml
Owners: @unionai/cloud-eng

change upload platform
  .github/workflows/flyteidl-rust.yml
Owners: @unionai/cloud-eng

add MATURIN_REPOSITORY_URL
  .github/workflows/flyteidl-rust.yml
Owners: @unionai/cloud-eng

upgrade to v0.1.4
  flyteidl/Cargo.toml
Owners: @unionai/cloud-eng

add `dict`
  flyteidl/gen/pb_rust/datacatalog.rs
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/gen/pb_rust/flyteidl.cacheservice.rs
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/gen/pb_rust/flyteidl.event.rs
  flyteidl/gen/pb_rust/flyteidl.plugins.rs
  flyteidl/gen/pb_rust/flyteidl.service.rs
  flyteidl/gen/pb_rust/google.api.rs
  flyteidl/gen/pb_rust/google.protobuf.rs
  flyteidl/gen/pb_rust/grpc.gateway.protoc_gen_openapiv2.options.rs
  flyteidl/src/gen.rs
Owners: @unionai/cloud-eng

add more structs
  flyteidl/Cargo.lock
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng

upgrade to v0.1.5
  flyteidl/Cargo.toml
Owners: @unionai/cloud-eng

add `ResourceEntry`
  flyteidl/Cargo.lock
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng

add tests for signal_validator
  flyteadmin/pkg/manager/impl/validation/signal_validator_test.go
Owners: @unionai/cloud-eng

change var
  flytepropeller/pkg/compiler/errors/compiler_error_test.go
  flytepropeller/pkg/compiler/errors/compiler_errors.go
Owners: @unionai/exo

add comments for convertNumbers
  flytepropeller/pkg/controller/nodes/attr_path_resolver.go
Owners: @unionai/exo

add tests for compiler_errors
  flytepropeller/pkg/compiler/errors/compiler_error_test.go
Owners: @unionai/exo

support nodes/array/handler.go
  flytepropeller/pkg/controller/nodes/array/handler_test.go
Owners: @unionai/exo

fix imports
  flytepropeller/pkg/controller/nodes/array/handler_test.go
Owners: @unionai/exo

add tests for k8s/inputs and catalog/datacatalog/transformer
  flytepropeller/pkg/compiler/errors/compiler_errors.go
  flytepropeller/pkg/compiler/transformers/k8s/inputs_test.go
  flytepropeller/pkg/controller/nodes/catalog/datacatalog/transformer.go
  flytepropeller/pkg/controller/nodes/catalog/datacatalog/transformer_test.go
Owners: @unionai/exo

Make event config hack non-configurable (#438)
  flytepropeller/pkg/controller/config/config.go
  flytepropeller/pkg/controller/config/config_flags.go
  flytepropeller/pkg/controller/config/config_flags_test.go
  flytepropeller/pkg/controller/nodes/array/handler_test.go
Owners: @unionai/exo

add echo tasks
  docs/user_guide/advanced_composition/conditionals.md
Owners: @neverett, @ppiegaze

Update pingsu's advice
  flyteidl/protos/flyteidl/core/literals.proto
  flytepropeller/pkg/controller/nodes/attr_path_resolver.go
Owners: @unionai/cloud-eng, @unionai/exo

update nikki's advice
  docs/user_guide/advanced_composition/conditionals.md
Owners: @neverett, @ppiegaze

update idl
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/core/literals_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/literals.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/cacheservice/cacheservice.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/datacatalog/datacatalog.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/dataproxy.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/external_plugin_service.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/signal.swagger.json
  flyteidl/gen/pb_python/flyteidl/core/literals_pb2.py
  flyteidl/gen/pb_rust/flyteidl.core.rs
Owners: @unionai/cloud-eng

[Docs] Echo Task (#5707)
  docs/user_guide/advanced_composition/conditionals.md
Owners: @neverett, @ppiegaze

Improve execution name readability (#5637)
  flyteadmin/go.mod
  flyteadmin/go.sum
  flyteadmin/pkg/async/schedule/aws/workflow_executor.go
  flyteadmin/pkg/common/executions.go
  flyteadmin/pkg/common/executions_test.go
  flyteadmin/pkg/common/naming/execution_name.go
  flyteadmin/pkg/common/naming/execution_name_test.go
  flyteadmin/pkg/manager/impl/util/shared.go
  flyteadmin/pkg/manager/impl/util/shared_test.go
  flyteadmin/pkg/runtime/interfaces/application_configuration.go
  flyteadmin/scheduler/executor/executor_impl.go
  go.mod
  go.sum
Owners: @unionai/cloud-eng

Configure imagePullPolicy to be Always pull on flyte sandbox environment
  flyte-single-binary-local.yaml
Owners: @unionai/cloud-eng

Adds functional tests for actors and CI (#440)
  .github/workflows/fasttask.yml
  fasttask/worker/.dockerignore
  fasttask/worker/Dockerfile
  fasttask/worker/MANIFEST.in
  fasttask/worker/functional-tests/conftest.py
  fasttask/worker/functional-tests/sandbox-yaml.yaml
  fasttask/worker/functional-tests/test_simple_actor.py
  fasttask/worker/functional-tests/workflows/simple_actor.py
  fasttask/worker/tests-requirements.txt
Owners: @unionai/cloud-eng, @unionai/exo

Configure imagePullPolicy to be Always pull on flyte sandbox environment (#5709)
  flyte-single-binary-local.yaml
Owners: @unionai/cloud-eng

Backoff on etcd errors
  flytepropeller/pkg/controller/nodes/task/backoff/handler.go
Owners: @unionai/exo

Update helm/docs per changes in supported task discovery
  charts/flyte-core/README.md
  charts/flyte-core/values.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  docs/deployment/agents/airflow.rst
  docs/deployment/agents/bigquery.rst
  docs/deployment/agents/chatgpt.rst
  docs/deployment/agents/databricks.rst
  docs/deployment/agents/mmcloud.rst
  docs/deployment/agents/openai_batch.rst
  docs/deployment/agents/sagemaker_inference.rst
  docs/deployment/agents/sensor.rst
  docs/deployment/agents/snowflake.rst
  docs/deployment/configuration/generated/flytepropeller_config.rst
  docs/flyte_agents/developing_agents.md
Owners: @unionai/cloud-eng, @neverett, @ppiegaze

Cleanup flyte-binary
  charts/flyte-binary/README.md
  charts/flyte-binary/values.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Owners: @unionai/cloud-eng

on fallback set createdAt (#452)
  cacheservice/pkg/repositories/transformers/cached_output.go
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/core/catalog_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/catalog.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/catalog_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/catalog_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/catalog.proto
  flyteplugins/go/tasks/pluginmachinery/catalog/client.go
  flytepropeller/pkg/controller/nodes/catalog/cacheservice/cache_client.go
  flytepropeller/pkg/controller/nodes/catalog/cacheservice/fallback_client.go
  flytepropeller/pkg/controller/nodes/catalog/cacheservice/transformer.go
  flytepropeller/pkg/controller/nodes/catalog/datacatalog/datacatalog.go
  flytepropeller/pkg/controller/nodes/catalog/datacatalog/transformer.go
  flytepropeller/pkg/controller/nodes/catalog/datacatalog/transformer_test.go
Owners: @unionai/cloud-eng, @unionai/exo

fixes
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  docs/deployment/agents/airflow.rst
  docs/deployment/agents/bigquery.rst
  docs/deployment/agents/chatgpt.rst
  docs/deployment/agents/databricks.rst
  docs/deployment/agents/openai_batch.rst
  docs/deployment/agents/sagemaker_inference.rst
  docs/deployment/agents/sensor.rst
  docs/deployment/agents/snowflake.rst
Owners: @unionai/cloud-eng, @neverett, @ppiegaze

OIDC config to allow mismatched discovery / issuer
  flyteadmin/auth/auth_context.go
  flyteadmin/auth/config/config.go
  flyteadmin/auth/config/config_test.go
Owners: @unionai/cloud-eng

should not set echo plugin as default
  flyteplugins/go/tasks/plugins/testing/echo.go
Owners: @unionai/exo

generate name at flyteadmin
  flytectl/cmd/create/execution_util.go
  flytectl/go.mod
Owners: @unionai/cloud-eng

revert flytectl
  flytectl/cmd/create/execution_util.go
  flytectl/go.mod
Owners: @unionai/cloud-eng

generate name at flyteadmin
  flytectl/cmd/create/execution_util.go
  flytectl/go.mod
Owners: @unionai/cloud-eng
