Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo

add all json scalar things need to be implemented, need to add tests and support json idl attribute access
  flyteidl/clients/go/coreutils/extract_literal.go
  flyteidl/clients/go/coreutils/literals.go
  flyteidl/clients/go/coreutils/literals_test.go
  flytepropeller/pkg/compiler/validators/utils.go
Owners: @unionai/cloud-eng, @unionai/exo

support upstream STRUCT downstream JSON case
  flytepropeller/pkg/compiler/validators/typing.go
Owners: @unionai/exo

make idl correct back
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/core/literals_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/literals.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/cacheservice/cacheservice.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/datacatalog/datacatalog.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/dataproxy.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/external_plugin_service.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/signal.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/literals_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/literals_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/literals.proto
Owners: @unionai/cloud-eng

document the process of setting ttl for a ray cluster (#5636)
  docs/deployment/plugins/k8s/index.rst
Owners: @neverett, @ppiegaze

feat: humanhash execution id
  flyteadmin/pkg/common/executions.go
  flyteadmin/pkg/common/executions_test.go
Owners: @unionai/cloud-eng

feat: humanhash config
  flyteadmin/pkg/manager/impl/execution_manager.go
  flyteadmin/pkg/manager/impl/util/shared.go
  flyteadmin/pkg/manager/impl/util/shared_test.go
  flyteadmin/pkg/runtime/interfaces/application_configuration.go
Owners: @unionai/cloud-eng

chore: add package
  flyteadmin/go.mod
  flyteadmin/go.sum
  go.mod
  go.sum
Owners: @unionai/cloud-eng

deprecate: generate execution name later
  flyteadmin/pkg/async/schedule/aws/workflow_executor.go
  flyteadmin/pkg/async/schedule/aws/workflow_executor_test.go
Owners: @unionai/cloud-eng

fix: replace space with tab
  flyteadmin/pkg/common/executions_test.go
Owners: @unionai/cloud-eng

fix: gci format check fail
  flyteadmin/pkg/manager/impl/util/shared.go
Owners: @unionai/cloud-eng

Rewrite the documentation for `version` and clarify wording in RELEASE.md
  .github/workflows/flytectl-release.yml
  .github/workflows/flyteidl-release.yml
  flytectl/RELEASE.md
  flyteidl/RELEASE.md
Owners: @unionai/cloud-eng

support attribute access
  flytepropeller/go.mod
  flytepropeller/go.sum
  flytepropeller/pkg/controller/nodes/attr_path_resolver.go
  go.mod
  go.sum
Owners: @unionai/exo, @unionai/cloud-eng

Fix ordering for custom template values in cluster resource controller (#408)
  flyteadmin/pkg/clusterresource/controller.go
  flyteadmin/pkg/clusterresource/controller_test.go
  flyteadmin/pkg/clusterresource/testdata/imagepullsecrets_templatized.yaml
Owners: @unionai/cloud-eng

Add CustomHeaderMatcher to pass additional headers (#5563)
  flyteadmin/auth/handlers.go
  flyteadmin/pkg/server/service.go
  flyteadmin/plugins/registry.go
Owners: @unionai/cloud-eng

wip
  flyteadmin/pkg/manager/impl/util/shared.go
  flytepropeller/pkg/compiler/validators/bindings.go
  flytepropeller/pkg/compiler/validators/condition.go
Owners: @unionai/cloud-eng, @unionai/exo

update
  rfc/system/5606-json-idl.md
Owners: @unionai/cloud-eng

update
  rfc/system/5606-json-idl.md
Owners: @unionai/cloud-eng

Better Format
  rfc/system/5606-json-idl.md
Owners: @unionai/cloud-eng

fix attribute access for nested dict/dataclass
  flytepropeller/pkg/controller/nodes/attr_path_resolver.go
Owners: @unionai/exo

Create Execution Success, need to implement get Execution
  flytectl/go.mod
  flytectl/go.sum
  flyteidl/clients/go/coreutils/extract_literal.go
  flyteidl/clients/go/coreutils/literals.go
  flyteidl/go.mod
  flyteidl/go.sum
Owners: @unionai/cloud-eng

fix CHANGELOG-v0.2.0.md
  CHANGELOG/CHANGELOG-v0.2.0.md
Owners: @unionai/cloud-eng

fix CHANGELOG-v1.0.2-b1.md
  CHANGELOG/CHANGELOG-v1.0.2-b1.md
Owners: @unionai/cloud-eng

fix CHANGELOG-v1.1.0.md
  CHANGELOG/CHANGELOG-v1.1.0.md
Owners: @unionai/cloud-eng

remove print
  flyteidl/clients/go/coreutils/literals.go
Owners: @unionai/cloud-eng

fix CHANGELOG-v1.3.0.md
  CHANGELOG/CHANGELOG-v1.3.0.md
Owners: @unionai/cloud-eng

Use scalarValue.Json.GetValue()
  flyteidl/clients/go/coreutils/extract_literal.go
Owners: @unionai/cloud-eng

Use enable_deck=True in docs
  docs/core_use_cases/analytics.md
  docs/core_use_cases/machine_learning.md
  docs/flyte_fundamentals/visualizing_task_input_and_output.md
Owners: @neverett, @ppiegaze

Apply suggestions from code review
  docs/flyte_fundamentals/visualizing_task_input_and_output.md
Owners: @neverett, @ppiegaze

Turn flyteidl and flytectl releases into manual gh workflows (#5635)
  .github/workflows/create_release.yml
  .github/workflows/flytectl-release.yml
  .github/workflows/flyteidl-release.yml
  flytectl/RELEASE.md
  flyteidl/RELEASE.md
Owners: @unionai/cloud-eng

docs: fix typo (#5643)
  CHANGELOG/CHANGELOG-v0.2.0.md
  CHANGELOG/CHANGELOG-v1.0.2-b1.md
  CHANGELOG/CHANGELOG-v1.1.0.md
  CHANGELOG/CHANGELOG-v1.3.0.md
Owners: @unionai/cloud-eng

wip
  flytepropeller/pkg/compiler/errors/compiler_error_test.go
  flytepropeller/pkg/compiler/transformers/k8s/inputs.go
  flytepropeller/pkg/compiler/validators/bindings.go
  flytepropeller/pkg/compiler/validators/vars.go
Owners: @unionai/exo

Use enable_deck=True in docs (#5645)
  docs/core_use_cases/analytics.md
  docs/core_use_cases/machine_learning.md
  docs/flyte_fundamentals/visualizing_task_input_and_output.md
Owners: @neverett, @ppiegaze

Fetch all tags in flyteidl-release.yml
  .github/workflows/flyteidl-release.yml
Owners: @unionai/cloud-eng

Fix sed expression for npm job
  .github/workflows/flyteidl-release.yml
Owners: @unionai/cloud-eng

Fix flyteidl release checkout all tags (#5646)
  .github/workflows/flyteidl-release.yml
Owners: @unionai/cloud-eng

Retry with backoff WatchExecutionStatusUpdates (#413)
  .github/workflows/build-and-test-single-binary-image.yml
  Makefile
  fasttask/plugin/go.mod
  fasttask/plugin/go.sum
  flyteadmin/go.mod
  flyteadmin/go.sum
  flytectl/go.mod
  flytectl/go.sum
  flyteplugins/go.mod
  flyteplugins/go.sum
  flytepropeller/go.mod
  flytepropeller/go.sum
  flytepropeller/pkg/controller/controller.go
  go.mod
  go.sum
Owners: @unionai/cloud-eng, @unionai/exo

Install pyarrow in sandbox functional tests
  .github/workflows/single-binary.yml
Owners: @unionai/cloud-eng

update tests
  flytepropeller/pkg/compiler/errors/compiler_errors.go
  flytepropeller/pkg/compiler/transformers/k8s/inputs.go
  flytepropeller/pkg/compiler/validators/bindings.go
  flytepropeller/pkg/compiler/validators/bindings_test.go
  flytepropeller/pkg/compiler/validators/condition.go
  flytepropeller/pkg/compiler/validators/vars.go
Owners: @unionai/exo

nit
  flyteadmin/pkg/manager/impl/util/shared.go
  flytepropeller/pkg/compiler/transformers/k8s/inputs.go
Owners: @unionai/cloud-eng, @unionai/exo

Install pyarrow in sandbox functional tests (#5647)
  .github/workflows/single-binary.yml
Owners: @unionai/cloud-eng
