Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

Use core.PhaseInfoQueuedWithTaskInfo instead of core.PhaseInfoQueued in plugins so log links are available
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper.go
  flyteplugins/go/tasks/pluginmachinery/tasklog/plugin.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/common/common_operator.go
  flyteplugins/go/tasks/plugins/k8s/pod/plugin.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray.go
  flyteplugins/go/tasks/plugins/k8s/spark/spark.go
  flyteplugins/go/tasks/plugins/webapi/bigquery/plugin.go
Owners: @unionai/exo

Don't return pluginsCore.PhaseInfoUndefined but already known phaseInfo if we fail to update the phase version
  flyteplugins/go/tasks/plugins/k8s/dask/dask.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/mpi/mpi.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/pytorch/pytorch.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/tensorflow/tensorflow.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray.go
  flyteplugins/go/tasks/plugins/k8s/spark/spark.go
Owners: @unionai/exo

Update go.mod after flyteidl make generate
  flyteidl/go.mod
Owners: @unionai/cloud-eng

Fix after rebasing
  flyteplugins/go/tasks/logs/logging_utils.go
  flyteplugins/go/tasks/pluginmachinery/tasklog/template.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
Owners: @unionai/exo

Remove now obsolete logic to check whether dask job is queued
  flyteplugins/go/tasks/plugins/k8s/dask/dask.go
Owners: @unionai/exo

Make controlling lifetime of log links work with dask plugin
  flyteadmin/pkg/repositories/transformers/task_execution.go
  flyteplugins/go/tasks/plugins/k8s/dask/dask.go
Owners: @unionai/cloud-eng, @unionai/exo

Update flyteplugins/go/tasks/logs/logging_utils.go
  flyteplugins/go/tasks/logs/logging_utils.go
Owners: @unionai/exo

Hide certain logs once finished
  flyteplugins/go/tasks/pluginmachinery/core/phase.go
  flyteplugins/go/tasks/pluginmachinery/tasklog/plugin.go
  flyteplugins/go/tasks/pluginmachinery/tasklog/template.go
Owners: @unionai/exo

Bump phase version in pytorch plugin
  flyteplugins/go/tasks/plugins/k8s/kfoperators/pytorch/pytorch.go
Owners: @unionai/exo

Regenerate protos
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-cpp/flyteidl/core/execution.pb.cc
  flyteidl/gen/pb-cpp/flyteidl/core/execution.pb.h
  flyteidl/gen/pb-es/flyteidl/core/execution_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/execution.pb.go
  flyteidl/gen/pb-go/flyteidl/service/flyteadmin/model_core_task_log.go
  flyteidl/gen/pb-go/flyteidl/service/openapi.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/external_plugin_service.swagger.json
  flyteidl/gen/pb-java/flyteidl/core/Execution.java
  flyteidl/gen/pb_python/flyteidl/service/flyteadmin/flyteadmin/models/core_task_log.py
  flyteidl/go.mod
  flyteidl/go.sum
Owners: @unionai/cloud-eng

Move helper function which bumps phase version to k8s plugin package
  flyteplugins/go/tasks/pluginmachinery/k8s/plugin.go
  flyteplugins/go/tasks/plugins/k8s/pod/plugin.go
Owners: @unionai/exo

Make controlling lifetime of log links work with spark plugin
  flyteplugins/go/tasks/plugins/k8s/spark/spark.go
Owners: @unionai/exo

Undo changes from rebase in ray.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray.go
Owners: @unionai/exo

Fix mpi test
  flyteplugins/go/tasks/plugins/k8s/kfoperators/mpi/mpi_test.go
Owners: @unionai/exo

Show All user logs while queueing phase as before
  flyteplugins/go/tasks/plugins/k8s/spark/spark.go
Owners: @unionai/exo

Fix after rebase
  flyteplugins/go/tasks/plugins/k8s/ray/ray.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
Owners: @unionai/exo

Add tests for PR #4726 (#5200)
  flyteplugins/go/tasks/plugins/k8s/dask/dask_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/mpi/mpi_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/pytorch/pytorch_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/tensorflow/tensorflow_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray_test.go
  flyteplugins/go/tasks/plugins/k8s/spark/spark_test.go
Owners: @unionai/exo

Restrict numpy version in single binary e2e tests
  .github/workflows/single-binary.yml
Owners: @unionai/cloud-eng

Add Principal to agent protobuf
  flyteidl/gen/pb-es/flyteidl/admin/agent_pb.ts
  flyteidl/gen/pb-go/flyteidl/admin/agent.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/admin/agent_pb2.py
  flyteidl/gen/pb_python/flyteidl/admin/agent_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/protos/flyteidl/admin/agent.proto
Owners: @unionai/cloud-eng

fix(migrations): Correct NULL to empty string in SQL insert
  flyteadmin/pkg/repositories/config/migrations.go
Owners: @unionai/cloud-eng

update numpy
  .github/workflows/single-binary.yml
Owners: @unionai/cloud-eng

fix(migrations): Correct NULL to empty string in SQL insert (#5482)
  .github/workflows/single-binary.yml
  flyteadmin/pkg/repositories/config/migrations.go
Owners: @unionai/cloud-eng

Fix: Make 'flytectl compile' consider launchplans used within workflows
  flytectl/cmd/compile/compile.go
  flytectl/cmd/compile/compile_test.go
  flytectl/cmd/compile/testdata/launchplan-in-wf.tgz
Owners: @unionai/cloud-eng

Add raw file for test
  flytectl/cmd/compile/testdata/launchplan-in-wf.py
Owners: @unionai/cloud-eng

Add documentation on how to create a package
  flytectl/cmd/compile/compile_test.go
Owners: @unionai/cloud-eng

Fix: Make 'flytectl compile' consider launchplans used within workflows (#5463)
  flytectl/cmd/compile/compile.go
  flytectl/cmd/compile/compile_test.go
  flytectl/cmd/compile/testdata/launchplan-in-wf.py
  flytectl/cmd/compile/testdata/launchplan-in-wf.tgz
Owners: @unionai/cloud-eng

include group in apiVersion in plugin_collector (#5457)
  flytepropeller/pkg/controller/nodes/task/k8s/plugin_collector.go
Owners: @unionai/exo

feat: disabled adding SYS_PTRACE to the primary container
  flyteplugins/go/tasks/pluginmachinery/flytek8s/copilot.go
Owners: @unionai/exo

feat: apply PodTemplate settings also to InitContainers (not only primary/sidecar containers)
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper.go
Owners: @unionai/exo

WIP find the right spot
  flyteadmin/pkg/manager/impl/execution_manager.go
  flyteplugins/go/tasks/pluginmachinery/core/exec_metadata.go
  flyteplugins/go/tasks/pluginmachinery/internal/webapi/core.go
  flyteplugins/go/tasks/pluginmachinery/internal/webapi/launcher.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/iface.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/mocks/ExecutableWorkflow.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/mocks/Meta.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/mocks/MetaExtended.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/workflow.go
  flytepropeller/pkg/controller/executors/mocks/execution_context.go
  flytepropeller/pkg/controller/nodes/interfaces/mocks/node_execution_metadata.go
  flytepropeller/pkg/controller/nodes/interfaces/node_exec_context.go
  flytepropeller/pkg/controller/nodes/resolve_test.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/admin.go
Owners: @unionai/cloud-eng, @unionai/exo

Feat: Allow controlling in which task phases log links are shown (#4726)
  flyteadmin/pkg/repositories/transformers/task_execution.go
  flyteadmin/pkg/repositories/transformers/task_execution_test.go
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/core/execution_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/execution.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/execution_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/execution_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/go.mod
  flyteidl/go.sum
  flyteidl/protos/flyteidl/core/execution.proto
  flyteplugins/go/tasks/logs/logging_utils.go
  flyteplugins/go/tasks/pluginmachinery/core/phase.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper_test.go
  flyteplugins/go/tasks/pluginmachinery/k8s/plugin.go
  flyteplugins/go/tasks/pluginmachinery/tasklog/plugin.go
  flyteplugins/go/tasks/pluginmachinery/tasklog/template.go
  flyteplugins/go/tasks/plugins/k8s/dask/dask.go
  flyteplugins/go/tasks/plugins/k8s/dask/dask_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/common/common_operator.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/mpi/mpi.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/mpi/mpi_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/pytorch/pytorch.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/pytorch/pytorch_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/tensorflow/tensorflow.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/tensorflow/tensorflow_test.go
  flyteplugins/go/tasks/plugins/k8s/pod/plugin.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray_test.go
  flyteplugins/go/tasks/plugins/k8s/spark/spark.go
  flyteplugins/go/tasks/plugins/k8s/spark/spark_test.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
  flyteplugins/go/tasks/plugins/webapi/bigquery/plugin.go
  flytepropeller/pkg/controller/nodes/task/k8s/plugin_manager_test.go
Owners: @unionai/cloud-eng, @unionai/exo

Favor golangci-lint --fix instead running goimports,gci directly
  boilerplate/flyte/golang_test_targets/Makefile
  boilerplate/flyte/golang_test_targets/Readme.rst
  boilerplate/flyte/golang_test_targets/goimports
Owners: @unionai/cloud-eng

Enable gci lint on flytectl
  flytectl/.golangci.yml
Owners: @unionai/cloud-eng

Deduplicate per feedback
  boilerplate/flyte/golang_test_targets/Makefile
Owners: @unionai/cloud-eng

[cherry-pick] Key-value execution tags (#321)
  flyteadmin/pkg/common/entity.go
  flyteadmin/pkg/common/filters.go
  flyteadmin/pkg/manager/impl/execution_manager.go
  flyteadmin/pkg/manager/impl/util/filters.go
  flyteadmin/pkg/repositories/config/migrations.go
  flyteadmin/pkg/repositories/gormimpl/common.go
  flyteadmin/pkg/repositories/gormimpl/execution_repo.go
  flyteadmin/pkg/repositories/gormimpl/execution_repo_test.go
  flyteadmin/pkg/repositories/interfaces/execution_repo.go
  flyteadmin/pkg/repositories/mocks/execution_repo.go
  flyteadmin/pkg/repositories/models/execution.go
  flyteadmin/pkg/repositories/transformers/execution.go
  flyteadmin/tests/bootstrap.go
  flyteadmin/tests/execution_test.go
  flyteidl/gen/pb-es/flyteidl/admin/execution_pb.ts
  flyteidl/gen/pb-go/flyteidl/admin/execution.pb.go
  flyteidl/gen/pb_python/flyteidl/admin/execution_pb2.py
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/protos/flyteidl/admin/execution.proto
Owners: @unionai/cloud-eng

Building task execution context if not exists on fasttask CheckStatus (#325)
  fasttask/plugin/plugin.go
  fasttask/plugin/service.go
  fasttask/plugin/service_test.go
Owners: @unionai/exo

install image builder
  .github/workflows/single-binary.yml
Owners: @unionai/cloud-eng

install image builder (#5487)
  .github/workflows/single-binary.yml
Owners: @unionai/cloud-eng

add tests
  flytectl/cmd/upgrade/upgrade.go
  flytectl/pkg/github/githubutil.go
  flytectl/pkg/github/provider.go
  flytectl/pkg/github/provider_test.go
Owners: @unionai/cloud-eng

fix test error
  flyteadmin/tests/project_test.go
Owners: @unionai/cloud-eng

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo
