Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo

[Bug] Update resource failures w/ Finalizers set (#423) (#5673)
  flyteplugins/go/tasks/pluginmachinery/flytek8s/config/config.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/config/k8spluginconfig_flags.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/config/k8spluginconfig_flags_test.go
  flytepropeller/pkg/controller/nodes/task/k8s/plugin_manager.go
Owners: @unionai/exo

Update "Try Serverless" language in Quickstart guide (#5698)
  docs/quickstart_guide.md
Owners: @neverett, @ppiegaze

[flyteagent] Add Logging for Agent Supported Task Types (#5718)
  flyteplugins/go/tasks/plugins/webapi/agent/client.go
Owners: @unionai/exo

renamings
  flytestdlib/storage/storage.go
  flytestdlib/storage/stow_store.go
Owners: @unionai/cloud-eng

renamings
  flyteadmin/pkg/common/mocks/storage.go
Owners: @unionai/cloud-eng

[BUG] use deep copy of bit arrays when getting array node state (#5681)
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/node_status.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/zz_generated.deepcopy.go
  flytepropeller/pkg/controller/config/config.go
  flytepropeller/pkg/controller/config/config_flags.go
  flytepropeller/pkg/controller/config/config_flags_test.go
  flytepropeller/pkg/controller/nodes/array/handler_test.go
  flytepropeller/pkg/controller/nodes/node_state_manager.go
Owners: @unionai/exo

Auth/prevent lookup per call (#5686)
  flytectl/cmd/configuration/configuration.go
  flytectl/cmd/core/cmd_test.go
  flyteidl/clients/go/admin/auth_interceptor.go
  flyteidl/clients/go/admin/auth_interceptor_test.go
  flyteidl/clients/go/admin/client.go
  flyteidl/gen/pb_rust/datacatalog.rs
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/gen/pb_rust/flyteidl.cacheservice.rs
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/gen/pb_rust/flyteidl.event.rs
  flyteidl/gen/pb_rust/flyteidl.plugins.kubeflow.rs
  flyteidl/gen/pb_rust/flyteidl.plugins.rs
  flyteidl/gen/pb_rust/flyteidl.service.rs
Owners: @unionai/cloud-eng

extend pod customization to include init containers (#5685)
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper.go
  flyteplugins/go/tasks/plugins/k8s/pod/container_test.go
Owners: @unionai/exo

Move default execution name generation to flyteadmin (#5714)
  flytectl/cmd/create/execution_util.go
  flytectl/go.mod
Owners: @unionai/cloud-eng

Update Flyte components - v1.13.1-rc1 (#5691)
  CHANGELOG/CHANGELOG-v1.13.1-rc1.md
  charts/flyte-binary/README.md
  charts/flyte-binary/values.yaml
  charts/flyte-core/README.md
  charts/flyte-core/values.yaml
  charts/flyte/README.md
  charts/flyte/values.yaml
  charts/flyteagent/README.md
  charts/flyteagent/values.yaml
  deployment/agent/flyte_agent_helm_generated.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_dataplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_dataplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox-binary/flyte_sandbox_binary_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  docs/conf.py
  docs/deployment/configuration/generated/flyteadmin_config.rst
  docs/deployment/configuration/generated/flytepropeller_config.rst
  docs/deployment/configuration/generated/scheduler_config.rst
Owners: @unionai/cloud-eng, @neverett, @ppiegaze

Enable echo plugin by default (#5679)
  charts/flyte-binary/README.md
  charts/flyte-binary/eks-production.yaml
  charts/flyte-binary/eks-starter.yaml
  charts/flyte-binary/gke-starter.yaml
  charts/flyte-binary/values.yaml
  charts/flyte-core/README.md
  charts/flyte-core/values-eks.yaml
  charts/flyte-core/values-gcp.yaml
  charts/flyte-core/values-keycloak-idp-flyteclients-without-browser.yaml
  charts/flyte-core/values.yaml
  charts/flyte/README.md
  charts/flyte/values.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_dataplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_dataplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox-binary/flyte_sandbox_binary_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  flyte-single-binary-local.yaml
  flytepropeller/propeller-config.yaml
Owners: @unionai/cloud-eng, @unionai/exo

Configure imagePullPolicy to be Always pull on flyte sandbox environment (#5709)
  flyte-single-binary-local.yaml
Owners: @unionai/cloud-eng

Improve execution name readability (#5637)
  flyteadmin/go.mod
  flyteadmin/go.sum
  flyteadmin/pkg/async/schedule/aws/workflow_executor.go
  flyteadmin/pkg/common/executions.go
  flyteadmin/pkg/common/executions_test.go
  flyteadmin/pkg/common/naming/execution_name.go
  flyteadmin/pkg/common/naming/execution_name_test.go
  flyteadmin/pkg/manager/impl/util/shared.go
  flyteadmin/pkg/manager/impl/util/shared_test.go
  flyteadmin/pkg/runtime/interfaces/application_configuration.go
  flyteadmin/scheduler/executor/executor_impl.go
  go.mod
  go.sum
Owners: @unionai/cloud-eng

fix: Use deterministic execution names in scheduler (#5724)
  flyteadmin/pkg/common/naming/execution_name_test.go
  flyteadmin/scheduler/executor/executor_impl.go
  flyteadmin/scheduler/identifier/identifier.go
Owners: @unionai/cloud-eng

mockery
  flytestdlib/storage/mocks/composed_protobuf_store.go
Owners: @unionai/cloud-eng

Remove explict go toolchain versions (#5723)
  datacatalog/go.mod
  flytectl/go.mod
Owners: @unionai/cloud-eng

[Docs][flyteagent] Remove agent-service config in flyte agent documentation (#5731)
  docs/flyte_agents/developing_agents.md
  docs/flyte_agents/testing_agents_in_a_local_development_cluster.md
Owners: @neverett, @ppiegaze

Improve error message for MismatchingTypes (#5639)
  .github/workflows/single-binary.yml
  flyteadmin/pkg/manager/impl/workflow_manager.go
  flyteadmin/pkg/manager/impl/workflow_manager_test.go
  flyteadmin/pkg/workflowengine/impl/compiler.go
  flytepropeller/pkg/compiler/errors/compiler_errors.go
  flytepropeller/pkg/compiler/validators/bindings.go
  flytepropeller/pkg/compiler/validators/bindings_test.go
Owners: @unionai/cloud-eng, @unionai/exo

Enable in every helm chart (#5730)
  charts/flyte-binary/gke-starter.yaml
  deployment/test/flyte_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  flyte-single-binary-local.yaml
  flytepropeller/propeller-config.yaml
Owners: @unionai/cloud-eng, @unionai/exo

Update Flyte components - v1.13.1 (#5696)
  CHANGELOG/CHANGELOG-v1.13.1.md
  charts/flyte-binary/README.md
  charts/flyte-binary/values.yaml
  charts/flyte-core/README.md
  charts/flyte-core/values.yaml
  charts/flyte/README.md
  charts/flyte/values.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_dataplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_dataplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox-binary/flyte_sandbox_binary_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  docs/conf.py
Owners: @unionai/cloud-eng, @neverett, @ppiegaze

Using new offloaded metadata literal message for literal offloading (#5705)
  flyteidl/gen/pb-es/flyteidl/core/literals_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/literals.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/cacheservice/cacheservice.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/datacatalog/datacatalog.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/dataproxy.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/external_plugin_service.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/signal.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/literals_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/literals_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/literals.proto
Owners: @unionai/cloud-eng

[Docs] Echo Task (#5707)
  docs/user_guide/advanced_composition/conditionals.md
Owners: @neverett, @ppiegaze

More concise definition of launchplan (#5682)
  docs/flyte_fundamentals/tasks_workflows_and_launch_plans.md
Owners: @neverett, @ppiegaze

Fix flytectl returning the oldest workflow when using --latest flag (#5716)
  flytectl/cmd/get/launch_plan.go
  flytectl/cmd/get/launch_plan_test.go
  flytectl/cmd/get/workflow.go
  flytectl/cmd/get/workflow_test.go
  flytectl/pkg/ext/fetcher.go
  flytectl/pkg/ext/launch_plan_fetcher.go
  flytectl/pkg/ext/launch_plan_fetcher_test.go
  flytectl/pkg/ext/mocks/admin_fetcher_ext_interface.go
  flytectl/pkg/ext/workflow_fetcher.go
  flytectl/pkg/ext/workflow_fetcher_test.go
Owners: @unionai/cloud-eng

mockery
  flytepropeller/pkg/utils/failing_datastore.go
  flytestdlib/storage/cached_rawstore_test.go
  flytestdlib/storage/stow_store_test.go
Owners: @unionai/exo, @unionai/cloud-eng

Add listing api to stow storage
  flyteadmin/pkg/common/mocks/storage.go
  flytepropeller/pkg/utils/failing_datastore.go
  flytestdlib/storage/cached_rawstore_test.go
  flytestdlib/storage/mem_store.go
  flytestdlib/storage/mocks/composed_protobuf_store.go
  flytestdlib/storage/storage.go
  flytestdlib/storage/stow_store.go
  flytestdlib/storage/stow_store_test.go
Owners: @unionai/cloud-eng, @unionai/exo

Add listing api to stow storage, fix helm issue
  script/generate_helm.sh
Owners: @unionai/cloud-eng

Add listing api to stow storage, fix helm issue
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Owners: @unionai/cloud-eng

Add listing api to stow storage, fix helm issue
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Owners: @unionai/cloud-eng

Add listing api to stow storage, fix helm issue
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Owners: @unionai/cloud-eng

Add listing api to stow storage (#5741)
  flyteadmin/pkg/common/mocks/storage.go
  flytepropeller/pkg/utils/failing_datastore.go
  flytestdlib/storage/cached_rawstore_test.go
  flytestdlib/storage/mem_store.go
  flytestdlib/storage/mocks/composed_protobuf_store.go
  flytestdlib/storage/storage.go
  flytestdlib/storage/stow_store.go
  flytestdlib/storage/stow_store_test.go
  script/generate_helm.sh
Owners: @unionai/cloud-eng, @unionai/exo

Adding unit tests
  flyteadmin/pkg/async/notifications/factory.go
  flyteadmin/pkg/async/notifications/factory_test.go
  flyteadmin/pkg/async/notifications/implementations/smtp_emailer.go
  flyteadmin/pkg/async/notifications/implementations/smtp_emailer_test.go
  flyteadmin/pkg/async/notifications/interfaces/smtp_client.go
  flyteadmin/pkg/async/notifications/mocks/smtp_client.go
Owners: @unionai/cloud-eng

Pin Helm version due to recent 3.16 bug (#467)
  script/generate_helm.sh
Owners: @unionai/cloud-eng

Remove deprecated argument from ActorEnvironment (#468)
  fasttask/worker/functional-tests/workflows/simple_actor.py
Owners: @unionai/exo

Use latest upload-artifact action version
  .github/workflows/single-binary.yml
Owners: @unionai/cloud-eng

Update download artifact
  .github/workflows/single-binary.yml
Owners: @unionai/cloud-eng

Use latest upload/download-artifact action version (#5743)
  .github/workflows/single-binary.yml
Owners: @unionai/cloud-eng

update deprecated integrations redirects
  docs/conf.py
Owners: @neverett, @ppiegaze

update intersphinx inventory links
  docs/conf.py
Owners: @neverett, @ppiegaze

Minor fixes
  deployment/stats/prometheus/flyteuser.dashboard.json
  stats/flyteuser.dashboard.py
Owners: @unionai/cloud-eng
