Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

Increase test timeout for CI
  flytestdlib/cache/auto_refresh_test.go
Owners: @unionai/cloud-eng

[flytepropeller][compiler] Error Handling when Type is not found (#5612)
  flyteadmin/pkg/manager/impl/validation/launch_plan_validator_test.go
  flyteadmin/pkg/manager/impl/validation/validation.go
  flyteadmin/pkg/manager/impl/validation/validation_test.go
Owners: @unionai/cloud-eng

Fix nil pointer when task plugin load returns error (#5622)
  flytepropeller/pkg/controller/nodes/task/handler.go
  flytepropeller/pkg/controller/nodes/task/handler_test.go
Owners: @unionai/exo

Log stack trace when refresh cache sync recovers from panic (#5623)
  flytestdlib/cache/auto_refresh.go
  flytestdlib/cache/auto_refresh_test.go
Owners: @unionai/cloud-eng

first version
  docs/flyte_agents/how_secret_works_in_agent.md
  docs/flyte_agents/index.md
Owners: @neverett, @ppiegaze

use private-key
  docs/deployment/agents/snowflake.rst
Owners: @neverett, @ppiegaze

update
  docs/flyte_agents/how_secret_works_in_agent.md
Owners: @neverett, @ppiegaze

use private-key (#5626)
  docs/deployment/agents/snowflake.rst
Owners: @neverett, @ppiegaze

Explain how Agent Secret Works (#5625)
  docs/flyte_agents/how_secret_works_in_agent.md
  docs/flyte_agents/index.md
Owners: @neverett, @ppiegaze

Fix typo in execution manager (#5619)
  flyteadmin/pkg/manager/impl/execution_manager.go
Owners: @unionai/cloud-eng

Union Type Dataclass
  flytepropeller/pkg/compiler/validators/typing.go
Owners: @unionai/exo

add send arg
  flyteadmin/pkg/server/service.go
Owners: @unionai/cloud-eng

Add acction to remove cache in gh runner
  .github/clear-action-cache/action.yml
  .github/workflows/tests.yml
Owners: @unionai/cloud-eng

Use correct checked out path
  .github/workflows/tests.yml
Owners: @unionai/cloud-eng

Path in strings
  .github/workflows/tests.yml
Owners: @unionai/cloud-eng

Checkout repo in root
  .github/workflows/tests.yml
Owners: @unionai/cloud-eng

Use the correct path to new action
  .github/actions/clear-action-cache/action.yml
  .github/workflows/tests.yml
Owners: @unionai/cloud-eng

Do not use gh var in path to clear-action-cache
  .github/workflows/tests.yml
Owners: @unionai/cloud-eng

Remove wrong invocation of clear-action-cache
  .github/workflows/tests.yml
Owners: @unionai/cloud-eng

GITHUB_WORKSPACE is implicit in the checkout action
  .github/workflows/tests.yml
Owners: @unionai/cloud-eng

Refer to local `flyte` directory
  .github/workflows/tests.yml
Owners: @unionai/cloud-eng

Amend Admin to use grpc message size (#5628)
  .github/actions/clear-action-cache/action.yml
  .github/workflows/tests.yml
  flyteadmin/pkg/server/service.go
Owners: @unionai/cloud-eng

codespell
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/scheduler/yunikorn/utils_test.go
Owners: @unionai/exo

add NodeExecutionMetaData
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng

test release 0.1.3
  flyteidl/Cargo.toml
Owners: @unionai/cloud-eng

release `flyteidl_rust` to v0.1.3
  flyteidl/Cargo.lock
Owners: @unionai/cloud-eng

add generated rust protobuf to gitignore
  .gitignore
  flyteidl/gen/pb_rust/datacatalog.rs
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/gen/pb_rust/flyteidl.cacheservice.rs
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/gen/pb_rust/flyteidl.event.rs
  flyteidl/gen/pb_rust/flyteidl.plugins.rs
  flyteidl/gen/pb_rust/flyteidl.service.rs
  flyteidl/gen/pb_rust/google.api.rs
  flyteidl/gen/pb_rust/google.protobuf.rs
  flyteidl/gen/pb_rust/grpc.gateway.protoc_gen_openapiv2.options.rs
Owners: @unionai/cloud-eng

add generated rust protobuf to gitignore
  .gitignore
Owners: @unionai/cloud-eng

rollback generated rust protobuf from gitignore
  .gitignore
Owners: @unionai/cloud-eng

rollback generated rust protobuf from gitignore
  flyteidl/gen/pb_rust/datacatalog.rs
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/gen/pb_rust/flyteidl.cacheservice.rs
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/gen/pb_rust/flyteidl.event.rs
  flyteidl/gen/pb_rust/flyteidl.plugins.rs
  flyteidl/gen/pb_rust/flyteidl.service.rs
  flyteidl/gen/pb_rust/google.api.rs
  flyteidl/gen/pb_rust/google.protobuf.rs
  flyteidl/gen/pb_rust/grpc.gateway.protoc_gen_openapiv2.options.rs
Owners: @unionai/cloud-eng

[auto-update-contributors] update all-contributors
  README.md
Owners: @unionai/cloud-eng

Make flyteidl releases go through a manual gh workflow
  .github/workflows/create_release.yml
  .github/workflows/flyteidl-release.yml
  flyteidl/RELEASE.md
Owners: @unionai/cloud-eng

Make flytectl releases go through a manual gh workflow
  .github/workflows/flytectl-release.yml
  flytectl/RELEASE.md
Owners: @unionai/cloud-eng

take over get project
  flytectl/cmd/get/project.go
Owners: @unionai/cloud-eng

Use binary unit
  charts/flyte-binary/values.yaml
Owners: @unionai/cloud-eng

document the process of setting ttl for a ray cluster
  docs/deployment/plugins/k8s/index.rst
Owners: @neverett, @ppiegaze

proto
  flyteidl/protos/flyteidl/core/literals.proto
  flyteidl/protos/flyteidl/core/types.proto
Owners: @unionai/cloud-eng

make generate
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/core/literals_pb.ts
  flyteidl/gen/pb-es/flyteidl/core/types_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/literals.pb.go
  flyteidl/gen/pb-go/flyteidl/core/types.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/cacheservice/cacheservice.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/datacatalog/datacatalog.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/dataproxy.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/external_plugin_service.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/signal.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/literals_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/literals_pb2.pyi
  flyteidl/gen/pb_python/flyteidl/core/types_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/types_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
Owners: @unionai/cloud-eng

new swagger
  flyteidl/clients/go/assets/admin.swagger.json
Owners: @unionai/cloud-eng

update test
  flytepropeller/pkg/compiler/validators/typing_test.go
Owners: @unionai/exo

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo
