Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

Fix make generate and run it
  Makefile
  boilerplate/flyte/golang_test_targets/Makefile
  boilerplate/flyte/golang_test_targets/download_tooling.sh
  datacatalog/Makefile
  flyteadmin/Makefile
  flytecopilot/Makefile
  flytectl/Makefile
  flyteidl/Makefile
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteplugins/Makefile
  flytepropeller/Makefile
  flytestdlib/Makefile
Owners: @unionai/cloud-eng, @unionai/exo

chore: update runllm widget configuration (#5530)
  docs/_templates/base.html
Owners: @neverett, @ppiegaze

Use jsonpb AllowUnknownFields everywhere (#5521)
  flyteadmin/pkg/manager/impl/util/digests_test.go
  flyteadmin/pkg/repositories/transformers/task_execution_test.go
  flytectl/cmd/get/node_execution.go
  flytectl/pkg/visualize/graphviz_test.go
  flyteidl/clients/go/coreutils/literals.go
  flyteplugins/go/tasks/pluginmachinery/utils/marshal_utils.go
  flyteplugins/go/tasks/plugins/k8s/dask/dask_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/mpi/mpi_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/pytorch/pytorch_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/tensorflow/tensorflow_test.go
  flyteplugins/go/tasks/plugins/k8s/spark/spark_test.go
  flytepropeller/cmd/kubectl-flyte/cmd/create.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/branch.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/error.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/gate.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/identifier.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/iface.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/nodes.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/tasks.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/workflow.go
  flytepropeller/pkg/compiler/test/compiler_test.go
  flytepropeller/pkg/compiler/transformers/k8s/workflow_test.go
  flytestdlib/utils/marshal_utils.go
  flytestdlib/utils/marshal_utils_test.go
Owners: @unionai/cloud-eng, @unionai/exo

Use WithContext in all DB calls
  flyteadmin/pkg/repositories/gormimpl/named_entity_repo.go
  flyteadmin/pkg/repositories/gormimpl/signal_repo.go
  flyteadmin/pkg/repositories/gormimpl/task_execution_repo.go
Owners: @unionai/cloud-eng

Fixing tests
  flyteadmin/pkg/async/notifications/implementations/smtp_emailer_test.go
Owners: @unionai/cloud-eng

Use WithContext in all DB calls (#5538)
  flyteadmin/pkg/repositories/gormimpl/named_entity_repo.go
  flyteadmin/pkg/repositories/gormimpl/signal_repo.go
  flyteadmin/pkg/repositories/gormimpl/task_execution_repo.go
Owners: @unionai/cloud-eng

Fixing lint
  flyteadmin/pkg/async/notifications/implementations/smtp_emailer.go
Owners: @unionai/cloud-eng

Update versions for fast-task (#354)
  fasttask/worker/Cargo.lock
  fasttask/worker/Cargo.toml
  fasttask/worker/README.md
  fasttask/worker/pyproject.toml
Owners: @unionai/exo

fix: run PersistentPreRunE
  flytectl/pkg/bubbletea/bubbletea_list.go
  flytectl/pkg/bubbletea/bubbletea_list_util.go
Owners: @unionai/cloud-eng

feat: enable user to type in multiple flag value at once
  flytectl/pkg/bubbletea/bubbletea_list.go
  flytectl/pkg/bubbletea/bubbletea_list_util.go
  flytectl/pkg/bubbletea/command_flag_map.go
Owners: @unionai/cloud-eng

fixed error when input runnable commands
  flytectl/cmd/root.go
  flytectl/pkg/bubbletea/bubbletea_list.go
  flytectl/pkg/bubbletea/bubbletea_list_util.go
Owners: @unionai/cloud-eng

use domain api to get domain
  flytectl/pkg/bubbletea/bubbletea_list.go
  flytectl/pkg/bubbletea/bubbletea_list_util.go
  flytectl/pkg/bubbletea/command_flag_map.go
Owners: @unionai/cloud-eng

fix: handle when flags are complete with user input
  flytectl/pkg/bubbletea/bubbletea_list.go
  flytectl/pkg/bubbletea/bubbletea_list_util.go
Owners: @unionai/cloud-eng

fix withTokenCache bug
  flytectl/pkg/bubbletea/bubbletea_list_util.go
Owners: @unionai/cloud-eng

feat: skip flags users already input
  flytectl/pkg/bubbletea/bubbletea_list.go
  flytectl/pkg/bubbletea/bubbletea_list_util.go
  flytectl/pkg/bubbletea/bubbletea_pagination.go
  flytectl/pkg/bubbletea/bubbletea_pagination_util.go
Owners: @unionai/cloud-eng

temp
  flytectl/cmd/root.go
  flytectl/go.mod
  flytectl/go.sum
  flytectl/pkg/bubbletea/bubbletea_list.go
  flytectl/pkg/bubbletea/bubbletea_list_util.go
  flytectl/pkg/bubbletea/bubbletea_util.go
  flytectl/pkg/bubbletea/command_flag_map.go
Owners: @unionai/cloud-eng

simplify command_flag_map
  flytectl/pkg/bubbletea/bubbletea_util.go
  flytectl/pkg/bubbletea/command_flag_map.go
Owners: @unionai/cloud-eng

Add bubbletea list library to go.sum
  flytectl/go.sum
Owners: @unionai/cloud-eng

feat: user can input flag arguments by typing
  flytectl/pkg/bubbletea/bubbletea_list.go
  flytectl/pkg/bubbletea/bubbletea_list_util.go
  flytectl/pkg/bubbletea/command_flag_map.go
Owners: @unionai/cloud-eng

Fixing lint
  flyteadmin/pkg/async/notifications/implementations/smtp_emailer.go
Owners: @unionai/cloud-eng

exit bubbletea and show error if error happended while using bubbletea
  flytectl/pkg/bubbletea/bubbletea_list.go
  flytectl/pkg/bubbletea/bubbletea_list_util.go
Owners: @unionai/cloud-eng

switch local pyo3_macro for pyclass constructor
  flyteidl/Cargo.lock
  flyteidl/Cargo.toml
  flyteidl/pyo3_macro/Cargo.toml
  flyteidl/pyo3_macro/src/lib.rs
Owners: @unionai/cloud-eng

add auxiliary scripts fix pyo3 `enum` cannot be `subclass`ed
  flyteidl/gen/pb_rust/datacatalog.rs
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/gen/pb_rust/flyteidl.cacheservice.rs
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/gen/pb_rust/flyteidl.event.rs
  flyteidl/gen/pb_rust/flyteidl.plugins.rs
  flyteidl/gen/pb_rust/flyteidl.service.rs
  flyteidl/gen/pb_rust/google.api.rs
  flyteidl/gen/pb_rust/google.protobuf.rs
  flyteidl/gen/pb_rust/grpc.gateway.protoc_gen_openapiv2.options.rs
  flyteidl/scripts/add_pyo3_subclass.sh
  flyteidl/src/gen.rs
Owners: @unionai/cloud-eng

introducing declarative submodules after pyo3 fixed PyO3/pyo3/9afc38ae416bb750efd227e4f8b4302392c0d303
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng

cleanup unused code in pyor_macro
  flyteidl/pyo3_macro/src/lib.rs
Owners: @unionai/cloud-eng

update type hints file `.pyi`
  flyteidl/python/flyteidl_rust/flyteidl_rust.pyi
Owners: @unionai/cloud-eng

cleanup the comment of unused code AdminStub
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng

add workflow api & add other literal types
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng

add workflow types
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng

fixup workflow API & structure
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng

add new project state: SYSTEM_ARCHIVED (#351)
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/admin/project_pb.ts
  flyteidl/gen/pb-go/flyteidl/admin/project.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/admin/project_pb2.py
  flyteidl/gen/pb_python/flyteidl/admin/project_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/protos/flyteidl/admin/project.proto
Owners: @unionai/cloud-eng

system archived
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/admin/project_pb.ts
  flyteidl/gen/pb-go/flyteidl/admin/project.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/admin/project_pb2.py
  flyteidl/gen/pb_python/flyteidl/admin/project_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/protos/flyteidl/admin/project.proto
Owners: @unionai/cloud-eng

system archived (#5544)
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/admin/project_pb.ts
  flyteidl/gen/pb-go/flyteidl/admin/project.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/admin/project_pb2.py
  flyteidl/gen/pb_python/flyteidl/admin/project_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/protos/flyteidl/admin/project.proto
Owners: @unionai/cloud-eng

Adds yaml file for single-binary fasttask (#360)
  fasttask/flyte-single-binary-fasttask.yaml
Owners: @unionai/exo

fixup workflow API & structure
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng

add `SerializeToString()`
  flyteidl/pyo3_macro/src/lib.rs
Owners: @unionai/cloud-eng

update
  docs/deployment/configuration/notifications.rst
Owners: @neverett, @ppiegaze

typo
  docs/deployment/configuration/notifications.rst
Owners: @neverett, @ppiegaze

Allow setting backlog length to 0 (#357)
  fasttask/plugin/builder.go
  fasttask/worker/bridge/src/cli.rs
Owners: @unionai/exo

Gracefully failing to populate log links on propeller restart over fasttask. (#359)
  fasttask/plugin/plugin.go
Owners: @unionai/exo

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo
