Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo

fix spelling CHANGELOG-v0.19.4.md
  CHANGELOG/CHANGELOG-v0.19.4.md
Owners: @unionai/cloud-eng

fix spelling CHANGELOG-v1.0.0.md
  CHANGELOG/CHANGELOG-v1.0.0.md
Owners: @unionai/cloud-eng

Cherry-pick: Respect original task definition retry strategy for single task executions (#392)
  flyteadmin/pkg/manager/impl/util/single_task_execution.go
  flyteadmin/pkg/manager/impl/util/single_task_execution_test.go
Owners: @unionai/cloud-eng

Clarify the support for the Java/Scala SDK in the docs
  docs/index.md
Owners: @neverett, @ppiegaze

Change Flyte CR naming scheme to better support namespace_mapping
  flyteadmin/pkg/workflowengine/impl/k8s_executor.go
  flyteadmin/pkg/workflowengine/impl/k8s_executor_test.go
  flytepropeller/pkg/compiler/test/compiler_test.go
  flytepropeller/pkg/compiler/transformers/k8s/workflow.go
  flytepropeller/pkg/controller/nodes/dynamic/dynamic_workflow_test.go
Owners: @unionai/cloud-eng, @unionai/exo

Use deterministic hash of execution id, name, project, as the FlyteWorkflow CR name. Add workflow-cr-name-hash-length to flytepropeller config.
  flytepropeller/pkg/compiler/test/compiler_test.go
  flytepropeller/pkg/compiler/transformers/k8s/workflow.go
  flytepropeller/pkg/compiler/transformers/k8s/workflow_test.go
  flytepropeller/pkg/controller/config/config.go
  flytepropeller/pkg/controller/nodes/dynamic/dynamic_workflow_test.go
Owners: @unionai/exo

Move hash to suffix
  flytepropeller/pkg/compiler/transformers/k8s/workflow.go
  flytepropeller/pkg/controller/config/config.go
Owners: @unionai/exo

Reorganize instructions
  docs/user_guide/productionizing/configuring_access_to_gpus.md
Owners: @neverett, @ppiegaze

Clarify the support for the Java/Scala SDK in the docs (#5582)
  docs/index.md
Owners: @neverett, @ppiegaze

Fix spelling issues (#5580)
  CHANGELOG/CHANGELOG-v0.14.0.md
  CHANGELOG/CHANGELOG-v0.17.0.md
  CHANGELOG/CHANGELOG-v0.19.4.md
  CHANGELOG/CHANGELOG-v1.0.0.md
Owners: @unionai/cloud-eng

Improve clarity
  docs/user_guide/productionizing/configuring_access_to_gpus.md
Owners: @neverett, @ppiegaze

Simplify single task retry strategy check
  flyteadmin/pkg/manager/impl/util/single_task_execution.go
Owners: @unionai/cloud-eng

Update clusterrole.yaml (#5579)
  charts/flyte-binary/templates/clusterrole.yaml
Owners: @unionai/cloud-eng

Run make helm
  deployment/sandbox-binary/flyte_sandbox_binary_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Owners: @unionai/cloud-eng

Changes as per review
  docs/user_guide/development_lifecycle/caching.md
Owners: @neverett, @ppiegaze

Document pyflyte option --overwrite-cache
  docs/user_guide/development_lifecycle/caching.md
Owners: @neverett, @ppiegaze

fix as per review
  docs/user_guide/development_lifecycle/caching.md
Owners: @neverett, @ppiegaze

fix link
  docs/user_guide/development_lifecycle/caching.md
Owners: @neverett, @ppiegaze

Simplify single task retry strategy check (#5584)
  flyteadmin/pkg/manager/impl/util/single_task_execution.go
Owners: @unionai/cloud-eng

Run make helm (#5587)
  deployment/sandbox-binary/flyte_sandbox_binary_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Owners: @unionai/cloud-eng

adjust wording
  docs/user_guide/development_lifecycle/caching.md
Owners: @neverett, @ppiegaze

remove links to anchors, they don't work in Flyte dcos
  docs/user_guide/development_lifecycle/caching.md
Owners: @neverett, @ppiegaze

Apply reviews pt1
  docs/user_guide/productionizing/configuring_access_to_gpus.md
Owners: @neverett, @ppiegaze

Add note on default scheduling behavior
  docs/user_guide/productionizing/configuring_access_to_gpus.md
Owners: @neverett, @ppiegaze

CreateDownloadLink: Head before signing (#397)
  flyteadmin/dataproxy/service.go
  flyteadmin/dataproxy/service_test.go
Owners: @unionai/cloud-eng

Enable Watch API by default (#396)
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/adminconfig.go
Owners: @unionai/exo

try anchor links again
  docs/conf.py
  docs/user_guide/development_lifecycle/caching.md
Owners: @neverett, @ppiegaze

add back anchor links
  docs/user_guide/development_lifecycle/caching.md
Owners: @neverett, @ppiegaze

Update azblob 1.1.0 -> 1.4.0 / azcore 1.7.2 -> 1.13.0
  boilerplate/flyte/golang_support_tools/go.mod
  boilerplate/flyte/golang_support_tools/go.sum
  datacatalog/go.mod
  datacatalog/go.sum
  flyteadmin/go.mod
  flyteadmin/go.sum
  flytecopilot/go.mod
  flytecopilot/go.sum
  flytectl/go.mod
  flytectl/go.sum
  flyteidl/go.mod
  flyteidl/go.sum
  flyteplugins/go.mod
  flyteplugins/go.sum
  flytepropeller/go.mod
  flytepropeller/go.sum
  flytestdlib/go.mod
  flytestdlib/go.sum
  go.mod
  go.sum
Owners: @unionai/cloud-eng, @unionai/exo

Add missing YAML and rephrase full A100 behavior
  docs/user_guide/productionizing/configuring_access_to_gpus.md
Owners: @neverett, @ppiegaze

Update GPU docs (#5515)
  docs/user_guide/productionizing/configuring_access_to_gpus.md
Owners: @neverett, @ppiegaze

Update azblob 1.1.0 -> 1.4.0 / azcore 1.7.2 -> 1.13.0 (#5590)
  boilerplate/flyte/golang_support_tools/go.mod
  boilerplate/flyte/golang_support_tools/go.sum
  datacatalog/go.mod
  datacatalog/go.sum
  flyteadmin/go.mod
  flyteadmin/go.sum
  flytecopilot/go.mod
  flytecopilot/go.sum
  flytectl/go.mod
  flytectl/go.sum
  flyteidl/go.mod
  flyteidl/go.sum
  flyteplugins/go.mod
  flyteplugins/go.sum
  flytepropeller/go.mod
  flytepropeller/go.sum
  flytestdlib/go.mod
  flytestdlib/go.sum
  go.mod
  go.sum
Owners: @unionai/cloud-eng, @unionai/exo

use enum instead of int for execution mode for array node
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/core/workflow_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/workflow.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/workflow_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/workflow_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/workflow.proto
Owners: @unionai/cloud-eng

Use fixed suffix length
  flytepropeller/pkg/compiler/transformers/k8s/workflow.go
  flytepropeller/pkg/compiler/transformers/k8s/workflow_test.go
  flytepropeller/pkg/controller/config/config.go
Owners: @unionai/exo

add execution mode to ArrayNode proto (#5512)
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/core/workflow_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/workflow.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/workflow_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/workflow_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/workflow.proto
Owners: @unionai/cloud-eng

Serverless: ensure we only deprovision offboarded user projects (#398)
  flyteadmin/pkg/clusterresource/impl/admin_service_data_provider.go
Owners: @unionai/cloud-eng

Fix incorrect YAML for unp GPU
  docs/user_guide/productionizing/configuring_access_to_gpus.md
Owners: @neverett, @ppiegaze

Fix incorrect YAML for unp GPU (#5595)
  docs/user_guide/productionizing/configuring_access_to_gpus.md
Owners: @neverett, @ppiegaze

Another YAML fix
  docs/user_guide/productionizing/configuring_access_to_gpus.md
Owners: @neverett, @ppiegaze

Another YAML fix (#5596)
  docs/user_guide/productionizing/configuring_access_to_gpus.md
Owners: @neverett, @ppiegaze
