Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

update tests
  flyteadmin/pkg/errors/errors_test.go
Owners: @unionai/cloud-eng

fix tests
  flyteadmin/pkg/errors/errors_test.go
Owners: @unionai/cloud-eng

fmt
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng

lower down the required pyhton version to 3.9
  flyteidl/pyproject.toml
Owners: @unionai/cloud-eng

checkpoint
  rfc/system/RFC-0000-execution-concurrency.md
Owners: @unionai/cloud-eng

formatting
  rfc/system/RFC-0000-execution-concurrency.md
Owners: @unionai/cloud-eng

formatting
  rfc/system/RFC-0000-execution-concurrency.md
Owners: @unionai/cloud-eng

grammar
  rfc/system/RFC-0000-execution-concurrency.md
Owners: @unionai/cloud-eng

Cherry-pick: Don't error when attempting to trigger schedules for inactive projects (#5649) (#419)
  flyteadmin/pkg/errors/errors.go
  flyteadmin/pkg/errors/errors_test.go
  flyteadmin/pkg/manager/impl/validation/project_validator.go
  flyteadmin/scheduler/executor/executor_impl.go
  flyteadmin/scheduler/executor/executor_impl_test.go
  flyteidl/gen/pb-es/flyteidl/admin/project_pb.ts
  flyteidl/gen/pb-go/flyteidl/admin/project.pb.go
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/admin/project_pb2.py
  flyteidl/gen/pb_python/flyteidl/admin/project_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/protos/flyteidl/admin/project.proto
Owners: @unionai/cloud-eng

small edit
  docs/quickstart_guide.md
Owners: @neverett, @ppiegaze

Update Flyte Components
  charts/flyte-binary/README.md
  charts/flyte-binary/values.yaml
  charts/flyte-core/README.md
  charts/flyte-core/values.yaml
  charts/flyte/README.md
  charts/flyte/values.yaml
  charts/flyteagent/README.md
  charts/flyteagent/values.yaml
  deployment/agent/flyte_agent_helm_generated.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_dataplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_dataplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox-binary/flyte_sandbox_binary_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  docs/deployment/configuration/generated/flyteadmin_config.rst
  docs/deployment/configuration/generated/scheduler_config.rst
Owners: @unionai/cloud-eng, @neverett, @ppiegaze

fix: set execution name empty is not specified
  flytectl/cmd/create/execution.go
  flytectl/cmd/create/execution_util.go
  flytectl/cmd/create/execution_util_test.go
Owners: @unionai/cloud-eng

Bump conf.py and add changelog
  CHANGELOG/CHANGELOG-v1.13.1-rc0.md
  docs/conf.py
Owners: @unionai/cloud-eng, @neverett, @ppiegaze

Update Flyte components - v1.13.1-rc0 (#5656)
  CHANGELOG/CHANGELOG-v1.13.1-rc0.md
  charts/flyte-binary/README.md
  charts/flyte-binary/values.yaml
  charts/flyte-core/README.md
  charts/flyte-core/values.yaml
  charts/flyte/README.md
  charts/flyte/values.yaml
  charts/flyteagent/README.md
  charts/flyteagent/values.yaml
  deployment/agent/flyte_agent_helm_generated.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_dataplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_dataplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox-binary/flyte_sandbox_binary_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  docs/conf.py
  docs/deployment/configuration/generated/flyteadmin_config.rst
  docs/deployment/configuration/generated/scheduler_config.rst
Owners: @unionai/cloud-eng, @neverett, @ppiegaze

Publish flyte-binary-v1.13.1-rc0.tgz flyte-core-v1.13.1-rc0.tgz flyte-deps-v1.13.1-rc0.tgz flyte-sandbox-0.1.0.tgz flyte-v1.13.1-rc0.tgz flyteagent-v1.13.1-rc0.tgz
  flyte-binary-v1.13.1-rc0.tgz
  flyte-core-v1.13.1-rc0.tgz
  flyte-deps-v1.13.1-rc0.tgz
  flyte-sandbox-0.1.0.tgz
  flyte-v1.13.1-rc0.tgz
  flyteagent-v1.13.1-rc0.tgz
  index.yaml
Owners: @unionai/cloud-eng

keyring init failed
  flyteidl/Cargo.toml
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng

error handling for keyring if CI failed
  flyteidl/src/lib.rs
Owners: @unionai/cloud-eng

Add offloaded path to literal
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/core/literals_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/literals.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/cacheservice/cacheservice.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/datacatalog/datacatalog.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/dataproxy.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/external_plugin_service.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/signal.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/literals_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/literals_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/literals.proto
Owners: @unionai/cloud-eng

first
  rfc/system/5101-offloaded-literal.md
  rfc/system/5103-offloaded-literal.md
Owners: @unionai/cloud-eng

rfc
  rfc/system/5101-offloaded-literal.md
Owners: @unionai/cloud-eng

Review comments
  rfc/system/5103-offloaded-literal.md
Owners: @unionai/cloud-eng

Add offloaded path to literal (#5660)
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/core/literals_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/literals.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/cacheservice/cacheservice.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/datacatalog/datacatalog.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/dataproxy.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/external_plugin_service.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/signal.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/literals_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/literals_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/literals.proto
Owners: @unionai/cloud-eng

Unexpectedly deleted pod metrics (#420)
  flytepropeller/pkg/controller/nodes/task/k8s/plugin_manager.go
Owners: @unionai/exo

Define a separate identifier for the launchplan test
  flyteadmin/pkg/errors/errors_test.go
Owners: @unionai/cloud-eng

Improve error messaging for invalid arguments (#5658)
  flyteadmin/pkg/errors/errors.go
  flyteadmin/pkg/errors/errors_test.go
  flyteadmin/pkg/manager/impl/workflow_manager_test.go
Owners: @unionai/cloud-eng

[BUG] add retries to handle array node eventing race condition (#421)
  flytepropeller/events/admin_eventsink.go
  flytepropeller/events/admin_eventsink_test.go
  flytepropeller/pkg/controller/config/config.go
  flytepropeller/pkg/controller/config/config_flags.go
  flytepropeller/pkg/controller/config/config_flags_test.go
  flytepropeller/pkg/controller/nodes/array/handler.go
  flytepropeller/pkg/controller/nodes/array/handler_test.go
  flytepropeller/pkg/controller/nodes/node_exec_context.go
Owners: @unionai/exo

fix: correct import format
  flyteadmin/pkg/common/executions.go
  flytectl/cmd/create/execution_util.go
  flytectl/go.mod
Owners: @unionai/cloud-eng

test
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/yunikorn.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/yunikorn_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/config.go
Owners: @unionai/exo

gangscheduling annotations
  flyteidl/go.sum
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/config.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/yunikorn.go
  flyteplugins/go/tasks/plugins/k8s/ray/config.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray.go
Owners: @unionai/cloud-eng, @unionai/exo

test
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/yunikorn_test.go
Owners: @unionai/exo

update when no assign
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/yunikorn.go
  flyteplugins/go/tasks/plugins/k8s/ray/config.go
Owners: @unionai/exo

make test pass
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/yunikorn_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/config.go
Owners: @unionai/exo

unit tests
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/plugins_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/yunikorn.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/yunikorn_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/config.go
Owners: @unionai/exo

lint:scheduler config
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/config.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/default.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/plugins.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/plugins_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/yunikorn.go
  flyteplugins/go/tasks/plugins/k8s/ray/config.go
Owners: @unionai/exo

return error when parse fail
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/yunikorn.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray.go
Owners: @unionai/exo

refactor
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/config.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/default.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/plugins.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/plugins_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/yunikorn.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/yunikorn_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/config.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray.go
Owners: @unionai/exo

fix bug that worker groups share same task group name
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/yunikorn.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray.go
Owners: @unionai/exo

refactor
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/config/config.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/config/config_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/default.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/plugins.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/plugins_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/scheduler/kubernetes/default.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/scheduler/kubernetes/default_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/scheduler/yunikorn/taskgroup.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/scheduler/yunikorn/taskgroup_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/scheduler/yunikorn/utils.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/scheduler/yunikorn/utils_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/scheduler/yunikorn/yunikorn.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/scheduler/yunikorn/yunikorn_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/yunikorn.go
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/yunikorn_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/config.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray.go
Owners: @unionai/exo

Update go.sum to origin one
  flyteidl/go.sum
Owners: @unionai/cloud-eng

codespell
  flyteplugins/go/tasks/plugins/k8s/ray/batchscheduler/scheduler/yunikorn/utils_test.go
Owners: @unionai/exo

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo
