Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo

lint fixes
  flytestdlib/.golangci.yml
  flytestdlib/cache/auto_refresh.go
  flytestdlib/cache/auto_refresh_test.go
Owners: @unionai/cloud-eng

Fix merge
  flyteidl/clients/go/coreutils/literals.go
  flytepropeller/pkg/compiler/validators/bindings.go
Owners: @unionai/cloud-eng, @unionai/exo

move flytekit and flytectl docs into API section
  .gitignore
  docs/Makefile
  docs/api/index.md
  docs/conf.py
  docs/index.md
Owners: @unionai/cloud-eng, @neverett, @ppiegaze

switch to docsearch module and env variables
  docs/_static/algolia-search.js
  docs/_static/algolia.css
  docs/_templates/base.html
  docs/conf.py
  monodocs-environment.lock.yaml
  monodocs-environment.yaml
Owners: @neverett, @ppiegaze, @unionai/cloud-eng

Backoff on etcd errors (#5710)
  flytepropeller/pkg/controller/nodes/task/backoff/handler.go
Owners: @unionai/exo

more docs reorganization
  docs/community/contribute_docs.md
  docs/community/index.rst
  docs/conf.py
  docs/deprecated_integrations/bigquery_plugin/bigquery_plugin_example.md
  docs/deprecated_integrations/bigquery_plugin/index.md
  docs/deprecated_integrations/databricks_plugin/databricks_plugin_example.md
  docs/deprecated_integrations/databricks_plugin/index.md
  docs/deprecated_integrations/index.md
  docs/deprecated_integrations/snowflake_plugin/index.md
  docs/deprecated_integrations/snowflake_plugin/snowflake_plugin_example.md
  docs/index.md
  docs/user_guide/index.md
Owners: @neverett, @ppiegaze

switch to pydata theme
  docs/_templates/base.html
  docs/_templates/layout.html
  docs/_templates/page.html
  docs/_templates/sidebar/custom.html
  docs/_templates/sidebar/integrations.html
  docs/_templates/sidebar/search.html
  docs/_templates/sidebar/tutorials.html
  docs/conf.py
Owners: @neverett, @ppiegaze

reorganize concepts/glossary and ecosystem docs
  docs/user_guide/concepts/component_architecture/index.md
  docs/user_guide/concepts/component_architecture/index.rst
  docs/user_guide/concepts/control_plane/admin.rst
  docs/user_guide/concepts/control_plane/console.rst
  docs/user_guide/concepts/control_plane/domains.rst
  docs/user_guide/concepts/control_plane/dynamic_spec.rst
  docs/user_guide/concepts/control_plane/index.rst
  docs/user_guide/concepts/control_plane/projects.rst
  docs/user_guide/concepts/index.md
  docs/user_guide/concepts/main_concepts/catalog.rst
  docs/user_guide/concepts/main_concepts/data_management.rst
  docs/user_guide/concepts/main_concepts/execution_timeline.rst
  docs/user_guide/concepts/main_concepts/executions.rst
  docs/user_guide/concepts/main_concepts/flyte_console.rst
  docs/user_guide/concepts/main_concepts/index.rst
  docs/user_guide/concepts/main_concepts/launchplans.rst
  docs/user_guide/concepts/main_concepts/nodes.rst
  docs/user_guide/concepts/main_concepts/registration.rst
  docs/user_guide/concepts/main_concepts/schedules.rst
  docs/user_guide/concepts/main_concepts/state_machine.rst
  docs/user_guide/concepts/main_concepts/tasks.rst
  docs/user_guide/concepts/main_concepts/versioning.rst
  docs/user_guide/concepts/main_concepts/workflow_lifecycle.rst
  docs/user_guide/concepts/main_concepts/workflows.rst
  docs/user_guide/ecosystem.md
  docs/user_guide/index.md
Owners: @neverett, @ppiegaze

[Docs][flyteagent] Update Databricks Agent Setup to V2 (#5766)
  docs/deployment/agents/databricks.rst
Owners: @neverett, @ppiegaze

[Docs][flyteagent] Improve Agent Secret Setup (#5765)
  docs/deployment/agents/chatgpt.rst
  docs/deployment/agents/databricks.rst
  docs/deployment/agents/openai_batch.rst
  docs/flyte_agents/deploying_agents_to_the_flyte_sandbox.md
Owners: @neverett, @ppiegaze

Dry-up Secret Name encoding (#478)
  flytepropeller/pkg/secret/azure_secret_fetcher.go
  flytepropeller/pkg/secret/azure_secret_fetcher_test.go
  flytepropeller/pkg/secret/azure_utils.go
  flytepropeller/pkg/secret/azure_utils_test.go
  flytepropeller/pkg/secret/embedded_secret_manager.go
  flytepropeller/pkg/secret/embedded_secret_manager_test.go
  flytepropeller/pkg/secret/utils.go
  flytepropeller/pkg/secret/utils_test.go
Owners: @unionai/exo

Overlap create execution blob store reads/writes
  flyteadmin/pkg/manager/impl/execution_manager.go
  flyteadmin/pkg/manager/impl/execution_manager_test.go
Owners: @unionai/cloud-eng

Overlap fetching input and output data
  flyteadmin/go.mod
  flyteadmin/go.sum
  flyteadmin/pkg/manager/impl/execution_manager.go
  flyteadmin/pkg/manager/impl/node_execution_manager.go
  flyteadmin/pkg/manager/impl/task_execution_manager.go
Owners: @unionai/cloud-eng

Overlap FutureFileReader blob store writes/reads
  flytepropeller/pkg/controller/nodes/dynamic/dynamic_workflow_test.go
  flytepropeller/pkg/controller/nodes/task/future_file_reader.go
Owners: @unionai/exo

Fix async notifications tests
  flyteadmin/pkg/async/notifications/implementations/gcp_processor_test.go
Owners: @unionai/cloud-eng

[RFC] Offloaded Raw Literals (#5103)
  rfc/system/5103-offloaded-literal.md
Owners: @unionai/cloud-eng

update all pingsu's interface
  flyteadmin/pkg/manager/impl/validation/execution_validator.go
  flyteadmin/pkg/manager/impl/validation/execution_validator_test.go
  flyteadmin/pkg/manager/impl/validation/launch_plan_validator.go
  flyteadmin/pkg/manager/impl/validation/launch_plan_validator_test.go
  flyteadmin/pkg/manager/impl/validation/signal_validator.go
  flyteadmin/pkg/manager/impl/validation/signal_validator_test.go
  flyteadmin/pkg/manager/impl/validation/validation.go
  flyteadmin/pkg/manager/impl/validation/validation_test.go
  flytepropeller/pkg/compiler/errors/compiler_error_test.go
  flytepropeller/pkg/compiler/errors/compiler_errors.go
  flytepropeller/pkg/compiler/transformers/k8s/inputs.go
  flytepropeller/pkg/compiler/transformers/k8s/inputs_test.go
  flytepropeller/pkg/compiler/validators/utils.go
  flytepropeller/pkg/controller/nodes/array/handler.go
  flytepropeller/pkg/controller/nodes/array/handler_test.go
  flytepropeller/pkg/controller/nodes/catalog/datacatalog/transformer.go
  flytepropeller/pkg/controller/nodes/catalog/datacatalog/transformer_test.go
Owners: @unionai/cloud-eng, @unionai/exo

Use pluggable clock for auto refresh cache and make unit tests fast (#5767)
  flytestdlib/.golangci.yml
  flytestdlib/cache/auto_refresh.go
  flytestdlib/cache/auto_refresh_test.go
Owners: @unionai/cloud-eng

add override to flyteidl
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/core/tasks_pb.ts
  flyteidl/gen/pb-es/flyteidl/core/workflow_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/tasks.pb.go
  flyteidl/gen/pb-go/flyteidl/core/workflow.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/tasks_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/tasks_pb2.pyi
  flyteidl/gen/pb_python/flyteidl/core/workflow_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/workflow_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/tasks.proto
  flyteidl/protos/flyteidl/core/workflow.proto
Owners: @unionai/cloud-eng

Adapt CPU/mem metrics
  deployment/stats/prometheus/flyteuser-dashboard.json
  stats/flyteuser.dashboard.py
Owners: @unionai/cloud-eng

Rerun array node (#465)
  flyteadmin/pkg/common/executions.go
  flyteadmin/pkg/manager/impl/execution_manager.go
  flyteadmin/pkg/manager/impl/execution_manager_test.go
  flyteadmin/pkg/manager/impl/launch_plan_manager.go
  flyteadmin/pkg/manager/impl/launch_plan_manager_test.go
  flyteadmin/pkg/manager/impl/util/shared.go
  flyteadmin/pkg/manager/impl/util/single_task_execution.go
  flyteadmin/pkg/manager/impl/util/single_task_execution_test.go
  flyteadmin/pkg/manager/impl/validation/execution_validator.go
  flyteadmin/pkg/manager/impl/validation/execution_validator_test.go
  flyteadmin/pkg/manager/mocks/launch_plan.go
  flyteadmin/pkg/rpc/adminservice/base.go
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/admin/launch_plan_pb.ts
  flyteidl/gen/pb-go/flyteidl/admin/launch_plan.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/admin/launch_plan_pb2.py
  flyteidl/gen/pb_python/flyteidl/admin/launch_plan_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/protos/flyteidl/admin/launch_plan.proto
  flyteplugins/go/tasks/pluginmachinery/utils/dns.go
  flytepropeller/pkg/controller/nodes/common/utils.go
  flytepropeller/pkg/controller/nodes/subworkflow/util.go
  flytestdlib/utils/constants.go
Owners: @unionai/cloud-eng, @unionai/exo

Add fasttask queue capacity metrics (#485)
  fasttask/plugin/service.go
Owners: @unionai/exo

update pingsu's nit advice
  flytepropeller/pkg/controller/nodes/attr_path_resolver.go
Owners: @unionai/exo

update pingsu's advice
  flyteadmin/pkg/errors/errors.go
  flyteadmin/pkg/manager/impl/validation/execution_validator.go
  flyteadmin/pkg/manager/impl/validation/launch_plan_validator.go
  flyteadmin/pkg/manager/impl/validation/signal_validator.go
  flyteadmin/pkg/manager/impl/validation/validation.go
Owners: @unionai/cloud-eng

nit
  flytepropeller/pkg/compiler/transformers/k8s/inputs.go
  flytepropeller/pkg/controller/nodes/array/handler.go
Owners: @unionai/exo

Add configuration for launchplan cache resync duration
  flytepropeller/pkg/controller/controller.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/admin.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/admin_test.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/adminconfig.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/adminconfig_flags.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/adminconfig_flags_test.go
Owners: @unionai/exo

Enqueue owner on launchplan terminal state
  flytepropeller/pkg/controller/controller.go
  flytepropeller/pkg/controller/nodes/subworkflow/handler_test.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/admin.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/admin_test.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/launchplan.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/mocks/executor.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/mocks/flyte_admin.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/noop.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan/noop_test.go
  flytepropeller/pkg/controller/nodes/subworkflow/launchplan_test.go
Owners: @unionai/exo

Add client-go metrics
  cmd/single/root.go
  flyteadmin/cmd/entrypoints/serve.go
  flytestdlib/promutils/client.go
Owners: @unionai/cloud-eng

Add org to CreateUploadLocation
  flyteadmin/dataproxy/service.go
  flyteadmin/dataproxy/service_test.go
  flyteadmin/go.mod
  go.mod
  go.sum
Owners: @unionai/cloud-eng

Add config for grpc MaxMessageSizeBytes
  flyteidl/clients/go/admin/client.go
  flyteidl/clients/go/admin/config.go
  flyteidl/clients/go/admin/config_flags.go
  flyteidl/clients/go/admin/config_flags_test.go
Owners: @unionai/cloud-eng

Histogram Bucket Options
  flytestdlib/promutils/scope.go
  flytestdlib/promutils/scope_test.go
Owners: @unionai/cloud-eng

adjust Dask LogName to (Dask Runner Logs)
  flyteplugins/go/tasks/plugins/k8s/dask/dask.go
Owners: @unionai/exo

Fix k3d local setup prefix
  script/setup_local_dev.sh
Owners: @unionai/cloud-eng

Log and monitor failures to validate access tokens
  flyteadmin/auth/authzserver/provider.go
  flyteadmin/auth/authzserver/provider_test.go
  flyteadmin/auth/handlers.go
  flyteadmin/pkg/server/service.go
  flyteidl/clients/go/admin/token_source_provider.go
Owners: @unionai/cloud-eng

added lock to memstore make threadsafe
  flytestdlib/storage/mem_store.go
Owners: @unionai/cloud-eng

Fix type assertion when an event is missed while connection to apiser…
  flytepropeller/pkg/controller/nodes/task/k8s/event_watcher.go
  flytepropeller/pkg/controller/nodes/task/k8s/event_watcher_test.go
Owners: @unionai/exo

Dask dashboard should have a separate log config
  flyteplugins/go/tasks/plugins/k8s/dask/config.go
  flyteplugins/go/tasks/plugins/k8s/dask/config_flags.go
  flyteplugins/go/tasks/plugins/k8s/dask/config_flags_test.go
  flyteplugins/go/tasks/plugins/k8s/dask/dask.go
Owners: @unionai/exo

Move storage cache settings to correct location
  charts/flyte-core/README.md
  charts/flyte-core/templates/_helpers.tpl
  charts/flyte-core/templates/propeller/configmap.yaml
  charts/flyte-core/values-eks.yaml
  charts/flyte-core/values-keycloak-idp-flyteclients-without-browser.yaml
  charts/flyte-core/values.yaml
  charts/flyte/README.md
  charts/flyte/values.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_dataplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_dataplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Owners: @unionai/cloud-eng

Add read replica host config and connection
  flytestdlib/database/config.go
  flytestdlib/database/db.go
  flytestdlib/database/dbconfig_flags.go
  flytestdlib/database/dbconfig_flags_test.go
  flytestdlib/database/postgres.go
  flytestdlib/database/postgres_test.go
Owners: @unionai/cloud-eng

Override ArrayNode log links with map plugin
  flyteplugins/go/tasks/plugins/array/k8s/subtask_exec_context.go
  flyteplugins/go/tasks/plugins/array/k8s/subtask_exec_context_test.go
  flytepropeller/pkg/controller/config/config.go
  flytepropeller/pkg/controller/config/config_flags.go
  flytepropeller/pkg/controller/config/config_flags_test.go
  flytepropeller/pkg/controller/nodes/array/event_recorder.go
  flytepropeller/pkg/controller/nodes/array/event_recorder_test.go
  flytepropeller/pkg/controller/nodes/array/handler.go
  flytepropeller/pkg/controller/workflow/executor_test.go
Owners: @unionai/exo
