Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo

Update Flyte components (#5441)
  CHANGELOG/CHANGELOG-v1.12.1-rc0.md
  charts/flyte-binary/README.md
  charts/flyte-binary/values.yaml
  charts/flyte-core/README.md
  charts/flyte-core/values.yaml
  charts/flyte/README.md
  charts/flyte/values.yaml
  charts/flyteagent/README.md
  charts/flyteagent/values.yaml
  deployment/agent/flyte_agent_helm_generated.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_dataplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_dataplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox-binary/flyte_sandbox_binary_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  docs/conf.py
Owners: @unionai/cloud-eng, @neverett, @ppiegaze

Publish flyte-binary-v1.12.1-rc0.tgz flyte-core-v1.12.1-rc0.tgz flyte-deps-v1.12.1-rc0.tgz flyte-sandbox-0.1.0.tgz flyte-v1.12.1-rc0.tgz flyteagent-v0.1.10.tgz
  flyte-binary-v1.12.1-rc0.tgz
  flyte-core-v1.12.1-rc0.tgz
  flyte-deps-v1.12.1-rc0.tgz
  flyte-sandbox-0.1.0.tgz
  flyte-v1.12.1-rc0.tgz
  flyteagent-v0.1.10.tgz
  index.yaml
Owners: @unionai/cloud-eng

update flytekit version to 1.12.1b2 in monodocs requirements (#5411)
  monodocs-environment.yaml
Owners: @unionai/cloud-eng

docs(kubeflow): Fix kubeflow webhook error (#5410)
  docs/deployment/plugins/k8s/index.rst
Owners: @neverett, @ppiegaze

[monorepo] Fix flytectl install script (#5405)
  .github/workflows/flytectl-install.yml
  flytectl/install.sh
Owners: @unionai/cloud-eng

bring in changes for flytecl keyring from PR flytectl/pull/488
  flytectl/pkg/pkce/token_cache_keyring.go
Owners: @unionai/cloud-eng

update lock file (#5416)
  monodocs-environment.lock.yaml
  monodocs-environment.yaml
Owners: @unionai/cloud-eng

comments
  flyteidl/clients/go/admin/cache/token_cache_inmemory.go
Owners: @unionai/cloud-eng

Lock the locker in the wait to adher to cond.Wait() semantics
  flyteidl/clients/go/admin/cache/token_cache_inmemory.go
Owners: @unionai/cloud-eng

Using same mutex for condition variable
  flyteidl/clients/go/admin/cache/token_cache_inmemory.go
Owners: @unionai/cloud-eng

Update the example Dockerfile to run on k8s (#5412)
  docs/flyte_agents/developing_agents.md
Owners: @neverett, @ppiegaze

using noop locker as waitlist add is atomic operation
  flyteidl/clients/go/admin/cache/token_cache_inmemory.go
Owners: @unionai/cloud-eng

Revert "Revert "Ensure token is refreshed on Unauthenticated (#5388)" (#5404)"
  flytectl/cmd/core/cmd.go
  flytectl/pkg/pkce/token_cache_keyring.go
  flyteidl/clients/go/admin/auth_interceptor.go
  flyteidl/clients/go/admin/auth_interceptor_test.go
  flyteidl/clients/go/admin/cache/mocks/token_cache.go
  flyteidl/clients/go/admin/cache/token_cache.go
  flyteidl/clients/go/admin/cache/token_cache_inmemory.go
  flyteidl/clients/go/admin/client_builder.go
  flyteidl/clients/go/admin/client_builder_test.go
  flyteidl/clients/go/admin/client_test.go
  flyteidl/clients/go/admin/deviceflow/token_orchestrator_test.go
  flyteidl/clients/go/admin/pkce/auth_flow_orchestrator_test.go
  flyteidl/clients/go/admin/token_source_provider.go
  flyteidl/clients/go/admin/token_source_provider_test.go
  flyteidl/clients/go/admin/tokenorchestrator/base_token_orchestrator.go
  flyteidl/clients/go/admin/tokenorchestrator/base_token_orchestrator_test.go
Owners: @unionai/cloud-eng

Replace Azure AD OIDC URL with correct one (#4075)
  docs/deployment/configuration/auth_setup.rst
Owners: @neverett, @ppiegaze

Add supported task types to agent service config and rename (#5402)
  charts/flyte-core/README.md
  charts/flyte-core/values.yaml
Owners: @unionai/cloud-eng

typo fix
  flyteidl/clients/go/admin/cache/token_cache_inmemory.go
Owners: @unionai/cloud-eng

Upstream revert revert auth token fix (#5407)
  flytectl/cmd/core/cmd.go
  flytectl/pkg/pkce/token_cache_keyring.go
  flyteidl/clients/go/admin/auth_interceptor.go
  flyteidl/clients/go/admin/auth_interceptor_test.go
  flyteidl/clients/go/admin/cache/mocks/token_cache.go
  flyteidl/clients/go/admin/cache/token_cache.go
  flyteidl/clients/go/admin/cache/token_cache_inmemory.go
  flyteidl/clients/go/admin/client_builder.go
  flyteidl/clients/go/admin/client_builder_test.go
  flyteidl/clients/go/admin/client_test.go
  flyteidl/clients/go/admin/deviceflow/token_orchestrator_test.go
  flyteidl/clients/go/admin/pkce/auth_flow_orchestrator_test.go
  flyteidl/clients/go/admin/token_source_provider.go
  flyteidl/clients/go/admin/token_source_provider_test.go
  flyteidl/clients/go/admin/tokenorchestrator/base_token_orchestrator.go
  flyteidl/clients/go/admin/tokenorchestrator/base_token_orchestrator_test.go
Owners: @unionai/cloud-eng

Indicate that jq is now required to install flytectl via the script (#5440)
  flytectl/docs/source/overview.rst
Owners: @unionai/cloud-eng

Indicate that jq is needed to install flytectl
  docs/getting_started_with_workflow_development/running_a_workflow_locally.md
Owners: @neverett, @ppiegaze

Define warning using three colons.
  docs/getting_started_with_workflow_development/running_a_workflow_locally.md
Owners: @neverett, @ppiegaze

Use four colons
  docs/getting_started_with_workflow_development/running_a_workflow_locally.md
Owners: @neverett, @ppiegaze

Use triple backticks
  docs/getting_started_with_workflow_development/running_a_workflow_locally.md
Owners: @neverett, @ppiegaze

Update docs/getting_started_with_workflow_development/running_a_workflow_locally.md
  docs/getting_started_with_workflow_development/running_a_workflow_locally.md
Owners: @neverett, @ppiegaze

better coding style
  flytepropeller/pkg/compiler/validators/typing.go
Owners: @unionai/exo

Refactor to wire up secrets (#304)
  fasttask/plugin/go.mod
  fasttask/plugin/plugin.go
  fasttask/plugin/plugin_test.go
Owners: @unionai/exo

Update alt org binding for GetTaskExecutionData (#312)
  flyteidl/gen/pb-go/flyteidl/service/admin.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.pb.gw.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb_python/flyteidl/service/admin_pb2.py
  flyteidl/protos/flyteidl/service/admin.proto
Owners: @unionai/cloud-eng

Update docs/getting_started_with_workflow_development/running_a_workflow_locally.md
  docs/getting_started_with_workflow_development/running_a_workflow_locally.md
Owners: @neverett, @ppiegaze

Indicate that jq is needed to install flytectl (#5446)
  docs/getting_started_with_workflow_development/running_a_workflow_locally.md
Owners: @neverett, @ppiegaze

Save resolved overrides alongside ExecutionSpec (#308)
  flyteadmin/pkg/manager/impl/execution_manager.go
  flyteadmin/pkg/manager/impl/execution_manager_test.go
  flyteadmin/pkg/manager/impl/util/configuration.go
  flyteadmin/pkg/manager/impl/util/resources.go
  flyteadmin/pkg/manager/impl/util/resources_test.go
  flyteadmin/pkg/repositories/transformers/execution.go
  flyteadmin/pkg/repositories/transformers/execution_test.go
  flyteadmin/tests/execution_test.go
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/admin/execution_pb.ts
  flyteidl/gen/pb-go/flyteidl/admin/execution.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/admin/execution_pb2.py
  flyteidl/gen/pb_python/flyteidl/admin/execution_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/protos/flyteidl/admin/execution.proto
Owners: @unionai/cloud-eng

Fix flaky auto_refresh_test (#5438)
  flytestdlib/cache/auto_refresh_test.go
Owners: @unionai/cloud-eng

Feat: Allow using in-cluster creds in control plane cluster in a multi-cluster deployment (#5403)
  docs/deployment/deployment/multicluster.rst
  flyteadmin/pkg/flytek8s/client.go
  flyteadmin/pkg/runtime/config_provider_test.go
  flyteadmin/pkg/runtime/interfaces/cluster_configuration.go
  flyteadmin/pkg/runtime/testdata/clusters_config.yaml
Owners: @neverett, @ppiegaze, @unionai/cloud-eng

set updated array node phase for task exec event
  flytepropeller/pkg/controller/nodes/array/handler.go
  flytepropeller/pkg/controller/nodes/array/handler_test.go
Owners: @unionai/exo

Revert "set updated array node phase for task exec event"
  flytepropeller/pkg/controller/nodes/array/handler.go
  flytepropeller/pkg/controller/nodes/array/handler_test.go
Owners: @unionai/exo

reset taskPhaseVersion due to nodephase change after emitting event
  flytepropeller/pkg/controller/nodes/array/handler.go
Owners: @unionai/exo

update list
  flyteadmin/pkg/manager/impl/util/filters.go
  flyteadmin/pkg/repositories/config/migrations.go
  flyteadmin/pkg/repositories/gormimpl/common.go
  flyteadmin/pkg/repositories/gormimpl/execution_repo.go
  flyteadmin/pkg/repositories/gormimpl/execution_repo_test.go
  flyteadmin/pkg/repositories/models/execution.go
  flyteadmin/pkg/repositories/transformers/execution.go
  flyteadmin/tests/bootstrap.go
  flyteadmin/tests/execution_test.go
Owners: @unionai/cloud-eng

update test
  flyteadmin/tests/execution_test.go
Owners: @unionai/cloud-eng

custom field
  flyteadmin/pkg/common/filters.go
  flyteadmin/pkg/repositories/gormimpl/execution_repo_test.go
  flyteadmin/pkg/repositories/transformers/execution.go
Owners: @unionai/cloud-eng

deprecate tag
  flyteidl/gen/pb-es/flyteidl/admin/execution_pb.ts
  flyteidl/gen/pb-go/flyteidl/admin/execution.pb.go
  flyteidl/gen/pb_python/flyteidl/admin/execution_pb2.py
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/protos/flyteidl/admin/execution.proto
Owners: @unionai/cloud-eng

update migration
  flyteadmin/pkg/repositories/config/migrations.go
Owners: @unionai/cloud-eng

update migration
  flyteadmin/pkg/repositories/config/migrations.go
Owners: @unionai/cloud-eng
