Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

Remove references to Office Hours (#5496)
  README.md
  docs/community/index.rst
Owners: @unionai/cloud-eng, @neverett, @ppiegaze

Fix: replace with in OSS docs (#5501)
  flytectl/cmd/update/project.go
  flytectl/docs/source/gen/flytectl_update_project.rst
Owners: @unionai/cloud-eng

Use uv in single-binary CI (#5493)
  .github/workflows/single-binary.yml
Owners: @unionai/cloud-eng

keep EnvFrom from pod template (#5423)
  flyteplugins/go/tasks/pluginmachinery/flytek8s/container_helper.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/container_helper_test.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/k8s_resource_adds.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/k8s_resource_adds_test.go
  flyteplugins/go/tasks/plugins/array/awsbatch/transformer.go
Owners: @unionai/exo

Remove doc building from flytectl (#5494)
  flytectl/.readthedocs.yml
  flytectl/Makefile
  flytectl/doc-requirements.in
  flytectl/doc-requirements.txt
Owners: @unionai/cloud-eng

Remove boilerplate golang_dockerfile (#5495)
  boilerplate/flyte/golang_dockerfile/Dockerfile.GoTemplate
  boilerplate/flyte/golang_dockerfile/Readme.rst
  boilerplate/flyte/golang_dockerfile/update.sh
Owners: @unionai/cloud-eng

fix broken mermaid diagrams (#5498)
  docs/conf.py
Owners: @neverett, @ppiegaze

fix(ray): Use default svc account if not set in task metadata (#5499)
  flyteplugins/go/tasks/plugins/k8s/ray/ray.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray_test.go
Owners: @unionai/exo

Added version to ExecutionEnv proto message (#5506)
  flyteidl/gen/pb-es/flyteidl/core/execution_envs_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/execution_envs.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/execution_envs_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/execution_envs_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/execution_envs.proto
Owners: @unionai/cloud-eng

Remove ImageSpec experiment warning (#5510)
  docs/user_guide/customizing_dependencies/imagespec.md
Owners: @neverett, @ppiegaze

Add OTLP and sampling to otelutils (#5504)
  cmd/single/start.go
  datacatalog/cmd/entrypoints/serve.go
  datacatalog/go.mod
  datacatalog/go.sum
  flyteadmin/cmd/entrypoints/serve.go
  flyteadmin/go.mod
  flyteadmin/go.sum
  flytecopilot/go.mod
  flytecopilot/go.sum
  flytectl/go.mod
  flytectl/go.sum
  flyteidl/go.mod
  flyteidl/go.sum
  flyteplugins/go.mod
  flyteplugins/go.sum
  flytepropeller/cmd/controller/cmd/root.go
  flytepropeller/go.mod
  flytepropeller/go.sum
  flytestdlib/go.mod
  flytestdlib/go.sum
  flytestdlib/otelutils/config.go
  flytestdlib/otelutils/config_flags.go
  flytestdlib/otelutils/config_flags_test.go
  flytestdlib/otelutils/factory.go
  flytestdlib/otelutils/factory_test.go
  go.mod
  go.sum
Owners: @unionai/cloud-eng, @unionai/exo

Don't log auth tokens in debug mode (#5497)
  flyteadmin/auth/handlers.go
Owners: @unionai/cloud-eng

Event placeholder (#5464)
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/event/event_pb.ts
  flyteidl/gen/pb-go/flyteidl/event/event.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/event/event_pb2.py
  flyteidl/gen/pb_python/flyteidl/event/event_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.event.rs
  flyteidl/protos/flyteidl/event/event.proto
Owners: @unionai/cloud-eng

Retag flyteagent image upon release (#5509)
  .github/workflows/create_release.yml
  charts/flyteagent/README.md
  charts/flyteagent/values.yaml
  deployment/agent/flyte_agent_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  script/prepare_artifacts.sh
  script/release.sh
Owners: @unionai/cloud-eng

Update token_source.go (#5396)
  flyteidl/clients/go/admin/token_source.go
Owners: @unionai/cloud-eng

Fix some nits in workflow lifecycle docs. (#5389)
  docs/concepts/workflow_lifecycle.rst
Owners: @neverett, @ppiegaze

Helm chart updates related to Prometheus, Webhook HPA, and Flyteconsole probes (#5508)
  charts/flyte-core/README.md
  charts/flyte-core/templates/_helpers.tpl
  charts/flyte-core/templates/clusterresourcesync/deployment.yaml
  charts/flyte-core/templates/console/deployment.yaml
  charts/flyte-core/templates/console/service-monitor.yaml
  charts/flyte-core/templates/console/service.yaml
  charts/flyte-core/templates/propeller/deployment.yaml
  charts/flyte-core/templates/propeller/webhook-hpa.yaml
  charts/flyte-core/templates/propeller/webhook.yaml
  charts/flyte-core/values.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_dataplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_dataplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  flyteadmin/cmd/entrypoints/clusterresource.go
  flyteadmin/pkg/clusterresource/controller.go
Owners: @unionai/cloud-eng

Flyte core webhook pod settings should be separate (#5490)
  charts/flyte-core/README.md
  charts/flyte-core/templates/propeller/webhook.yaml
  charts/flyte-core/values.yaml
Owners: @unionai/cloud-eng

Doc: Explain how lifetime of logging links is configured (#5503)
  docs/user_guide/productionizing/configuring_logging_links_in_the_ui.md
Owners: @neverett, @ppiegaze

Add name to ExistsDifferentStructureError message (#5507)
  flyteadmin/pkg/errors/errors.go
  flyteadmin/pkg/errors/errors_test.go
  flyteadmin/pkg/manager/impl/workflow_manager_test.go
Owners: @unionai/cloud-eng

updated execution environment id field to name (#5514)
  flyteidl/gen/pb-es/flyteidl/core/execution_envs_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/execution_envs.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/execution_envs_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/execution_envs_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/execution_envs.proto
Owners: @unionai/cloud-eng

Adds appProtocol values of tcp on services (#5240)
  charts/flyte-core/README.md
  charts/flyte-core/templates/admin/service.yaml
  charts/flyte-core/templates/console/service.yaml
  charts/flyte-core/values.yaml
  charts/flyteagent/templates/agent/service.yaml
  deployment/agent/flyte_agent_helm_generated.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_dataplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_dataplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Owners: @unionai/cloud-eng

Fix link to Kubeflow docs (#5524)
  docs/deployment/plugins/k8s/index.rst
Owners: @neverett, @ppiegaze

Push flyteidl to pypi and npm on `flyteidl/v*.*.*` tags instead of on releases (#5529)
  .github/workflows/flyteidl-release.yml
Owners: @unionai/cloud-eng

Remove github.ref from group (#5518)
  .github/workflows/checks.yml
  .github/workflows/codespell.yml
  .github/workflows/flytectl-install.yml
  .github/workflows/flyteidl-checks.yml
  .github/workflows/helm-charts.yaml
  .github/workflows/sandbox.yml
  .github/workflows/single-binary.yml
  .github/workflows/tests.yml
  flytectl/.github/PULL_REQUEST_TEMPLATE.md
  flytectl/.github/workflows/checks.yml
  flytectl/.github/workflows/monodocs_build.yml
  flytectl/.github/workflows/upgrade_automation.yml
Owners: @unionai/cloud-eng

Fix flyteagent version extraction from helm chart in create_release.yml (#5517)
  .github/workflows/create_release.yml
Owners: @unionai/cloud-eng

Update Flyte components (#5516)
  CHANGELOG/CHANGELOG-v1.13.0-rc0.md
  charts/flyte-binary/README.md
  charts/flyte-binary/values.yaml
  charts/flyte-core/README.md
  charts/flyte-core/values.yaml
  charts/flyte/README.md
  charts/flyte/values.yaml
  charts/flyteagent/README.md
  charts/flyteagent/values.yaml
  deployment/agent/flyte_agent_helm_generated.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_dataplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_dataplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox-binary/flyte_sandbox_binary_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  docs/conf.py
  docs/deployment/configuration/generated/datacatalog_config.rst
  docs/deployment/configuration/generated/flyteadmin_config.rst
  docs/deployment/configuration/generated/flytepropeller_config.rst
  docs/deployment/configuration/generated/scheduler_config.rst
Owners: @unionai/cloud-eng, @neverett, @ppiegaze

[flytepropeller] Watch agent metadata service dynamically (#5460)
  flyteplugins/go/tasks/pluginmachinery/core/plugin.go
  flyteplugins/go/tasks/pluginmachinery/core/plugin_test.go
  flyteplugins/go/tasks/plugins/webapi/agent/client.go
  flyteplugins/go/tasks/plugins/webapi/agent/integration_test.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin_test.go
  flytepropeller/pkg/controller/nodes/task/handler.go
  flytepropeller/pkg/controller/nodes/task/handler_test.go
  flytepropeller/pkg/controller/nodes/task/plugin_config.go
Owners: @unionai/exo

Fix Dataclass Doc about (#5533)
  docs/user_guide/data_types_and_io/dataclass.md
Owners: @neverett, @ppiegaze

Document how to release flytectl (#5537)
  flytectl/RELEASE.md
Owners: @unionai/cloud-eng

Upstream/node event update (#5528)
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/event/event_pb.ts
  flyteidl/gen/pb-go/flyteidl/event/event.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb_rust/flyteidl.event.rs
  flyteidl/protos/flyteidl/event/event.proto
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/nodes.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/nodes_test.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/subworkflow.go
  flytepropeller/pkg/controller/executors/execution_context.go
  flytepropeller/pkg/controller/executors/execution_context_test.go
  flytepropeller/pkg/controller/executors/mocks/immutable_parent_info.go
  flytepropeller/pkg/controller/nodes/array/event_recorder.go
  flytepropeller/pkg/controller/nodes/array/handler.go
  flytepropeller/pkg/controller/nodes/branch/handler.go
  flytepropeller/pkg/controller/nodes/branch/handler_test.go
  flytepropeller/pkg/controller/nodes/common/utils.go
  flytepropeller/pkg/controller/nodes/common/utils_test.go
  flytepropeller/pkg/controller/nodes/dynamic/dynamic_workflow.go
  flytepropeller/pkg/controller/nodes/executor.go
  flytepropeller/pkg/controller/nodes/executor_test.go
  flytepropeller/pkg/controller/nodes/node_exec_context_test.go
  flytepropeller/pkg/controller/nodes/subworkflow/subworkflow.go
  flytepropeller/pkg/controller/nodes/subworkflow/subworkflow_test.go
  flytepropeller/pkg/controller/nodes/transformers.go
  flytepropeller/pkg/controller/nodes/transformers_test.go
  flytestdlib/storage/stow_store.go
Owners: @unionai/cloud-eng, @unionai/exo

reimplement functions in go-mouff-update, use ghreposervice (#5470)
  flytectl/Makefile
  flytectl/cmd/upgrade/upgrade.go
  flytectl/cmd/upgrade/upgrade_test.go
  flytectl/cmd/version/version.go
  flytectl/cmd/version/version_test.go
  flytectl/pkg/github/githubutil.go
  flytectl/pkg/github/provider.go
  flytectl/pkg/github/provider_test.go
Owners: @unionai/cloud-eng

Update Flyte components (#5536)
  CHANGELOG/CHANGELOG-v1.13.0.md
  charts/flyte-binary/README.md
  charts/flyte-binary/values.yaml
  charts/flyte-core/README.md
  charts/flyte-core/values.yaml
  charts/flyte/README.md
  charts/flyte/values.yaml
  charts/flyteagent/README.md
  charts/flyteagent/values.yaml
  deployment/agent/flyte_agent_helm_generated.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_dataplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_dataplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox-binary/flyte_sandbox_binary_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  docs/conf.py
Owners: @unionai/cloud-eng, @neverett, @ppiegaze

chore: update runllm widget configuration (#5530)
  docs/_templates/base.html
Owners: @neverett, @ppiegaze

Use jsonpb AllowUnknownFields everywhere (#5521)
  flyteadmin/pkg/manager/impl/util/digests_test.go
  flyteadmin/pkg/repositories/transformers/task_execution_test.go
  flytectl/cmd/get/node_execution.go
  flytectl/pkg/visualize/graphviz_test.go
  flyteidl/clients/go/coreutils/literals.go
  flyteplugins/go/tasks/pluginmachinery/utils/marshal_utils.go
  flyteplugins/go/tasks/plugins/k8s/dask/dask_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/mpi/mpi_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/pytorch/pytorch_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/tensorflow/tensorflow_test.go
  flyteplugins/go/tasks/plugins/k8s/spark/spark_test.go
  flytepropeller/cmd/kubectl-flyte/cmd/create.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/branch.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/error.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/gate.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/identifier.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/iface.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/nodes.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/tasks.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/workflow.go
  flytepropeller/pkg/compiler/test/compiler_test.go
  flytepropeller/pkg/compiler/transformers/k8s/workflow_test.go
  flytestdlib/utils/marshal_utils.go
  flytestdlib/utils/marshal_utils_test.go
Owners: @unionai/cloud-eng, @unionai/exo

Updated map task information to indicate array node is now the default, added optional return value for min success ratio (#5561)
  docs/user_guide/advanced_composition/map_tasks.md
Owners: @neverett, @ppiegaze

Pryce/doc 434 clarify how code is pushed into a given image during pyflyte (#5548)
  docs/flyte_fundamentals/registering_workflows.md
  docs/user_guide/advanced_composition/map_tasks.md
Owners: @neverett, @ppiegaze

Use WithContext in all DB calls (#5538)
  flyteadmin/pkg/repositories/gormimpl/named_entity_repo.go
  flyteadmin/pkg/repositories/gormimpl/signal_repo.go
  flyteadmin/pkg/repositories/gormimpl/task_execution_repo.go
Owners: @unionai/cloud-eng

system archived (#5544)
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/admin/project_pb.ts
  flyteidl/gen/pb-go/flyteidl/admin/project.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/admin/project_pb2.py
  flyteidl/gen/pb_python/flyteidl/admin/project_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/protos/flyteidl/admin/project.proto
Owners: @unionai/cloud-eng

Increase more memory limits in flyteagent (#5550)
  charts/flyteagent/README.md
  charts/flyteagent/values.yaml
  deployment/agent/flyte_agent_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Owners: @unionai/cloud-eng

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo
