Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

Doc: Explain how lifetime of logging links is configured (#5503)
  docs/user_guide/productionizing/configuring_logging_links_in_the_ui.md
Owners: @neverett, @ppiegaze

Flyte core webhook pod settings should be separate (#5490)
  charts/flyte-core/README.md
  charts/flyte-core/templates/propeller/webhook.yaml
  charts/flyte-core/values.yaml
Owners: @unionai/cloud-eng

Retag flyteagent image upon release (#5509)
  .github/workflows/create_release.yml
  charts/flyteagent/README.md
  charts/flyteagent/values.yaml
  deployment/agent/flyte_agent_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  script/prepare_artifacts.sh
  script/release.sh
Owners: @unionai/cloud-eng

Fix ImageSpec config
  docs/user_guide/productionizing/configuring_access_to_gpus.md
Owners: @neverett, @ppiegaze

Rephrase 1st section and prereqs
  docs/user_guide/productionizing/configuring_access_to_gpus.md
Owners: @neverett, @ppiegaze

Adds ARG to adjust local base image (#339)
  fasttask/worker/Dockerfile
Owners: @unionai/exo

Fix some nits in workflow lifecycle docs. (#5389)
  docs/concepts/workflow_lifecycle.rst
Owners: @neverett, @ppiegaze

Update token_source.go (#5396)
  flyteidl/clients/go/admin/token_source.go
Owners: @unionai/cloud-eng

Adds appProtocol values of tcp on services
  charts/flyte-core/README.md
  charts/flyte-core/templates/admin/service.yaml
  charts/flyte-core/templates/console/service.yaml
  charts/flyte-core/values.yaml
  charts/flyteagent/templates/agent/service.yaml
  deployment/agent/flyte_agent_helm_generated.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_dataplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_dataplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Owners: @unionai/cloud-eng

Mount multiple file secrets using single init container (#338)
  .gitignore
  flytepropeller/go.mod
  flytepropeller/go.sum
  flytepropeller/pkg/secret/embedded_secret_manager.go
  flytepropeller/pkg/secret/embedded_secret_manager_test.go
Owners: @unionai/cloud-eng, @unionai/exo

Expand 2nd section up to nodeSelector key
  docs/user_guide/productionizing/configuring_access_to_gpus.md
Owners: @neverett, @ppiegaze

Adds appProtocol values of tcp on services (#5240)
  charts/flyte-core/README.md
  charts/flyte-core/templates/admin/service.yaml
  charts/flyte-core/templates/console/service.yaml
  charts/flyte-core/values.yaml
  charts/flyteagent/templates/agent/service.yaml
  deployment/agent/flyte_agent_helm_generated.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_dataplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_dataplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Owners: @unionai/cloud-eng

Add name to ExistsDifferentStructureError message (#5507)
  flyteadmin/pkg/errors/errors.go
  flyteadmin/pkg/errors/errors_test.go
  flyteadmin/pkg/manager/impl/workflow_manager_test.go
Owners: @unionai/cloud-eng

Fix error handler in secret injector (#343)
  flytepropeller/pkg/secret/embedded_secret_manager.go
  flytepropeller/pkg/secret/embedded_secret_manager_test.go
Owners: @unionai/exo

[Actor] Fix sandbox makefile and add port (#286)
  charts/flyte-sandbox/templates/local/endpoint.yaml
  charts/flyte-sandbox/templates/local/service.yaml
  charts/flyte-sandbox/templates/proxy/configmap.yaml
  docker/sandbox-bundled/Dockerfile
  docker/sandbox-bundled/Makefile
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  fasttask/README.md
  flyte-single-binary-local.yaml
Owners: @unionai/cloud-eng, @unionai/exo

Add most task execution annotations and labels (#340)
  fasttask/plugin/go.mod
  fasttask/plugin/go.sum
  fasttask/plugin/plugin.go
  fasttask/plugin/plugin_test.go
  flyteidl/go.mod
  flyteidl/go.sum
  flytepropeller/go.sum
  go.mod
Owners: @unionai/exo, @unionai/cloud-eng

fix version error
  flytectl/cmd/upgrade/upgrade.go
  flytectl/cmd/version/version.go
  flytectl/pkg/github/provider.go
  flytectl/pkg/github/provider_test.go
Owners: @unionai/cloud-eng

Extra tests around secret scoping (#344)
  flytepropeller/pkg/secret/embedded_secret_manager_test.go
Owners: @unionai/exo

add execution_version to array node idl
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/core/workflow_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/workflow.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/workflow_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/workflow_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/workflow.proto
Owners: @unionai/cloud-eng

updated execution environment id field to name
  flyteidl/gen/pb-es/flyteidl/core/execution_envs_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/execution_envs.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/execution_envs_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/execution_envs_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/execution_envs.proto
Owners: @unionai/cloud-eng

updated execution environment id field to name (#5514)
  flyteidl/gen/pb-es/flyteidl/core/execution_envs_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/execution_envs.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/execution_envs_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/execution_envs_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/execution_envs.proto
Owners: @unionai/cloud-eng

make execution_version for array node spec optional
  flyteidl/gen/pb-es/flyteidl/core/workflow_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/workflow.pb.go
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/workflow_pb2.py
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/workflow.proto
Owners: @unionai/cloud-eng

Update Flyte Components
  charts/flyte-binary/README.md
  charts/flyte-binary/values.yaml
  charts/flyte-core/README.md
  charts/flyte-core/values.yaml
  charts/flyte/README.md
  charts/flyte/values.yaml
  charts/flyteagent/README.md
  charts/flyteagent/values.yaml
  deployment/agent/flyte_agent_helm_generated.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_dataplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_dataplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox-binary/flyte_sandbox_binary_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  docs/deployment/configuration/generated/datacatalog_config.rst
  docs/deployment/configuration/generated/flyteadmin_config.rst
  docs/deployment/configuration/generated/flytepropeller_config.rst
  docs/deployment/configuration/generated/scheduler_config.rst
Owners: @unionai/cloud-eng, @neverett, @ppiegaze

Fix metrics scale division in timer (#342)
  cacheservice/go.mod
  cacheservice/go.sum
  datacatalog/go.mod
  datacatalog/go.sum
  fasttask/plugin/go.mod
  fasttask/plugin/go.sum
  flyteadmin/go.mod
  flyteadmin/go.sum
  flytecopilot/go.mod
  flytecopilot/go.sum
  flytectl/go.mod
  flytectl/go.sum
  flyteidl/clients/go/admin/auth_interceptor_test.go
  flyteidl/go.mod
  flyteidl/go.sum
  flyteplugins/go.mod
  flyteplugins/go.sum
  flytepropeller/go.mod
  flytepropeller/go.sum
  flytestdlib/go.mod
  flytestdlib/go.sum
  flytestdlib/promutils/labeled/histogram_stopwatch_test.go
  flytestdlib/promutils/labeled/stopwatch_test.go
  flytestdlib/promutils/scope.go
  flytestdlib/promutils/scope_test.go
  go.mod
  go.sum
Owners: @unionai/cloud-eng, @unionai/exo

Bump version in conf.py and add changelog
  CHANGELOG/CHANGELOG-v1.13.0-rc0.md
  docs/conf.py
Owners: @unionai/cloud-eng, @neverett, @ppiegaze

Update Flyte components (#5516)
  CHANGELOG/CHANGELOG-v1.13.0-rc0.md
  charts/flyte-binary/README.md
  charts/flyte-binary/values.yaml
  charts/flyte-core/README.md
  charts/flyte-core/values.yaml
  charts/flyte/README.md
  charts/flyte/values.yaml
  charts/flyteagent/README.md
  charts/flyteagent/values.yaml
  deployment/agent/flyte_agent_helm_generated.yaml
  deployment/eks/flyte_aws_scheduler_helm_generated.yaml
  deployment/eks/flyte_helm_controlplane_generated.yaml
  deployment/eks/flyte_helm_dataplane_generated.yaml
  deployment/eks/flyte_helm_generated.yaml
  deployment/gcp/flyte_helm_controlplane_generated.yaml
  deployment/gcp/flyte_helm_dataplane_generated.yaml
  deployment/gcp/flyte_helm_generated.yaml
  deployment/sandbox-binary/flyte_sandbox_binary_helm_generated.yaml
  deployment/sandbox/flyte_helm_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  docs/conf.py
  docs/deployment/configuration/generated/datacatalog_config.rst
  docs/deployment/configuration/generated/flyteadmin_config.rst
  docs/deployment/configuration/generated/flytepropeller_config.rst
  docs/deployment/configuration/generated/scheduler_config.rst
Owners: @unionai/cloud-eng, @neverett, @ppiegaze

Publish flyte-binary-v1.13.0-rc0.tgz flyte-core-v1.13.0-rc0.tgz flyte-deps-v1.13.0-rc0.tgz flyte-sandbox-0.1.0.tgz flyte-v1.13.0-rc0.tgz flyteagent-v0.1.10.tgz
  flyte-binary-v1.13.0-rc0.tgz
  flyte-core-v1.13.0-rc0.tgz
  flyte-deps-v1.13.0-rc0.tgz
  flyte-sandbox-0.1.0.tgz
  flyte-v1.13.0-rc0.tgz
  flyteagent-v0.1.10.tgz
  index.yaml
Owners: @unionai/cloud-eng

Fix flyteagent version extraction from helm chart in create_release.yml
  .github/workflows/create_release.yml
Owners: @unionai/cloud-eng

Remove github.ref from group
  .github/workflows/checks.yml
  .github/workflows/codespell.yml
  .github/workflows/flytectl-install.yml
  .github/workflows/flyteidl-checks.yml
  .github/workflows/helm-charts.yaml
  .github/workflows/sandbox.yml
  .github/workflows/single-binary.yml
  .github/workflows/tests.yml
  flytectl/.github/PULL_REQUEST_TEMPLATE.md
  flytectl/.github/workflows/checks.yml
  flytectl/.github/workflows/monodocs_build.yml
  flytectl/.github/workflows/upgrade_automation.yml
Owners: @unionai/cloud-eng

Use jsonpb AllowUnknownFields everywhere
  flyteadmin/pkg/manager/impl/util/digests_test.go
  flyteadmin/pkg/repositories/transformers/task_execution_test.go
  flytectl/cmd/get/node_execution.go
  flytectl/pkg/visualize/graphviz_test.go
  flyteidl/clients/go/coreutils/literals.go
  flyteplugins/go/tasks/pluginmachinery/utils/marshal_utils.go
  flyteplugins/go/tasks/plugins/k8s/dask/dask_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/mpi/mpi_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/pytorch/pytorch_test.go
  flyteplugins/go/tasks/plugins/k8s/kfoperators/tensorflow/tensorflow_test.go
  flyteplugins/go/tasks/plugins/k8s/spark/spark_test.go
  flytepropeller/cmd/kubectl-flyte/cmd/create.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/branch.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/error.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/gate.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/identifier.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/nodes.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/tasks.go
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/workflow.go
  flytepropeller/pkg/compiler/test/compiler_test.go
  flytepropeller/pkg/compiler/transformers/k8s/workflow_test.go
  flytestdlib/utils/marshal_utils.go
  flytestdlib/utils/marshal_utils_test.go
Owners: @unionai/cloud-eng, @unionai/exo

Add connection to flyteidl
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/admin/agent_pb.ts
  flyteidl/gen/pb-es/flyteidl/core/security_pb.ts
  flyteidl/gen/pb-go/flyteidl/admin/agent.pb.go
  flyteidl/gen/pb-go/flyteidl/core/security.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/external_plugin_service.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/admin/agent_pb2.py
  flyteidl/gen/pb_python/flyteidl/admin/agent_pb2.pyi
  flyteidl/gen/pb_python/flyteidl/core/security_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/security_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/admin/agent.proto
  flyteidl/protos/flyteidl/core/security.proto
Owners: @unionai/cloud-eng

Doc: Fix link to install scheduler plugins as gang scheduler for kubeflow plugins
  docs/deployment/plugins/k8s/index.rst
Owners: @neverett, @ppiegaze

Revert "make execution_version for array node spec optional"
  flyteidl/gen/pb-es/flyteidl/core/workflow_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/workflow.pb.go
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/workflow_pb2.py
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/workflow.proto
Owners: @unionai/cloud-eng

Fix flyteagent version extraction from helm chart in create_release.yml (#5517)
  .github/workflows/create_release.yml
Owners: @unionai/cloud-eng

update boilerplate/flyte/golang_support_tools/go.mod
  boilerplate/flyte/golang_support_tools/go.mod
Owners: @unionai/cloud-eng

Remove github.ref from group (#5518)
  .github/workflows/checks.yml
  .github/workflows/codespell.yml
  .github/workflows/flytectl-install.yml
  .github/workflows/flyteidl-checks.yml
  .github/workflows/helm-charts.yaml
  .github/workflows/sandbox.yml
  .github/workflows/single-binary.yml
  .github/workflows/tests.yml
  flytectl/.github/PULL_REQUEST_TEMPLATE.md
  flytectl/.github/workflows/checks.yml
  flytectl/.github/workflows/monodocs_build.yml
  flytectl/.github/workflows/upgrade_automation.yml
Owners: @unionai/cloud-eng

Fix link to Kubeflow docs
  docs/deployment/plugins/k8s/index.rst
Owners: @neverett, @ppiegaze

add google well-know-types `.proto` files to avoid using `prost_types` crate
  flyteidl/protos/google/api/annotations.proto
  flyteidl/protos/google/api/client.proto
  flyteidl/protos/google/api/field_behavior.proto
  flyteidl/protos/google/api/http.proto
  flyteidl/protos/google/api/resource.proto
  flyteidl/protos/protoc-gen-openapiv2/options/annotations.proto
  flyteidl/protos/protoc-gen-openapiv2/options/openapiv2.proto
Owners: @unionai/cloud-eng

add tonic builder as `flyteidl` code generator
  flyteidl/src/gen.rs
Owners: @unionai/cloud-eng

add config
  flyteidl/Cargo.lock
  flyteidl/Cargo.toml
  flyteidl/pyproject.toml
Owners: @unionai/cloud-eng

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo
