Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo

regenerate mock
  flyteadmin/pkg/manager/mocks/project.go
  flytectl/pkg/ext/mocks/admin_fetcher_ext_interface.go
Owners: @unionai/cloud-eng

move GetDomains function, return GetDomainsResponse
  flyteadmin/pkg/manager/impl/project_manager.go
  flyteadmin/pkg/manager/interfaces/project.go
  flyteadmin/pkg/manager/mocks/project.go
  flyteadmin/pkg/rpc/adminservice/project.go
  flyteidl/clients/go/admin/mocks/AdminServiceClient.go
  flyteidl/clients/go/admin/mocks/AdminServiceServer.go
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/admin/project_pb.ts
  flyteidl/gen/pb-es/flyteidl/service/admin_connect.ts
  flyteidl/gen/pb-go/flyteidl/admin/project.pb.go
  flyteidl/gen/pb-go/flyteidl/service/admin.pb.go
  flyteidl/gen/pb-go/flyteidl/service/admin_grpc.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.pb.gw.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/admin/project_pb2.py
  flyteidl/gen/pb_python/flyteidl/admin/project_pb2.pyi
  flyteidl/gen/pb_python/flyteidl/service/admin_pb2.py
  flyteidl/gen/pb_python/flyteidl/service/admin_pb2_grpc.py
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/gen/pb_rust/flyteidl.service.tonic.rs
  flyteidl/protos/flyteidl/admin/project.proto
  flyteidl/protos/flyteidl/service/admin.proto
Owners: @unionai/cloud-eng

Add get domain API
  flyteadmin/pkg/manager/impl/project_manager.go
  flyteadmin/pkg/manager/interfaces/project.go
  flyteadmin/pkg/rpc/adminservice/project.go
  flytectl/pkg/ext/domain_fetcher.go
  flytectl/pkg/ext/fetcher.go
  flyteidl/clients/go/admin/mocks/AdminServiceClient.go
  flyteidl/clients/go/admin/mocks/AdminServiceServer.go
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/admin/project_pb.ts
  flyteidl/gen/pb-es/flyteidl/service/admin_connect.ts
  flyteidl/gen/pb-go/flyteidl/admin/project.pb.go
  flyteidl/gen/pb-go/flyteidl/service/admin.pb.go
  flyteidl/gen/pb-go/flyteidl/service/admin_grpc.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.pb.gw.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/admin/project_pb2.py
  flyteidl/gen/pb_python/flyteidl/admin/project_pb2.pyi
  flyteidl/gen/pb_python/flyteidl/service/admin_pb2.py
  flyteidl/gen/pb_python/flyteidl/service/admin_pb2_grpc.py
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/gen/pb_rust/flyteidl.service.tonic.rs
  flyteidl/protos/flyteidl/admin/project.proto
  flyteidl/protos/flyteidl/service/admin.proto
Owners: @unionai/cloud-eng

move GetDomains function, return GetDomainsResponse
  flytectl/pkg/ext/domain_fetcher.go
  flytectl/pkg/ext/domain_fetcher_test.go
  flytectl/pkg/ext/fetcher.go
  flytectl/pkg/ext/mocks/admin_fetcher_ext_interface.go
Owners: @unionai/cloud-eng

Merge getDomain and GetDomain
  flyteadmin/pkg/manager/impl/project_manager.go
Owners: @unionai/cloud-eng

fix lint
  flyteadmin/pkg/manager/mocks/project.go
Owners: @unionai/cloud-eng

Add domain matric, add test in flyteadmin and flytectl
  flyteadmin/pkg/rpc/adminservice/metrics.go
  flyteadmin/pkg/rpc/adminservice/project.go
  flyteadmin/tests/project_test.go
  flytectl/pkg/ext/domain_fetcher.go
  flytectl/pkg/ext/domain_fetcher_test.go
  flytectl/pkg/ext/fetcher.go
  flytectl/pkg/ext/mocks/admin_fetcher_ext_interface.go
Owners: @unionai/cloud-eng

modify format
  flyteadmin/pkg/manager/mocks/project.go
  flyteadmin/pkg/rpc/adminservice/metrics.go
  flyteadmin/pkg/rpc/adminservice/project.go
  flyteadmin/tests/project_test.go
  flyteidl/protos/flyteidl/admin/project.proto
Owners: @unionai/cloud-eng

test add flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.d.ts
Owners: @unionai/cloud-eng

regenerate flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.d.ts
Owners: @unionai/cloud-eng

Inherit execution cluster label from source execution (#5431)
  flyteadmin/pkg/manager/impl/execution_manager.go
  flyteadmin/pkg/manager/impl/execution_manager_test.go
Owners: @unionai/cloud-eng

Packages fasttask into a python wheel (#316)
  .vscode/settings.json
  fasttask/buf.gen.yaml
  fasttask/plugin/builder.go
  fasttask/plugin/config.go
  fasttask/plugin/config_flags.go
  fasttask/plugin/config_flags_test.go
  fasttask/plugin/go.mod
  fasttask/worker/.dockerignore
  fasttask/worker/.gitignore
  fasttask/worker/Cargo.lock
  fasttask/worker/Cargo.toml
  fasttask/worker/Dockerfile
  fasttask/worker/MANIFEST.in
  fasttask/worker/README.md
  fasttask/worker/bridge/Cargo.toml
  fasttask/worker/bridge/src/bridge.rs
  fasttask/worker/bridge/src/cli.rs
  fasttask/worker/bridge/src/common.rs
  fasttask/worker/bridge/src/lib.rs
  fasttask/worker/bridge/src/main.rs
  fasttask/worker/bridge/src/pb/fasttask.rs
  fasttask/worker/bridge/src/pb/fasttask.tonic.rs
  fasttask/worker/bridge/src/pb/mod.rs
  fasttask/worker/bridge/src/task.rs
  fasttask/worker/executor/Cargo.toml
  fasttask/worker/executor/src/executor.rs
  fasttask/worker/executor/src/lib.rs
  fasttask/worker/licenses/APL.txt
  fasttask/worker/licenses/BSL.txt
  fasttask/worker/pyproject.toml
  fasttask/worker/python_src/unionai_actor_executor/__init__.py
  fasttask/worker/setup.cfg
  fasttask/worker/src/main.rs
  flyteidl/go.mod
  flyteidl/go.sum
Owners: @unionai/cloud-eng, @unionai/exo

Flyte core webhook pod settings should be separate
  charts/flyte-core/README.md
  charts/flyte-core/templates/propeller/webhook.yaml
  charts/flyte-core/values.yaml
Owners: @unionai/cloud-eng

[Artifacts] Skip processing for single task executions (#329)
  flyteadmin/pkg/async/cloudevent/implementations/cloudevent_publisher.go
  flyteadmin/pkg/async/cloudevent/implementations/cloudevent_publisher_test.go
Owners: @unionai/cloud-eng

Add API to get domain (#5443)
  flyteadmin/pkg/manager/impl/project_manager.go
  flyteadmin/pkg/manager/interfaces/project.go
  flyteadmin/pkg/manager/mocks/project.go
  flyteadmin/pkg/rpc/adminservice/metrics.go
  flyteadmin/pkg/rpc/adminservice/project.go
  flyteadmin/tests/project_test.go
  flytectl/pkg/ext/domain_fetcher.go
  flytectl/pkg/ext/domain_fetcher_test.go
  flytectl/pkg/ext/fetcher.go
  flytectl/pkg/ext/mocks/admin_fetcher_ext_interface.go
  flyteidl/clients/go/admin/mocks/AdminServiceClient.go
  flyteidl/clients/go/admin/mocks/AdminServiceServer.go
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/admin/project_pb.ts
  flyteidl/gen/pb-es/flyteidl/service/admin_connect.ts
  flyteidl/gen/pb-go/flyteidl/admin/project.pb.go
  flyteidl/gen/pb-go/flyteidl/service/admin.pb.go
  flyteidl/gen/pb-go/flyteidl/service/admin_grpc.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.pb.gw.go
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/admin/project_pb2.py
  flyteidl/gen/pb_python/flyteidl/admin/project_pb2.pyi
  flyteidl/gen/pb_python/flyteidl/service/admin_pb2.py
  flyteidl/gen/pb_python/flyteidl/service/admin_pb2_grpc.py
  flyteidl/gen/pb_rust/flyteidl.admin.rs
  flyteidl/gen/pb_rust/flyteidl.service.tonic.rs
  flyteidl/protos/flyteidl/admin/project.proto
  flyteidl/protos/flyteidl/service/admin.proto
Owners: @unionai/cloud-eng

Add test and fix build error
  flyteplugins/go/tasks/pluginmachinery/flytek8s/container_helper_test.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/k8s_resource_adds_test.go
  flyteplugins/go/tasks/plugins/array/awsbatch/transformer.go
Owners: @unionai/exo

Fix test
  flyteplugins/go/tasks/pluginmachinery/flytek8s/container_helper_test.go
Owners: @unionai/exo

Use uv in single-binary CI
  .github/workflows/single-binary.yml
Owners: @unionai/cloud-eng

Install a image builder in CI (#336)
  .github/workflows/build-and-test-single-binary-image.yml
  .github/workflows/end2end.yml
Owners: @unionai/cloud-eng

keep EnvFrom from pod template (#5423)
  flyteplugins/go/tasks/pluginmachinery/flytek8s/container_helper.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/container_helper_test.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/k8s_resource_adds.go
  flyteplugins/go/tasks/pluginmachinery/flytek8s/k8s_resource_adds_test.go
  flyteplugins/go/tasks/plugins/array/awsbatch/transformer.go
Owners: @unionai/exo

Remove doc building from flytectl
  flytectl/.readthedocs.yml
  flytectl/Makefile
  flytectl/doc-requirements.in
  flytectl/doc-requirements.txt
Owners: @unionai/cloud-eng

Remove boilerplate golang_dockerfile
  boilerplate/flyte/golang_dockerfile/Dockerfile.GoTemplate
  boilerplate/flyte/golang_dockerfile/Readme.rst
  boilerplate/flyte/golang_dockerfile/update.sh
Owners: @unionai/cloud-eng

Introduce 3 levels
  docs/user_guide/productionizing/configuring_access_to_gpus.md
Owners: @neverett, @ppiegaze

Remove references to Office Hours
  README.md
  docs/community/index.rst
Owners: @unionai/cloud-eng, @neverett, @ppiegaze

Adding Status function to ExecutionEnvClient to retrieve fasttask worker status' (#331)
  fasttask/plugin/builder.go
  fasttask/plugin/config.go
  fasttask/plugin/config_flags.go
  fasttask/plugin/config_flags_test.go
  fasttask/plugin/plugin.go
  fasttask/plugin/plugin_test.go
  flyteplugins/go/tasks/pluginmachinery/core/execution_env.go
  flyteplugins/go/tasks/pluginmachinery/core/mocks/execution_env_client.go
  flyteplugins/go/tasks/plugins/k8s/pod/plugin.go
  flytepropeller/pkg/controller/execution_env.go
Owners: @unionai/exo

Inject env vars for secret at the beginning of the existing env vars for the containers (#333)
  flytepropeller/pkg/secret/aws_secret_manager_test.go
  flytepropeller/pkg/secret/embedded_secret_manager_test.go
  flytepropeller/pkg/secret/gcp_secret_manager_test.go
  flytepropeller/pkg/secret/global_secrets_test.go
  flytepropeller/pkg/secret/k8s_secrets_test.go
  flytepropeller/pkg/secret/utils.go
  flytepropeller/pkg/secret/utils_test.go
  flytepropeller/pkg/secret/vault_secret_manager_test.go
Owners: @unionai/exo

Don't log auth tokens in debug mode
  flyteadmin/auth/handlers.go
Owners: @unionai/cloud-eng

Update docs
  docs/deployment/configuration/generated/datacatalog_config.rst
  docs/deployment/configuration/generated/flyteadmin_config.rst
  docs/deployment/configuration/generated/flytepropeller_config.rst
  docs/deployment/configuration/generated/scheduler_config.rst
  flytestdlib/otelutils/config.go
  flytestdlib/otelutils/config_flags.go
Owners: @neverett, @ppiegaze, @unionai/cloud-eng

Add support for otlp trace exporters
  cmd/single/start.go
  datacatalog/cmd/entrypoints/serve.go
  flyteadmin/cmd/entrypoints/serve.go
  flytepropeller/cmd/controller/cmd/root.go
  flytestdlib/go.mod
  flytestdlib/go.sum
  flytestdlib/otelutils/config.go
  flytestdlib/otelutils/factory.go
  flytestdlib/otelutils/factory_test.go
Owners: @unionai/cloud-eng, @unionai/exo

go mod tidy
  datacatalog/go.mod
  datacatalog/go.sum
  flyteadmin/go.mod
  flyteadmin/go.sum
  flytecopilot/go.mod
  flytecopilot/go.sum
  flytectl/go.mod
  flytectl/go.sum
  flyteidl/go.mod
  flyteidl/go.sum
  flyteplugins/go.mod
  flyteplugins/go.sum
  flytepropeller/go.mod
  flytepropeller/go.sum
  go.mod
  go.sum
Owners: @unionai/cloud-eng, @unionai/exo

lint fixes
  flytestdlib/otelutils/config.go
  flytestdlib/otelutils/factory.go
Owners: @unionai/cloud-eng

Add test coverage
  flytestdlib/otelutils/factory_test.go
Owners: @unionai/cloud-eng

support adding orphaned pods to existing environments (#328)
  fasttask/plugin/builder.go
  fasttask/plugin/builder_test.go
Owners: @unionai/exo

fix broken mermaid diagrams
  docs/conf.py
Owners: @neverett, @ppiegaze

fix(ray): Use default svc account if not set in task metadata
  flyteplugins/go/tasks/plugins/k8s/ray/ray.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray_test.go
Owners: @unionai/exo

fix(ray): Use default svc account if not set in task metadata (#335)
  flyteplugins/go/tasks/plugins/k8s/ray/ray.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray_test.go
Owners: @unionai/exo

fix broken mermaid diagrams (#5498)
  docs/conf.py
Owners: @neverett, @ppiegaze

Fix: replace with in OSS docs
  flytectl/cmd/update/project.go
  flytectl/docs/source/gen/flytectl_update_project.rst
Owners: @unionai/cloud-eng

Fix: replace with in OSS docs (#5501)
  flytectl/cmd/update/project.go
  flytectl/docs/source/gen/flytectl_update_project.rst
Owners: @unionai/cloud-eng

update go version for sandbox-bundled
  docker/sandbox-bundled/Dockerfile
Owners: @unionai/cloud-eng
