Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo

move flyte agents docs to user guide section
  docs/user_guide/flyte_agents/deploying_agents_to_the_flyte_sandbox.md
  docs/user_guide/flyte_agents/developing_agents.md
  docs/user_guide/flyte_agents/enabling_agents_in_your_flyte_deployment.md
  docs/user_guide/flyte_agents/how_secret_works_in_agent.md
  docs/user_guide/flyte_agents/implementing_the_agent_metadata_service.md
  docs/user_guide/flyte_agents/index.md
  docs/user_guide/flyte_agents/testing_agents_in_a_local_development_cluster.md
  docs/user_guide/flyte_agents/testing_agents_in_a_local_python_environment.md
Owners: @neverett, @ppiegaze

update user guide index
  docs/user_guide/index.md
Owners: @neverett, @ppiegaze

reorganize some of the flyte fundamentals docs
  docs/flyte_fundamentals/extending_flyte.md
  docs/flyte_fundamentals/index.md
  docs/user_guide/development_cycle/registering_workflows.md
Owners: @neverett, @ppiegaze

remove core use cases (will move to flytesnacks/tutorials)
  docs/core_use_cases/analytics.md
  docs/core_use_cases/data_engineering.md
  docs/core_use_cases/index.md
  docs/core_use_cases/machine_learning.md
Owners: @neverett, @ppiegaze

move optimizing tasks doc
  docs/user_guide/development_cycle/index.md
  docs/user_guide/development_cycle/optimizing_tasks.md
Owners: @neverett, @ppiegaze

remove redundant flyte fundamentals articles - will incorporate content into user guide articles and add redirects as needed
  docs/flyte_fundamentals/running_and_scheduling_workflows.md
  docs/flyte_fundamentals/tasks_workflows_and_launch_plans.md
  docs/flyte_fundamentals/visualizing_task_input_and_output.md
Owners: @neverett, @ppiegaze

fix toctree
  docs/user_guide/index.md
Owners: @neverett, @ppiegaze

do not copy flytekit source -- we will use autodoc instead
  docs/_ext/import_projects.py
  docs/conf.py
Owners: @neverett, @ppiegaze

remove separate index page
  flytectl/docs/source/docs_index.rst
  flytectl/docs/source/index.rst
Owners: @unionai/cloud-eng

Add bool to check init containers
  flyteplugins/go/tasks/plugins/k8s/pod/container_test.go
Owners: @unionai/exo

move doc contribution guide from flytesnacks to community directory
  docs/community/contributing_documentation.md
  docs/community/index.rst
Owners: @neverett, @ppiegaze

placeholder TOCs
  docs/integrations/index.md
  docs/tutorials/index.md
Owners: @neverett, @ppiegaze

move environment setup to user guide for now
  docs/user_guide/environment_setup.md
  docs/user_guide/index.md
Owners: @neverett, @ppiegaze

turn on import and auto examples extensions for testing
  docs/conf.py
Owners: @neverett, @ppiegaze

extend pod customization to include init containers (#5685)
  flyteplugins/go/tasks/pluginmachinery/flytek8s/pod_helper.go
  flyteplugins/go/tasks/plugins/k8s/pod/container_test.go
Owners: @unionai/exo

Cherry-pick: Agent Watcher (#399)
  flyteplugins/go/tasks/pluginmachinery/core/plugin.go
  flyteplugins/go/tasks/pluginmachinery/core/plugin_test.go
  flyteplugins/go/tasks/plugins/webapi/agent/client.go
  flyteplugins/go/tasks/plugins/webapi/agent/client_test.go
  flyteplugins/go/tasks/plugins/webapi/agent/config.go
  flyteplugins/go/tasks/plugins/webapi/agent/integration_test.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin.go
  flyteplugins/go/tasks/plugins/webapi/agent/plugin_test.go
  flytepropeller/pkg/controller/nodes/task/handler.go
  flytepropeller/pkg/controller/nodes/task/handler_test.go
  flytepropeller/pkg/controller/nodes/task/plugin_config.go
Owners: @unionai/exo

nit
  rfc/system/4358-tuple-idl.md
Owners: @unionai/cloud-eng

remove strikethrough
  rfc/system/5606-json-idl.md
Owners: @unionai/cloud-eng

update Drawbacks, discussed with Eduardo
  rfc/system/5606-json-idl.md
Owners: @unionai/cloud-eng

setting TaskExecutionContext OutputReader even if outputs do not exist (#455)
  fasttask/plugin/plugin.go
  fasttask/plugin/plugin_test.go
Owners: @unionai/exo

More feedback, update filename
  rfc/system/RFC-5659-execution-concurrency.md
Owners: @unionai/cloud-eng

Fix handling of TTL seconds for fasttask (#377)
  fasttask/plugin/builder.go
  fasttask/plugin/config.go
  fasttask/plugin/config_flags.go
  fasttask/plugin/config_flags_test.go
  fasttask/plugin/utils.go
  fasttask/plugin/utils_test.go
Owners: @unionai/exo

comment
  rfc/system/RFC-5659-execution-concurrency.md
Owners: @unionai/cloud-eng

details
  rfc/system/RFC-5659-execution-concurrency.md
Owners: @unionai/cloud-eng

fasttask plugin supports actor task types (#458)
  fasttask/plugin/plugin.go
Owners: @unionai/exo

Update cluster resource controller active projects filtering for namespace provisioning (#459)
  flyteadmin/pkg/clusterresource/impl/admin_service_data_provider.go
  flyteadmin/pkg/clusterresource/impl/admin_service_data_provider_test.go
Owners: @unionai/cloud-eng

1st try to get kube pod label metric to work
  stats/flyteuser.dashboard.py
Owners: @unionai/cloud-eng

make helm output v2
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
Owners: @unionai/cloud-eng

Azure Key Vault (Secret Management) support (#449)
  flytepropeller/pkg/secret/azure_secret_manager.go
  flytepropeller/pkg/secret/azure_secret_manager_test.go
  flytepropeller/pkg/secret/config/config.go
  flytepropeller/pkg/secret/config/config_flags.go
  flytepropeller/pkg/secret/config/config_flags_test.go
  flytepropeller/pkg/secret/config/secretmanagertype_enumer.go
  flytepropeller/pkg/secret/secrets_injector.go
Owners: @unionai/exo

Remove explict go toolchain versions
  datacatalog/go.mod
  flytectl/go.mod
Owners: @unionai/cloud-eng

implement GetItems function
  flyteadmin/pkg/common/mocks/storage.go
  flytestdlib/storage/cached_rawstore.go
  flytestdlib/storage/cached_rawstore_test.go
  flytestdlib/storage/mem_store.go
  flytestdlib/storage/mocks/composed_protobuf_store.go
  flytestdlib/storage/mocks/raw_store.go
  flytestdlib/storage/storage.go
  flytestdlib/storage/stow_store.go
Owners: @unionai/cloud-eng

add unit testing
  flytecopilot/data/download_test.go
  flytestdlib/storage/mem_store_test.go
  flytestdlib/storage/stow_store_test.go
Owners: @unionai/cloud-eng

Parallelly handle blob items
  flytecopilot/data/download.go
Owners: @unionai/cloud-eng

fix lint error
  flytestdlib/storage/stow_store_test.go
Owners: @unionai/cloud-eng

implement GetItems function
  flytepropeller/pkg/utils/failing_datastore.go
Owners: @unionai/exo

feat: Use deterministic execution names in scheduler
  flyteadmin/pkg/common/naming/execution_name_test.go
  flyteadmin/scheduler/executor/executor_impl.go
  flyteadmin/scheduler/identifier/identifier.go
Owners: @unionai/cloud-eng

fix tests
  flyteadmin/pkg/common/naming/execution_name_test.go
Owners: @unionai/cloud-eng

lint
  flyteadmin/pkg/common/naming/execution_name_test.go
  flyteadmin/scheduler/executor/executor_impl.go
Owners: @unionai/cloud-eng

lint
  flyteadmin/scheduler/executor/executor_impl.go
Owners: @unionai/cloud-eng

add mutex avoid racing
  flytecopilot/data/download.go
Owners: @unionai/cloud-eng
