Repository flyteorg/flyte, changes with the owners that CODEOWNERS names for each.
All owners: @unionai/cloud-eng, @neverett, @ppiegaze, @unionai/exo

CODEOWNERS:

# Default owner for all files, unless otherwise overridden below
* @unionai/cloud-eng

# Docs
/docs/ @neverett @ppiegaze

# EXO
/fasttask/ @unionai/exo
/flyteplugins/ @unionai/exo
/flytepropeller/ @unionai/exo

Enable in every helm chart (#5730)
  charts/flyte-binary/gke-starter.yaml
  deployment/test/flyte_generated.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  flyte-single-binary-local.yaml
  flytepropeller/propeller-config.yaml
Owners: @unionai/cloud-eng, @unionai/exo

Update docs/flyte_agents/developing_agents.md
  docs/flyte_agents/developing_agents.md
Owners: @neverett, @ppiegaze

[Docs][flyteagent] Remove agent-service config in flyte agent documentation (#5731)
  docs/flyte_agents/developing_agents.md
  docs/flyte_agents/testing_agents_in_a_local_development_cluster.md
Owners: @neverett, @ppiegaze

specify msgpack as JSON format
  flytepropeller/pkg/controller/nodes/attr_path_resolver.go
Owners: @unionai/exo

kevin refactor
  flyteplugins/go/tasks/pluginmachinery/k8s/plugin.go
  flyteplugins/go/tasks/pluginmachinery/workqueue/mocks/processor.go
  flyteplugins/go/tasks/plugins/k8s/batchscheduler/plugins.go
  flyteplugins/go/tasks/plugins/k8s/batchscheduler/scheduler/kubernetes/default.go
  flyteplugins/go/tasks/plugins/k8s/batchscheduler/scheduler/kubernetes/default_test.go
  flyteplugins/go/tasks/plugins/k8s/batchscheduler/scheduler/yunikorn/rayhandler.go
  flyteplugins/go/tasks/plugins/k8s/batchscheduler/scheduler/yunikorn/yunikorn.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray.go
  flytepropeller/pkg/controller/nodes/task/k8s/plugin_manager.go
Owners: @unionai/exo

kevin refactor
  flyteplugins/go/tasks/pluginmachinery/flytek8s/config/config.go
  flyteplugins/go/tasks/pluginmachinery/k8s/plugin.go
  flyteplugins/go/tasks/plugins/k8s/batchscheduler/config.go
  flyteplugins/go/tasks/plugins/k8s/batchscheduler/config_test.go
  flyteplugins/go/tasks/plugins/k8s/batchscheduler/plugins.go
  flyteplugins/go/tasks/plugins/k8s/batchscheduler/scheduler/noop_scheduler.go
  flyteplugins/go/tasks/plugins/k8s/batchscheduler/scheduler/yunikorn/rayhandler.go
  flyteplugins/go/tasks/plugins/k8s/batchscheduler/scheduler/yunikorn/yunikorn.go
  flyteplugins/go/tasks/plugins/k8s/batchscheduler/scheduler/yunikorn/yunikorn_test.go
  flyteplugins/go/tasks/plugins/k8s/ray/config.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray.go
  flytepropeller/pkg/controller/nodes/task/k8s/plugin_manager.go
Owners: @unionai/exo

nit
  flyteplugins/go/tasks/pluginmachinery/k8s/plugin.go
  flyteplugins/go/tasks/plugins/k8s/ray/ray.go
  flytepropeller/pkg/controller/nodes/task/k8s/plugin_manager.go
Owners: @unionai/exo

add tests for attr_path_resolver
  flytepropeller/pkg/controller/nodes/attr_path_resolver.go
  flytepropeller/pkg/controller/nodes/attr_path_resolver_test.go
Owners: @unionai/exo

add coreutils for flytectl
  flyteidl/clients/go/coreutils/literals.go
  flyteidl/clients/go/coreutils/literals_test.go
Owners: @unionai/cloud-eng

Apply suggestions from code review
  docs/flyte_fundamentals/registering_workflows.md
  docs/user_guide/customizing_dependencies/imagespec.md
Owners: @neverett, @ppiegaze

update the IDL
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/core/literals_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/literals.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/cacheservice/cacheservice.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/datacatalog/datacatalog.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/dataproxy.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/external_plugin_service.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/signal.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/literals_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/literals_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/literals.proto
Owners: @unionai/cloud-eng

add serialization format in flytepropeller and flytectl
  flyteidl/clients/go/coreutils/literals.go
  flytepropeller/pkg/controller/nodes/attr_path_resolver.go
Owners: @unionai/cloud-eng, @unionai/exo

line 250
  rfc/system/5606-json-idl.md
Owners: @unionai/cloud-eng

support SerializationFormat: msgpack in coreutils/literals.go MakeDefaultLiteralForType
  flyteidl/clients/go/coreutils/literals.go
Owners: @unionai/cloud-eng

update RFC with new design
  rfc/system/5606-json-idl.md
Owners: @unionai/cloud-eng

nit and add pydantic BaseModel explanation
  rfc/system/5606-json-idl.md
Owners: @unionai/cloud-eng

fix propeller's test
  flytepropeller/pkg/controller/nodes/attr_path_resolver.go
  flytepropeller/pkg/controller/nodes/attr_path_resolver_test.go
Owners: @unionai/exo

fix coreutils test
  flyteidl/clients/go/coreutils/literals.go
  flyteidl/clients/go/coreutils/literals_test.go
  flytepropeller/pkg/controller/nodes/attr_path_resolver_test.go
Owners: @unionai/cloud-eng, @unionai/exo

Fix flytectl returning the oldest workflow when using --latest flag (#5716)
  flytectl/cmd/get/launch_plan.go
  flytectl/cmd/get/launch_plan_test.go
  flytectl/cmd/get/workflow.go
  flytectl/cmd/get/workflow_test.go
  flytectl/pkg/ext/fetcher.go
  flytectl/pkg/ext/launch_plan_fetcher.go
  flytectl/pkg/ext/launch_plan_fetcher_test.go
  flytectl/pkg/ext/mocks/admin_fetcher_ext_interface.go
  flytectl/pkg/ext/workflow_fetcher.go
  flytectl/pkg/ext/workflow_fetcher_test.go
Owners: @unionai/cloud-eng

Running gci for file
  flyteadmin/pkg/async/notifications/implementations/smtp_emailer_test.go
Owners: @unionai/cloud-eng

Using pod name as primary container name in actor replicas (#461)
  fasttask/plugin/builder.go
Owners: @unionai/exo

build completed tg
  flyteplugins/go/tasks/plugins/k8s/batchscheduler/scheduler/yunikorn/rayhandler.go
Owners: @unionai/exo

Update flyte uri protocol to allow for specifying an optional org (#463)
  flyteadmin/pkg/common/flyte_url.go
  flyteadmin/pkg/common/flyte_url_test.go
Owners: @unionai/cloud-eng

Rework RFC and detail how failed worker name gets to admin
  rfc/system/5598-deterministic-errors-distributed-training.md
Owners: @unionai/cloud-eng

Spellcheck
  rfc/system/5598-deterministic-errors-distributed-training.md
Owners: @unionai/cloud-eng

Serverless User Org Provisioning State (#373)
  charts/flyte-core/README.md
  charts/flyte-core/templates/clusterresourcesync/deployment.yaml
  charts/flyte-core/values.yaml
  docker/sandbox-bundled/manifests/complete-agent.yaml
  docker/sandbox-bundled/manifests/complete.yaml
  docker/sandbox-bundled/manifests/dev.yaml
  flyteadmin/pkg/clusterresource/controller.go
  flyteadmin/pkg/clusterresource/controller_test.go
  flyteadmin/pkg/clusterresource/plugin/plugin.go
  flyteadmin/pkg/manager/impl/execution_manager.go
  flyteadmin/pkg/manager/impl/execution_manager_test.go
  flyteadmin/pkg/manager/impl/executions/pre_execution_validation_plugin.go
  flyteadmin/pkg/rpc/adminservice/base.go
  flyteadmin/pkg/runtime/cluster_resource_provider.go
  flyteadmin/pkg/runtime/interfaces/cluster_resource_configuration.go
  flyteadmin/pkg/runtime/mocks/mock_cluster_resource_provider.go
  flyteadmin/plugins/registry.go
Owners: @unionai/cloud-eng

lots of design work
  docs/_templates/custom_sidebar.html
  docs/_templates/layout.html
  docs/conf.py
Owners: @neverett, @ppiegaze

add comments
  docs/_templates/layout.html
Owners: @neverett, @ppiegaze

Added literal offloading for array node map tasks
  flyteadmin/pkg/manager/impl/testutils/mock_requests.go
  flyteadmin/pkg/manager/impl/validation/execution_validator.go
  flyteadmin/pkg/manager/impl/validation/execution_validator_test.go
  flyteadmin/pkg/manager/impl/validation/validation.go
  flytepropeller/go.mod
  flytepropeller/go.sum
  flytepropeller/pkg/apis/flyteworkflow/v1alpha1/iface.go
  flytepropeller/pkg/compiler/transformers/k8s/inputs.go
  flytepropeller/pkg/controller/config/config.go
  flytepropeller/pkg/controller/config/config_test.go
  flytepropeller/pkg/controller/nodes/array/handler.go
  flytepropeller/pkg/controller/nodes/array/handler_test.go
  flytepropeller/pkg/controller/nodes/common/utils.go
  flytepropeller/pkg/controller/nodes/common/utils_test.go
  flytepropeller/pkg/controller/nodes/executor.go
  flytepropeller/pkg/controller/nodes/executor_test.go
  flytepropeller/pkg/controller/nodes/factory/handler_factory.go
  flytepropeller/pkg/controller/workflow/executor_test.go
  go.mod
  go.sum
Owners: @unionai/cloud-eng, @unionai/exo

fix
  flytepropeller/pkg/controller/controller.go
  flytepropeller/pkg/controller/nodes/common/utils.go
Owners: @unionai/exo

feedback
  flytepropeller/pkg/controller/nodes/common/utils.go
Owners: @unionai/exo

feedback
  flytepropeller/pkg/controller/nodes/common/utils.go
Owners: @unionai/exo

nit
  flyteadmin/go.mod
  flyteadmin/go.sum
Owners: @unionai/cloud-eng

JSON IDL V2
  flyteidl/clients/go/assets/admin.swagger.json
  flyteidl/gen/pb-es/flyteidl/core/literals_pb.ts
  flyteidl/gen/pb-es/flyteidl/core/types_pb.ts
  flyteidl/gen/pb-go/flyteidl/core/literals.pb.go
  flyteidl/gen/pb-go/flyteidl/core/types.pb.go
  flyteidl/gen/pb-go/gateway/flyteidl/cacheservice/cacheservice.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/datacatalog/datacatalog.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/admin.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/agent.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/dataproxy.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/external_plugin_service.swagger.json
  flyteidl/gen/pb-go/gateway/flyteidl/service/signal.swagger.json
  flyteidl/gen/pb-js/flyteidl.d.ts
  flyteidl/gen/pb-js/flyteidl.js
  flyteidl/gen/pb_python/flyteidl/core/literals_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/literals_pb2.pyi
  flyteidl/gen/pb_python/flyteidl/core/types_pb2.py
  flyteidl/gen/pb_python/flyteidl/core/types_pb2.pyi
  flyteidl/gen/pb_rust/flyteidl.core.rs
  flyteidl/protos/flyteidl/core/literals.proto
  flyteidl/protos/flyteidl/core/types.proto
Owners: @unionai/cloud-eng

update compiler
  flytepropeller/pkg/compiler/validators/typing.go
  flytepropeller/pkg/compiler/validators/utils.go
Owners: @unionai/exo

add support basic attribute access
  flytepropeller/pkg/controller/nodes/attr_path_resolver.go
Owners: @unionai/exo

Implemented connection reuse for smtp emailer
  flyteadmin/pkg/async/notifications/implementations/smtp_emailer.go
  flyteadmin/pkg/server/service.go
Owners: @unionai/cloud-eng

switch to module-based implementation of algolia docsearch
  docs/_templates/layout.html
  docs/conf.py
  monodocs-environment.lock.yaml
  monodocs-environment.yaml
Owners: @neverett, @ppiegaze, @unionai/cloud-eng

Handle no container status yet (#466)
  fasttask/plugin/plugin.go
  fasttask/plugin/plugin_test.go
Owners: @unionai/exo

remove files for old implementation of algolia docsearch
  docs/_static/algolia-search.js
  docs/_static/algolia.css
  docs/conf.py
Owners: @neverett, @ppiegaze
